Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

fixes memory leak via HTTP Gateway
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.sum
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

Enable LRv2 by default and update the steelthread tests
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-100-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-16-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-5-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-53-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-54-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-indirect-without-other-permission-page-size-16-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-indirect-without-other-permission-page-size-5-results.yaml
  internal/testserver/server.go
  pkg/cmd/serve.go
Labels: area/cli

Remove duplicate and redundant code
  internal/services/shared/errors.go
Labels: none

Implement support for metadata associated with read-write transactions
  go.mod
  go.sum
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/zz_migration.0008_add_transaction_metadata_table.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/zz_migration.0009_add_metadata_to_transaction_table.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/revisions.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/migrations/zz_migration.0019_add_metadata_to_transaction_table.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/migrations/zz_migration.0010_add_transaction_metadata_table.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dependencies, area/tooling

emit memdb checkpoints after changes
  internal/datastore/memdb/watch.go
Labels: area/datastore

Reorganize tuple package and add relationship structs
  pkg/tuple/comparison.go
  pkg/tuple/comparison_test.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/hashing_test.go
  pkg/tuple/onr.go
  pkg/tuple/onr_test.go
  pkg/tuple/parsing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/proto_interface.go
  pkg/tuple/relationship.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/tuple/updates.go
  pkg/tuple/updates_test.go
  pkg/tuple/v1.go
  pkg/tuple/v1_test.go
Labels: area/tooling

Start on datastore conversion with MemDB
  go.mod
  internal/datasets/subjectsetbyresourceid.go
  internal/datasets/subjectsetbytype.go
  internal/datasets/subjectsetbytype_test.go
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/errors.go
  internal/datastore/common/helpers.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/dispatch/singleflight/singleflight_test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/pagination/iterator.go
  pkg/proto/core/v1/util.go
Labels: area/datastore, area/dependencies, area/dispatch, area/tooling

Update tests and get memdb passing for struct and iterator changes
  internal/datastore/common/changes.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/generator.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/tuple/structs.go
  pkg/tuple/v1.go
Labels: area/datastore, area/tooling

Update postgres driver for relationship changes
  internal/datastore/common/sql.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
Labels: area/datastore

Small tuple package improvements
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
Labels: none

Tuple -> Relationship renames
  internal/datastore/common/helpers.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dispatch, area/tooling

Update MySQL driver for relationship changes
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/watch.go
Labels: area/datastore

Fix CRDB tests for relationship changes
  internal/datastore/crdb/crdb_test.go
Labels: area/datastore, area/tooling

Fix Postgres tests for relationship changes
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Fix WASM test for relationships changes
  pkg/development/devcontext.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/tuple/core.go
  pkg/tuple/structs.go
Labels: area/tooling

Fix dev test error
  pkg/development/development_test.go
Labels: area/tooling

Integration test fixes for changed relationships
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Disable close-after-usage check for rel iterator, as it handles it internally now
  magefiles/lint.go
Labels: none

Fix MySQL tests for relationship changes
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Fix benchmark test
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

Address lint errors
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/reader.go
  internal/graph/lookupresources2.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/relationships.go
  pkg/tuple/comparison.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/v1.go
Labels: area/api v1, area/datastore, area/tooling

Update CRDB and Spanner and a few other locations for relationship changes
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  pkg/datastore/pagination/iterator.go
  pkg/tuple/parsing.go
  pkg/tuple/v1.go
  pkg/validationfile/fileformat_test.go
Labels: area/api v1, area/datastore, area/tooling

Update read-only mode test for PG
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Fix Spanner tests for relationship changes
  internal/datastore/spanner/spanner_test.go
Labels: area/datastore, area/tooling

Integration test fixes for changed relationships
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
Labels: area/tooling

Move the remaining go files to 1.23.1
  e2e/go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
Labels: none

Fixes for new relationship structs after rebase
  pkg/datastore/test/watch.go
Labels: none

emit memdb checkpoints after changes
  internal/datastore/memdb/watch.go
  pkg/datastore/test/watch.go
Labels: area/datastore

add longer backoff to postgres tests
  internal/testserver/datastore/postgres.go
Labels: none

make unit tests faster
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/spanner/spanner_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/graph_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/package_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/remote/cluster_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/ops_test.go
  internal/services/v1/experimental_test.go
  internal/taskrunner/preloadedtaskrunner_test.go
  internal/testutil/subjects_test.go
  magefiles/test.go
  pkg/cmd/migrate.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/datastore.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/parser/parser_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema, area/tooling

Ensure caveat context is sent to all LR2 dispatches
  internal/dispatch/graph/lookupresources2_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/caveatlr.yaml
  internal/services/integrationtesting/testconfigs/caveatunderarrow.yaml
  internal/services/integrationtesting/testconfigs/caveatunderintersect.yaml
Labels: area/dispatch, area/tooling

Add currently-enabled workflow to release windows
  .github/workflows/release-windows.yaml
Labels: area/tooling

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Remove arm64 target
  .goreleaser.windows.yml
Labels: area/tooling

Remove emulator for arm64 target
  .github/workflows/release-windows.yaml
Labels: area/tooling

Get rid of unsupported buildx
  .github/workflows/release-windows.yaml
Labels: area/tooling

Check out the ref associated with 1.37 to make goreleaser happy
  .github/workflows/release-windows.yaml
Labels: area/tooling

Add authors tag for nuget packaging
  .goreleaser.windows.yml
Labels: area/tooling

Add API support for transaction metadata on WriteRels and DeleteRels
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/watch.go
Labels: area/api v1, area/dependencies, area/tooling

Ensure caveat context is sent to all LR2 dispatches
  internal/dispatch/graph/lookupresources2_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/caveatlr.yaml
  internal/services/integrationtesting/testconfigs/caveatunderarrow.yaml
  internal/services/integrationtesting/testconfigs/caveatunderintersect.yaml
Labels: area/dispatch, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
