Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

adds revision GC test to all datastores
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/spanner_test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/stats.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

mysql: head revision is always valid
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/revisions.go
Labels: area/datastore, area/tooling

fixes GC behaviour with out-of-window head revision
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/revisions.go
  pkg/datastore/test/revisions.go
Labels: area/datastore

reproduces another problem detected with rev handling
  pkg/datastore/test/revisions.go
Labels: none

pkg/datastore/test: test assumption about namespace synthesized revs
  pkg/datastore/test/revisions.go
Labels: none

datastore/postgres: synthesize revisions instead of joining for namespace and caveats
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/reader.go
Labels: area/datastore

add a write buffer proof of concept to crdb driver
  .github/workflows/build-test.yaml
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

fixes comeback of the MacOS microsecond precision problem
  internal/datastore/memdb/revisions.go
Labels: area/datastore

changes the order gRPC prom middleware
  pkg/cmd/server/defaults.go
Labels: area/cli

spanner: close row iterators when done
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

Add Index Only select test to PG datastore
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

add caveat covering index for PostgreSQL
  internal/datastore/postgres/migrations/zz_migration.0015_add_caveat_covering_index.go
Labels: area/datastore

reconcile covering index branch and covering index test
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/postgres/migrations/zz_migration.0015_add_caveat_covering_index.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
Labels: area/datastore, area/tooling

redesign query interception
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

Add a GC covering index
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/migrations/zz_migration.0016_add_gc_covering_index.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/testutil.go
  internal/testfixtures/validating.go
Labels: area/datastore, area/tooling

Update doc text of new interceptor
  internal/datastore/postgres/options.go
Labels: area/datastore

Have GC index only contain those relationships that actually need to be GCed
  internal/datastore/postgres/migrations/zz_migration.0016_add_gc_covering_index.go
Labels: area/datastore

Add additional querying tests
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/testutil.go
Labels: area/datastore, area/tooling

rebase on top of main and fix conflicts
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/options.go
Labels: area/datastore

datastore/postgres: fix invalid slice appends in snapshots
  internal/datastore/postgres/snapshot.go
Labels: area/datastore

datastore/postgres: fix invalid slice appends in snapshots
  internal/datastore/postgres/snapshot.go
Labels: area/datastore

use cgr.dev/chainguard/busybox as base instead of distroless.dev/busybox
  .goreleaser.yml
  nightly.goreleaser.yml
Labels: area/tooling

Change schema compiler to squash union and intersection trees
  internal/services/integrationtesting/testconfigs/multipleexclusion.yaml
  internal/services/integrationtesting/testconfigs/multipleops.yaml
  pkg/datastore/test/namespace.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
Labels: area/schema, area/tooling

fix 1.20 linter errors with deprecated rand
  cmd/spicedb/main.go
  internal/datastore/crdb/stats.go
  internal/datastore/spanner/stats.go
Labels: area/cli, area/datastore

prevents misleading log messages by avoiding Rollback if committed
  go.mod
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/driver.go
  pkg/migrate/migrate.go
Labels: area/datastore, area/dependencies

Add better logs for when datastore or dispatcher is not ready
  internal/dashboard/dashboard.go
  internal/datastore/common/gc.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  internal/services/health/health.go
  pkg/cmd/testserver/testserver.go
  pkg/datastore/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/cli, area/dashboard, area/datastore, area/dispatch, area/tooling

reverts caveat covering index
  internal/datastore/postgres/migrations/zz_migration.0015_add_caveat_covering_index.go
  internal/datastore/postgres/migrations/zz_migration.0015_add_gc_covering_index.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

move tx overlap touch above the actual work
  internal/datastore/crdb/crdb.go
Labels: area/datastore

Skip checking of relation on direct computed_userset
  internal/graph/check.go
Labels: none

select for update overlap
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/crdb.go
Labels: area/datastore, area/tooling

datastore/crdb: use implicit transactions for reads
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
Labels: area/datastore

internal/datastore: jitter for pgx max lifetime
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

datastore/postgres: use implicit transactions for reads
  internal/datastore/postgres/postgres.go
Labels: area/datastore

extend graceful termination test
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling

introduces configurable dispatch hashring
  cmd/spicedb/main.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/tooling

initial implementation of ReadRelationships with DB cursor
  internal/datastore/common/cursor_iterator.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/options/options.go
  internal/datastore/options/zz_generated.query_options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/services/v1/relationships.go
  pkg/datastore/slice_iterator.go
  pkg/tuple/tuple.go
Labels: area/api v1, area/datastore

add flags for connection max lifetime jitter
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

Revert "introduces configurable dispatch hashring"
  cmd/spicedb/main.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/tooling

Tidy go mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Regenerate protos for update
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/impl/v1/impl.pb.validate.go
Labels: none

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
