Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Compare tuples without stringifying
  internal/datastore/mysql/readwrite.go
  internal/graph/check.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/datastore, area/tooling

add tuned GC index
  internal/datastore/postgres/migrations/zz_migration.0016_add_tuned_gc_index.go
Labels: area/datastore

PR review: add comments
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

enrich GC logging messages
  internal/datastore/common/gc.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

adds new index to help support DeleteRelationships with limit
  internal/datastore/postgres/migrations/zz_migration.0017_add_index_tuple_alive_by_resource_rel_subject.go
Labels: area/datastore

use serialization error reason in Postgres datastore
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/errors.go
  internal/datastore/postgres/common/pgx.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies

Use lo.Uniq function
  e2e/go.mod
  e2e/go.sum
  internal/graph/check.go
  pkg/genutil/slicez/unique.go
  pkg/genutil/slicez/unique_test.go
  pkg/tuple/onrbytypeset.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
Labels: area/tooling

include SpiceDB version in issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: area/tooling

Change BulkCheckPermission response to match order of the request
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
Labels: area/api v1, area/tooling

Extract the type system and reachability graph into pkg
  internal/graph/reachableresources.go
  internal/namespace/aliasing.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/caveats.go
  internal/namespace/diff.go
  internal/namespace/errors.go
  internal/namespace/util.go
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  internal/services/v1/experimental.go
  internal/testfixtures/datastore.go
  pkg/development/devcontext.go
  pkg/typesystem/errors.go
  pkg/typesystem/reachabilitygraph.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/reachabilitygraphbuilder.go
  pkg/typesystem/resolver.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

Update groupItems to use less memory
  internal/services/v1/experimental.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
Labels: area/api v1, area/tooling

Fix benchmark test errors
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

enable the experimental apis in the http gateway
  internal/gateway/gateway.go
  internal/gateway/gateway_test.go
Labels: area/api http, area/tooling

Move to Go 1.21.3 to fix a reported Go vuln
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Reenable -race on unit tests and fix tests
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/memdb/memdb_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  magefiles/test.go
Labels: area/datastore, area/dispatch, area/tooling

fix list formatting in crdb overlap doc
  internal/datastore/crdb/README.md
Labels: area/datastore

Update go x/net library for Go http2 vuln
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/dependencies

Update Go version in the Dockerfile
  Dockerfile
Labels: area/dependencies, area/tooling

Update health probe in Dockerfiles
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Switch to custom built grpc_health_probe temporarily
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Add a test for inclusion of the @ sign in tuple strings
  pkg/tuple/tuple_test.go
Labels: area/tooling

Switch health probe to v0.4.21
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

bump dependencies
  cmd/spicedb/main.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/permissions_test.go
  magefiles/go.mod
  magefiles/go.sum
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/cli, area/dependencies, area/tooling

spanner: split read/write, add connpool config
  internal/datastore/spanner/options.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

spanner: go back to 1 connection pool for now, while we test the effects of other changes in isolation
  internal/datastore/spanner/options.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

middleware: add metric for tracking consistency
  internal/middleware/consistency/consistency.go
Labels: none

spanner: use optimistic concurrency for rw txns
  internal/datastore/spanner/spanner.go
Labels: area/datastore

spanner: s/interface/any
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

.github: move to buildjet
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

.github: use buildjet cache
  .github/workflows/build-test.yaml
Labels: area/tooling

.github: consolidate trivvy actions
  .github/workflows/lint.yaml
Labels: area/tooling

.github: consoldiate build, datastore tests
  .github/workflows/build-test.yaml
Labels: area/tooling

add missing calls to RowIterator.Stop
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

tracing ux: spanner: add span to transaction user function
  internal/datastore/common/helpers.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/spanner/spanner.go
  internal/graph/computed/computecheck_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/experimental.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/transactions.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
  pkg/development/devcontext.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/datastore, area/tooling

tracing ux: spanner: tracing in readonly tx
  internal/datastore/spanner/spanner.go
Labels: area/datastore

tracing ux: remove superfluous now span
  internal/datastore/spanner/revisions.go
Labels: area/datastore

tracing ux: remove superfluous span
  internal/datastore/common/sql.go
Labels: area/datastore

tracing ux: spanner enrich WriteRelationships user func
  internal/services/v1/relationships.go
Labels: area/api v1

tracing ux: remove superfluous span, and enrich
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

tracing ux: remove superfluous span
  internal/datastore/common/revisions/optimized.go
Labels: area/datastore

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
