Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

Fix Spanner tests for relationship changes
  internal/datastore/spanner/spanner_test.go
Labels: area/datastore, area/tooling

Fix CRDB tests for relationship changes
  internal/datastore/crdb/crdb_test.go
Labels: area/datastore, area/tooling

Add DebugAssertNotNil
  internal/datastore/common/sql.go
  pkg/spiceerrors/assert_off.go
  pkg/spiceerrors/assert_on.go
Labels: area/datastore

Address review feedback
  internal/datastore/common/tuple.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/hedging_test.go
  internal/services/v1/preconditions.go
  internal/services/v1/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator_test.go
  pkg/proto/core/v1/util.go
Labels: area/api v1, area/datastore, area/tooling

Update postgres driver for relationship changes
  internal/datastore/common/sql.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
Labels: area/datastore

Fix MySQL tests for relationship changes
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Small tuple package improvements
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
Labels: none

Update tests and get memdb passing for struct and iterator changes
  internal/datastore/common/changes.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/generator.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/tuple/structs.go
  pkg/tuple/v1.go
Labels: area/datastore, area/tooling

Fix WASM test for relationships changes
  pkg/development/devcontext.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/tuple/core.go
  pkg/tuple/structs.go
Labels: area/tooling

Integration test fixes for changed relationships
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
Labels: area/tooling

Fix dev test error
  pkg/development/development_test.go
Labels: area/tooling

Address PR feedback
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/stats.go
  pkg/tuple/strings.go
Labels: area/datastore

Adjustments after running `fieldalignment -fix github.com/authzed/spicedb/pkg/tuple`
  pkg/tuple/comparison_test.go
  pkg/tuple/core_test.go
  pkg/tuple/structs.go
Labels: area/tooling

Introducing SpiceDB Guru on Gurubase.io
  README.md
Labels: area/docs

Adjust CRDB watch to set the checkpoint frequency equal to the resolved
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
Labels: area/datastore

Remove dead code"
  pkg/proto/core/v1/util.go
Labels: none

Remove LookupResources v1 implementation
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/api v1, area/cli, area/tooling

Fix lint issue
  internal/services/integrationtesting/consistency_test.go
Labels: area/tooling

Gofumpt
  internal/services/v1/permissions_test.go
  internal/testserver/server.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
Labels: area/api v1, area/cli, area/tooling

Add currently-enabled workflow to release windows
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .goreleaser.windows.yml
Labels: area/tooling

fixes CRDB watch implementation accumulating past updates
  internal/datastore/crdb/watch.go
Labels: area/datastore

fixes CRDB watch implementation accumulating past updates
  internal/datastore/crdb/watch.go
Labels: area/datastore

Add new test files
  pkg/composableschemadsl/parser/tests/localimport.zed
  pkg/composableschemadsl/parser/tests/localimport.zed.expected
Labels: none

Add import consumption
  pkg/composableschemadsl/parser/parser.go
Labels: none

gofumpt
  pkg/composableschemadsl/parser/parser.go
Labels: none

Add import and from keywords
  pkg/composableschemadsl/lexer/lex_def.go
Labels: none

Add some new nodes
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
Labels: none

Update import references
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/development.go
  pkg/composableschemadsl/compiler/development_test.go
  pkg/composableschemadsl/compiler/errors.go
  pkg/composableschemadsl/compiler/node.go
  pkg/composableschemadsl/compiler/positionmapper.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/composableschemadsl/generator/generator_test.go
  pkg/composableschemadsl/lexer/lex.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/parser_test.go
Labels: area/tooling

Gofumpt
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/composableschemadsl/generator/generator_test.go
Labels: area/tooling

Update watch tests for the changes in CRDB watch
  internal/datastore/common/changes.go
  internal/datastore/crdb/watch.go
  internal/datastore/revisions/hlcrevision.go
  pkg/datastore/test/watch.go
Labels: area/datastore

alternative implementation of CRDB watch using a window
  internal/datastore/crdb/watch.go
Labels: area/datastore

Change the trivy database to work around rate limits
  .github/workflows/security.yaml
Labels: area/tooling

Enable native histograms in server latency metrics
  pkg/cmd/server/defaults.go
Labels: area/cli

Remove dead code"
  pkg/proto/core/v1/util.go
Labels: none

Remove LookupResources v1 implementation
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/api v1, area/cli, area/tooling

Fix lint issue
  internal/services/integrationtesting/consistency_test.go
Labels: area/tooling

Re-add cursor logic
  internal/services/v1/permissions.go
Labels: area/api v1

Re-add flag and deprecate
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
Labels: area/cli

Gofumpt
  internal/services/v1/permissions_test.go
  internal/testserver/server.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
Labels: area/api v1, area/cli, area/tooling

Revert changes to generated options
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli
