Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Address (my own) review feedback
  internal/services/v1/clustering.go
  internal/services/v1/clustering_test.go
  internal/services/v1/experimental.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
Labels: area/api v1, area/tooling

Add bulk check to the consistency tests
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
Labels: area/tooling

Move to latest version of authzed-go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/experimental.go
Labels: area/api v1, area/dependencies

Fix handling of resources chunk in error state and add some tests
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/tooling

Load config values from ./spicedb.env
  go.mod
  go.sum
  pkg/cmd/serve_test.go
  pkg/cmd/server/defaults.go
Labels: area/cli, area/dependencies, area/tooling

*: refresh README/CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: area/docs

postgres: adds tracing to revision GC
  go.mod
  go.sum
  internal/datastore/common/gc.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/postgres.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/migrate.go
Labels: area/cli, area/datastore, area/dependencies

switch to authzed/cel-go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/deps.go
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/caveats/errors.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
  pkg/caveats/source.go
  pkg/caveats/types/basic.go
  pkg/caveats/types/ipaddress.go
  pkg/caveats/types/map.go
  pkg/caveats/types/registration.go
  pkg/caveats/types/types.go
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

Update authzed-go to increase allowed schema size
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/cmd/serve.go
Labels: area/cli, area/dependencies

Implement a schema cache which updates using a SchemaWatch API
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/intervaltracker.go
  internal/datastore/proxy/schemacaching/intervaltracker_test.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/proxy/schemacaching/types.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  pkg/cache/cache_ristretto.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/datastore/datastore.go
Labels: area/cli, area/datastore, area/tooling

changes logging level for logger used during startup
  cmd/spicedb/main.go
Labels: area/cli

README: update fury instructions to add GPG
  README.md
Labels: area/docs

chore: add github issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  tools/analyzers/go.work.sum
Labels: area/tooling

introduces fix for dotenv log messages in cobrautil
  go.mod
  go.sum
Labels: area/dependencies

makes PaginatedIterator.Close() idempotent
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
Labels: area/tooling

Postgres Buffer size fix. Extending Watch Api consistency.
  internal/datastore/postgres/watch.go
Labels: area/datastore

Clarify self in comments
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  proto/internal/core/v1/core.proto
Labels: none

Add self support to compiler
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
Labels: area/schema, area/tooling

Add generator and builder support for self
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

Add lexer and parser support for self keyword in schema
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/self.zed
  pkg/schemadsl/parser/tests/self.zed.expected
Labels: area/schema, area/tooling

Add dispatching support for self
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/testconfigs/self.yaml
  pkg/proto/core/v1/core.pb.go
  proto/internal/core/v1/core.proto
Labels: area/tooling

Have invalid cursors return a proper error
  internal/services/v1/relationships_test.go
  pkg/cursor/cursor.go
  pkg/cursor/errors.go
Labels: area/api v1, area/tooling

Revert "Add support for `self` keyword in schema for referencing a resource as a subject"
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
  internal/services/integrationtesting/testconfigs/self.yaml
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/self.zed
  pkg/schemadsl/parser/tests/self.zed.expected
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

Invert the flag for the new schema watching cache
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli

removes streaming bulk check API, which is not implemented
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

README: swap to our DNS for rpm/debian packages
  README.md
Labels: area/docs

Fixes for the watching schema cache
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
Labels: area/datastore, area/tooling

e2e mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

e2e mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

e2e mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

Update to grpc 1.57 and golang 1.21.1
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

*: go 1.21 API changes
  cmd/spicedb/migrate_integration_test.go
  internal/caveats/run.go
  internal/datasets/basesubjectset.go
  internal/datasets/subjectsetbyresourceid_test.go
  internal/datastore/common/gc.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/memdb/readonly.go
  internal/datastore/postgres/snapshot.go
  internal/datastore/proxy/schemacaching/intervaltracker.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/dispatch/caching/caching.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/namespace/resolver.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  internal/testutil/subjects.go
  pkg/caveats/context.go
  pkg/caveats/context_hash.go
  pkg/caveats/structure_test.go
  pkg/caveats/types/types.go
  pkg/spiceerrors/util.go
  pkg/testutil/proto.go
  pkg/testutil/proto_test.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
  pkg/validationfile/blocks/expectedrelations.go
  tools/analyzers/closeafterusagecheck/closeafterusagecheck.go
  tools/analyzers/exprstatementcheck/exprstatementcheck.go
  tools/analyzers/nilvaluecheck/nilvaluecheck.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Inform Docker of the port that spicedb listens on
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

crdb: better max retry errors (especially with retries disabled)
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/pool/slqerrors.go
Labels: area/datastore

Fix a panic in Postgres revision parsing for incompatible ZedTokens
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  pkg/zedtoken/zedtoken_test.go
Labels: area/datastore, area/tooling

Add better error messaging and tests for memdb serialization error
  internal/datastore/memdb/errors.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/datastore, area/tooling

runs Postgres tests with all 3 latest versions
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

Order onr comparisons by cardinality for short-circuiting
  internal/graph/check.go
Labels: none

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Increase allowable timeout on memdb panic test
  internal/datastore/memdb/memdb_test.go
Labels: area/datastore, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
