Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

Add a distinct validation error type for schema write
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  pkg/schemautil/schemautil.go
Labels: none

Add additional consistency test cases
  internal/services/integrationtesting/testconfigs/arrowtosamesubject.yaml
  internal/services/integrationtesting/testconfigs/widearrow.yaml
Labels: none

Allow for configurable batch sizes for testing and change consistency test to use smaller batch sizes
  internal/datastore/common/sql.go
  internal/graph/check.go
  internal/graph/graph.go
  internal/graph/parallelchecker.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/testconfigs/widearrow.yaml
  pkg/datastore/datastore.go
  pkg/util/chunking.go
  pkg/util/chunking_test.go
Labels: area/datastore, area/tooling

Fix flake in debug tests
  internal/services/v1/debug_test.go
Labels: area/api v1, area/tooling

*: use strings.Cut where applicable
  internal/datasets/subjectsetbytype.go
  internal/datastore/crdb/keys.go
  internal/developmentmembership/trackingsubjectset.go
  internal/dispatch/graph/graph.go
  internal/namespace/reachabilitygraph.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  pkg/validationfile/blocks/errors.go
Labels: area/datastore, area/dispatch

tuple: deduplicate string manipulations
  internal/datasets/subjectsetbytype.go
  internal/developmentmembership/trackingsubjectset.go
  internal/dispatch/keys/hasher_common.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/namespace/typesystem.go
  internal/services/v1/debug.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/onrbytypeset_test.go
  pkg/tuple/relationship.go
Labels: area/api v1, area/dispatch, area/tooling

*: minimize usage of Sprintf in the critical path
  internal/datasets/subjectsetbytype.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/schema.go
  internal/datastore/mysql/connection.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/spanner.go
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/trackingsubjectset.go
  internal/dispatch/graph/graph.go
  internal/dispatch/keys/hasher_common.go
  internal/namespace/canonicalization.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/namespace/typesystem.go
  internal/services/v1/debug.go
  internal/telemetry/metrics.go
  pkg/caveats/types/types.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
  pkg/development/validation.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/schemadsl/parser/parser.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/relationship.go
  pkg/validationfile/blocks/expectedrelations.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema

pkg/tuple: add tests for ref string funcs
  pkg/tuple/relationship.go
  pkg/tuple/relationship_test.go
Labels: area/tooling

internal/dispath: use tuple funcs in span attributes
  internal/dispatch/graph/graph.go
Labels: area/dispatch

internal/namespace: fix canonicalization test
  internal/namespace/canonicalization_test.go
Labels: area/tooling

Expose the V1 API debug information in dev package
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
  pkg/development/check.go
  pkg/development/wasm/operations.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/buf.lock
  proto/internal/buf.yaml
  proto/internal/developer/v1/developer.proto
Labels: area/api v1

fixes problem with CEL not resolving protobuf types
  pkg/caveats/env.go
  pkg/caveats/types/adapter.go
Labels: none

Make sure to catch error tokens in caveat parsing
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/invalidcaveatexpr.zed
  pkg/schemadsl/parser/tests/invalidcaveatexpr.zed.expected
Labels: area/schema, area/tooling

.github: explicit github token for buf-generate
  .github/workflows/build-test.yaml
Labels: area/tooling

Add additional option to CEL to compile caveat macro expressions
  internal/services/integrationtesting/testconfigs/caveatlist.yaml
  pkg/caveats/compile_test.go
  pkg/caveats/env.go
Labels: area/tooling

Part 2 of consistency tests using caveats
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/allopscaveat.yaml
  internal/services/integrationtesting/testconfigs/publiccaveat.yaml
  internal/services/integrationtesting/testconfigs/publiccaveatexclusion.yaml
Labels: area/tooling

fixes positional argument errors failing silently
  cmd/spicedb/main.go
Labels: area/cli

Add a consistency test for the ipaddress type for caveats
  internal/services/integrationtesting/testconfigs/caveatip.yaml
Labels: none

Tidy all the mods
  e2e/go.mod
  e2e/go.sum
  go.sum
Labels: area/dependencies

Add consistency test using a map in caveats
  internal/services/integrationtesting/testconfigs/caveatmap.yaml
Labels: none

Add better, well-typed errors for caveat expression failures
  go.mod
  go.sum
  internal/caveats/errors.go
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/services/v1/permissions_test.go
  pkg/caveats/errors.go
  pkg/caveats/eval.go
  pkg/spiceerrors/util.go
Labels: area/api v1, area/dependencies, area/tooling

Update names of errors to make them read better
  internal/caveats/errors.go
  internal/caveats/run.go
  internal/caveats/run_test.go
Labels: area/tooling

pkg/cache: default TTL of 2x quantization window
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/server.go
Labels: area/cli

chore: add datadog profiling to spicedb
  .gitignore
  go.mod
  go.sum
  pkg/cmd/server/server.go
Labels: area/cli, area/dependencies, area/tooling

Remove TODOs in caveat CEL code
  pkg/caveats/eval.go
Labels: none

Only write caveats that have been possibly updated
  internal/caveats/diff.go
  internal/caveats/diff_test.go
  internal/services/shared/schema.go
Labels: area/tooling

Add some additional MySQL GC tests
  internal/datastore/common/gc.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Remove return left in previous PR
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Update quay consistency test to support geo-restricted anonymous users
  internal/services/integrationtesting/testconfigs/quay.yaml
Labels: none

Add expiration consistency test and fix conversion issue with caveat context back into structpb for timestamps/durations
  internal/caveats/run.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/testconfigs/expiration.yaml
  internal/services/integrationtesting/testconfigs/quay.yaml
  internal/services/v1/debug.go
  pkg/caveats/context.go
  pkg/caveats/context_test.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
Labels: area/api v1, area/tooling

Add an explicit error if parseTime is missing from MySQL URIs
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

pkg/singleflight: init, apply to remote dispatch
  internal/dispatch/remote/cluster.go
  internal/graph/check.go
  pkg/singleflight/singleflight.go
  pkg/singleflight/singleflight_test.go
Labels: area/dispatch, area/tooling

introduce BootstrapFileContents
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli

introduce BootstrapFileContents
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/datastore_test.go
Labels: area/cli, area/tooling

Update GHA version
  .github/workflows/lint.yaml
Labels: area/tooling

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Fix flakiness of cert test
  internal/services/integrationtesting/cert_test.go
Labels: area/tooling

Fix hanging of REST gateway on close of SpiceDB
  pkg/cmd/server/server.go
Labels: area/cli

Add release process for dev builds (nightlies)
  .github/workflows/nightly.yaml
  .goreleaser.yml
Labels: area/tooling

.github: add missing env to nightly workflow
  .github/workflows/nightly.yaml
Labels: area/tooling
