Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

[schema] create parallel schema package and port typesystem/typesystem.go over to it
  pkg/schema/definition.go
  pkg/schema/definition_test.go
  pkg/schema/errors.go
  pkg/schema/resolver.go
  pkg/schema/types.go
  pkg/schema/typesystem.go
  pkg/schema/typesystem_validation.go
Labels: area/tooling

[schema] address @tstirrat15's comments
  pkg/schema/definition.go
  pkg/schema/reachabilitygraph.go
Labels: none

[schema] port over tigerreachability (tests still to be cleaned up)
  pkg/schema/arrows.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/full_reachability.go
  pkg/schema/full_reachability_test.go
  pkg/schema/resolver.go
  pkg/schema/types.go
  pkg/schema/typesystem.go
Labels: area/tooling

[schema] Fix up schema package to be more useful in the followup
  pkg/schema/definition.go
  pkg/schema/definition_test.go
  pkg/schema/typesystem.go
Labels: area/tooling

[schema] port over reachabilitygraph.go and tests
  pkg/schema/definition.go
  pkg/schema/reachabilitygraph.go
  pkg/schema/reachabilitygraph_test.go
  pkg/schema/reachabilitygraphbuilder.go
  pkg/schema/resolver.go
  pkg/schema/typesystem.go
Labels: area/tooling

[*] convert packages to use the new schema package
  internal/graph/hints/checkhints.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing.go
  internal/namespace/annotate.go
  internal/namespace/canonicalization.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  internal/services/v1/schema.go
  pkg/development/devcontext.go
  pkg/development/resolver.go
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/diff/namespace/diff.go
  pkg/schema/typesystem_validation.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

Require definitions and partials to have distinct names
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

remove pointerization of the compiledPartials
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

granular conn flags for datastores
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli

Update the datastore interface to return the number of deleted relationships
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/watch.go
  pkg/datastore/util.go
Labels: area/api v1, area/datastore

Fix default concurrency limit for bulk check API
  internal/services/v1/bulkcheck.go
  internal/services/v1/relationships.go
Labels: area/api v1

Fix LR2 secondary dispatch sometimes returning only one result
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  tools/analyzers/go.work.sum
Labels: area/dispatch, area/tooling

Update DeleteRelationships API to return the number of relationships deleted
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling

Decouple validation file parsing from schema file parsing
  .golangci.yaml
  internal/services/integrationtesting/cert_test.go
  pkg/cmd/datastore/datastore_test.go
  pkg/cmd/termination/termination_test.go
  pkg/commonschemadsl/interfaces.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/development/devcontext.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/cli, area/schema, area/tooling

experiment: test deferred primary dispatch
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Go mod tidy
  e2e/go.mod
  e2e/go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: none

fix typo in flag prefix
  pkg/cmd/datastore/datastore.go
Labels: area/cli

[*] finish converting to new package
  internal/datastore/postgres/readwrite.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/caveats.go
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/testfixtures/datastore.go
Labels: area/api v1, area/datastore, area/tooling

[*] convert packages to use the new schema package
  internal/graph/hints/checkhints.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing.go
  internal/namespace/annotate.go
  internal/namespace/canonicalization.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  internal/services/v1/schema.go
  pkg/development/devcontext.go
  pkg/development/resolver.go
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/diff/namespace/diff.go
  pkg/schema/typesystem_validation.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

Add secondary dispatch support for LS
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

Add statistics-based auto-hedging support to the remote dispatcher
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

avoid contention when gathering hedger statistics
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Reattach child contexts to the parent for streaming dispatch
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

do not log at warn level when setting datastore in read-only
  pkg/cmd/datastore/datastore.go
Labels: area/cli

Add additional logging to flakey PG test
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

fix deprecated option and update copyright year
  .goreleaser.windows.yml
Labels: area/tooling

Have revision errors only log at debug level
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/strictreader.go
  internal/datastore/postgres/strictreader_test.go
Labels: area/datastore, area/tooling

[schema] fix automatic validation if the source is pre-validated
  pkg/schema/definition_test.go
  pkg/schema/typesystem.go
  pkg/schema/typesystem_validation.go
Labels: area/tooling

[schema] add failing concurrency test
  pkg/schema/typesystem_test.go
Labels: area/tooling

[schema] fix concurrency
  pkg/schema/typesystem.go
  pkg/schema/typesystem_test.go
  pkg/schema/typesystem_validation.go
Labels: area/tooling

Add a metric tracking the selected replica
  internal/datastore/common/url.go
  internal/datastore/common/url_test.go
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
Labels: area/datastore, area/tooling

fix panic with a fork with the fix
  go.mod
  go.sum
Labels: area/dependencies

add metric for the secondary dispatch computed t-digest wait duration
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Restructure context cancelation in secondary dispatch hedging to be more fine-grained and cancel sooner
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Make delays configurable for testing
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

Add explain parsing support for MySQL
  internal/datastore/common/relationships.go
  internal/datastore/crdb/debug.go
  internal/datastore/mysql/debug.go
  internal/datastore/mysql/debug_test.go
  internal/datastore/mysql/version/version.go
  internal/datastore/postgres/debug.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

Fill out the remaining Postgres indexes
  internal/datastore/common/index.go
  internal/datastore/common/relationships.go
  internal/datastore/postgres/migrations/zz_migration.0024_add_new_forward_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0025_add_new_reverse_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0026_drop_old_indexes.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/proxy/indexcheck.go
  magefiles/test.go
  pkg/datastore/options/options.go
Labels: area/datastore, area/tooling

Add a proxy to check that indexes referenced are used
  internal/datastore/common/index.go
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/proxy/indexcheck.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/options/options.go
Labels: area/datastore, area/tooling

Add CRDB indexes
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/debug.go
  internal/datastore/crdb/debug_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/schema.go
  internal/datastore/crdb/watch.go
Labels: area/datastore, area/tooling

Add MySQL indexes
  internal/datastore/common/relationships.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/indexes.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
