Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

support follower read delay on pg and mysql datastores
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore, area/tooling

refactor ctx
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: none

Change Spanner default metrics to go to OTEL
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore

err with ref
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/translator.go
Labels: none

improve err msg
  pkg/composableschemadsl/compiler/importer.go
Labels: none

expand pgSnapshot tests
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
Labels: area/datastore, area/tooling

make postgres a continuously checkpointing datastore
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore

Rename experimental reflection methods in prep for promoting the APIs
  internal/services/v1/experimental.go
  internal/services/v1/expreflection.go
  internal/services/v1/expreflection_test.go
Labels: area/api v1, area/tooling

Promote the reflection APIs into the schema service
  go.mod
  go.sum
  internal/services/v1/reflectionapi.go
  internal/services/v1/reflectionapi_test.go
  internal/services/v1/reflectionutil.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
Labels: area/api v1, area/dependencies, area/tooling

Tidy e2e go.mod
  e2e/go.mod
  e2e/go.sum
Labels: none

combined caveat and namespaces methods
  internal/datastore/mysql/watch.go
Labels: area/datastore

make postgres a continuously checkpointing datastore
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore

make optimized revision resilient to out-of-band snapshot changes
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore, area/tooling

expand pgSnapshot tests
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
Labels: area/datastore, area/tooling

Promote the reflection APIs into the schema service
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/reflectionapi.go
  internal/services/v1/reflectionapi_test.go
  internal/services/v1/reflectionutil.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
Labels: area/api v1, area/dependencies, area/tooling

reproduce issue with concurrent revisions
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/snapshot_test.go
Labels: area/datastore, area/tooling

fixes problem with concurrent snapshots in optimized revision
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore, area/tooling

fix reported grpc-health-probe CVE
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Update go.mod for vulns in Go libs
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

expand pgSnapshot tests
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
Labels: area/datastore, area/tooling

make pg datastore continuously checkpoint using a revision heartbeat
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

add heartbeat leader election
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

different profiles for tests
  magefiles/test.go
  magefiles/util.go
Labels: none

use path hash instead
  magefiles/util.go
Labels: none

separate targets for cover
  magefiles/test.go
  magefiles/util.go
Labels: none

refactor ctx
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: none

context coverage bool
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: none

added test coverage
  magefiles/test.go
  magefiles/util.go
Labels: none

Move nodeid default calculation to init to avoid race
  pkg/middleware/nodeid/nodeid.go
Labels: none

global ctx
  .gitignore
  magefiles/go.mod
  magefiles/test.go
  magefiles/util.go
Labels: area/tooling

follow ups to #2252
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

feat/add goreleaser job notification
  .github/workflows/release.yaml
Labels: area/tooling

test workflow dispatch
  .github/workflows/release.yaml
Labels: area/tooling

feat: add release job Slack notification
  .github/workflows/release.yaml
Labels: area/tooling

replace 8398a7/action-slack with slack-github-action
  .github/workflows/release.yaml
Labels: area/tooling

s/goreleaser/release
  .github/workflows/release.yaml
Labels: area/tooling

Update e2e go.mod
  e2e/go.mod
  e2e/go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

Add CRDB matrix tests
  .github/workflows/build-test.yaml
Labels: area/tooling

[schema] fix tests
  pkg/schema/arrows.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/full_reachability.go
  pkg/schema/full_reachability_test.go
  pkg/schema/resolver.go
Labels: area/tooling

[schema] address @josephschorr's comments
  pkg/schema/arrows.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/definition.go
  pkg/schema/errors.go
  pkg/schema/full_reachability.go
  pkg/schema/resolver.go
  pkg/schema/typesystem.go
Labels: area/tooling
