Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

services/v1: make the datastore page size a flag
  internal/services/v1/relationships.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/datastore/options/options.go
Labels: area/api v1, area/cli

pkg/datastore/test: add a conformance test for iterator error handling
  internal/datastore/common/tuple.go
  internal/datastore/memdb/readonly.go
  internal/testfixtures/datastore.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

datastore/common: add tuple strategy to resume paginated responses
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
Labels: area/datastore, area/tooling

datastore/memdb: remove extra tuple allocation from cursor filter function
  internal/datastore/memdb/readonly.go
Labels: area/datastore

pkg/datastore: temporarily remove the BySubject sort order
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  pkg/datastore/options/options.go
  pkg/datastore/test/pagination.go
Labels: area/datastore

remove 2 allocations from ReadRelationships streaming loop
  internal/services/v1/relationships.go
  pkg/tuple/tuple.go
Labels: area/api v1

correctly return gRPC code on cancellation
  internal/services/v1/relationships.go
Labels: area/api v1

Add a prometheus counter over the different kinds of write operations
  internal/services/v1/relationships.go
Labels: area/api v1

Revert "goreleaser: publish PRs to brew and not commits"
  .goreleaser.yml
Labels: area/tooling

Revert "goreleaser: publish PRs to brew and not commits"
  .goreleaser.yml
Labels: area/tooling

Revert "Revert "goreleaser: publish PRs to brew and not commits""
  .goreleaser.yml
Labels: area/tooling

Move to goreleaser v4
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
Labels: area/tooling

use expanded tuple comparison query condition in CRDB
  internal/datastore/common/sql.go
  internal/datastore/crdb/reader.go
  internal/datastore/spanner/reader.go
Labels: area/datastore

use expanded tuple comparison query condition in MySQL
  internal/datastore/mysql/reader.go
Labels: area/datastore

Fix typo in comment
  internal/datastore/postgres/postgres.go
Labels: area/datastore

pkg/cmd/server: enable gzip server compression
  pkg/cmd/server/server.go
Labels: area/cli

crdb: detect when node drains are happening and discard connections
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/tx.go
Labels: area/datastore

determine connection drains async instead of on every acquire
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/tx.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
Labels: area/cli, area/datastore

dockerfile: fix path to include /usr/local/bin
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Fix issue where Watch in Postgres was looping endlessly
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

Fix flake in the proxy test
  internal/datastore/proxy/hedging_test.go
Labels: area/datastore, area/tooling

Add v1 integration test for stream timeout
  internal/middleware/streamtimeout/streamtimeout.go
  internal/services/v1/relationships_test.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/api v1, area/cli, area/tooling

Add pagination support to ReverseQueryRelationships
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/services/shared/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/tooling

pkg/cmd/datastore: make revision staleness configurable from the command line
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli

internal/datastore/common: only prune old revisions upon mutations
  internal/datastore/common/revisions/optimized.go
Labels: area/datastore

internal/datastore/common: test that all revisions eventually get selected
  internal/datastore/common/revisions/optimized_test.go
Labels: area/datastore, area/tooling

internal/datastore/common: crossfade revisions when we switch
  internal/datastore/common/revisions/optimized.go
  internal/datastore/common/revisions/optimized_test.go
  internal/datastore/common/revisions/remoteclock.go
Labels: area/datastore, area/tooling

pkg/cmd/server: extend cache lifetimes to take into account revision staleness
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/server.go
Labels: area/cli

Fix flake in PG test
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

internal/graph: use a dispatcher without goroutines at concurrency 1
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/serial_check.go
Labels: area/dispatch, area/tooling

doc: add information on when `insecure` is okay to the crdb readme
  internal/datastore/crdb/README.md
Labels: area/datastore

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Regenerate protos
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: none

Move to Go 1.20.4 to fix a reported vuln in Go
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Skip initializing the telemetry collector if telemetry is disabled
  pkg/cmd/server/server.go
Labels: area/cli

Fix serialization of custom types in caveat context
  internal/services/v1/debug_test.go
  pkg/caveats/context.go
  pkg/caveats/context_test.go
  pkg/caveats/types/custom.go
  pkg/caveats/types/ipaddress.go
  pkg/caveats/types/registration.go
Labels: area/api v1, area/tooling

Add a datastore benchmark for mixtures of CREATE and TOUCH
  internal/datastore/benchmark/driver_bench_test.go
Labels: area/datastore, area/tooling

goreleaser: fix brew PR config
  .goreleaser.yml
Labels: area/tooling

README: add missing sudo
  README.md
Labels: area/docs

prepares for merge-queue enablement
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
