Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Decouple validation file parsing from schema file parsing
  internal/datastore/proxy/schemacaching/types.go
  internal/graph/computed/computecheck_test.go
  internal/services/shared/schema.go
  pkg/commonschemadsl/types.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/development/devcontext.go
  pkg/development/resolver.go
  pkg/development/schema.go
  pkg/development/warnings.go
  pkg/diff/namespace/diffexpr_test.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/definition_test.go
  pkg/schema/full_reachability_test.go
  pkg/schema/reachabilitygraph_test.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/development.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemautil/schemautil.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/datastore, area/schema, area/tooling

fix typo in goreleaser.windows.yml
  .goreleaser.windows.yml
Labels: area/tooling

Make sure to close query rel latency metric on error and add query shape to metric
  internal/datastore/proxy/observable.go
Labels: area/datastore

Only log errors if they are not cancel errors
  internal/datastore/crdb/pool/pool.go
Labels: area/datastore

fix pgx logging SQL cancelation as errors
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

fix panic when running mage test:all
  internal/testserver/datastore/crdb.go
Labels: none

wires query shape into the datastore QueryRels latency metric
  internal/datastore/proxy/observable.go
Labels: area/datastore

Allow schema watch in CRDB driver when watch is otherwise disabled
  internal/datastore/crdb/watch.go
Labels: area/datastore

return grpc code IllegalArgument on malformed revision
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
Labels: area/tooling

make other fmt.Errorf errors return as gRPC internal errors
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
Labels: area/tooling

add query shape and fix observe closer in ReverseQueryRelationships
  internal/datastore/proxy/observable.go
Labels: area/datastore

postgres datastore: do not warn on context cancelation
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Set pgx CancelRequestContextWatcherHandler.CancelRequestDelay to fix cancelation delay
  internal/datastore/postgres/common/cancelation.go
Labels: area/datastore

remove unnecessary context severing in LR streaming
  internal/graph/context.go
  internal/graph/cursors.go
Labels: none

do context severing with stdlib context.WithoutCancel()
  internal/datastore/proxy/schemacaching/standardcache.go
Labels: area/datastore

migrate Separating context proxy to stdlib context.WithoutCancel()
  internal/datastore/context.go
Labels: area/datastore

Improve CRDB index forcing logic to be more fine-grain
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/indexes_test.go
Labels: area/datastore, area/tooling

finish tests
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

lints
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

attach the typechecking to typesystem instead of graph -- it didn't require graph and there's an unrelated bug discovered
  pkg/schema/arrows.go
  pkg/schema/full_reachability.go
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

[schema] add type-checking test
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

rename and fix comment
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

add development container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create-command.sh
  README.md
Labels: area/docs

Cache Features call in CRDB and skip outputting the check error
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

Tidy e2e and other go.mod
  e2e/go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Update github.com/go-jose/go-jose/v4 for reported vuln in it
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

pin github action and dockerfile.release base image
  .github/workflows/build-test.yaml
  Dockerfile.release
Labels: area/tooling

Add additional forced CRDB index in special case of no object IDs
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/indexes_test.go
Labels: area/datastore, area/tooling

remove dependency to aws sdk v1
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/cli, area/dependencies, area/tooling

add more default linters
  .golangci.yaml
  internal/datastore/proxy/observable.go
  internal/services/v0/sharestore.go
  pkg/cmd/datastore/datastore.go
Labels: area/api v0, area/cli, area/datastore, area/tooling

Fix the incomplete switch in collectArrowInformationForSetOperation
  pkg/schema/arrows.go
Labels: none

Add perfinsights middleware which writes the latency of API calls to a new native histogram bucket
  go.mod
  go.sum
  internal/middleware/perfinsights/doc.go
  internal/middleware/perfinsights/perfinsights.go
  internal/middleware/perfinsights/perfinsights_test.go
  internal/services/server.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_unit_test.go
  internal/services/v1/schema.go
  internal/testserver/cluster.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/api v1, area/cli, area/dependencies, area/tooling

Handle both kinds of cancelation errors in test
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

Add additional steelthread test for an LR of page size 1
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-1-results.yaml
Labels: none

Add maximum secondary dispatch wait and fix name of wait metric
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Have streaming dispatches also report to the metric whether they use the primary or secondary dispatcher
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Make sure to escape underscores in delete by object ID prefix
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

fix(CI): CLA GitHub Action permissions
  .github/workflows/cla.yaml
Labels: area/tooling

debug
  .github/workflows/cla.yaml
Labels: area/tooling

Update .github/workflows/cla.yaml
  .github/workflows/cla.yaml
Labels: area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
