Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

fix CI errors on recent merge
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/testconfigs/caveatlr.yaml
Labels: area/tooling

fix CI errors on recent merge
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/testconfigs/caveatlr.yaml
Labels: area/tooling

Reorganize tuple package and add relationship structs
  pkg/tuple/comparison.go
  pkg/tuple/comparison_test.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/hashing_test.go
  pkg/tuple/onr.go
  pkg/tuple/onr_test.go
  pkg/tuple/parsing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/proto_interface.go
  pkg/tuple/relationship.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/tuple/updates.go
  pkg/tuple/updates_test.go
  pkg/tuple/v1.go
  pkg/tuple/v1_test.go
Labels: area/tooling

Start on datastore conversion with MemDB
  go.mod
  internal/datasets/subjectsetbyresourceid.go
  internal/datasets/subjectsetbytype.go
  internal/datasets/subjectsetbytype_test.go
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/errors.go
  internal/datastore/common/helpers.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/dispatch/singleflight/singleflight_test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/pagination/iterator.go
  pkg/proto/core/v1/util.go
Labels: area/datastore, area/dependencies, area/dispatch, area/tooling

Update tests and get memdb passing for struct and iterator changes
  internal/datastore/common/changes.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/generator.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/tuple/structs.go
  pkg/tuple/v1.go
Labels: area/datastore, area/tooling

Tuple -> Relationship renames
  internal/datastore/common/helpers.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dispatch, area/tooling

Small tuple package improvements
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
Labels: none

Update MySQL driver for relationship changes
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/watch.go
Labels: area/datastore

Update postgres driver for relationship changes
  internal/datastore/common/sql.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
Labels: area/datastore

Update CRDB and Spanner and a few other locations for relationship changes
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  pkg/datastore/pagination/iterator.go
  pkg/tuple/parsing.go
  pkg/tuple/v1.go
  pkg/validationfile/fileformat_test.go
Labels: area/api v1, area/datastore, area/tooling

Address lint errors
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/reader.go
  internal/graph/lookupresources2.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/relationships.go
  pkg/tuple/comparison.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/v1.go
Labels: area/api v1, area/datastore, area/tooling

Move the remaining go files to 1.23.1
  e2e/go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
Labels: none

Fix Postgres tests for relationship changes
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Fix MySQL tests for relationship changes
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Fix CRDB tests for relationship changes
  internal/datastore/crdb/crdb_test.go
Labels: area/datastore, area/tooling

Fix Spanner tests for relationship changes
  internal/datastore/spanner/spanner_test.go
Labels: area/datastore, area/tooling

Fix benchmark test
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

Fix WASM test for relationships changes
  pkg/development/devcontext.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/tuple/core.go
  pkg/tuple/structs.go
Labels: area/tooling

Disable close-after-usage check for rel iterator, as it handles it internally now
  magefiles/lint.go
Labels: none

Integration test fixes for changed relationships
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
Labels: area/tooling

Fix dev test error
  pkg/development/development_test.go
Labels: area/tooling

Fixes for new relationship structs after rebase
  pkg/datastore/test/watch.go
Labels: none

Integration test fixes for changed relationships
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Update read-only mode test for PG
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

metrics: spicedb_environment_info from telemetry
  internal/telemetry/metrics.go
  pkg/cmd/server/server.go
  pkg/promutil/promutil.go
Labels: area/cli

pkg/server: pass ctx to info collector
  pkg/cmd/server/server.go
Labels: area/cli

Disable close-after-usage check for rel iterator, as it handles it internally now
  magefiles/lint.go
Labels: none

Integration test fixes for changed relationships
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Update read-only mode test for PG
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Address lint errors
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/reader.go
  internal/graph/lookupresources2.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/relationships.go
  pkg/tuple/comparison.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/onr.go
  pkg/tuple/parsing.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/v1.go
Labels: area/api v1, area/datastore, area/tooling

Update CRDB and Spanner and a few other locations for relationship changes
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  pkg/datastore/pagination/iterator.go
  pkg/tuple/parsing.go
  pkg/tuple/v1.go
  pkg/validationfile/fileformat_test.go
Labels: area/api v1, area/datastore, area/tooling

Start on datastore conversion with MemDB
  go.mod
  internal/datasets/subjectsetbyresourceid.go
  internal/datasets/subjectsetbytype.go
  internal/datasets/subjectsetbytype_test.go
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/errors.go
  internal/datastore/common/helpers.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/tuple.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/dispatch/singleflight/singleflight_test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/pagination/iterator.go
  pkg/proto/core/v1/util.go
Labels: area/datastore, area/dependencies, area/dispatch, area/tooling

Fixes for new relationship structs after rebase
  pkg/datastore/test/watch.go
Labels: none

Move the remaining go files to 1.23.1
  e2e/go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
Labels: none

Fix Postgres tests for relationship changes
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Tuple -> Relationship renames
  internal/datastore/common/helpers.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dispatch, area/tooling

Reorganize tuple package and add relationship structs
  pkg/tuple/comparison.go
  pkg/tuple/comparison_test.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/hashing_test.go
  pkg/tuple/onr.go
  pkg/tuple/onr_test.go
  pkg/tuple/parsing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/proto_interface.go
  pkg/tuple/relationship.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/tuple/updates.go
  pkg/tuple/updates_test.go
  pkg/tuple/v1.go
  pkg/tuple/v1_test.go
Labels: area/tooling

Fix benchmark test
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

Address PR feedback
  internal/datastore/spanner/reader.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/datastore, area/tooling

Update MySQL driver for relationship changes
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/watch.go
Labels: area/datastore
