Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

cmd/server: configure hashring replication factor using a singleton picker
  cmd/spicedb/main.go
  internal/services/integrationtesting/benchmark_test.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/tooling

datastore/mysql: extend object ID storage
  internal/datastore/mysql/migrations/zz_migration.0005_extend_object_id.go
Labels: area/datastore

gomod: bump cobrautil
  go.mod
  go.sum
Labels: area/dependencies

integrationtesting: add a consistency test for extnded IDs
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/extendedids.yaml
Labels: area/tooling

all: extend object ID processing
  internal/services/v1/metadata_test.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/tuple/onr_test.go
  pkg/tuple/tuple.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/tooling

pkg/datastore: add extended object ID storage test
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: none

Fix flakiness of graceful termination test
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling

Move to v4 of kuberesolver
  cmd/spicedb/main.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/gateway/gateway.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/api http, area/cli, area/dependencies, area/tooling

upsert overlap
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/readwrite.go
Labels: area/datastore, area/tooling

datastore/benchmark: add a datastore driver benchmark
  internal/datastore/benchmark/README.md
  internal/datastore/benchmark/driver_bench_test.go
  internal/testfixtures/generator.go
Labels: area/datastore, area/tooling

datastore/benchmark: refactor to use uniform initialization
  internal/datastore/benchmark/driver_bench_test.go
Labels: area/datastore, area/tooling

Move to Go version 1.20.3 to fix reported vuln in Go 1.20.2
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Set a subdictionary key for pgx logs adaptor
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

Fix deduplication bug in reachable resources
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap_test.go
  internal/services/integrationtesting/testconfigs/multiplepathssamelookupresult.yaml
Labels: area/dispatch, area/tooling

Make sure to bind vars in table driven tests
  cmd/spicedb/serve_integration_test.go
  internal/services/integrationtesting/consistency_test.go
Labels: area/cli, area/tooling

makes hashring spread configurable
  internal/dispatch/graph/graph.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch

Fix bound variables in e2e
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

Export source repository location
  pkg/releases/releases.go
Labels: none

Allow for reuse and replace of the serverversion middleware
  pkg/cmd/server/defaults.go
  pkg/middleware/serverversion/serverversion.go
Labels: area/cli

add backoff to crdb tx resets
  internal/datastore/crdb/tx.go
Labels: area/datastore

integrationtesting: add a consistency test for extnded IDs
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/extendedids.yaml
Labels: area/tooling

all: extend object ID processing
  internal/services/v1/metadata_test.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/tuple/onr_test.go
  pkg/tuple/tuple.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/tooling

pkg/datastore: add extended object ID storage test
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: none

Update API protos and add additional testing
  internal/services/v1/permissions_test.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/tuple/tuple_test.go
Labels: area/api v1, area/tooling

datastore/mysql: extend object ID storage
  internal/datastore/mysql/migrations/zz_migration.0005_extend_object_id.go
Labels: area/datastore

Add WASM development test for extended IDs
  internal/services/v1/permissions_test.go
  pkg/development/wasm/main_test.go
  pkg/development/wasm/operations_test.go
Labels: area/api v1, area/tooling

Tidy go mod files for recent changes
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

goreleaser: publish PRs to brew and not commits
  .goreleaser.yml
Labels: area/tooling

pkg/cmd: disable cmdline profile
  pkg/cmd/server/defaults.go
Labels: area/cli

Merge pull request from GHSA-cjr9-mr35-7xh6
  pkg/cmd/server/defaults.go
Labels: area/cli

Fix flakiness in serve-testing with pre-populated data by squashing the memdb revisions after the data is populated
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
  cmd/spicedb/testdata/bootstrap.yaml
  internal/datastore/memdb/revisions.go
  internal/middleware/pertoken/pertoken.go
Labels: area/cli, area/datastore, area/tooling

initial implementation of ReadRelationships with DB cursor
  internal/datastore/common/cursor_iterator.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/options/options.go
  internal/datastore/options/zz_generated.query_options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/services/v1/relationships.go
  pkg/datastore/slice_iterator.go
  pkg/tuple/tuple.go
Labels: area/api v1, area/datastore

initial implementation of ReadRelationships with column-based cursor
  internal/datastore/common/cursor_iterator.go
  internal/datastore/common/paginated_iterator.go
  internal/datastore/common/sql.go
  internal/datastore/options/options.go
  internal/datastore/options/zz_generated.query_options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/services/v1/relationships.go
Labels: area/api v1, area/datastore

Check the defaults for hashring construction
  pkg/balancer/hashring.go
  pkg/cmd/server/server.go
Labels: area/cli

pkg/datastore: add cursors to the iterator interface
  internal/datastore/common/tuple.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/observable.go
  pkg/datastore/datastore.go
  pkg/datastore/errors.go
Labels: area/datastore, area/tooling

pkg/datastore: move options to pkg and add order and start position
  internal/datastore/common/sql.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/graph/reachableresources.go
  internal/services/shared/schema.go
  internal/services/v1/preconditions.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/tuples.go
Labels: area/api v1, area/datastore

datastore/memdb: implement pagination
  go.mod
  go.sum
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/schema.go
Labels: area/datastore, area/dependencies

services/v1: use paginated datastore API for ReadRelationships
  internal/services/v1/relationships.go
  pkg/datastore/pagination/iterator.go
Labels: area/api v1

pkg/datastore/test: add a pagination test suite
  internal/testfixtures/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
Labels: none

datastore/all: implement pagination
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  pkg/datastore/test/pagination.go
Labels: area/datastore, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
