Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

Small suggested fix
  pkg/caveats/eval.go
Labels: none

Add a parser test for use of optional fields in caveat expressions
  pkg/schemadsl/parser/tests/complexcaveat.zed
  pkg/schemadsl/parser/tests/complexcaveat.zed.expected
Labels: area/schema

moves analyzers to Go 1.20
  e2e/go.mod
  tools/analyzers/go.mod
Labels: none

bump all dependencies
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/tracer.go
  internal/services/v1/experimental.go
  magefiles/go.mod
  magefiles/go.sum
  pkg/caveats/eval.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: area/api v1, area/datastore, area/dependencies

Fix length of slice in partial eval of caveats
  pkg/caveats/eval.go
Labels: none

add OTEL tracing to pgx Queries
  go.mod
  go.sum
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore, area/dependencies

add test for pgx query tracing
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

removes Spanner phased migrations for upcoming release
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/gc.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/watch.go
  internal/datastore/spanner/watch_changelog.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/test/datastore.go
Labels: area/cli, area/datastore, area/tooling

update prometheuspb module to new upstream domain
  go.mod
  go.sum
  internal/telemetry/reporter.go
Labels: area/dependencies

goreleaser: cut individual brew versions
  .goreleaser.yml
Labels: area/tooling

internal/datastore/proxy: record zero relationships read
  internal/datastore/proxy/observable.go
Labels: area/datastore

actually disable gateway server when disabled
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling

magefiles: add buf format linter
  magefiles/lint.go
  proto/internal/core/v1/core.proto
  proto/internal/developer/v1/developer.proto
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/impl.proto
  proto/internal/impl/v1/pgrevision.proto
Labels: none

proto: add missing transitive dependency
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  proto/internal/buf.yaml
Labels: none

Move to Go 1.20.7 to fix vuln in go stdlib
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Change MySQL definition columns to LONGBLOB in prep for supporting larger definitions
  internal/datastore/mysql/migrations/zz_migration.0006_convert_definitions_to_longblob.go
Labels: area/datastore

.github: use 4-core runners for more jobs
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
Labels: area/tooling

Change how dispatches are counted in LookupResources
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/computed/computecheck_test.go
  internal/graph/graph.go
  internal/graph/reachableresources.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/dispatch, area/tooling

Remove trivy scanning of debug images
  .github/workflows/lint.yaml
Labels: area/tooling

Clarify that development error positions are 1-indexed
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

*: drop legacy proto library
  pkg/proto/dispatch/v1/01_codec.go
Labels: none

Add integration tests for graceful shutdown of SpiceDB
  cmd/spicedb/serve_integration_test.go
  internal/datastore/common/gc.go
Labels: area/cli, area/datastore, area/tooling

bump github.com/dalzilio/rudd
  go.mod
  go.sum
Labels: area/dependencies

Make sure to output logs for mage:test
  magefiles/util.go
Labels: none

Add test
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: none

Add CreateTouchDeleteTouchTest
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: none

Fix mysql WriteRelationships query
  internal/datastore/mysql/readwrite.go
Labels: area/datastore

pkg/schemadsl/compiler: add a unit test for prefixedPath
  pkg/schemadsl/compiler/translator_test.go
Labels: area/schema, area/tooling

all: support multiple slashes in object and caveat names
  go.mod
  go.sum
  internal/services/integrationtesting/testconfigs/multipleslashes.yaml
  pkg/development/wasm/operations_test.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/multipleslashes.zed
  pkg/schemadsl/parser/tests/multipleslashes.zed.expected
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  proto/internal/core/v1/core.proto
Labels: area/dependencies, area/schema, area/tooling

e2e: go mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

Significantly reduce the number of goroutines used in the checking stream
  internal/graph/checkingresourcestream.go
Labels: none

*: extract gRPC balancer into external library
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/remote/cluster.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/balancer/hashring_test.go
  pkg/cmd/server/server.go
  pkg/consistent/hashring.go
  pkg/consistent/hashring_test.go
  pkg/consistent/node.go
  tools/analyzers/go.work.sum
Labels: area/cli, area/dependencies, area/dispatch, area/tooling

internal: drop last usage of legacy proto lib
  go.mod
  go.sum
  internal/services/v1/hash.go
Labels: area/api v1, area/dependencies

disable datastore hedging by default
  pkg/cmd/datastore/datastore.go
Labels: area/cli

pin spanner emulator to 1.5.8
  internal/testserver/datastore/spanner.go
Labels: none

Fix flaky LR dispatch count test
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

Address review comments
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/tooling

Address review feedback
  go.mod
  go.sum
  internal/services/v1/clustering.go
  internal/services/v1/experimental.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
Labels: area/api v1, area/dependencies, area/tooling

introduce Bulk Check API Support
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/cursors.go
  internal/services/server.go
  internal/services/v1/clustering.go
  internal/services/v1/clustering_test.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
  internal/services/v1/permissions.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/preloadedtaskrunner_test.go
  internal/taskrunner/taskrunner.go
  internal/taskrunner/taskrunner_test.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/tooling

Fix flakiness in grouping test
  internal/services/v1/grouping_test.go
Labels: area/api v1, area/tooling
