Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

log crdb sql too
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore, area/tooling

Have validation for WriteRelationships batch load namespaces
  internal/relationships/validation.go
Labels: none

Move to Golang 1.19.6 to bring some security fixes
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Fix MySQL parseTime check to use the DSN lib
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

improve error message and add link to spicebd.dev
  internal/datastore/crdb/crdb.go
Labels: area/datastore

does not return an error if GC windows aren't aligned
  internal/datastore/crdb/crdb.go
Labels: area/datastore

change release notes update mode
  .goreleaser.yml
Labels: area/tooling

fix linter error
  .goreleaser.yml
Labels: area/tooling

Skip loading of head revision on write calls
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/middleware/consistency/consistency.go
Labels: area/api v1, area/tooling

Skip loading of head revision on write calls
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/middleware/consistency/consistency.go
Labels: area/api v1, area/tooling

pkg/cache: implement a central collector
  internal/dispatch/caching/caching.go
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cache/metrics.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
Labels: area/cli, area/dispatch

makes dispatch metrics toggleable
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

make cache collector unregister on close
  pkg/cache/cache_ristretto.go
  pkg/cache/metrics.go
Labels: none

Add prometheus metric for GC failure in datastore
  internal/datastore/common/gc.go
Labels: area/datastore

datastore/postgres: switch to DB snapshots as primary component of revisions
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
  internal/datastore/postgres/watch.go
  internal/datastore/postgres/xid8.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision.pb.validate.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/pgrevision.proto
Labels: area/datastore, area/tooling

datastore/postgres: eliminate transactions using index before running visible function
  internal/datastore/postgres/watch.go
Labels: area/datastore

datastore/postgres: silence panic linter for revision serialization
  internal/datastore/postgres/revisions.go
Labels: area/datastore

datastore/postgres: check the presence of txids consistently
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/xid8.go
Labels: area/datastore

datastore/postgres: add doc comments
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/snapshot.go
  pkg/proto/impl/v1/pgrevision.pb.go
  proto/internal/impl/v1/pgrevision.proto
Labels: area/datastore

datastore/postgres: rename the visible function to txVisible
  internal/datastore/postgres/snapshot.go
Labels: area/datastore

datastore/postgres: remove commented out imports
  internal/datastore/postgres/revisions_test.go
Labels: area/datastore, area/tooling

datastore/postgres: adjust prepared queries and their comments
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore

datastore/postgres: make proto revisions backward compatible
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
Labels: area/datastore, area/tooling

makes the caveat context size configurable
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/api v1, area/cli, area/tooling

README: refresh with more dev instructions
  .markdownlint.yaml
  README.md
Labels: area/docs, area/tooling

README: add debug containers
  README.md
Labels: area/docs

.github: bump to Go 1.20.2
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

internal/datastore/crdb: split read/write connpools
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

internal/datastore: split conn pools for postgres
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

internal: consistency for crdb/pg options
  internal/datastore/crdb/options.go
  internal/datastore/postgres/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

pkg/cmd: default writepools to half readpools
  pkg/cmd/datastore/datastore.go
Labels: area/cli

internal/testserver: set pg max connections
  internal/testserver/datastore/postgres.go
Labels: none

internal/datastore: default to maxing connpools
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

updates to OTel 1.14.0
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

skips namespace cache proxy if cache disabled
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  pkg/cmd/server/server.go
Labels: area/cli, area/datastore, area/tooling

propagate option to disable stats in spanner datastore
  internal/datastore/spanner/options.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

fixes failures with FullyConsistent when GC window elapses
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/revisions_test.go
Labels: area/datastore, area/tooling

adds revision GC test to all datastores
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/spanner_test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/stats.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

mysql: head revision is always valid
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/revisions.go
  pkg/datastore/test/revisions.go
Labels: area/datastore, area/tooling

fixes failures with FullyConsistent when GC window elapses
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/revisions_test.go
Labels: area/datastore, area/tooling
