Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

add request-scoped overlap key option for crdb
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
  go.mod
  go.sum
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/keys.go
  internal/datastore/crdb/keys_test.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore, area/dependencies, area/tooling

changes reverse query ordering clause to be by subject
  internal/graph/reachableresources.go
  pkg/datastore/test/pagination.go
Labels: none

Fix issue with BySubject ordering in memdb
  internal/datastore/memdb/readonly.go
Labels: area/datastore

Switch ReachableResources to use BySubject ordering
  internal/graph/reachableresources.go
Labels: none

correctly chunks large bootstrap files
  pkg/cmd/datastore/datastore.go
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/requires_chunking.yaml
Labels: area/cli, area/tooling

Fix a deadlock in preloaded task runner
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/preloadedtaskrunner_test.go
  internal/graph/reachableresources.go
Labels: area/dispatch, area/tooling

crdb: report readiness as soon as min connections are available
  internal/datastore/crdb/crdb.go
Labels: area/datastore

Deduplicate LookupResources results when limits are unspecified
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

crdb: report readiness as soon as min connections are available
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/services/integrationtesting/healthcheck_test.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore, area/tooling

crdb: report readiness as soon as min connections are available
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

document request overlap in crdb/README.md
  internal/datastore/crdb/README.md
Labels: area/datastore

Have the stream timeout middleware report a cause for the context cancelation
  internal/middleware/streamtimeout/streamtimeout.go
  internal/services/shared/errors.go
  internal/services/v1/relationships_test.go
  pkg/spiceerrors/withstatus.go
Labels: area/api v1, area/tooling

Ensure that context cancelation in LR propagates
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/lookupresources.go
Labels: area/dispatch, area/tooling

Avoid an extra datastore roundtrip once all results have been found
  internal/graph/reachableresources.go
Labels: none

Move to go 1.20.5 to fix a reported vuln in Go libs
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

Add additional test type check
  internal/dispatch/graph/lookupresources_test.go
Labels: area/dispatch, area/tooling

default to disabled to make sure SpiceDB does not fail to start
  pkg/cmd/termination/termination.go
  pkg/cmd/termination/termination_test.go
Labels: area/cli, area/tooling

decouples middleware modifications
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/integrationtesting/cert_test.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
  tools/analyzers/go.work.sum
Labels: area/cli, area/dependencies, area/tooling

Change CREATE error into a well-typed error with details
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/errors.go
  internal/datastore/common/helpers.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/common/errors.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/dependencies

wrap middleware in an order asserting interceptor
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
  pkg/cmd/server/testdata/test_schema.yaml
Labels: area/cli, area/tooling

correct SetGlobalLogger in main.go
  cmd/spicedb/main.go
Labels: area/cli

use composite interface for middleware types
  pkg/cmd/server/middleware.go
Labels: area/cli

make sure both chains have the same middlewares
  pkg/cmd/server/server.go
  pkg/util/set.go
  pkg/util/set_test.go
Labels: area/cli, area/tooling

only add dependencies where actually needed
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
Labels: area/cli

Fix generated membership for the development package when using indirect caveats
  internal/developmentmembership/membership.go
  internal/dispatch/graph/expand_test.go
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
Labels: area/dispatch, area/tooling

Redo how context is handled around limits
  internal/graph/checkingresourcestream.go
  internal/graph/cursors.go
  internal/graph/limits.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
Labels: none

Parallelize the chunked dispatches in reachable resources
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/context.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/limits_test.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/services/v1/permissions.go
  pkg/util/multimap.go
Labels: area/api v1, area/dispatch, area/tooling

reuse existing IsInTest function
  pkg/cmd/server/middleware.go
  pkg/spiceerrors/bug.go
  pkg/spiceerrors/bug_test.go
Labels: area/cli, area/tooling

Change the max depth exceeded error to be well-typed
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/dispatch.go
  internal/dispatch/errors.go
  internal/services/shared/errors.go
  internal/services/shared/errors_test.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/development/devcontext.go
Labels: area/api v1, area/dependencies, area/dispatch, area/tooling

Add durations to check debug tracing
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/services/v1/debug.go
  internal/services/v1/permissions_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/dispatch, area/tooling

disambiguate order assertion in streaming APIs
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
Labels: area/cli, area/tooling

goreleaser: sort tags by creation date, don't upload RCs to homebrew
  .goreleaser.yml
Labels: area/tooling

Remove the revision from dispatch cursors to make them smaller
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/reachableresources.go
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling

Remove intermediate names from cursors to reduce their size
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/reachableresources.go
Labels: area/tooling

Add dispatch version to dispatch cursors to prevent mismatched cursor usage
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/errors.go
  internal/graph/reachableresources.go
  internal/services/v1/relationships.go
  pkg/cursor/cursor.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

Reduce allocations necessary for cursor work
  internal/graph/cursors.go
  internal/graph/cursors_test.go
Labels: area/tooling

Add check traces to assertion errors for better debugging
  pkg/development/assertions.go
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

f
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

Reconnect logging and tracing into the disconnect LR/RR context
  internal/graph/context.go
Labels: none

Deduplicate resources in Check dispatch
  internal/graph/check.go
  internal/services/integrationtesting/testconfigs/arrowtosameresource.yaml
  pkg/tuple/onrbytypeset.go
  pkg/util/unique.go
  pkg/util/unique_test.go
Labels: area/tooling
