Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

set minimum spanner sessions = max sessions
  internal/datastore/spanner/spanner.go
Labels: area/datastore

do not open a new Spanner client for version checks
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
Labels: area/cli, area/datastore

set minimum spanner sessions = max sessions
  internal/datastore/spanner/spanner.go
Labels: area/datastore

Run postgres datastore tests with pgbouncer
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

fix grpc-health-probe flagged by trivy
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

implement a more flexible logging middleware
  pkg/cmd/server/defaults.go
  pkg/cmd/server/log.go
Labels: area/cli

fix grpc-health-probe flagged by trivy
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

log payloads and duration as an integer
  pkg/cmd/server/defaults.go
Labels: area/cli

dispatch: singleflight expand
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

datastore/crdb: singleflight features
  internal/datastore/crdb/crdb.go
  internal/datastore/proxy/singleflight.go
Labels: area/datastore

datastore/proxy: add singleflight proxy
  internal/datastore/proxy/singleflight.go
  pkg/cmd/server/server.go
Labels: area/cli, area/datastore

do not open a new Spanner client for version checks
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
Labels: area/cli, area/datastore

Add schema watch support in Spanner datastore driver
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/spanner/migrations/zz_migration.0006_register_schema_change_stream.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore

add options for request/response logs
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/tooling

log payloads and duration as an integer
  pkg/cmd/server/defaults.go
Labels: area/cli

implement postgres+pgbouncer as a separate test
  .github/workflows/build-test.yaml
  internal/datastore/postgres/pgbouncer_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  magefiles/test.go
Labels: area/datastore, area/tooling

add gRPC name resolver for AWS CloudMap
  cmd/spicedb/main.go
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/cli, area/dependencies

derive Spanner gRPC connection count from GOMAXPROCS
  internal/datastore/spanner/options.go
Labels: area/datastore

Fix benchmark test for changes in ReadWriteTx
  internal/datastore/benchmark/driver_bench_test.go
Labels: area/datastore, area/tooling

Ensure all datastores return an error if accessed after Close
  internal/datastore/memdb/revisions.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore

Remove support for MySQL v5
  internal/datastore/mysql/datastore_test.go
  internal/testserver/datastore/mysql.go
Labels: area/datastore, area/tooling

introduces flags to set min/max Spanner sessions
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore

Redact any passwords found in datastore config errors
  internal/datastore/common/errors.go
  internal/datastore/crdb/crdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/errors_test.go
Labels: area/datastore, area/tooling

Fix error redaction in MySQL driver
  internal/datastore/common/errors.go
  internal/datastore/mysql/datastore.go
Labels: area/datastore

Fix lint error in error string
  internal/datastore/mysql/datastore.go
Labels: area/datastore

adds flags to enable block and mutex profiles
  pkg/cmd/root.go
  pkg/cmd/server/defaults.go
  pkg/runtime/profiling.go
Labels: area/cli

update to released grpc-health-probe SHA
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

fix Trivy CI failure due to docker vuln
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/dependencies

do not create custom canceled graph error
  internal/graph/check.go
  internal/graph/errors.go
  internal/graph/expand.go
  internal/services/dispatch/v1/acl.go
  internal/services/shared/errors.go
  pkg/development/devcontext.go
Labels: none

Disable prepared statements via pgx config
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Fix new lint error found as result of the linter update
  pkg/cmd/server/middleware.go
Labels: area/cli

Fix flake in Postgres GC revision test by ensuring GC is run
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  pkg/datastore/test/revisions.go
Labels: area/datastore, area/tooling

Fix go.work and go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Fix the caveat expr limit to be processed by our code
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/superlarge.zed
  pkg/schemadsl/parser/tests/superlarge.zed.expected
Labels: area/schema, area/tooling

speed up bulk import ingestion by batching writes
  internal/datastore/memdb/readwrite.go
  tools/analyzers/go.work.sum
Labels: area/datastore

Fix handling of recursive calls via singleflight dispatch
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/permissions.go
  pkg/development/validation.go
  pkg/genutil/mapz/countingmap.go
  pkg/genutil/mapz/countingmap_test.go
  pkg/middleware/requestid/requestid.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dispatch, area/tooling

reproduce dispatch deduplication regression
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  tools/analyzers/go.work.sum
Labels: area/dispatch, area/tooling

fix inefficient singleflight deduplication with bloom filters
  go.mod
  go.sum
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/grouping.go
  internal/services/v1/permissions.go
  pkg/datastore/test/revisions.go
  pkg/development/check.go
  pkg/development/validation.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/dispatch, area/tooling

fix CVE detected by trivy
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/gateway/gateway.go
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
Labels: area/api http, area/cli, area/dependencies

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
