Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

WIP
  cmd/spicedb/restgateway_integration_test.go
Labels: area/cli, area/tooling

WIP
  magefiles/test.go
Labels: none

WIP
  magefiles/test.go
Labels: none

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Decouple validation file parsing from schema file parsing
  internal/datastore/proxy/schemacaching/types.go
  internal/graph/computed/computecheck_test.go
  internal/services/shared/schema.go
  pkg/commonschemadsl/types.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/development/devcontext.go
  pkg/development/resolver.go
  pkg/development/schema.go
  pkg/development/warnings.go
  pkg/diff/namespace/diffexpr_test.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/definition_test.go
  pkg/schema/full_reachability_test.go
  pkg/schema/reachabilitygraph_test.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/development.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemautil/schemautil.go
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/datastore, area/schema, area/tooling

Minimal decoupling of validation file parsing and schema compilation
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/tooling

Add retries to MySQL test DB constructor
  internal/testserver/datastore/mysql.go
Labels: none

Change DB creation to not occur in a transaction
  internal/testserver/datastore/mysql.go
Labels: none

Minimal decoupling of validation file parsing and schema compilation
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/tooling

remove dependency on github.com/hashicorp/go-multierror
  go.mod
  go.sum
  pkg/cmd/server/server.go
Labels: area/cli, area/dependencies

Switch the loader to use the passed-in typeset
  pkg/validationfile/loader.go
Labels: none

Add missing type set pass, add test and rename all defaults
  internal/caveats/debug_test.go
  internal/caveats/run.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/namespace/caveats_test.go
  internal/testfixtures/datastore.go
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/env.go
  pkg/caveats/env_test.go
  pkg/caveats/eval_test.go
  pkg/caveats/structure_test.go
  pkg/caveats/types_test.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator_test.go
  pkg/datastore/test/caveat.go
  pkg/diff/caveats/diff_test.go
  pkg/schema/definition_test.go
  pkg/schema/typesystem_test.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/datastore, area/schema, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/restgateway_integration_test.go
Labels: area/cli, area/tooling

WIP
  magefiles/test.go
Labels: none

Add additional logs to the flaky integration test runner
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  magefiles/test.go
Labels: none

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Fix labels on telemetry metric
  internal/telemetry/metrics.go
  internal/telemetry/metrics_test.go
Labels: area/tooling

Switch experimental column optimizations to be enabled by default
  internal/datastore/crdb/options.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/spanner/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  .github/workflows/build-test.yaml
Labels: area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Export the unique, stable, ID from datastore
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/indexcheck/fakedatastore.go
  internal/datastore/proxy/indexcheck/indexcheck.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Setup defined (and configurable) behavior if a ZedToken from an older datastore is used
  e2e/newenemy/newenemy_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/revisions/commonrevision.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug_test.go
  internal/services/v1/experimental.go
  internal/services/v1/expreflection.go
  internal/services/v1/expreflection_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/reflectionapi.go
  internal/services/v1/reflectionapi_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/defaults_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/development/devcontext.go
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/cli, area/datastore, area/tooling

Change to only store a prefix of the datastore's unique ID in the zedtoken
  internal/services/v1/watch.go
  pkg/middleware/consistency/consistency_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

Disable test of readonly serve-test, as it is making the test server itself flaky
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

add security policy
  SECURITY.md
Labels: none

tighten github workflow scopes
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

fix regression in #2353 - add PR write permissions to labeler action
  .github/workflows/labeler.yaml
Labels: area/tooling

pin github actions
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

pin dockerfile images
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

add ssf badge
  README.md
Labels: area/docs

update cockroachdb and chaosd used in e2e tests
  .github/workflows/build-test.yaml
  e2e/cockroach/cockroach.go
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/version/version.go
Labels: area/datastore, area/tooling

fix custom analyzers skipping all files
  magefiles/lint.go
  tools/analyzers/lendowncastcheck/lendowncastcheck.go
  tools/analyzers/mutexcheck/mutexcheck.go
  tools/analyzers/paniccheck/paniccheck.go
  tools/analyzers/zerologmarshalcheck/zerologmarshalcheck.go
Labels: none

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
