Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Make reachability graph have a stable ordering
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/resourcesubjectsmap_test.go
  internal/namespace/reachabilitygraph.go
Labels: area/dispatch, area/tooling

Add support for cursors on read relationships
  internal/services/v1/errors.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
Labels: area/api v1, area/tooling

Force custom plans in Postgres
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Remove parallel and log to see why test is flaky
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

increase timeout for health check tests
  internal/services/integrationtesting/healthcheck_test.go
Labels: area/tooling

handle nullable information_schema.tables.table_rows
  internal/datastore/mysql/stats.go
Labels: area/datastore

run the test suite for MySQL8 as well
  internal/datastore/mysql/datastore_test.go
  internal/testserver/datastore/mysql.go
Labels: area/datastore, area/tooling

healthcheck test: don't share testing.T with subtests and speed up test
  internal/services/integrationtesting/healthcheck_test.go
Labels: area/tooling

Fix closeafterusage linter for underscores in assign statements
  tools/analyzers/closeafterusagecheck/closeafterusagecheck.go
  tools/analyzers/closeafterusagecheck/testdata/src/notimmediatelyclosed/notimmediatelyclosed.go
Labels: none

internal/services/v1: refactor export tuple iteration to defer close cursors
  internal/services/v1/experimental.go
Labels: area/api v1

internal/services/v1: rename bulkload to bulkimport
  go.mod
  go.sum
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/dependencies, area/tooling

internal/services/v1: add bulk export to the experimental service
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/api v1, area/tooling

go mod tidy
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

internal/services/v1: add descriptions for how bulk export works
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/tooling

internal/services/v1: parameterize default and max batch sizes
  internal/services/v1/experimental.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
Labels: area/api v1

Update CONTRIBUTING with info on mage
  CONTRIBUTING.md
Labels: area/docs

Add ability to query relationships, sorted by subject
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/test/pagination.go
Labels: area/datastore, area/tooling

fix typo in StreamReadTimeout option
  internal/services/v1/experimental.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
Labels: area/api v1

Avoid reallocation of slice in preloaded task runner
  internal/graph/check.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/preloadedtaskrunner_test.go
Labels: area/tooling

Additional SQL tests for order BySubject
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Remove the panic on combineCursor
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/reachableresources.go
Labels: area/tooling

Also remove the possible panics from the cursor updating code
  internal/graph/cursors.go
Labels: none

fix crdb datastore readiness log message
  internal/datastore/crdb/crdb.go
Labels: area/datastore

Add a test to ensure LookupResource cursors are stable across calls
  internal/dispatch/graph/lookupresources_test.go
Labels: area/dispatch, area/tooling

Don't emit a warning for gRPC cancelation
  internal/services/dispatch/v1/acl.go
Labels: none

allow connpool flags to be written as conn-pool
  pkg/cmd/datastore/datastore.go
Labels: area/cli

update authzed-go to bring in schema ZedTokens
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/gateway/gateway.go
Labels: area/api http, area/dependencies, area/dispatch

e2e: update go mod and sum
  e2e/go.mod
  e2e/go.sum
Labels: none

internal/services/v1: return ZedTokens on schema operations
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
Labels: area/api v1, area/tooling

run go run mage.go lint:go
  tools/analyzers/go.work.sum
Labels: none

Use correct error type for duplicate relationships
  internal/services/v1/errors.go
Labels: area/api v1

returns proper error reason for duplicate relationships
  internal/services/v1/errors.go
Labels: area/api v1

enrich with metadata termination-causing errors
  pkg/cmd/server/server.go
Labels: area/cli

make the linter happy
  e2e/cockroach/cockroach.go
Labels: none

introduce termination.Error to support termination-log
  cmd/spicedb/main.go
  go.mod
  go.sum
  pkg/cmd/datastore.go
  pkg/cmd/devtools.go
  pkg/cmd/migrate.go
  pkg/cmd/root.go
  pkg/cmd/serve.go
  pkg/cmd/termination/termination.go
  pkg/cmd/termination/termination_test.go
  pkg/cmd/testing.go
Labels: area/cli, area/dependencies, area/tooling

introduces a flag to define the maximum relationship context size
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/api v1, area/cli, area/dependencies, area/dispatch, area/tooling

Parallelize the entrypoint computation in ReachableResources
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/stream.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/limits.go
  internal/graph/limits_test.go
  internal/graph/lookupresources.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/reachableresources.go
  internal/graph/taskrunner.go
  internal/namespace/reachabilitygraph.go
Labels: area/dispatch, area/tooling

move TerminationError to spiceerrors package
  cmd/spicedb/main.go
  pkg/cmd/server/server.go
  pkg/cmd/termination/termination.go
  pkg/cmd/termination/termination_test.go
  pkg/spiceerrors/termination.go
Labels: area/cli, area/tooling

more robust server defaults using optgen defaults
  cmd/spicedb/main.go
  internal/services/integrationtesting/cert_test.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/cmd/server/server.go
Labels: area/api v1, area/cli, area/tooling

Re-parallelize the checking of resources in LookupResources
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupresources.go
  pkg/util/chunking.go
Labels: area/dispatch, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
