Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

Add watch test for relationship with expiration
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: none

Ensure the canonical representation of expiring rels always uses UTC
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
Labels: area/tooling

Add bulk upload with expiration test
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/readwrite.go
  internal/testfixtures/generator.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
Labels: area/datastore

Add support in Postgres driver for expiration
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/zz_migration.0021_add_expiration_support.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
  pkg/typesystem/typesystem.go
Labels: area/datastore, area/tooling

Add support for rel expiration in memdb and add basic datastore tests
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/datastore

Flip flag on the schema compiler to allow `use expiration` by default
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator_test.go
  pkg/typesystem/typesystem_test.go
Labels: area/schema, area/tooling

Fix metadata map reference in CRDB
  internal/datastore/crdb/crdb.go
Labels: area/datastore

Add support in schema change checking for expiration
  internal/datastore/memdb/readonly.go
  internal/services/shared/schema.go
  internal/services/v1/schema_test.go
  pkg/datastore/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/datastore, area/tooling

Add experimental flag for enabling rel expiration
  internal/services/server.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/development/devcontext.go
  pkg/schemadsl/compiler/compiler.go
Labels: area/api v1, area/cli, area/schema

Further improvement to caveat validation errors for relationship expiration
  internal/relationships/errors.go
  internal/relationships/validation_test.go
Labels: area/tooling

Add expiration into CRDB watch
  internal/datastore/crdb/watch.go
Labels: area/datastore

Add doc comments on expiration filter options
  pkg/datastore/datastore.go
Labels: none

Add arrow expiration consistency test
  internal/services/integrationtesting/testconfigs/arrowoverexpiration.yaml
Labels: none

Add support in CRDB driver for expiration
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/zz_migration.0009_add_expiration_support.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

Add support in MySQL driver for expiration
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/zz_migration.0010_add_expiration.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/watch.go
Labels: area/datastore

Add expired relationship GC to PG and MySQL drivers
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
Labels: area/datastore, area/tooling

Add indexes for relationship expiration GC
  internal/datastore/mysql/migrations/zz_migration.0010_add_expiration.go
  internal/datastore/postgres/migrations/zz_migration.0021_add_expiration_support.go
Labels: area/datastore

Get relationship expiration working in consistency tests end-to-end
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/caveatexpiration.yaml
  internal/services/integrationtesting/testconfigs/expirationwithcaveat.yaml
  internal/services/integrationtesting/testconfigs/indirectrelexpiration.yaml
  internal/services/integrationtesting/testconfigs/relexpiration.yaml
  internal/services/v1/relationships.go
  pkg/namespace/builder.go
Labels: area/api v1, area/tooling

Add support in Spanner driver for expiration
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/migrations/zz_migration.0011_add_expiration_support.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/schema.go
  internal/services/shared/schema.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add expiration to memdb relationship debug string
  internal/datastore/memdb/schema.go
Labels: area/datastore

Enable expiration on bulk import of relationships
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Truncate times to seconds when generating hashes
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
Labels: area/tooling

Add additional rel conversion tests
  pkg/tuple/v1_test.go
Labels: area/tooling

Move constant into const
  pkg/schemadsl/compiler/compiler.go
Labels: area/schema

Add watch filtering for TTL deletes in Spanner
  internal/datastore/spanner/watch.go
Labels: area/datastore

Add missing translation in struct for rel expiration
  pkg/tuple/structs.go
  pkg/tuple/structs_test.go
Labels: area/tooling

Change to use a single `now` for the entire reader in memdb
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readonly.go
Labels: area/datastore

Add filtering for TTL deletes in CRDB
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
Labels: area/datastore

Remove unused method in memdb
  internal/datastore/memdb/schema.go
Labels: area/datastore

Remove RelationDoesNotAllowCaveatsForSubject as it is unused now
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/tooling

Switch rel expiration to use the datastore's clock
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
Labels: area/datastore

Switch number of rels returned on error
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
Labels: area/datastore

remove internal/datasets/subjectsetbytype.go:93:28: unreachable func: SubjectByTypeSet.Len
  internal/datasets/subjectsetbytype.go
Labels: none

remove internal/datastore/crdb/options.go:329:6: unreachable func: DebugAnalyzeBeforeStatistics
  internal/datastore/crdb/options.go
Labels: area/datastore

remove internal/datastore/mysql/options.go:218:6: unreachable func: DebugAnalyzeBeforeStatistics
  internal/datastore/mysql/options.go
Labels: area/datastore

remove internal/datastore/postgres/log_tracer.go:13:25: unreachable func: tracingLogger.Log
  internal/datastore/postgres/log_tracer.go
Labels: area/datastore

internal/datastore/postgres/options.go:341:6: unreachable func: DebugAnalyzeBeforeStatistic
  internal/datastore/postgres/options.go
Labels: area/datastore

remove internal/datastore/postgres/options.go:348:6: unreachable func: WithQueryInterceptor
  internal/datastore/postgres/options.go
Labels: area/datastore

remove internal/datastore/postgres/common/pgx.go:166:6: unreachable func: ConnectWithInstrumentation
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

remove internal/dispatch/combined/combined.go:129:6: unreachable func: RemoteDispatchTimeout
  internal/dispatch/combined/combined.go
Labels: area/dispatch
