Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

remove internal/graph/errors.go:59:6: unreachable func: NewAlwaysFailErr
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:73:34: unreachable func: RelationNotFoundError.NamespaceName
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:78:34: unreachable func: RelationNotFoundError.NotFoundRelationNa
  internal/graph/errors.go
Labels: none

internal/graph/errors.go:82:34: unreachable func: RelationNotFoundError.MarshalZerologObject
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:87:34: unreachable func: RelationNotFoundError.DetailsMetadata
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:95:6: unreachable func: NewRelationNotFoundErr
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:95:6: unreachable func: NewRelationNotFoundErr internal/graph/errors.go:136:6: unreachable func: NewRelationMissingTypeInfoErr
  internal/graph/errors.go
Labels: none

remove internal/graph/errors.go:179:6: unreachable func: NewUnimplementedErr
  internal/graph/errors.go
Labels: none

remove nternal/graph/graph.go:30:24: unreachable func: ExpandResult.ResultError
  internal/graph/graph.go
Labels: none

remove internal/graph/graph.go:38:6: unreachable func: AlwaysFailExpand
  internal/graph/graph.go
Labels: none

Add missing service label check in metrics for consistency
  pkg/middleware/consistency/consistency.go
Labels: none

Add missing wiring of service label through With* methods in options
  pkg/cmd/server/defaults.go
  pkg/cmd/server/defaults_test.go
Labels: area/cli, area/tooling

remove internal/logging/logger.go:39:6: unreachable func: Log
  internal/logging/logger.go
Labels: none

remove internal/logging/logger.go:43:6: unreachable func: Print an internal/logging/logger.go:47:6: unreachable func: Printf
  internal/logging/logger.go
Labels: none

remove internal/middleware/dispatcher/dispatcher.go:28:6: unreachable func: FromContext and internal/middleware/dispatcher/dispatcher.go:38:6: unreachable func: MustFromContext
  internal/middleware/dispatcher/dispatcher.go
Labels: none

remove internal/services/shared/errors.go:109:6: unreachable func: AsValidationError
  internal/middleware/dispatcher/dispatcher.go
  internal/services/shared/errors.go
Labels: none

remove internal/services/shared/interceptor.go:16:50: unreachable func: WithUnaryServiceSpecificInterceptor.UnaryInterceptor
  internal/services/shared/interceptor.go
Labels: none

remove internal/services/v0/developer.go:26:6: unreachable func: RegisterDeveloperServer
  internal/services/v0/developer.go
Labels: area/api v0

remove internal/testfixtures/generator.go:18:6: unreachable func: RandomObjectID
  internal/testfixtures/generator.go
Labels: none

fix /Users/ivan/Documents/GitHub/spicedb/pkg/middleware/dispatcher/dispatcher.go:13:22: undefined: dispatchermw.FromContext
  internal/middleware/dispatcher/dispatcher.go
Labels: none

fix /Users/ivan/Documents/GitHub/spicedb/pkg/schemautil/schemautil.go:31:25: undefined: shared.AsValidationError
  internal/services/shared/errors.go
Labels: none

remove internal/developmentmembership/trackingsubjectset.go:59:32: unreachable func: TrackingSubjectSet.RemoveFrom
  internal/developmentmembership/trackingsubjectset.go
Labels: none

Remove now-unused windows workflow
  .github/workflows/release.yaml
Labels: area/tooling

Have Postgres GC lock so that it only runs on a single node at a time
  go.mod
  go.sum
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/common/locks.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_gc_lock_table.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore, area/dependencies, area/tooling

Add missing index for GC in Postgres
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/zz_migration.0023_add_missing_gc_index.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

Relationships selected in SQL-based datastores should elide columns that have static values
  internal/datastore/common/relationships.go
  internal/datastore/common/sliceiter.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/reader.go
Labels: area/datastore, area/tooling

Skip loading of caveats in SQL when unnecessary
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/dispatch, area/tooling

Add additional testing for column elision
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Add validation test for elision of columns
  internal/datastore/dsfortesting/dsfortesting.go
Labels: area/datastore

Change tests to use a new entrypoint for creating memdb for testing
  internal/caveats/run_test.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/dispatch/combined/combined_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/util_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/preconditions_test.go
  pkg/cmd/server/server_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Move column elision behind an experimental flag
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

Garbage Collection improvements in MySQL and Postgres
  go.mod
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/locks.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_missing_gc_index.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/dependencies, area/tooling

Update tests for expiration filtering
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Move GC tests in PG out of parallel running
  internal/datastore/common/gc.go
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Move GC tests in PG out of parallel running
  internal/datastore/common/gc.go
  internal/datastore/mysql/locks.go
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_index_for_transaction_gc.go
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Increase timeout on GC check in GC test
  pkg/datastore/test/revisions.go
Labels: none

Update Go crypto to v0.31.0 due to a reported vuln in that lib
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

Update grpc health probe for crypto lib fix
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Fix bulk export of relationships with caveats
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Backport changes from #2163 into 1.39.0
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling
