Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Tidy e2e go.mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Add MySQL version file and README.md
  internal/datastore/mysql/README.md
  internal/datastore/mysql/version/version.go
  internal/testserver/datastore/mysql.go
Labels: area/datastore

Add a basic Spanner datastore README.md
  internal/datastore/spanner/README.md
Labels: area/datastore

Clarify that the datastore-revision-quantization-max-staleness-percent is a float value
  pkg/cmd/datastore/datastore.go
Labels: area/cli

Prevent the staleness of an optimized revision from exceeding the gc window
  internal/datastore/revisions/remoteclock.go
  internal/datastore/revisions/remoteclock_test.go
Labels: area/datastore, area/tooling

Reduce memory usage of WriteSchema
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

cmd: deprecate root-level head and migrate
  cmd/spicedb/main.go
  pkg/cmd/datastore.go
  pkg/cmd/root.go
Labels: area/cli

fixes pgx min connection count always being set to max count
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

Use the same default port for the HTTP API across serve and serve-testing
  pkg/cmd/testing.go
Labels: area/cli

Further fixes to flaky Postgres tests
  internal/testserver/datastore/postgres.go
Labels: none

mage: bump markdown lint version
  magefiles/lint.go
Labels: none

README: add logos for acknowledgements
  README.md
Labels: area/docs

README: htmlify, update links
  README.md
Labels: area/docs

spanner: allow spicedb to run with head or head-1 migration
  internal/datastore/spanner/spanner.go
  tools/analyzers/go.work.sum
Labels: area/datastore

Fix small TODO in type system with a small code move
  internal/graph/reachableresources.go
  internal/namespace/util.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  pkg/typesystem/typesystem.go
Labels: area/tooling

Small improvement in tuple package to remove TODO
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/tooling

replace so we don't get advisory failures in the e2e package
  e2e/go.mod
Labels: none

disable revive unused-parameter
  .golangci.yaml
  internal/datastore/crdb/reader.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/watch.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/datastore, area/tooling

replace math/rand usage in requestid middleware
  go.mod
  go.sum
  pkg/middleware/requestid/requestid.go
Labels: area/dependencies

enable gosec G404 and document when why it's ok to use math/rand
  .golangci.yaml
  internal/datastore/common/jitter.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/stats.go
  internal/datastore/revisions/optimized.go
  internal/datastore/spanner/stats.go
  internal/services/v1/experimental_test.go
  internal/telemetry/reporter.go
  internal/testfixtures/generator.go
Labels: area/api v1, area/datastore, area/tooling

skip all steps for matrix jobs when the whole job should be skipped
  .github/workflows/build-test.yaml
Labels: area/tooling

Hide a previously deprecated flag
  pkg/cmd/datastore/datastore.go
Labels: area/cli

Remove duplicate testing code
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

centralize Go version used
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

enable snyk security scanning
  .github/workflows/lint.yaml
  .github/workflows/security.yaml
Labels: area/tooling

VSCode launch config
  .gitignore
  .vscode/launch.json
Labels: area/tooling

Close the parent context in serve_test when complete
  pkg/cmd/serve_test.go
Labels: area/cli, area/tooling

reduces chunking allocations for wide relations
  internal/graph/check.go
  pkg/tuple/onrbytypeset.go
Labels: none

updates cloud spanner lib
  go.mod
  go.sum
Labels: area/dependencies

fix snyk CI
  .github/workflows/security.yaml
Labels: area/tooling

disables Snyk checks
  .github/workflows/security.yaml
Labels: area/tooling

Remove stale TODOs
  internal/datasets/subjectsetbytype.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/revisions.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/spanner/options.go
  internal/dispatch/keys/keys.go
  internal/graph/context.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/dispatch

Fix flake in singleflight test by increasing the run time slightly
  internal/datastore/proxy/schemacaching/standardcaching_test.go
Labels: area/datastore, area/tooling

enables exemplars prometheus support
  go.mod
  go.sum
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
Labels: area/cli, area/dependencies

Fix flake on transaction retry test by specifying a longer timeout
  pkg/datastore/test/transactions.go
Labels: none

Change CRDB driver to use new method for getting transaction timestamp
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/migrations/zz_migration.0005_remove_stats_table.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/stats.go
  internal/testserver/datastore/crdb.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/stats.go
  pkg/datastore/test/tuples.go
Labels: area/cli, area/datastore, area/tooling

goreleaser: init snap
  .goreleaser.yml
Labels: area/tooling

magefiles: add gen:completions
  .gitignore
  magefiles/gen.go
Labels: area/tooling

goreleaser: add completions to release
  .goreleaser.yml
Labels: area/tooling

.github: install snap in workflows
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
Labels: area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
