Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Update tests for expiration filtering
  internal/datastore/common/sql_test.go
  internal/datastore/mysql/datastore.go
Labels: area/datastore, area/tooling

Elide the expiration column and checking when expiration is either disabled or the relationship cannot be marked as expiring
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/graph/check.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  internal/testserver/datastore/config/config.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/cli, area/datastore, area/tooling

Add additional tracing to relationship querying
  internal/datastore/common/relationships.go
Labels: area/datastore

Add testing for expanded comparison logic in SQL builder
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add test for invalid namespace delete to increase datastore coverage
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
Labels: none

Add watch streaming test to CRDB tests
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/readwrite.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

Ensure spanner raises an error when trying to delete an unknown namespace
  internal/datastore/spanner/readwrite.go
Labels: area/datastore

Wire Spanner's logging up to zerolog
  go.mod
  go.sum
  internal/datastore/spanner/spanner.go
Labels: area/datastore, area/dependencies

Move caveat loading into a shared runner to reduce overhead in dispatch
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupresources2.go
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/tooling

Switch datastore tests to use a larger runner
  .github/workflows/build-test.yaml
Labels: area/tooling

Add slightly more information to the LR2 dispatch traces
  internal/dispatch/graph/graph.go
Labels: area/dispatch

Fix casting of type in PG datastore repair query
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore

Tidy e2e
  e2e/go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Ensure datastore containers do not auto-restart
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
Labels: none

Remove parallel running on datastore consistency tests to reduce flakiness
  internal/services/integrationtesting/consistency_datastore_test.go
Labels: area/tooling

Fix the strict read proxy
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
Labels: area/datastore, area/tooling

Add predicate for import all
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Add import all syntax
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/localimport_with_import_all.zed
  pkg/composableschemadsl/parser/tests/localimport_with_import_all.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_with_import_all_and_imports.zed
  pkg/composableschemadsl/parser/tests/localimport_with_import_all_and_imports.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_with_imports_and_import_all.zed
  pkg/composableschemadsl/parser/tests/localimport_with_imports_and_import_all.zed.expected
Labels: area/tooling

Gofumpt
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Implement import all syntax'
  pkg/composableschemadsl/parser/parser.go
Labels: none

Address review feedback
  internal/datastore/common/sql.go
Labels: area/datastore

Export the unique, stable, ID from datastore
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/replicated_test.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Setup defined (and configurable) behavior if a ZedToken from an older datastore is used
  e2e/newenemy/newenemy_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/revisions/commonrevision.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug_test.go
  internal/services/v1/experimental.go
  internal/services/v1/expreflection.go
  internal/services/v1/expreflection_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/defaults_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/development/devcontext.go
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/cli, area/datastore, area/tooling

Change to only store a prefix of the datastore's unique ID in the zedtoken
  internal/services/v1/watch.go
  pkg/middleware/consistency/consistency_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

ReadBulkRelationships init
  internal/services/v1/hash.go
  internal/services/v1/relationships.go
Labels: area/api v1

Add a node ID to debug tracing and spans
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/services/v1/debug.go
  pkg/cmd/server/defaults.go
  pkg/middleware/nodeid/nodeid.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/cli, area/dispatch

Add support for debug tracing to CheckBulkPermission API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/computed/computecheck_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/debug.go
  internal/services/v1/debug_test.go
  internal/services/v1/grouping.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/tooling

Add additional testing for column elision
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Skip loading of caveats in SQL when unnecessary
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/dispatch, area/tooling

Change tests to use a new entrypoint for creating memdb for testing
  internal/caveats/run_test.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/dispatch/combined/combined_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/util_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/preconditions_test.go
  pkg/cmd/server/server_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Relationships selected in SQL-based datastores should elide columns that have static values
  internal/datastore/common/relationships.go
  internal/datastore/common/sliceiter.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/reader.go
Labels: area/datastore, area/tooling

Update tests for expiration filtering
  internal/datastore/common/sql_test.go
  internal/datastore/mysql/datastore.go
Labels: area/datastore, area/tooling

Add validation test for elision of columns
  internal/datastore/dsfortesting/dsfortesting.go
Labels: area/datastore

Move column elision behind an experimental flag
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

Implement a combined builder pattern for relationship SQL construction
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore, area/tooling

Elide the expiration column and checking when expiration is either disabled or the relationship cannot be marked as expiring
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/graph/check.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  internal/testserver/datastore/config/config.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/cli, area/datastore, area/tooling

Move column count logic into helpers
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
Labels: area/datastore

Address review feedback on SQL generator
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/zz_generated.schema_options.go
  internal/datastore/crdb/crdb.go
Labels: area/datastore, area/tooling

Add testing for expanded comparison logic in SQL builder
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add additional tracing to relationship querying
  internal/datastore/common/relationships.go
Labels: area/datastore

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
