Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

.github: add job dependencies
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
Labels: area/tooling

Don't call ObserveDuration more than one in the observable proxy
  internal/datastore/proxy/observable.go
Labels: area/datastore

.github: merge lint and build-test workflows
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
Labels: area/tooling

.github: bump Go patch release
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

crdb: don't allow relationship counters to go negative
  internal/datastore/crdb/stats.go
Labels: area/datastore

pkg/datastore: fix typo in godoc
  pkg/datastore/datastore.go
Labels: none

.github: bump core count for most jobs
  .github/workflows/build-test.yaml
Labels: area/tooling

Fix handling of NULL caveats in Postgres watch
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/watch.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

make datastore metrics more representative of the actual underlying datastore
  pkg/cmd/server/server.go
Labels: area/cli

e2e mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

tidy analyzer go.work.sum
  tools/analyzers/go.work.sum
Labels: none

Move the diff library into pkg for use by external tooling
  internal/services/shared/schema.go
  pkg/diff/caveats/diff.go
  pkg/diff/caveats/diff_test.go
  pkg/diff/namespace/diff.go
  pkg/diff/namespace/diff_test.go
Labels: area/tooling

.github: try warpcloud for single threaded perf
  .github/workflows/build-test.yaml
Labels: area/tooling

schemadsl/compiler: optionally skip validation
  internal/graph/computed/computecheck_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/namespace.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/blocks/schema.go
Labels: area/api v1, area/schema, area/tooling

Make sure to clone metadata in LR before changing
  internal/graph/checkingresourcestream.go
Labels: none

fixes datastore command not using the `spicedb` prefix
  pkg/cmd/datastore.go
Labels: area/cli

update singleflight library to address race
  go.mod
  go.sum
Labels: area/dependencies

decorate spans when they are cached or singleflighted
  internal/dispatch/caching/caching.go
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

fixes regression in Schema Watch led schema caching
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/schemacaching/caching.go
  pkg/cmd/datastore.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
Labels: area/cli, area/datastore, area/tooling

fixes regression in compiler.Compile() contract
  internal/graph/computed/computecheck_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/namespace.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/blocks/schema.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/schema, area/tooling

Add an integration test for schema watch
  cmd/spicedb/schemawatch_integration_test.go
  cmd/spicedb/serve_integration_test.go
  internal/datastore/proxy/schemacaching/caching.go
Labels: area/cli, area/datastore, area/tooling

Remove WatchSchema and adjust existing Watch API in prep for a combined Watch API supporting rels, schema and checkpoints
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/context.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/watch.go
  internal/services/v1/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/watch.go
Labels: area/api v1, area/datastore, area/tooling

Add support for schema updates and checkpoint updates to:
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/spanner/migrations/zz_migration.0007_register_combined_change_stream.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/errors.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

Allow for configuration of the checkpoint heartbeat in watch and wire up schema watch to use the command line flag for all supported datastores
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/datastore/datastore.go
  pkg/datastore/errors.go
Labels: area/cli, area/datastore, area/tooling

Use logger from context in RedactAndLogSensitiveConnString
  internal/datastore/common/errors.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/errors_test.go
Labels: area/cli, area/datastore, area/tooling

Some refactoring and add migration to remove old changestreams in Spanner
  internal/datastore/common/changes_test.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/migrations/zz_migration.0008_delete_older_changestreams.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  internal/services/server.go
  internal/services/v1/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
Labels: area/api v1, area/cli, area/datastore, area/tooling

Move to Go 1.21.5 for external vuln fixed in crypto lib
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Run go get -u golang.org/x/crypto/...
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

Update grpc-health-probe
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Ignore the source position when diffing permission expressions
  pkg/diff/namespace/diff.go
  pkg/diff/namespace/diff_test.go
  pkg/namespace/builder.go
Labels: area/tooling

authenticate with docker to raise rate-limits
  .github/workflows/build-test.yaml
Labels: area/tooling

fixes CRDB datastore not reporting proper GRPC codes
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool/slqerrors.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

.github: use public-read-only docker account
  .github/workflows/build-test.yaml
Labels: area/tooling

internal/datastore/spanner: force subject ID index
  internal/datastore/common/sql.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
Labels: area/datastore

pkg/proto: upgrade vtprotobuf to support WKTs
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tools.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
Labels: area/dependencies

Remove encoding.BinaryMarshaler from datastore.Revision as it appears to no longer be used
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
  pkg/datastore/datastore.go
Labels: area/datastore

Update e2e test
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

Switch to using CRDB's decimal library, which reduce memory
  go.mod
  go.sum
  internal/datastore/common/changes_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
  internal/datastore/revisions/timestamprevision.go
Labels: area/datastore, area/dependencies, area/tooling

tidy e2e mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Fix flakiness of HLC changes test
  internal/datastore/common/changes_test.go
Labels: area/datastore, area/tooling
