Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Update grpc health probe for crypto lib fix
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Update Go crypto to v0.31.0 due to a reported vuln in that lib
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

Change GC test to always call GC directly
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/revisions.go
Labels: area/datastore, area/tooling

Add GC run test
  pkg/datastore/test/datastore.go
  pkg/datastore/test/revisions.go
Labels: none

Add basic steelthread tests for bulk import and export of relationships
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/operations.go
  internal/services/steelthreadtesting/steelresults/basic-import-export-results.yaml
  internal/services/steelthreadtesting/steelresults/filtered-import-export-results.yaml
  internal/services/steelthreadtesting/testdata/basic-import-export-relationships.txt
  internal/services/steelthreadtesting/testdata/document-with-a-few-relationships.yaml
Labels: none

Add steelthread tests to CI and to `mage test:all`
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

Add additional tests to the datastore consistency test suite
  internal/services/integrationtesting/consistency_datastore_test.go
Labels: area/tooling

Fix name of test suite for DS consistency tests
  .github/workflows/build-test.yaml
Labels: area/tooling

Deparallelize the steelthread tests to hopefully remove the flakiness
  internal/services/steelthreadtesting/steelthread_test.go
Labels: area/tooling

pkg/cmd: add metric for logical checks
  pkg/cmd/server/defaults.go
Labels: area/cli

Add support for bulk check in steelthread test
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/operations.go
  internal/services/steelthreadtesting/steelresults/basic-bulk-checks-basic-bulk-checks-results.yaml
  internal/services/steelthreadtesting/steelresults/bulk-checks-with-traits-bulk-checks-results.yaml
  internal/services/steelthreadtesting/testdata/document-with-traits.yaml
Labels: none

Improve test coverage of memdb datastore with some new rel tests
  internal/datastore/memdb/errors_test.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add additional testing for column elision
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Add validation test for elision of columns
  internal/datastore/dsfortesting/dsfortesting.go
Labels: area/datastore

Relationships selected in SQL-based datastores should elide columns that have static values
  internal/datastore/common/relationships.go
  internal/datastore/common/sliceiter.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/reader.go
Labels: area/datastore, area/tooling

Skip loading of caveats in SQL when unnecessary
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/dispatch, area/tooling

Change tests to use a new entrypoint for creating memdb for testing
  internal/caveats/run_test.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/dispatch/combined/combined_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/util_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/preconditions_test.go
  pkg/cmd/server/server_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Implement a combined builder pattern for relationship SQL construction
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore, area/tooling

Update tests for expiration filtering
  internal/datastore/common/sql_test.go
  internal/datastore/mysql/datastore.go
Labels: area/datastore, area/tooling

Move column elision behind an experimental flag
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

Elide the expiration column and checking when expiration is either disabled or the relationship cannot be marked as expiring
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/graph/check.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  internal/testserver/datastore/config/config.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/cli, area/datastore, area/tooling

Add testing for expanded comparison logic in SQL builder
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add some additional datastore tests to improve coverage
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: none

Add tracing to the LR2 implementation
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/graph/resourcesubjectsmap2.go
Labels: none

Update net lib for reported Go library vulnerability
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

Update net lib for reported Go library vulnerability
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

Add some additional datastore tests to improve coverage
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: none

Add tracing to the LR2 implementation
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/graph/resourcesubjectsmap2.go
  pkg/typesystem/reachabilitygraph.go
Labels: none

Add caveated bulk load test to datastore tests
  internal/testfixtures/generator.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
Labels: none

Add testing for expanded comparison logic in SQL builder
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add option to enable query parameters to appear in traces
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
Labels: area/cli, area/datastore

Prototype: optimize caveat deserialization to avoid rerunning it during latency-sensitive operations
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupresources2.go
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/tooling

Fix typo in name of errors file
  internal/datastore/crdb/pool/sqlerrors.go
Labels: area/datastore

Relationships selected in SQL-based datastores should elide columns that have static values
  internal/datastore/common/relationships.go
  internal/datastore/common/sliceiter.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/reader.go
Labels: area/datastore, area/tooling

Add additional testing for column elision
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Change tests to use a new entrypoint for creating memdb for testing
  internal/caveats/run_test.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/dispatch/combined/combined_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/util_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/preconditions_test.go
  pkg/cmd/server/server_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Skip loading of caveats in SQL when unnecessary
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/dispatch, area/tooling

Add validation test for elision of columns
  internal/datastore/dsfortesting/dsfortesting.go
Labels: area/datastore

Move column elision behind an experimental flag
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

Implement a combined builder pattern for relationship SQL construction
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/common/schema_options.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
