Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

tidy e2e mod
  e2e/go.sum
Labels: none

tidy e2e mod
  e2e/go.mod
  e2e/go.sum
Labels: none

format analyzers go.work.sum
  tools/analyzers/go.work.sum
Labels: none

tidy e2e mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Add basic micro benchmarks for Set operations
  pkg/genutil/mapz/set_test.go
Labels: area/tooling

Switch namespace diff to use the shared set type
  pkg/diff/namespace/diff.go
Labels: none

Add ONRSet tests and optimize a bit
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
Labels: area/tooling

Switch from Add to Insert where the return value is not used
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/resourcesubjectsmap.go
  internal/namespace/util.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/shared/schema.go
  internal/services/v1/debug_test.go
  internal/testutil/subjects.go
  pkg/cmd/server/middleware.go
  pkg/datastore/test/watch.go
Labels: area/api v1, area/cli, area/dispatch, area/tooling

Optimize the set implementation
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  pkg/genutil/mapz/countingmap.go
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
Labels: area/datastore, area/tooling

Lint fixes
  pkg/diff/namespace/diff.go
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
Labels: area/tooling

Add Union and Merge to Set
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
Labels: area/tooling

expose revision parsing function for tests
  pkg/datastore/revisionparsing/revisionparsing.go
Labels: none

datastore/spanner: space separate forced index
  internal/datastore/spanner/reader.go
Labels: area/datastore

Watch revision checkpoints using memdb datastore
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

Add timeout to watch buffers
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/datastore.go
  pkg/datastore/test/watch.go
Labels: area/cli, area/datastore

Switch HLC to use to int64s as storage
  internal/datastore/revisions/hlcrevision.go
Labels: area/datastore

Add HLC benchmark tests
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

Add interface for extracting the underlying integer(s) from a revision for more efficient storage
  internal/datastore/revisions/commonrevision.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
Labels: area/datastore

Test fix for HLC parsing change
  internal/datastore/common/changes_test.go
  internal/datastore/proxy/schemacaching/intervaltracker_test.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  pkg/zedtoken/zedtoken_test.go
Labels: area/datastore, area/tooling

Switch from a [2]int64 to a struct with an int64 and a uint32, which saves a few bytes
  internal/datastore/revisions/commonrevision.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
Labels: area/datastore

makes less verbose CRDB connection balacer
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/pool.go
Labels: area/datastore

compiler: adds a helper method to require any object type prefix
  pkg/schemadsl/compiler/compiler.go
Labels: area/schema

Respect dispatch concurrency limits for clusterdispatch
  pkg/cmd/server/server.go
Labels: area/cli

Have spiceerrors.MustBugf contain the full stack trace of the bug
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/spiceerrors/bug.go
Labels: area/dependencies

Add some invalid schema tests as per a recently reported error
  internal/services/v1/schema_test.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/invalid_perm_name.zed
  pkg/schemadsl/parser/tests/invalid_perm_name.zed.expected
Labels: area/api v1, area/schema, area/tooling

Add invalid permission tests onto the various permissions APIs
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

Change telemetry failure to a warning and have Postgres check for its unique ID on startup
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/stats.go
  pkg/cmd/server/server.go
Labels: area/cli, area/datastore

fix broken v1alpha gRPC reflection support
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/middleware/consistency/consistency.go
Labels: area/dependencies

implements schema watch support for MemDB
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/watch.go
  internal/datastore/revisions/commonrevision.go
Labels: area/datastore, area/tooling

increase gc time in newenemy test
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

Add additional logging to e2e
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

Ensure NewForHLC returns an error if the incoming decimal is invalid
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
  pkg/zedtoken/zedtoken_test.go
Labels: area/datastore, area/tooling

Fix NewForHLC for unpadded strings
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

Add additional datastore revision tests
  pkg/datastore/test/datastore.go
  pkg/datastore/test/revisions.go
Labels: none

WIP: Try to remove PG GC flakes
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

Fix typo in datastore
  pkg/datastore/datastore.go
Labels: none

Add a retry to PG connections to reduce test flakiness
  internal/testserver/datastore/postgres.go
Labels: none

Update runc dependency for reported vuln in runc
  go.mod
  go.sum
Labels: area/dependencies

Tidy e2e go.mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Tidy e2e go.mod
  e2e/go.mod
  e2e/go.sum
Labels: none
