Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Add subject filters in schema relation delete to force use of the index
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

Add subject filters in schema relation delete to force use of the index
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

Fix MySQL test breakage caused by daylight savings change
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

add a flag to allow spicedb to run against non-head migrations
  internal/datastore/common/migrations.go
  internal/datastore/common/migrations_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  tools/analyzers/go.work.sum
Labels: area/cli, area/datastore, area/tooling

bump max connections for PG tests
  internal/testserver/datastore/postgres.go
Labels: none

issue a checkpoint when head revision moved outside an application transaction
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

Relationships selected in SQL-based datastores should elide columns that have static values
  internal/datastore/common/relationships.go
  internal/datastore/common/sliceiter.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/reader.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Skip loading of caveats in SQL when unnecessary
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/dispatch, area/tooling

Add additional testing for column elision
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Change tests to use a new entrypoint for creating memdb for testing
  internal/caveats/run_test.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/dispatch/combined/combined_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/computed/computecheck_test.go
  internal/graph/hints/checkhints_test.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/namespace/util_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/v1/preconditions_test.go
  pkg/cmd/server/server_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader_test.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/tooling

Add validation test for elision of columns
  internal/datastore/dsfortesting/dsfortesting.go
Labels: area/datastore

Move column elision behind an experimental flag
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/dsfortesting/dsfortesting.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

postgres watch: checkpoints should move the high watermark revision
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

Add lexer changes for relationship expiration support
  pkg/schemadsl/lexer/flaggablelexer.go
  pkg/schemadsl/lexer/flaggablelexer_test.go
  pkg/schemadsl/lexer/flags.go
  pkg/schemadsl/lexer/peekable_lex.go
Labels: area/schema, area/tooling

Add basic parser support for `with expiration` on subject types
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/caveatstype.zed.expected
  pkg/schemadsl/parser/tests/expirationnonkeyword.zed
  pkg/schemadsl/parser/tests/expirationnonkeyword.zed.expected
  pkg/schemadsl/parser/tests/invaliduse.zed
  pkg/schemadsl/parser/tests/invaliduse.zed.expected
  pkg/schemadsl/parser/tests/invaliduseexpiration.zed
  pkg/schemadsl/parser/tests/invaliduseexpiration.zed.expected
  pkg/schemadsl/parser/tests/multipleslashes.zed.expected
  pkg/schemadsl/parser/tests/superlarge.zed.expected
  pkg/schemadsl/parser/tests/useafterdef.zed
  pkg/schemadsl/parser/tests/useafterdef.zed.expected
  pkg/schemadsl/parser/tests/useexpiration.zed
  pkg/schemadsl/parser/tests/useexpiration.zed.expected
  pkg/schemadsl/parser/tests/useexpirationkeyword.zed
  pkg/schemadsl/parser/tests/useexpirationkeyword.zed.expected
Labels: area/schema, area/tooling

Add support to the schema compiler for the new expiration trait
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

Add support to the schema generator for the new expiration trait
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_impl.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/schema, area/tooling

adds index to support efficient querying of Watch API
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
Labels: area/datastore

Add explicit option to enable expiration in schema
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/schema, area/tooling

Type system changes for first-class expiration support
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/tooling

Add support to the core and tuple packages for relationship expiration
  go.mod
  go.sum
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/errors.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/graph/cursors.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  pkg/development/devcontext.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/tuple/comparison.go
  pkg/tuple/comparison_test.go
  pkg/tuple/core.go
  pkg/tuple/core_test.go
  pkg/tuple/hashing.go
  pkg/tuple/parsing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/strings.go
  pkg/tuple/structs.go
  pkg/tuple/v1.go
  pkg/validationfile/blocks/relationships.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/datastore, area/dependencies, area/tooling

Update github.com/opencontainers/runc for reported vuln in that lib
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

Ensure caveats are read in bulk import
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

Capture and fix cache bug
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
Labels: area/datastore, area/tooling

Update comment
  internal/datastore/proxy/schemacaching/standardcache.go
Labels: area/datastore

Add one more test for mixed valid/invalid
  internal/datastore/proxy/schemacaching/standardcaching_test.go
Labels: area/datastore, area/tooling

repro: namespace/caveat changes cause an incorrect delete event
  pkg/datastore/test/watch.go
Labels: none

fix: namespace/caveat changes cause an incorrect delete event
  internal/datastore/postgres/watch.go
Labels: area/datastore

Tidy
  e2e/go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Remove duplicate clause from namespace deletion in PG driver
  internal/datastore/postgres/readwrite.go
Labels: area/datastore

Changes to address flaky DB tests
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

Remove parallel from MySQL tests as well, to hopefully fix flakes
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Remove t.Parallel from pgbouncer tests to fix flakes
  internal/datastore/postgres/pgbouncer_test.go
Labels: area/datastore, area/tooling

Add support for expiration on rels in validation
  internal/relationships/validation.go
  internal/relationships/validation_test.go
Labels: area/tooling

Add write rels test for expiring relationship
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Lower watch buffer size to ensure timeout is hit
  pkg/datastore/test/watch.go
Labels: none

Remove new indexes, as per internal discussion to revisit later
  internal/datastore/crdb/migrations/zz_migration.0009_add_expiration_support.go
  internal/datastore/mysql/migrations/zz_migration.0010_add_expiration.go
  internal/datastore/postgres/migrations/zz_migration.0021_add_expiration_support.go
Labels: area/datastore

Add counter test over expiring and expired relationships
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
Labels: none

Make sure *all* queries used in the query builder are filtered by rel expiration
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

Fix typo
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
