Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Refactor slice chunking using slices.Chunk (Go 1.23); add tests for edge cases
  pkg/genutil/slicez/chunking.go
  pkg/genutil/slicez/chunking_test.go
Labels: area/tooling

Remove subject check for deleted definitions in schema
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/datastore/spanner/indexes.go
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

revert PR #2382
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/cli, area/dependencies, area/tooling

add partial syntax support in schemadsl pkg
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/parser/parser.go
Labels: area/schema

add gcp share store
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/cli, area/dependencies, area/tooling

Handle both kinds of cancelation errors in test, part 2
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

collect unit test coverage for codecov to work
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

include integration tests in code coverage
  .github/workflows/build-test.yaml
  codecov.yaml
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: area/tooling

add codecov badge
  README.md
Labels: area/docs

Have streaming dispatches also report to the metric whether they use the primary or secondary dispatcher
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add maximum secondary dispatch wait and fix name of wait metric
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add configurable primary hedging delay
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_benchmark_test.go
  internal/dispatch/remote/cluster_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

Add additional unit tests for the development package
  pkg/development/assertions_test.go
  pkg/development/check_test.go
  pkg/development/devcontext_test.go
  pkg/development/parsing_test.go
  pkg/development/schema_test.go
  pkg/development/validation_test.go
  pkg/development/warnings_misc_test.go
Labels: area/tooling

update codecov.yaml
  codecov.yaml
Labels: none

Add additional unit tests to preshared key package
  internal/auth/presharedkey_test.go
Labels: area/tooling

Add unit test for running main SpiceDB binary
  cmd/spicedb/main.go
  cmd/spicedb/main_test.go
Labels: area/cli, area/tooling

Add unit test for running main SpiceDB binary
  cmd/spicedb/main.go
  cmd/spicedb/main_test.go
Labels: area/cli, area/tooling

add development container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create-command.sh
  README.md
Labels: area/docs

migrate Separating context proxy to stdlib context.WithoutCancel()
  internal/datastore/context.go
Labels: area/datastore

do context severing with stdlib context.WithoutCancel()
  internal/datastore/proxy/schemacaching/standardcache.go
Labels: area/datastore

Implement a new cursorediterator library for defining cursor-based iterator trees that also handle context, errors and cancelation transparently.
  internal/cursorediterator/basics.go
  internal/cursorediterator/basics_test.go
  internal/cursorediterator/blocks.go
  internal/cursorediterator/blocks_test.go
  internal/cursorediterator/cursor.go
  internal/cursorediterator/cursor_test.go
  internal/cursorediterator/doc.go
  internal/cursorediterator/integration_test.go
  internal/cursorediterator/primitives.go
  internal/cursorediterator/primitives_test.go
  internal/cursorediterator/testhelpers.go
Labels: area/tooling

update cockroachdb and chaosd used in e2e tests
  .github/workflows/build-test.yaml
  e2e/cockroach/cockroach.go
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/version/version.go
Labels: area/datastore, area/tooling

Add additional unit tests for the caveat replacer package
  pkg/caveats/replacer/replacer.go
  pkg/caveats/replacer/replacer_test.go
Labels: area/tooling

Add additional unit tests for the caveats package
  internal/caveats/builder_test.go
  internal/caveats/debug_test.go
  internal/caveats/errors_test.go
  internal/caveats/run_test.go
Labels: area/tooling

Add additional testing for perfinsights middleware
  internal/middleware/perfinsights/perfinsights_test.go
Labels: area/tooling

Add tests for the pertoken middleware
  internal/middleware/pertoken/pertoken_test.go
Labels: area/tooling

fix: Check not returning correct response when caveats are used
  internal/developmentmembership/membership.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/services/integrationtesting/testconfigs/multibranchcaveatwitharrows.yaml
  internal/services/integrationtesting/testconfigs/multibranchcaveatwithintersectionarrows.yaml
Labels: area/dispatch, area/tooling

Have streaming dispatches also report to the metric whether they use the primary or secondary dispatcher
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add maximum secondary dispatch wait and fix name of wait metric
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add configurable primary hedging delay
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_benchmark_test.go
  internal/dispatch/remote/cluster_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

Add additional testing for releases package
  pkg/releases/cli.go
  pkg/releases/cli_test.go
  pkg/releases/releases.go
  pkg/releases/releases_test.go
  pkg/releases/versions_test.go
Labels: area/tooling

Add additional testing for telemetry package
  internal/telemetry/logicalchecks_test.go
  internal/telemetry/metrics_test.go
  internal/telemetry/reporter_test.go
Labels: area/tooling

Fix the kind of the logical checks telemetry
  TELEMETRY.md
  internal/telemetry/metrics.go
Labels: none

Rename the telemetry metric back, as fixing its type didn't break anything
  TELEMETRY.md
  internal/telemetry/metrics.go
Labels: none

[schema] add type-checking test
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

include alternative check that includes subrelations
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

finish tests
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

lints
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

rename and fix comment
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

attach the typechecking to typesystem instead of graph -- it didn't require graph and there's an unrelated bug discovered
  pkg/schema/arrows.go
  pkg/schema/full_reachability.go
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
