Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

fix incorrect signature in WASM stub
  internal/dispatch/keys/hasher_ristretto.go
  internal/dispatch/keys/hasher_wasm.go
  internal/dispatch/keys/keys.go
Labels: area/dispatch

change bloom filter in proto from string to bytes
  internal/dispatch/keys/computed.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/computed/computecheck.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/dispatch, area/tooling

test bloom filter is propagated through dispatchers
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
Labels: area/dispatch, area/tooling

PR feedback: do not clone dispatch request and modify in place
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
Labels: area/dispatch, area/tooling

PR feedback: do not panic on service controllers
  internal/dispatch/singleflight/singleflight.go
  internal/graph/checkingresourcestream.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/dispatch

export bloom filter factory method
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/grouping.go
  internal/services/v1/permissions.go
  pkg/datastore/test/revisions.go
  pkg/development/check.go
  pkg/development/validation.go
  pkg/graph/resolvermeta/resolvermeta.go
Labels: area/api v1, area/dispatch, area/tooling

less conservative bloom filter P value
  internal/dispatch/singleflight/singleflight_test.go
  pkg/graph/resolvermeta/resolvermeta.go
Labels: area/dispatch, area/tooling

Update OTEL for a recently reported vuln in OTEL
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

rename field to better convey intent
  pkg/graph/resolvermeta/resolvermeta.go
Labels: none

update command with the correct bloom filter P value
  pkg/graph/resolvermeta/resolvermeta.go
Labels: none

PR feedback: move everything to dispatch package
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/computed/computecheck.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/permissions.go
  pkg/datastore/test/revisions.go
  pkg/development/validation.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/02_resolvermeta.go
  pkg/proto/dispatch/v1/02_resolvermeta_test.go
Labels: area/api v1, area/dispatch, area/tooling

added singleflight expand test
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
Labels: area/dispatch, area/tooling

use internal/logging instead of zerolog global logger
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental.go
Labels: area/api v1, area/datastore

adds a fallback in case the traversal bloom is not present
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
Labels: area/dispatch, area/tooling

clone request
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

Revert "clone request"
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

actually instantiate the singleflight proxy
  internal/datastore/proxy/singleflight.go
Labels: area/datastore

Add missing combined recursive test case
  internal/dispatch/combined/combined_test.go
Labels: area/dispatch, area/tooling

Add additional expand canonical key tests
  internal/dispatch/keys/computed_test.go
Labels: area/dispatch, area/tooling

docker: use AWS ECR mirror for library images
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

datastore tests: use AWS ECR docker library mirror
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
Labels: none

do not panic on these execution paths
  internal/services/v1/permissions.go
Labels: area/api v1

return error if traversal key is empty
  pkg/proto/dispatch/v1/02_resolvermeta.go
Labels: none

this is an unexpected error so use MustBugf
  pkg/proto/dispatch/v1/02_resolvermeta.go
Labels: none

do not double singleflight cluster dispatches
  internal/dispatch/cluster/cluster.go
Labels: area/dispatch

log as debug possible loops, and log key
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

log messages for possibly loop on singleflight dispatch
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

Remove parallelization of PG tests and see if that fixes flakes
  internal/datastore/postgres/pgbouncer_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

Add a `datastore repair` command for revisions from Postgres backups
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  pkg/cmd/datastore.go
  pkg/datastore/datastore.go
  tools/analyzers/go.work.sum
Labels: area/cli, area/datastore, area/dependencies, area/tooling

Disable the default GC process in PG GC tests
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Fix gc next interval not being reset
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
Labels: area/datastore, area/tooling

crdb: fix watch error: %!s(<nil>)
  internal/datastore/crdb/watch.go
Labels: area/datastore

use git SHA for vuln fix in grpc-health-probe
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

use git SHA for vuln fix in grpc-health-probe
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

bulk import: reduce allocations by allocation a value buffer
  internal/datastore/postgres/common/bulk.go
Labels: area/datastore

adds missing observability for Watch API
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

Fix race condition when accessing metrics in common/gc_test
  internal/datastore/common/gc_test.go
Labels: area/datastore, area/tooling

Formatting - move gcDeleter type below fakeGC in common/gc_test
  internal/datastore/common/gc_test.go
Labels: area/datastore, area/tooling

Fix common/gc backoff initialization
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
Labels: area/datastore, area/tooling

.github: move runners onto ubicloud
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling
