Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

welcome docker compose for running spicedb with postgres
  .gitignore
  magefiles/datastore.go
  postgres-datastore.yaml
Labels: area/tooling

welcome initial tenancy integration test case, purpose is for debugging
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

welcome tenant id column migration
  internal/datastore/postgres/migrations/zz_migration.0023_add_tenant_id_column.go
Labels: area/datastore

apply tenantID when writing relationships
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/tenantid.go
  pkg/tuple/structs.go
Labels: area/datastore

add some logging
  internal/datastore/postgres/readwrite.go
  internal/services/integrationtesting/tenancy_test.go
Labels: area/datastore, area/tooling

Change the postgres migrations in two ways:
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
  internal/datastore/postgres/migrations/zz_migration.0021_add_expiration_column.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_expiration_index.go
  internal/datastore/postgres/migrations/zz_migration.0023_add_index_for_transaction_gc.go
Labels: area/datastore

welcome tenantid interceptor
  internal/datastore/postgres/tenantid.go
  internal/services/integrationtesting/tenancy_test.go
  pkg/cmd/server/defaults.go
  pkg/middleware/tenantid/tenantid.go
Labels: area/cli, area/datastore, area/tooling

add call to read relationships in order to debug through the relevant queries
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

apply tenant id filter on the reader query
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/zz_generated.schema_options.go
  internal/datastore/postgres/reader.go
Labels: area/datastore

add schemaFile to ValidationFile
  pkg/validationfile/fileformat.go
  pkg/validationfile/fileformat_test.go
Labels: area/tooling

test coverage for cross tenant read write
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

welcome test case to surface tenancy in read relationships path
  go.mod
  go.sum
  internal/datastore/common/sql.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/tenantid.go
  internal/datastore/proxy/observable.go
  internal/services/integrationtesting/tenancy_test.go
  pkg/middleware/tenantid/tenantid.go
Labels: area/datastore, area/dependencies, area/tooling

ensure the reader can resolve the tenant id column, and the reader ctx comes with the injected tenant id
  internal/datastore/common/schema.go
  internal/datastore/context.go
  internal/datastore/postgres/postgres.go
  pkg/middleware/tenantid/tenantid.go
Labels: area/datastore

test coverage for check permission
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

test coverage for CheckBulkPermissions
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

build to run the tenancy tests
  .github/workflows/build-tenancy-test.yaml
Labels: area/tooling

welcome lookup resources test
  .github/workflows/build-tenancy-test.yaml
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

set env vars
  .github/workflows/build-tenancy-test.yaml
Labels: area/tooling

use correct command
  .github/workflows/build-tenancy-test.yaml
Labels: area/tooling

increase tenancy coverage for read endpoints
  internal/services/integrationtesting/tenancy_test.go
Labels: area/tooling

dispatch with tenanted context
  internal/dispatch/remote/cluster.go
  pkg/cmd/server/server.go
  pkg/middleware/tenantid/tenantid.go
Labels: area/cli, area/dispatch

ensure tenantID is set when dispatching lookup requests
  internal/datastore/postgres/reader.go
  internal/dispatch/remote/cluster.go
  internal/graph/context.go
Labels: area/datastore, area/dispatch

ensure tenant id in ctx for lookup subjects
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

use postgres 16
  postgres-datastore.yaml
Labels: none

welcome database metrics
  postgres-datastore.yaml
Labels: none

Setup defined (and configurable) behavior if a ZedToken from an older datastore is used
  e2e/newenemy/newenemy_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/revisions/commonrevision.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug_test.go
  internal/services/v1/experimental.go
  internal/services/v1/expreflection.go
  internal/services/v1/expreflection_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/defaults_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/development/devcontext.go
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/cli, area/datastore, area/tooling

Change to only store a prefix of the datastore's unique ID in the zedtoken
  internal/services/v1/debug_test.go
  internal/services/v1/watch.go
  pkg/middleware/consistency/consistency_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

Export the unique, stable, ID from datastore
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/replicated_test.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

filter by tenant id first
  internal/datastore/postgres/reader.go
Labels: area/datastore

use tenant id when resolving cache keys
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/keys.go
Labels: area/dispatch, area/tooling

add index on tenant id
  internal/datastore/postgres/migrations/zz_migration.0023_add_tenant_id_column.go
Labels: area/datastore

fix up the migration
  internal/datastore/postgres/migrations/zz_migration.0023_add_tenant_id_column.go
Labels: area/datastore

implement flag for spanner
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

docs for spicedb
  .github/workflows/docs.yaml
  cmd/spicedb/main.go
  magefiles/gen.go
  magefiles/go.mod
  magefiles/go.sum
  pkg/cmd/root.go
Labels: area/cli, area/tooling

mage gen:proto with upgraded protobuf
  pkg/cmd/root.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
Labels: area/cli

upgrade go to fix CVE
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Ensure that deferred replication fallback errors are handled properly on QueryRelationships and ReverseQueryRelationships iterators in the strict read mode proxy
  internal/datastore/proxy/replicated.go
  internal/datastore/proxy/replicated_test.go
Labels: area/datastore, area/tooling

Implement parsing of partials syntax
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/nonsense_top_level_block.zed
  pkg/composableschemadsl/parser/tests/nonsense_top_level_block.zed.expected
  pkg/composableschemadsl/parser/tests/partials.zed
  pkg/composableschemadsl/parser/tests/partials.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_block.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_block.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_reference.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_reference.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_reference_splat.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_reference_splat.zed.expected
Labels: area/tooling

Reorganize the read replica proxies
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/datastore, area/tooling

Switch namespace read call in Check to simplify
  internal/graph/check.go
Labels: none

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
