Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Address review feedback
  internal/datastore/common/sql.go
Labels: area/datastore

Address further feedback:
  internal/datastore/common/relationships.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/stats.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/common/pgx.go
  internal/graph/check.go
  internal/graph/check_isolated_test.go
  internal/services/v1/permissions_test.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/spiceerrors/assert_off.go
  pkg/spiceerrors/assert_on.go
Labels: area/api v1, area/datastore, area/tooling

Ensure source is returned for all check debug traces
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/lr2streams.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/permissions_test.go
  pkg/middleware/nodeid/nodeid.go
Labels: area/api v1, area/dispatch, area/tooling

Implement consumeTestObject
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/parser/parser.go
Labels: none

Checkpoint;
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser.go
Labels: none

Use opaque brace expression instead of caveat context
  pkg/composableschemadsl/compiler/development_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

Add new keywords
  pkg/composableschemadsl/lexer/lex_def.go
Labels: none

Add new node types and predicates
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Add caveat expression consumption
  pkg/composableschemadsl/parser/parser.go
Labels: none

Add new node types and annotations
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Finish first pass of parser implementation
  pkg/composableschemadsl/parser/parser.go
Labels: none

Add some tests and regen
  pkg/composableschemadsl/parser/tests/basiccaveat.zed.expected
  pkg/composableschemadsl/parser/tests/caveatwithkeywordparam.zed.expected
  pkg/composableschemadsl/parser/tests/complexcaveat.zed.expected
  pkg/composableschemadsl/parser/tests/invalidcaveatexpr.zed.expected
  pkg/composableschemadsl/parser/tests/multipleslashes.zed.expected
  pkg/composableschemadsl/parser/tests/superlarge.zed.expected
  pkg/composableschemadsl/parser/tests/test_happy_path.zed
  pkg/composableschemadsl/parser/tests/test_happy_path.zed.expected
  pkg/composableschemadsl/parser/tests/test_relation_malformed_object.zed
  pkg/composableschemadsl/parser/tests/test_relation_malformed_object.zed.expected
  pkg/composableschemadsl/parser/tests/test_relation_missing_object.zed
  pkg/composableschemadsl/parser/tests/test_relation_missing_object.zed.expected
  pkg/composableschemadsl/parser/tests/test_relation_missing_relation.zed
  pkg/composableschemadsl/parser/tests/test_relation_missing_relation.zed.expected
  pkg/composableschemadsl/parser/tests/test_relation_missing_subject.zed
  pkg/composableschemadsl/parser/tests/test_relation_missing_subject.zed.expected
  pkg/composableschemadsl/parser/tests/unclosedcaveat.zed.expected
Labels: none

Add a references dir
  pkg/composableschemadsl/references/README.md
  pkg/composableschemadsl/references/test_syntax_with_caveats.zed
Labels: none

Add 'for' syntax for assertions
  pkg/composableschemadsl/references/test_syntax_with_caveats.zed
Labels: none

Add tests to list
  pkg/composableschemadsl/parser/parser_test.go
Labels: area/tooling

Add updates from most recent conversation
  pkg/composableschemadsl/references/test_syntax_with_caveats.zed
Labels: none

Gofumpt
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Remove a todo
  pkg/composableschemadsl/references/test_syntax_with_caveats.zed
Labels: none

Add all the new keywords
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
Labels: area/tooling

Update test assertion parsing with new syntax
  pkg/composableschemadsl/parser/parser.go
Labels: none

Add expiration to the list of keywords
  pkg/composableschemadsl/lexer/lex_def.go
Labels: none

Gofumpt
  pkg/composableschemadsl/lexer/lex_def.go
Labels: none

Add expiration time and format
  pkg/composableschemadsl/dslshape/dslshape.go
Labels: none

Implement remaining caveat syntax
  pkg/composableschemadsl/parser/parser.go
Labels: none

Change unlock call to a unshared context in GC
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
Labels: area/datastore, area/tooling

Switch postgres to use a set and return an error if a duplicate caveat name is given
  internal/datastore/postgres/caveat.go
Labels: area/datastore

Disable retries on the serialization test for PG
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Remove sleep in stats test unless needed
  pkg/datastore/test/stats.go
Labels: none

added tests
  internal/services/v1/hash_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

gofmt
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Re-enable parallel testing of consistency datastore tests
  internal/services/integrationtesting/consistency_datastore_test.go
Labels: area/tooling

Switch postgres tests to run in a matrix of versions
  .github/workflows/build-test.yaml
  internal/datastore/postgres/pgbouncer_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/version/version.go
  internal/testserver/datastore/datastore.go
  magefiles/test.go
  magefiles/util.go
Labels: area/datastore, area/tooling

Don't hold a connection to the postgres instance after creating the DB
  internal/testserver/datastore/postgres.go
Labels: none

Change node ID to use a hash of the hostname
  pkg/middleware/nodeid/nodeid.go
Labels: none

Move trace ID generation into a single function
  internal/graph/check.go
  internal/graph/traceid.go
  internal/services/v1/bulkcheck.go
Labels: area/api v1

Delete LookupResources v1, ReachableResources and all helper code
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/lookupresources.go
  internal/graph/lookupresources2.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap2.go
  internal/graph/resourcesubjectsmap_test.go
  internal/services/dispatch/v1/acl.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/dispatch, area/tooling

Increase max number of retries on flaky test
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Add postgres to the consistency tests to generate consistent test names
  .github/workflows/build-test.yaml
Labels: area/tooling

Change feature detection for CRDB watch to not require waiting
  internal/datastore/crdb/crdb.go
Labels: area/datastore

welcome build docker image workflow
  .github/workflows/build-spicedb-docker-image.yaml
Labels: area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
