Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github: add missing permissions to nightly
  .github/workflows/nightly.yaml
Labels: area/tooling

split into two goreleaser files
  .github/workflows/nightly.yaml
  nightly.goreleaser.yml
Labels: area/tooling

Add Postgres integration tests when commit_timestamp is not enabled
  internal/datastore/postgres/postgres_test.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Add explicit tests to ensure namespace and caveats not found return the expected errors
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
Labels: none

Add common interface for not found errors in datastore
  pkg/datastore/errors.go
Labels: none

Break out ListAllCaveats and LookupCaveatsWithNames to mirror the namespace methods
  internal/datastore/crdb/caveat.go
  internal/datastore/memdb/caveat.go
  internal/datastore/mysql/caveat.go
  internal/datastore/postgres/caveat.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/caveat.go
  internal/relationships/validation.go
  internal/services/shared/schema.go
  internal/services/v1/debug.go
  internal/services/v1/schema.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/test/caveat.go
Labels: area/api v1, area/datastore

Rename LookupNamespaces and ListNamespaces
  internal/dashboard/dashboard.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/stats.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/services/shared/schema.go
  internal/services/v1/debug.go
  internal/services/v1/schema.go
  internal/testfixtures/validating.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/api v1, area/cli, area/dashboard, area/datastore

Add caching of caveats and of the Lookup calls
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/estimatedsize_test.go
  internal/datastore/proxy/proxy_test/mock.go
  pkg/validationfile/loader.go
Labels: area/datastore, area/tooling

Change namespace and caveat list methods to return both the definition and the last updated revision
  internal/dashboard/dashboard.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/stats.go
  internal/relationships/validation.go
  internal/services/shared/schema.go
  internal/services/v1/debug.go
  internal/services/v1/schema.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/datastore.go
  pkg/datastore/stats.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/namespace.go
  pkg/datastore/util.go
Labels: area/api v1, area/dashboard, area/datastore

Fixes after rebase
  pkg/cmd/datastore/datastore_test.go
Labels: area/cli, area/tooling

Rename ReadNamespace to ReadNamespaceByName to match caveat function name
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/graph.go
  internal/namespace/resolver.go
  internal/namespace/util.go
  internal/services/v1/schema_test.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/api v1, area/datastore, area/dispatch, area/tooling

Change LookupResources to use the task runner to ensure its workers are canceled when the context is canceled
  internal/graph/parallelchecker.go
Labels: none

Add stream timeout to dispatch
  internal/services/dispatch/v1/acl.go
Labels: none

Add timeout on dispatched API calls to ensure they are all eventually terminated
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch

Add streaming API timeout interceptor to V1 APIs
  internal/middleware/streamtimeout/streamtimeout.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
Labels: area/api v1

Fix streamtimeout and add tests for it and remote dispatch timeout
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  internal/middleware/streamtimeout/streamtimeout.go
  internal/middleware/streamtimeout/streamtimeout_test.go
  internal/services/v1/errors.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/api v1, area/cli, area/dispatch, area/tooling

.github: use 8 cores for codeql
  .github/workflows/lint.yaml
Labels: area/tooling

.github: use authzed/actions/setup-go
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

change release notes update mode
  .goreleaser.yml
Labels: area/tooling

fix linter error
  .goreleaser.yml
Labels: area/tooling

pkg/cache: implement a central collector
  internal/dispatch/caching/caching.go
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cache/metrics.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
Labels: area/cli, area/dispatch

makes dispatch metrics toggleable
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

make cache collector unregister on close
  pkg/cache/cache_ristretto.go
  pkg/cache/metrics.go
Labels: none

Remove experimental flag for caveats
  internal/services/server.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
  pkg/development/devcontext.go
Labels: area/api v1, area/cli

Change caveats run to bulk lookup the caveats definitions
  internal/caveats/run.go
Labels: none

Remove now-unused caveats flag
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli

makes default GC 1h
  internal/datastore/crdb/options.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore

Fix MySQL parseTime check to use the DSN lib
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

improve error message and add link to spicebd.dev
  internal/datastore/crdb/crdb.go
Labels: area/datastore

adds caveats to AppliedSchemaChanges
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

fix spanner telemetry collection
  internal/datastore/spanner/stats.go
Labels: area/datastore

does not return an error if GC windows aren't aligned
  internal/datastore/crdb/crdb.go
Labels: area/datastore

Move to Golang 1.19.6 to bring some security fixes
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

fix linter error and vuln
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/consistent/hashring_test.go
Labels: area/dependencies, area/tooling

Use the shared relationships validation in dev package
  internal/relationships/validation.go
  pkg/development/devcontext.go
  pkg/development/internal.go
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

Fix two typos in README.md
  README.md
Labels: area/docs

Have validation for WriteRelationships batch load namespaces
  internal/relationships/validation.go
Labels: none

add executed sql to trace event in mysql datastore
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

more sql trace events
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/revisions.go
Labels: area/datastore

.
  internal/datastore/mysql/reader.go
  internal/datastore/proxy/observable.go
Labels: area/datastore

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
