Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

Add index definitions and query shape support to schema and query options
  internal/datastore/common/index.go
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/zz_generated.schema_options.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Add first query shape to Check
  internal/graph/check.go
Labels: none

Get end-to-end checking working for Postgres
  internal/datastore/common/index.go
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/debug.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/debug.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/debug.go
  internal/datastore/postgres/debug_test.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_expiration_index.go
  internal/datastore/postgres/migrations/zz_migration.0024_add_new_forward_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0025_add_new_reverse_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0026_drop_old_indexes.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/indexutil.go
  internal/datastore/postgres/schema/schema.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/indexcheck.go
  internal/graph/check.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore, area/tooling

Wire the new query options through the datastores
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
Labels: area/datastore

Address review feedback on index checking
  internal/datastore/common/index_test.go
  internal/datastore/common/relationships.go
  internal/datastore/common/relationships_test.go
  internal/datastore/common/schema_test.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/debug.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/mysql/debug.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/indexcheck.go
  internal/datastore/proxy/indexcheck_test.go
  internal/datastore/proxy/strictreplicated_test.go
  internal/datastore/spanner/reader.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
Labels: area/datastore, area/tooling

log hedger wait
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

do not use hardcoded delay offset and switch to p90
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

Add additional trace logs
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Schema Change Events via Watch API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testserver/server.go
Labels: area/api v1, area/dependencies, area/tooling

add more resolution to hedger wait histogram
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

add metrics to see if primary dispatch executed or cancelled
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Try with p95 to see if it gives us the sweet spot for cancelation ratio
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

measure duration of the CEL expression used for the secondary
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

incorrect labelling of primary dispatch cancelation
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Reduce flakiness of the stats test
  pkg/datastore/test/stats.go
Labels: none

Fix MySQL test
  internal/datastore/mysql/debug_test.go
Labels: area/datastore, area/tooling

Improve performance of CEL handling in secondary dispatch
  internal/dispatch/remote/expr.go
  internal/dispatch/remote/expr_test.go
Labels: area/dispatch, area/tooling

Add secondary dispatcher benchmark
  internal/dispatch/remote/cluster_benchmark_test.go
Labels: area/dispatch, area/tooling

Add guard for nil response
  pkg/proto/dispatch/v1/00_zerolog.go
Labels: none

change API shape and tests
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
Labels: area/api v1, area/dependencies, area/tooling

upload coverage to codecov
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

add unit tests for ConvertWatchKindToContent
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
Labels: area/api v1, area/tooling

remove deprecated tenv linter
  .golangci.yaml
  internal/services/integrationtesting/cert_test.go
  pkg/cmd/datastore/datastore_test.go
  pkg/cmd/termination/termination_test.go
Labels: area/cli, area/tooling

add buf format to lint:extra
  magefiles/lint.go
  proto/internal/core/v1/core.proto
  proto/internal/developer/v1/developer.proto
Labels: none

Try with p95 to see if it gives us the sweet spot for cancelation ratio
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add guard for nil response
  pkg/proto/dispatch/v1/00_zerolog.go
Labels: none

Switch tdigest lib due to occasional panics in the other library on ARM
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_benchmark_test.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dependencies, area/dispatch, area/tooling

incorrect labelling of primary dispatch cancelation
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add secondary dispatcher benchmark
  internal/dispatch/remote/cluster_benchmark_test.go
Labels: area/dispatch, area/tooling

Add additional trace logs
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

measure duration of the CEL expression used for the secondary
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Add test that will panic if the primary is not canceled
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

log hedger wait
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Make delays configurable for testing
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

Clean up the logs a bit in secondary dispatching
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

add metric for the secondary dispatch computed t-digest wait duration
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

fix panic with a fork with the fix
  go.mod
  go.sum
Labels: area/dependencies

Restructure context cancelation in secondary dispatch hedging to be more fine-grained and cancel sooner
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

add more resolution to hedger wait histogram
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Improve performance of CEL handling in secondary dispatch
  internal/dispatch/remote/expr.go
  internal/dispatch/remote/expr_test.go
Labels: area/dispatch, area/tooling
