Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Change CRDB datastore to use a combined deletion query, rather than a query per relationship
  internal/datastore/crdb/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

Add optional limit on DeleteRelationships calls in the datastore
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.delete_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/api v1, area/datastore

Switch delete relationships API to use the new limit-ed DeleteRelationships call
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

adds OpenTelemetry TraceID to logs
  pkg/cmd/server/defaults.go
Labels: area/cli

chunking correctness: add repro for DispatchCheck
  internal/dispatch/graph/check_test.go
Labels: area/dispatch, area/tooling

reproduce integer overflow in ForEachChunk
  pkg/genutil/slicez/chunking_test.go
Labels: area/tooling

fixes integer overflow in ForEachChunk
  pkg/genutil/slicez/chunking.go
Labels: none

address PR feedback
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  pkg/genutil/slicez/chunking_test.go
Labels: area/dispatch, area/tooling

reproduce integer overflow in ForEachChunk
  pkg/genutil/slicez/chunking_test.go
Labels: area/tooling

chunking correctness: add repro for DispatchCheck
  internal/dispatch/graph/check_test.go
Labels: area/dispatch, area/tooling

fixes integer overflow in ForEachChunk
  pkg/genutil/slicez/chunking.go
Labels: none

address PR feedback
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  pkg/genutil/slicez/chunking_test.go
Labels: area/dispatch, area/tooling

goreleaser: add snap completion
  .goreleaser.yml
Labels: area/tooling

cmd: add man generation command
  cmd/spicedb/main.go
  go.mod
  go.sum
Labels: area/cli, area/dependencies

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

Add // nolint: staticcheck to Spanner deprecated calls
  internal/datastore/spanner/spanner.go
Labels: area/datastore

Tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

spanner: allow spicedb to run with head or head-1 migration
  internal/datastore/spanner/spanner.go
  tools/analyzers/go.work.sum
Labels: area/datastore

Ensure that invalid versions do not cause a nil panic
  pkg/releases/cli.go
  pkg/releases/versions.go
  pkg/releases/versions_test.go
Labels: area/tooling

Update protobuf version for reported CVE in protobuf lib
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

Ensure that invalid versions do not cause a nil panic
  pkg/releases/cli.go
  pkg/releases/versions.go
  pkg/releases/versions_test.go
Labels: area/tooling

Update protobuf version for reported CVE in protobuf lib
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

update go version to 1.22.1
  Dockerfile
  Dockerfile.release
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

Ensure SpiceDB release versions are semver
  .github/workflows/release.yaml
Labels: area/tooling

Fix and remove downcasts
  internal/datasets/subjectset_test.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/services/shared/schema.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/caveats/types/registration.go
  pkg/genutil/ensure.go
  pkg/genutil/ensure_test.go
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
Labels: area/api v1, area/datastore, area/tooling

Add linter
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/lendowncastcheck/lendowncastcheck.go
  tools/analyzers/lendowncastcheck/lendowncastcheck_test.go
  tools/analyzers/lendowncastcheck/testdata/src/lenexamples/lenexamples.go
Labels: area/tooling

Set maximum bulk check size
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
Labels: area/api v1

fix: delete options not being passed
  internal/datastore/proxy/observable.go
Labels: area/datastore

chore: add tests for observable proxy
  internal/datastore/memdb/memdb.go
  internal/datastore/proxy/observable_test.go
Labels: area/datastore, area/tooling

fix: reference to changed variable
  internal/datastore/memdb/revisions_test.go
Labels: area/datastore, area/tooling

Debug migrate command in VSCode
  .vscode/launch.json
Labels: none

Update gRPC health probe version for recent Go vulns
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Have caveat diffs properly check if an expression has changed
  pkg/caveats/compile.go
  pkg/diff/caveats/diff.go
  pkg/diff/caveats/diff_test.go
Labels: area/tooling

Add extended relationships filtering to bulk export API
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/tooling

Add extended relationships filtering to read relationships and delete relationships APIs
  internal/services/v1/errors.go
  internal/services/v1/preconditions.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Add support for extended relationship filtering in all datastores
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/spanner/readwrite.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/services/shared/schema.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/preconditions.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/tuples.go
Labels: area/api v1, area/datastore, area/tooling

Update buf and API version for new relationships filters
  go.mod
  go.sum
Labels: area/dependencies

Add extended relationships filtering to watch API
  e2e/go.mod
  e2e/go.sum
  internal/datastore/common/sql.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/api v1, area/datastore, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
