Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

improve coverage to past cover tests
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

revert helpful change to get coverage up
  pkg/schema/arrows.go
  pkg/schema/full_reachability.go
Labels: none

Add additional unit tests to the indexcheck package
  internal/datastore/proxy/indexcheck/fakedatastore_test.go
  internal/datastore/proxy/indexcheck/indexcheck_test.go
  internal/datastore/proxy/indexcheck/queryshapevalidators_test.go
Labels: area/datastore, area/tooling

Add an additional unit test for the main function
  cmd/spicedb/main_test.go
Labels: area/cli, area/tooling

add artificial compilation error
  internal/graph/check.go
Labels: none

add gcp share store
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
  tools/analyzers/go.work.sum
Labels: area/api v0, area/cli, area/dependencies, area/tooling
