Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

more robust nil caveat context handling for Spanner
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/caveat_test.go
Labels: area/datastore, area/tooling

update to grpc-middleware v2 rc5
  go.mod
  go.sum
  internal/datastore/crdb/pool/pool.go
  internal/middleware/usagemetrics/usagemetrics.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/middleware/logging/context.go
Labels: area/api v1, area/cli, area/datastore, area/dependencies

restores the streaming otel middleware
  go.mod
  go.sum
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server_test.go
Labels: area/cli, area/dependencies, area/tooling

don't use the init context for crdb pool initialization
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/crdb/crdb.go
Labels: area/datastore, area/dependencies

gentuil/mapz: move Set type, impl ZeroLogMarshal
  internal/caveats/diff.go
  internal/caveats/run.go
  internal/datastore/memdb/caveat.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed_test.go
  internal/graph/lookupsubjects.go
  internal/graph/resourcesubjectsmap.go
  internal/namespace/diff.go
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
  internal/namespace/util.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/shared/schema.go
  internal/services/v1/debug_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  internal/testutil/subjects.go
  pkg/caveats/compile.go
  pkg/caveats/structure.go
  pkg/cmd/server/middleware.go
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
  pkg/schemadsl/compiler/translator.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema, area/tooling

*: s/stringz.SliceContains/slices.Contains
  cmd/spicedb/migrate_integration_test.go
  internal/datastore/memdb/readonly.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
  pkg/validationfile/blocks/expectedrelations.go
  tools/analyzers/exprstatementcheck/exprstatementcheck.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/nilvaluecheck/nilvaluecheck.go
Labels: area/cli, area/datastore, area/schema, area/tooling

genutil/slicez: rehome chunking logic
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupsubjects.go
  pkg/genutil/slicez/chunking.go
  pkg/genutil/slicez/chunking_test.go
  pkg/validationfile/loader.go
Labels: area/tooling

pkg/genutil/slicez: init
  internal/graph/check.go
  pkg/genutil/slicez/unique.go
  pkg/genutil/slicez/unique_test.go
  pkg/tuple/onrbytypeset.go
Labels: area/tooling

genutil/mapz: init
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/lookupsubjects.go
  internal/graph/resourcesubjectsmap.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  pkg/genutil/mapz/multimap.go
  pkg/genutil/mapz/multimap_test.go
Labels: area/tooling

Fix flakiness of LR test around duplicate caveated results
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

Deduplicate entrypoints for reachability graph
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
Labels: area/dispatch, area/tooling

Update e2e mod
  e2e/go.mod
  e2e/go.sum
Labels: none

Update to latest grpc and grpcutil
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

Update generated protocol buffers
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: none

Update e2e mod
  e2e/go.mod
  e2e/go.sum
Labels: none

crdb: stats should use follower reads
  internal/datastore/crdb/stats.go
  pkg/datastore/test/stats.go
Labels: area/datastore

Reenable support of deleting caveats relationships without specifying the caveat
  internal/relationships/validation.go
  internal/relationships/validation_test.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/development/devcontext.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

add missing Rows.close()
  internal/datastore/postgres/watch.go
Labels: area/datastore

fixes memory leak in pgx
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

updates to pgx 5.4.2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

update to building with go 1.20.6 to fix vuln reports
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

bump grpc health probe to v0.4.19
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

Fixing a bug in the comment
  cmd/spicedb/main.go
Labels: area/cli

Fixing a bug in the comment
  cmd/spicedb/main.go
Labels: area/cli

Fixing a bug in the comment
  cmd/spicedb/main.go
Labels: area/cli

Fix flakiness in hedging test
  internal/datastore/proxy/hedging_test.go
Labels: area/datastore, area/tooling

Have remote dispatches be counted in the dispatch count
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

fixes incorrect usage of backoff in GC
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/services/health/health.go
  internal/telemetry/reporter.go
Labels: area/datastore, area/tooling

update analyzers
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: none

scan goreleaser nightly image with trivy
  .github/workflows/lint.yaml
  .goreleaser.yml
  Dockerfile
Labels: area/dependencies, area/tooling

adds a lint:trivy command to mage
  magefiles/alias.go
  magefiles/build.go
  magefiles/deps.go
  magefiles/gen.go
  magefiles/lint.go
  magefiles/test.go
Labels: none

Remove unused usersets splitting from datastore interface
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  internal/testfixtures/validating.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/cli, area/datastore, area/tooling

Remove the old "dashboard" from SpiceDB
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  internal/dashboard/dashboard.go
  internal/services/integrationtesting/cert_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/util/util.go
Labels: area/cli, area/dashboard, area/tooling

move as many tools as possible into the mage module
  go.mod
  go.sum
  magefiles/deps.go
  magefiles/gen.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/lint.go
  magefiles/test.go
  magefiles/tools.go
  magefiles/util.go
  tools.go
  tools/analyzers/go.work.sum
Labels: area/dependencies

Update CEL to v0.17.1 and use new env.PartialVars and types.Unknown to properly get missing variables from caveat expression execution
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
Labels: area/dependencies, area/tooling

Switch from AnyType (which represents the *proto* Any type) to DynType, which is equivalent to the *Go* any type
  pkg/caveats/types/basic.go
  pkg/caveats/types/map.go
Labels: none

Ensure that the properly typed parameters environment is passed to the CEL deserialization, to be used by expression evaluation
  internal/caveats/run.go
  internal/graph/computed/computecheck_test.go
  internal/namespace/caveats.go
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
  pkg/caveats/types/encoding.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator.go
  tools/analyzers/go.work.sum
Labels: area/schema, area/tooling

Enable optional types support in caveats
  pkg/caveats/env.go
  pkg/caveats/eval_test.go
Labels: area/tooling

Change IP Address type to opaque, since it doesn't export anything besides its one method
  pkg/caveats/types/ipaddress.go
Labels: none

Change deprecated CEL function call
  pkg/caveats/types/ipaddress.go
Labels: none

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
