Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

tracing ux: enrich query relationships span
  internal/datastore/proxy/observable.go
Labels: area/datastore

tracing ux: show dispatch subproblem in span name
  internal/dispatch/graph/graph.go
Labels: area/dispatch

tracing ux: add target to dispatch reachable resources name
  internal/dispatch/graph/graph.go
Labels: area/dispatch

tracing ux: add target to lookup subjects name
  internal/dispatch/graph/graph.go
Labels: area/dispatch

datastore/*: singleflight HeadRevision
  internal/datastore/crdb/crdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/stats.go
  internal/datastore/spanner/watch.go
Labels: area/datastore, area/tooling

datastore/*: prefer Do over DoChan
  internal/datastore/crdb/crdb.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/revisions.go
Labels: area/datastore

middleware/consistency: fix source of atLeast
  internal/middleware/consistency/consistency.go
Labels: none

propagates gRPC errors in graph
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/graph_test.go
  internal/graph/errors.go
  internal/services/dispatch/v1/acl.go
Labels: area/dispatch, area/tooling

tracing ux: enriches traversal operations
  internal/graph/check.go
Labels: none

spanner: revert optimistic concurrency control
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
Labels: area/datastore

disable spanner's gzip compression
  internal/datastore/spanner/spanner.go
Labels: area/datastore

add events to row iterator
  internal/datastore/spanner/reader.go
Labels: area/datastore

disable spanner's gzip compression
  internal/datastore/spanner/spanner.go
Labels: area/datastore

return status error instead of original error
  internal/services/dispatch/v1/acl.go
Labels: none

singleflight dispatch middleware
  go.mod
  go.sum
  internal/middleware/singleflight/singleflight.go
  internal/middleware/singleflight/singlegflight_test.go
  internal/services/shared/hash.go
  internal/services/shared/hash_nonwasm.go
  internal/services/shared/hash_wasm.go
  internal/services/v1/hash.go
  pkg/cmd/server/defaults.go
Labels: area/api v1, area/cli, area/dependencies, area/tooling

singleflight dispatch middleware
  go.mod
  go.sum
  internal/middleware/singleflight/singleflight.go
  internal/middleware/singleflight/singlegflight_test.go
  internal/services/shared/hash.go
  internal/services/shared/hash_nonwasm.go
  internal/services/shared/hash_wasm.go
  internal/services/v1/hash.go
  pkg/cmd/server/defaults.go
Labels: area/api v1, area/cli, area/dependencies, area/tooling

add events to row iterator
  internal/datastore/spanner/reader.go
Labels: area/datastore

implement as a dispatcher instead of middleware
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singlegflight_test.go
  internal/middleware/singleflight/singleflight.go
  pkg/cmd/server/defaults.go
Labels: area/cli, area/dispatch, area/tooling

return status error instead of original error
  internal/services/dispatch/v1/acl.go
Labels: none

implement as a dispatcher instead of middleware
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singlegflight_test.go
  internal/middleware/singleflight/singleflight.go
  pkg/cmd/server/defaults.go
Labels: area/cli, area/dispatch, area/tooling

fixup
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

Add a map of revision parsing functions by engine kind
  internal/datastore/memdb/memdb.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  pkg/datastore/revision/decimal.go
  pkg/datastore/revisionparsing/revisionparsing.go
Labels: area/datastore, area/tooling

Add support for experimental secondary dispatching
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  internal/dispatch/remote/expr.go
  internal/dispatch/remote/expr_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dispatch, area/tooling

Add a golden unit test for parser associativity
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/associativity.zed
  pkg/schemadsl/parser/tests/associativity.zed.expected
Labels: area/schema, area/tooling

Have diff of namespaces and caveats report changes to comments
  internal/caveats/diff.go
  internal/caveats/diff_test.go
  internal/namespace/diff.go
  internal/namespace/diff_test.go
  pkg/namespace/builder.go
Labels: area/tooling

use key.Handler instead of bespoke API hashing
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singlegflight_test.go
Labels: area/dispatch, area/tooling

introduces an index to speed up Watch API calls
  internal/datastore/mysql/migrations/zz_migration.0007_watch_api_rel_tuple_index.go
Labels: area/datastore

return status error instead of original error
  internal/services/dispatch/v1/acl.go
Labels: none

singleflight dispatch middleware
  go.mod
  go.sum
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singlegflight_test.go
Labels: area/dependencies, area/dispatch, area/tooling

enables scheduler metrics
  cmd/spicedb/main.go
  pkg/runtime/metrics.go
Labels: area/cli

Revert "add prometheus metric for spanner elapsed time"
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore

log quantized revision in RemoteClockRevisions
  internal/datastore/common/revisions/remoteclock.go
Labels: area/datastore

add prometheus metric for spanner elapsed time
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore

expose spanner OpenCensus metrics as Prometheus metrics
  go.mod
  go.sum
  internal/datastore/spanner/spanner.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies

add client side open-telemetry Spanner tracing
  internal/datastore/spanner/spanner.go
Labels: area/datastore

datastore: use context.WithoutCancel to sever context
  internal/datastore/context.go
Labels: area/datastore

spanner: sever datastore context cancellation
  internal/datastore/spanner/spanner.go
Labels: area/datastore

datastore: use context.WithoutCancel to sever context
  internal/datastore/context.go
Labels: area/datastore

spanner: sever datastore context cancellation
  internal/datastore/spanner/spanner.go
Labels: area/datastore

do not open a new Spanner client for version checks
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
Labels: area/cli, area/datastore
