Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Start on queryshape validation during index checking
  internal/datastore/proxy/indexcheck.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Fill out the remainder of the index tracking and query shapes
  internal/datastore/crdb/crdb_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/indexcheck.go
  internal/datastore/proxy/indexcheck_test.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupresources2.go
  internal/graph/lookupsubjects.go
  internal/services/shared/schema.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/preconditions.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/datastore, area/tooling

Address review feedback
  internal/datastore/common/schema_test.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/indexcheck/fakedatastore.go
  internal/datastore/proxy/indexcheck/indexcheck.go
  internal/datastore/proxy/indexcheck/indexcheck_test.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/graph/check.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/shared/schema.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore, area/tooling

put error checks before accessing return values
  internal/dispatch/dispatch.go
  internal/dispatch/graph/check_test.go
  pkg/datastore/test/namespace.go
Labels: area/dispatch, area/tooling

Use golangci-lint v2
  .github/workflows/lint.yaml
  .golangci.yaml
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/stats.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/expand.go
  internal/services/health/health.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/taskrunner.go
  magefiles/lint.go
  pkg/caveats/context_hash.go
  pkg/cmd/migrate.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/datastore/test/watch.go
  pkg/development/schema.go
  pkg/schema/reachabilitygraph.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/structs.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema, area/tooling

Ensure the Postgres read-write tx uses the TX for the reader
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

internal/datastore/pg: server-side loop for repair
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Start on queryshape validation during index checking
  internal/datastore/proxy/indexcheck.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Add support for index hinting and enable forced indexes on CRDB
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/zz_generated.schema_options.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/schema.go
  internal/datastore/proxy/indexcheck.go
  internal/services/shared/schema.go
  magefiles/test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Fill out the remainder of the index tracking and query shapes
  internal/datastore/crdb/crdb_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/indexcheck.go
  internal/datastore/proxy/indexcheck_test.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupresources2.go
  internal/graph/lookupsubjects.go
  internal/services/shared/schema.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/preconditions.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/datastore, area/tooling

Address review feedback
  internal/datastore/common/schema_test.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/indexcheck/fakedatastore.go
  internal/datastore/proxy/indexcheck/indexcheck.go
  internal/datastore/proxy/indexcheck/indexcheck_test.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/graph/check.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/shared/schema.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

Add option to disable watch
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore

internal/datastore/pg: template repair batch size
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Force indexes on Spanner and change subject sort order to match index
  internal/datastore/spanner/indexes.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Force indexes on Postgres and change subject sort order to match index
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/schema.go
Labels: area/datastore

introduces a flag to relax postgres isolation level
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore

Disable preconditions when isolation level is relaxed
  pkg/cmd/server/server.go
Labels: area/cli

postgres: optimize CheckRevision query
  internal/datastore/postgres/revisions.go
Labels: area/datastore

Use golangci-lint v2
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .golangci.yaml
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/stats.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/expand.go
  internal/services/health/health.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/taskrunner.go
  magefiles/lint.go
  pkg/caveats/context_hash.go
  pkg/cmd/migrate.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/datastore/test/watch.go
  pkg/development/schema.go
  pkg/schema/reachabilitygraph.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/structs.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema, area/tooling

Further optimize the cases when transaction metadata is written in CRDB
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/readwrite.go
Labels: area/datastore, area/tooling

Add logical checks telemetry
  internal/services/v1/bulkcheck.go
  internal/services/v1/permissions.go
  internal/telemetry/logicalchecks.go
  internal/telemetry/metrics.go
Labels: area/api v1

Change Postgres GC to use its own connection pool
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Change PG and CRDB datastore drivers to use PGX cancelation
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/cancelation.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Return an error if a lock could not be released
  internal/datastore/postgres/locks.go
Labels: area/datastore

Switch to larger depot instances for datastore consistency tests
  .github/workflows/build-test.yaml
Labels: area/tooling

Simplify the registration in the caveats typeset
  pkg/caveats/types/registration.go
  pkg/caveats/types/typeset.go
Labels: none

Add accessors for deserialization of a caveat using a custom typeset
  pkg/caveats/compile.go
  pkg/caveats/env.go
Labels: none

Change all call sites to pass the typeset to deserialization
  internal/caveats/run.go
  internal/namespace/caveats.go
  internal/services/v1/expreflection.go
  internal/services/v1/reflectionapi.go
  pkg/composableschemadsl/generator/generator.go
  pkg/schemadsl/generator/generator.go
Labels: area/api v1, area/schema

Tidy e2e and analyzers
  e2e/go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Tidy magefiles
  magefiles/go.mod
  magefiles/go.sum
Labels: none

add GUARDED_BY comments
  internal/datastore/common/gc_test.go
  internal/datastore/crdb/pool/fake_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/memdb/memdb.go
  internal/datastore/proxy/schemacaching/intervaltracker.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/revisions/optimized.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/stream.go
  internal/graph/cursors.go
  internal/graph/lookupsubjects.go
  internal/graph/resourcesubjectsmap2.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/taskrunner.go
  pkg/composableschemadsl/lexer/lex.go
  pkg/genutil/mapz/countingmap.go
  pkg/schema/typesystem.go
  pkg/schemadsl/lexer/lex.go
Labels: area/datastore, area/dispatch, area/schema, area/tooling

add mutex analyzer
  magefiles/lint.go
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/mutexcheck/mutexcheck.go
  tools/analyzers/mutexcheck/mutexcheck_test.go
  tools/analyzers/mutexcheck/testdata/src/badmutexes/badmutexes.go
  tools/analyzers/mutexcheck/testdata/src/goodmutexes/goodmutexes.go
Labels: area/tooling

Change PG and CRDB datastore drivers to use PGX cancelation
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/cancelation.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Return an error if a lock could not be released
  internal/datastore/postgres/locks.go
Labels: area/datastore

Fix logger for certmanager
  e2e/go.mod
  e2e/go.sum
  internal/logging/logger.go
Labels: none

amend mutex analyzer
  tools/analyzers/mutexcheck/mutexcheck.go
  tools/analyzers/mutexcheck/testdata/src/goodmutexes/goodmutexes.go
Labels: none

Change GC to use a single, shared connection
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  pkg/cmd/datastore.go
  pkg/datastore/test/revisions.go
Labels: area/cli, area/datastore, area/tooling

amend mutex analyzer
  internal/graph/lr2streams.go
  tools/analyzers/mutexcheck/mutexcheck.go
  tools/analyzers/mutexcheck/testdata/src/goodmutexes/goodmutexes.go
Labels: none

Add additional logs to the flaky integration test runner
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

WIP
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
