Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Add retries around spawning images in servetesting
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Small feedback fixes
  internal/graph/preloadedtaskrunner.go
  internal/graph/preloadedtaskrunner_test.go
Labels: area/tooling

Add additional eventually to integrate test to try to reduce flakiness
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Add support for limited deletion of relationships
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

README: add Netflix <> Caveats shoutout
  README.md
Labels: area/docs

crdb: add a connection-balancing retry-aware connection pool
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/datastore/crdb/pool/fake_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/pool/health_test.go
  internal/datastore/crdb/pool/node_id.go
  internal/datastore/crdb/pool/pgx.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/pool/slqerrors.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/version.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/context.go
  pkg/datastore/test/transactions.go
Labels: area/cli, area/datastore, area/dependencies, area/tooling

add leaky bucket for crdb health checking, rate limiter pgx connections
  e2e/go.mod
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/pool/health_test.go
  internal/datastore/crdb/pool/pool.go
  internal/services/integrationtesting/healthcheck_test.go
  magefiles/test.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

clean up pgxcommon
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/datastore/crdb/pool/fake_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/pool/slqerrors.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/version.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/cli, area/datastore, area/tooling

Add unit tests for all type system operations
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
Labels: area/tooling

Change namespace+relation validation to use a single DB lookup
  internal/namespace/util.go
  internal/namespace/util_test.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/tooling

Use UPSERT for TOUCH in Postgres
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

Change CRDB WriteRelationships to skip updating TOUCHed rows that do not have difference in caveat name or caveat context
  internal/datastore/crdb/readwrite.go
Labels: area/datastore

Change spanner to use native changestreams support for Watch API
  go.mod
  go.sum
  internal/datastore/spanner/migrations/zz_migration.0004_register_change_stream.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/watch.go
Labels: area/datastore, area/dependencies, area/tooling

Add multi-phase migration for spanner's use of changelog table vs changestream
  internal/datastore/spanner/migrations/zz_migration.0005_drop_changelog_table.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/watch.go
  internal/datastore/spanner/watch_changelog.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/cli, area/datastore, area/tooling

Update bulk write for multi-phase migration
  internal/datastore/spanner/readwrite.go
Labels: area/datastore

Skip emitting watch changes in memdb that are empty
  internal/datastore/memdb/watch.go
Labels: area/datastore

Change MySQL WriteRelationships to skip updating TOUCHed rows that do not have difference in caveat name or caveat context
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/readwrite.go
Labels: area/datastore, area/tooling

Address review feedback
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/watch.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore

Change memdb WriteRelationships to skip updating TOUCHed rows that do not have difference in caveat name or caveat context
  internal/datastore/memdb/readwrite.go
  pkg/datastore/test/watch.go
Labels: area/datastore

Add a test to ensure that TOUCH operations that do not change caveats also do not raise watch events
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: none

Add the revision into the dispatch cursor to ensure it doesn't change
  internal/graph/cursors.go
  internal/graph/reachableresources.go
  pkg/cursor/cursor.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: none

Ensure resourcesubjectsmap produces a stable, sorted order
  internal/graph/resourcesubjectsmap_test.go
  pkg/testutil/proto.go
Labels: area/tooling

Fix lint warning
  internal/graph/cursors_test.go
Labels: area/tooling

Initial cursor changes for supporting cursors in ReachableResources
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/graph/reachableresources.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/dispatch, area/tooling

Have consistency tests issue cursored LR calls
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/sharewith.yaml
Labels: area/tooling

Use shared consistent hashing for caveat contexts
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/hasher_common.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
  internal/services/v1/permissions.go
  pkg/caveats/context_hash.go
Labels: area/api v1, area/dispatch, area/tooling

Add support for a limit on ReachableResources
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/graph/limits.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/dispatch, area/tooling

Make sure to cancel all reachable resources contexts when LR has completed
  internal/graph/lookupresources.go
Labels: none

Add missing relationship after rebase to deletion test
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

Address review feedback
  internal/dispatch/graph/lookupresources_test.go
  internal/services/v1/permissions_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/dispatch, area/tooling

Requested changes
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/limits_test.go
  internal/graph/reachableresources.go
Labels: area/dispatch, area/tooling

WASM hasher fixes
  internal/services/v1/hash_wasm.go
Labels: area/api v1

Address review feedback
  pkg/cursor/cursor_test.go
Labels: area/tooling

Reimplement LR in fully streaming mode
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/graph/lookupresources.go
  internal/graph/parallelchecker_test.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/dispatch, area/tooling

Have consistency use the revision found within a cursor, if specified
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/impl/v1/impl.proto
Labels: area/tooling

Rebase fixes
  internal/dispatch/graph/zz_generated.options.go
  internal/services/integrationtesting/testconfigs/lrordering.yaml
  internal/services/integrationtesting/testconfigs/lroverrelation.yaml
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
Labels: area/dispatch

Fix benchmark tests for changes to test runner
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

Lint fixes
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/limits.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
  internal/services/v1/hash.go
  internal/services/v1/hash_nonwasm.go
  internal/services/v1/hash_wasm.go
  internal/testfixtures/datastore.go
Labels: area/api v1, area/dispatch, area/tooling

Rename Lookup -> LookupResources and make streaming in prep for cursor support
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/graph/lookupresources.go
  internal/graph/parallelchecker.go
  internal/graph/parallelchecker_test.go
  internal/services/dispatch/v1/acl.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/dispatch, area/tooling

Add cursor support for LookupResources
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/limits.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap_test.go
  internal/services/shared/errors.go
  internal/services/v1/hash.go
  internal/services/v1/hash_nonwasm.go
  internal/services/v1/hash_wasm.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/cursor/cursor.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/dispatch, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
