Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Have LookupSubjects return Unimplemented if a cursor is used
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

[mysql] pipe logger into mysql for debug printing (#1055)
  internal/datastore/mysql/datastore.go
  internal/logging/logger.go
Labels: area/datastore

Change strict reading PG to only return rows when valid
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/datastore, area/tooling

Change strict reading PG to only return rows when valid
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/datastore, area/tooling

implement schema watch for mysql
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/watch.go
Labels: area/datastore, area/tooling

fix condition
  internal/datastore/mysql/watch.go
Labels: area/datastore

Remove parallel test to reduce flakiness
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

Add index definitions and query shape support to schema and query options
  internal/datastore/common/index.go
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/zz_generated.schema_options.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Postgres indexing improvements:
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_expiration_index.go
  internal/datastore/postgres/migrations/zz_migration.0024_add_new_forward_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0025_add_new_reverse_relationship_index.go
  internal/datastore/postgres/migrations/zz_migration.0026_drop_old_indexes.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/indexutil.go
  internal/datastore/postgres/schema/schema.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

Add explain parsing support for MySQL
  internal/datastore/common/relationships.go
  internal/datastore/crdb/debug.go
  internal/datastore/mysql/debug.go
  internal/datastore/mysql/debug_test.go
  internal/datastore/mysql/version/version.go
  internal/datastore/postgres/debug.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

Get end-to-end index checking working for Postgres
  internal/datastore/common/index.go
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/debug.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/debug.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/debug.go
  internal/datastore/postgres/debug_test.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/schema.go
  internal/datastore/proxy/indexcheck.go
  internal/graph/check.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore, area/tooling

Add a proxy to check that indexes referenced are used
  internal/datastore/common/index.go
  internal/datastore/common/relationships.go
  internal/datastore/common/schema.go
  internal/datastore/proxy/indexcheck.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  pkg/datastore/options/options.go
Labels: area/datastore, area/tooling

Add first query shape to Check
  internal/graph/check.go
Labels: none

Wire the new query options through the datastores
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
Labels: area/datastore

Add MySQL indexes
  internal/datastore/common/relationships.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/indexes.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

Add CRDB indexes
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/debug.go
  internal/datastore/crdb/debug_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/schema.go
  internal/datastore/crdb/watch.go
Labels: area/datastore, area/tooling

Implement imports on AST
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/node.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

implement schema watch for mysql
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/cli, area/datastore, area/tooling

Change default version for CRDB testing to latest
  e2e/go.mod
  e2e/go.sum
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/crdb/version/version.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  magefiles/test.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/tooling

Add metrics for usage of the replication proxies in the datastore
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/strictreplicated.go
Labels: area/datastore

Update tracing logic in authn code
  pkg/datastore/credentials.go
Labels: none

Add a metric tracking the selected replica
  internal/datastore/common/url.go
  internal/datastore/common/url_test.go
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
Labels: area/datastore, area/tooling

Remove the reference for changes being emitted by Watch
  internal/datastore/context.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

Increase watch test timeout
  pkg/datastore/test/watch.go
Labels: none

fixes pg replica error: "canceling statement due to conflict with recovery"
  go.mod
  internal/datastore/postgres/strictreader.go
  internal/datastore/postgres/strictreader_test.go
Labels: area/datastore, area/dependencies, area/tooling

added test coverage
  magefiles/test.go
  magefiles/util.go
Labels: none

different profiles for tests
  magefiles/test.go
  magefiles/util.go
Labels: none

Move to Go 1.23.6 for a reported Go vuln
  Dockerfile
  Dockerfile.release
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

Have strictreplicated proxy buffer relationships
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/datastore, area/tooling

crdb pool: handle cases with nil errors
  internal/datastore/crdb/pool/sqlerrors.go
  internal/datastore/crdb/pool/sqlerrors_test.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/tooling

Port in expiration parsing
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/flaggablelexer.go
  pkg/composableschemadsl/lexer/flaggablelexer_test.go
  pkg/composableschemadsl/lexer/flags.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/lexer/peekable_lex.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/caveatstype.zed.expected
  pkg/composableschemadsl/parser/tests/expirationnonkeyword.zed
  pkg/composableschemadsl/parser/tests/expirationnonkeyword.zed.expected
  pkg/composableschemadsl/parser/tests/invaliduse.zed
  pkg/composableschemadsl/parser/tests/invaliduse.zed.expected
  pkg/composableschemadsl/parser/tests/invaliduseexpiration.zed
  pkg/composableschemadsl/parser/tests/invaliduseexpiration.zed.expected
  pkg/composableschemadsl/parser/tests/multipleslashes.zed.expected
  pkg/composableschemadsl/parser/tests/superlarge.zed.expected
  pkg/composableschemadsl/parser/tests/useafterdef.zed
  pkg/composableschemadsl/parser/tests/useafterdef.zed.expected
  pkg/composableschemadsl/parser/tests/useexpiration.zed
  pkg/composableschemadsl/parser/tests/useexpiration.zed.expected
  pkg/composableschemadsl/parser/tests/useexpirationkeyword.zed
  pkg/composableschemadsl/parser/tests/useexpirationkeyword.zed.expected
Labels: area/tooling

use path hash instead
  magefiles/util.go
Labels: none

separate targets for cover
  magefiles/test.go
  magefiles/util.go
Labels: none

Port expiration compiler changes into composableschemadsl
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/composableschemadsl/generator/generator_impl.go
  pkg/composableschemadsl/generator/generator_test.go
  pkg/composableschemadsl/lexer/flaggablelexer.go
  pkg/composableschemadsl/lexer/flaggablelexer_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/duplicate_use_statement.zed
  pkg/composableschemadsl/parser/tests/duplicate_use_statement.zed.expected
  pkg/composableschemadsl/parser/tests/useafterdef.zed.expected
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/lexer/flaggablelexer.go
  pkg/schemadsl/lexer/flaggablelexer_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/tests/duplicate_use_statement.zed
  pkg/schemadsl/parser/tests/duplicate_use_statement.zed.expected
  pkg/schemadsl/parser/tests/useafterdef.zed.expected
Labels: area/schema, area/tooling

context coverage bool
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: none

improve err msg
  pkg/composableschemadsl/compiler/importer.go
Labels: none

Fix for https://github.com/envoyproxy/go-control-plane/issues/1074 and tidy go mod
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

combined caveat and namespaces methods
  internal/datastore/mysql/watch.go
Labels: area/datastore

Improve handling of watch errors
  internal/datastore/common/sqlerrors.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
Labels: area/datastore

err with ref
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/translator.go
Labels: none

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]
