Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

add metrics to see if primary dispatch executed or cancelled
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

do not use hardcoded delay offset and switch to p90
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/dispatch, area/tooling

Have dispatch skip hedging delays when dispatching to unsupported relations
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/tuple/structs.go
Labels: area/dispatch, area/tooling

amend #2286
  magefiles/test.go
Labels: none

reduce default hedging delay, increase again default quantile
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

move convertWatchKindToContent to separate file
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/services/v1/watchutil.go
  internal/services/v1/watchutil_test.go
Labels: area/api v1, area/tooling

Have dispatch skip hedging delays when dispatching to unsupported relations
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/tuple/structs.go
Labels: area/dispatch, area/tooling

Have dispatch skip hedging delays when dispatching to unsupported relations
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/tuple/structs.go
Labels: area/dispatch, area/tooling

reduce primary hedging delay
  internal/dispatch/remote/cluster.go
Labels: area/dispatch

Change PG and CRDB datastore drivers to use PGX cancelation
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Return an error if a lock could not be released
  internal/datastore/postgres/locks.go
Labels: area/datastore

update mysql docs
  internal/datastore/mysql/README.md
Labels: area/datastore

Change Postgres GC to use its own connection pool
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

fix leader election retry interval for revision heartbeat
  internal/datastore/postgres/postgres.go
Labels: area/datastore

add better LR otel instrumentation
  internal/graph/lookupresources2.go
Labels: none

remove limit in AtRevision in dispatch resolvermeta
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  proto/internal/dispatch/v1/dispatch.proto
  tools/analyzers/go.work.sum
Labels: none

support both old and new read replica flag prefixes
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling

introduces depot runners
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/tooling

feat: clickable build notification links
  .github/workflows/release.yaml
Labels: area/tooling

rm ref from other workflows
  .github/workflows/release.yaml
Labels: area/tooling

[schemalog] experimental package
  pkg/schema/schemalog/definition.go
  pkg/schema/schemalog/edges.go
  pkg/schema/schemalog/rules.go
  pkg/schema/schemalog/schema.go
Labels: none

Use golangci-lint v2
  .github/workflows/lint.yaml
  .golangci.yaml
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/stats.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/expand.go
  internal/services/health/health.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/taskrunner.go
  magefiles/lint.go
  pkg/caveats/context_hash.go
  pkg/cmd/migrate.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/datastore/test/watch.go
  pkg/development/schema.go
  pkg/schema/reachabilitygraph.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/structs.go
  pkg/typesystem/reachabilitygraph.go
Labels: area/api v1, area/cli, area/datastore, area/dispatch, area/schema, area/tooling

pkg/cmd: add metric for logical checks
  pkg/cmd/server/defaults.go
Labels: area/cli

fixes incorrect handling of definition deltas via Postgres Watch API
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
Labels: area/datastore, area/tooling

fix linter errors and missing go mod tidy
  e2e/go.mod
  e2e/go.sum
  magefiles/lint.go
  pkg/cache/cache_theine.go
  tools/analyzers/go.work.sum
Labels: none

make trivy build faster with more runner compute
  .github/workflows/security.yaml
Labels: area/tooling

enable tparallel to keep tests fast
  .golangci.yaml
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/remote/cluster_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/experimental_test.go
  internal/testutil/subjects_test.go
  pkg/composableschemadsl/compiler/development_test.go
  pkg/composableschemadsl/compiler/importer_test.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/datastore/pagination/iterator_test.go
  pkg/schemadsl/compiler/development_test.go
  pkg/schemadsl/parser/parser_test.go
Labels: area/api v1, area/dispatch, area/schema, area/tooling

fix(memdb): check if closed
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/watch.go
Labels: area/datastore, area/tooling

Add improved caveat filtering to the datastore relationship filter
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/proxy/observable.go
  internal/services/shared/schema.go
  internal/services/v1/schema_test.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/datastore, area/tooling

fix(memdb): check if closed
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/watch.go
Labels: area/datastore, area/tooling

add test-case for the migration
  internal/services/shared/schema_test.go
Labels: area/tooling

Remove panic from devcontext serve in favor of a warning
  pkg/development/devcontext.go
Labels: none

Change Postgres GC to use its own connection pool
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

Change PG and CRDB datastore drivers to use PGX cancelation
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

Return an error if a lock could not be released
  internal/datastore/postgres/locks.go
Labels: area/datastore

[typesystem] remove typesystem package
  pkg/typesystem/errors.go
  pkg/typesystem/reachabilitygraph.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/reachabilitygraphbuilder.go
  pkg/typesystem/resolver.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/tooling

Fix handling of no columns in Spanner
  internal/datastore/common/sql.go
  internal/datastore/mysql/indexes.go
  internal/datastore/postgres/schema/indexes.go
  internal/services/steelthreadtesting/steelthread_test.go
Labels: area/datastore, area/tooling

Increase datastore test timeout
  magefiles/test.go
Labels: none

Update Go to 1.23.8 to fix a reported vuln in Go
  e2e/go.mod
  go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/dependencies

Add support for index hinting and enable forced indexes on CRDB
  internal/datastore/common/schema.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/common/zz_generated.schema_options.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/schema.go
  internal/datastore/proxy/indexcheck.go
  internal/services/shared/schema.go
  magefiles/test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling
