Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"

fix stack overflow and leave only github docker hub (#1)
  .github/workflows/build-test.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  .golangci.yaml
  .goreleaser.yml
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

.golangci.yaml leave only github docker hub (#2)
  .github/workflows/release.yaml
Labels: area/tooling

.golangci.yaml leave only github docker hub
  .github/workflows/release.yaml
Labels: area/tooling

.golangci.yaml leave only github docker hub
  .github/workflows/release.yaml
Labels: area/tooling

fixes buf diff caused by bumping version in authzed/actions/buf-generate
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: none

add path filtering to merge_group too
  .github/workflows/build-test.yaml
Labels: area/tooling

Add better logging of config
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/zz_generated.options.go
  internal/services/integrationtesting/cert_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.connpool.options.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/devtools.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.cacheconfig.options.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
  pkg/cmd/util/util.go
  pkg/cmd/util/util_test.go
  pkg/cmd/util/zz_generated.options.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
Labels: area/cli, area/dependencies, area/dispatch, area/tooling

build manual
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  Dockerfile
Labels: area/dependencies, area/tooling

build manual
  Dockerfile
Labels: area/dependencies, area/tooling

Regenerate protos for new version of buf
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: none

move to paths-filter build-skipping strategy
  .github/workflows/build-test.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

build manual
  .github/workflows/release.yaml
Labels: area/tooling

build manual
  .github/workflows/release.yaml
Labels: area/tooling

build manual
  .github/workflows/release.yaml
Labels: area/tooling

reduces flakiness by using dockertest pool.Retry
  cmd/spicedb/servetesting_integration_test.go
Labels: area/cli, area/tooling

updates dockertest to improve error msg with pool.Retry()
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

fix potential missing PSK error and defer leak
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
Labels: area/cli, area/tooling

datastore: add a new BulkLoad method for quickly writing lots of relationships
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/testfixtures/generator.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
Labels: area/datastore

datastore/memdb: implement bulkload
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/revisions_test.go
Labels: area/datastore, area/tooling

datastore/mysql: implement bulk load
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/readwrite.go
Labels: area/datastore, area/tooling

pkg/datastore: add an option to disable retries on RWTs
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/transactions.go
Labels: area/datastore, area/tooling

datastore/crdb+postgres: implement BulkLoad
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
Labels: area/datastore, area/tooling

all: address linter warnings
  internal/middleware/streamtimeout/streamtimeout.go
  pkg/datastore/test/pagination.go
  pkg/validationfile/loader.go
Labels: none

e2e: go mod tidy
  e2e/go.mod
  e2e/go.sum
Labels: none

services/v1: implement BulkLoadRelationships
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/v1/metadata_test.go
  internal/services/v1/relationships.go
  pkg/development/devcontext.go
  pkg/tuple/tuple.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

datastore/spanner: implement bulk load
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
Labels: area/datastore, area/tooling

internal/services: move v1 rewriteError to a shared location
  internal/services/shared/errors.go
  internal/services/shared/errors_test.go
  internal/services/v1/errors.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
Labels: area/api v1, area/tooling

pkg/tuple: add a neutral relationship interface
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  pkg/development/assertions.go
  pkg/tuple/proto_interface.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/validationfile/loader.go
Labels: area/tooling

internal/services: move bulk load to experimental service
  go.mod
  go.sum
  internal/services/server.go
  internal/services/v1/experimental.go
  internal/services/v1/metadata_test.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
  internal/services/v1/relationships.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
Labels: area/api v1, area/dependencies, area/tooling

internal/services/v1: add a bulk load test
  internal/services/v1/experimental_test.go
Labels: area/api v1, area/tooling

Fix comment
  internal/middleware/servicespecific/servicespecific.go
Labels: none

Skip logging of serialization errors in pgx
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

add magefiles for running project commands
  .gitattributes
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/wasm.yaml
  .gitignore
  .golangci.yaml
  Dockerfile
  README.md
  buf.gen.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  hack/install-tools.sh
  hack/update-all-deps.sh
  internal/services/integrationtesting/testconfigs/basiccaveat.yaml
  mage.go
  magefiles/alias.go
  magefiles/build.go
  magefiles/deps.go
  magefiles/gen.go
  magefiles/lint.go
  magefiles/test.go
  magefiles/util.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  tools.go
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/docs, area/tooling

balancer: rewrite the consistent hashring balancer to avoid recomputates
  cmd/spicedb/main.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/balancer/hashring_test.go
  pkg/cmd/server/server.go
Labels: area/cli, area/tooling

enable comment linting
  .golangci.yaml
Labels: area/tooling

Add require.Eventually to remove flakiness on image tests
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
Labels: area/cli, area/tooling

only run image tests in cmd/spicedb
  magefiles/test.go
Labels: none

Fix reachable resource TTU over subject relations
  internal/graph/reachableresources.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/typesystem.go
  internal/services/integrationtesting/testconfigs/lrordering.yaml
  internal/services/integrationtesting/testconfigs/lroverrelation.yaml
Labels: none

Switch check dispatch to use a special preloaded task runner
  internal/graph/check.go
  internal/graph/preloadedtaskrunner.go
Labels: none

Short circuit union and all when there is a single child
  internal/graph/check.go
Labels: none
