Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - changed-files:
      - any-glob-to-any-file: "cmd/spicedb/developer.go"
"area/api http":
  - changed-files:
      - any-glob-to-any-file: "internal/gateway/**/*"
"area/api v0":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v0/**/*"
"area/api v1":
  - changed-files:
      - any-glob-to-any-file: "internal/services/v1/**/*"
"area/cli":
  - changed-files:
      - any-glob-to-any-file: ["cmd/**/*", "pkg/cmd/**/*"]
"area/dashboard":
  - changed-files:
      - any-glob-to-any-file: "internal/dashboard/**/*"
"area/datastore":
  - changed-files:
      - any-glob-to-any-file: "internal/datastore/**/*"
"area/dependencies":
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "go.mod", "go.sum"]
"area/dispatch":
  - changed-files:
      - any-glob-to-any-file: "internal/dispatch/**/*"
"area/docs":
  - changed-files:
      - any-glob-to-any-file:
          [
            "CODE-OF-CONDUCT.md",
            "CONTRIBUTING.md",
            "DCO",
            "LICENSE",
            "README.md",
          ]
"area/schema":
  - changed-files:
      - any-glob-to-any-file: "pkg/schemadsl/**/*"
"area/tooling":
  - changed-files:
      - any-glob-to-any-file:
          ["**/*_test.go", ".github/**/*", ".*", "Dockerfile*"]

Add implementation of local import syntax
  .github/workflows/security.yaml
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/localimport.zed
  pkg/composableschemadsl/parser/tests/localimport.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_import_path_with_keyword.zed
  pkg/composableschemadsl/parser/tests/localimport_import_path_with_keyword.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_keyword_in_identifiers.zed
  pkg/composableschemadsl/parser/tests/localimport_keyword_in_identifiers.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_malformed_identifier_set.zed
  pkg/composableschemadsl/parser/tests/localimport_malformed_identifier_set.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_malformed_import_path.zed
  pkg/composableschemadsl/parser/tests/localimport_malformed_import_path.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_path_missing_leading_period.zed
  pkg/composableschemadsl/parser/tests/localimport_path_missing_leading_period.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_typo_in_import_separator.zed
  pkg/composableschemadsl/parser/tests/localimport_typo_in_import_separator.zed.expected
Labels: area/tooling

Add any and all to keywords
  pkg/composableschemadsl/lexer/lex_def.go
Labels: none

Update parser behavior to reflect new keywords
  pkg/composableschemadsl/parser/parser.go
Labels: none

Update test to reflect new behavior
  pkg/composableschemadsl/parser/tests/arrowillegalfunc.zed.expected
Labels: none

Add consumeKeywords function
  pkg/composableschemadsl/parser/parser_impl.go
Labels: none

Make lexer tests exhaustive, update
  pkg/composableschemadsl/lexer/lex_test.go
Labels: area/tooling

implementation of a windowed CRDB Watch API
  internal/datastore/crdb/watch.go
  pkg/datastore/errors.go
Labels: area/datastore

Rename function to clarify lack of caveat
  pkg/tuple/core.go
Labels: none

Add MustParseV1 for test purposes
  pkg/tuple/v1.go
Labels: none

Update usage of renamed fn
  pkg/development/devcontext.go
Labels: none

Fix signature of MustParseV1Rel
  pkg/tuple/v1.go
Labels: none

Add a new consistency middleware for full-consistency-only callers
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/middleware/consistency/forcefull.go
  internal/services/integrationtesting/cert_test.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/cli, area/tooling

Fix formatting
  pkg/tuple/v1.go
Labels: none

Fix typo
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/forcefull.go
Labels: none

Move consistency middleware into pkg so embedded uses can override
  internal/middleware/consistency/consistency.go
  internal/services/integrationtesting/cert_test.go
  internal/services/v1/experimental.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/development/devcontext.go
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
Labels: area/api v1, area/cli, area/tooling

Remove internal label from consistency middleware to allow it to be replaced
  pkg/cmd/server/defaults.go
Labels: area/cli

Add relationtuple stringifying function
  pkg/tuple/core.go
  pkg/tuple/core_test.go
Labels: area/tooling

Update doc comments
  pkg/tuple/core.go
Labels: none

pkg/proto: adopt CodecV2 and gRPC buffer pooling
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/dispatch/v1/01_codec.go
Labels: area/dependencies

Fix MySQL test breakage caused by daylight savings change
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

Add additional check to elide writing empty transaction metadata
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore

Fix caveat string encode to not emit spaces
  pkg/tuple/core_test.go
  pkg/tuple/strings.go
Labels: area/tooling

Use complete sentence in error
  pkg/development/validation.go
Labels: none

Update operations_test.go
  pkg/development/wasm/operations_test.go
Labels: area/tooling

Tidy e2e
  e2e/go.mod
  e2e/go.sum
  tools/analyzers/go.work.sum
Labels: none

Implement naive resolution of local imports
  .github/workflows/lint.yaml
  .github/workflows/security.yaml
  internal/services/integrationtesting/testconfigs/caveatmultiplebranchessamerel.yaml
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/importer-test/README.md
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/root.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/transitive/transitive.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/transitive/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/definitions/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/expected.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/indirection.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/user.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/user.zed
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/importer_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

reproduce bug in HCLRevisionFromString when parsing zero logical clock
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

fix bug in HCLRevisionFromString when parsing zero logical clock
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

adds code and test to detect logical clock overflow
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

fix trivy ratelimit errors in CI
  .github/workflows/security.yaml
Labels: area/tooling

Get requested definitions out of AST nodes
  pkg/composableschemadsl/compiler/translator.go
Labels: none

Add filtering test to list of tests
  pkg/composableschemadsl/compiler/importer_test.go
Labels: area/tooling

Add filtering test to importer tests
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-extra-def/expected.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-extra-def/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-extra-def/user.zed
Labels: none

introduces `WatchOptions.EmissionStrategy` to handle limitations of CockroachDB changefeeds.
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore

Implement circular import detection + import dedup
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/importer-test/circular-import/expected.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/root.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/subjects.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/user.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/expected.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/left.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/right.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/root.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/subjects.zed
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/importer_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

Improve PG serialization error on writes
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/readwrite.go
Labels: area/datastore, area/tooling

Add missing limit in schema delta checking
  internal/services/shared/schema.go
Labels: none

Add missing limit in schema delta checking
  internal/services/shared/schema.go
Labels: none

introduces ByteSortable method in Revision
  internal/datastore/postgres/revisions.go
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

Add subject filters in schema relation delete to force use of the index
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling
