Repository authzed/spicedb, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api devtools, area/api http, area/api v0, area/api v1, area/cli, area/dashboard, area/datastore, area/dependencies, area/dispatch, area/docs, area/schema, area/tooling

Small increase in test coverage for subjects testutil
  internal/testutil/subjects.go
  internal/testutil/subjects_test.go
Labels: area/tooling

Add mage test:unitcover to generate coverage reports over all unit tests
  magefiles/test.go
Labels: none

CheckBulkPermissions
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/experimental.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
Labels: area/api v1, area/dependencies, area/tooling

Export the unique, stable, ID from datastore
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/stats.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

Setup defined (and configurable) behavior if a ZedToken from an older datastore is used
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/stats.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/revisions/commonrevision.go
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/development/devcontext.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
  pkg/zedtoken/zedtoken_test.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/cli, area/datastore, area/tooling

move health check logs to debug level
  pkg/cmd/server/defaults.go
Labels: area/cli

dependency updates
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  .gitignore
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/postgres_shared_test.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/lint.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies, area/tooling

regenerate CodeQL configuration using GitHub
  .github/workflows/security.yaml
Labels: area/tooling

use the most recent Go version with CodeQL
  .github/workflows/security.yaml
Labels: area/tooling

goreleaser: publish snaps
  .goreleaser.yml
Labels: area/tooling

fixes merge queue not supporting CodeQL
  .github/workflows/security.yaml
Labels: area/tooling

Move debug traces for CheckPermission into the response
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/debug_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/dependencies, area/tooling

fix race on error member of TaskRunner
  internal/taskrunner/taskrunner.go
Labels: none

make registration of gRPC prom metrics not fail if already registered
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
Labels: area/cli

turns gRPC latency histogram into a toggleable option
  go.mod
  go.sum
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/cli, area/dependencies, area/tooling

do return backward incompatible `--explain` debug info in trailer
  internal/services/v1/debug_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

adds dependabot configuration to update GitHub Actions
  .github/dependabot.yml
Labels: area/tooling

fix rate limiting in security scanning
  .github/workflows/security.yaml
Labels: area/tooling

.github: ARM runners for platform-agnostic tests
  .github/workflows/build-test.yaml
Labels: area/tooling

move to arm builders
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

move to ubicloud runners for extra concurrency
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

add github action grouping
  .github/dependabot.yml
Labels: area/tooling

go mod tidy analyzers
  tools/analyzers/go.work.sum
Labels: none

fix linter warning
  .github/workflows/security.yaml
Labels: area/tooling

go mod tidy e2e
  e2e/go.mod
  e2e/go.sum
Labels: none

rename update groups
  .github/dependabot.yml
Labels: area/tooling

.github: set pipefail for benchmarks
  .github/workflows/build-test.yaml
Labels: area/tooling

.github: move benchmark into build-test
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
Labels: area/tooling

.github: add workflow for benchmarks
  .github/workflows/benchmark.yaml
Labels: area/tooling

mage: add bench target
  magefiles/test.go
Labels: none

testserver/datastore: default to mysql8, check arm
  internal/testserver/datastore/mysql.go
Labels: none

testserver/datastore: misc docker arg cleanup
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
Labels: none

wip: fix error string
  pkg/datastore/test/tuples.go
Labels: none

internal: add missing exposed port for mysql
  internal/testserver/datastore/mysql.go
Labels: none

.github: only run go lint when go changes
  .DS_Store
  .github/workflows/lint.yaml
  tools/analyzers/go.work.sum
Labels: area/tooling

use latest Go version always
  .github/workflows/build-test.yaml
Labels: area/tooling

fix merge conflict: SpiceDB does no longer support MySQL 5
  internal/testserver/datastore/mysql.go
Labels: none

report GC stats even in the event of a GC worker error
  internal/datastore/common/gc.go
Labels: area/datastore

Import request ID metadata key from authzed-go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/cmd/server/defaults.go
  pkg/middleware/requestid/requestid.go
Labels: area/cli, area/dependencies

Use type information to optimize TOUCH operations in the PG datastore
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/datastore, area/tooling

.github/labeler.yml:

---
"area/api devtools":
  - "cmd/spicedb/developer.go"
"area/api http":
  - "internal/gateway/**/*"
"area/api v0":
  - "internal/services/v0/**/*"
"area/api v1":
  - "internal/services/v1/**/*"
"area/cli":
  - "cmd/**/*"
  - "pkg/cmd/**/*"
"area/dashboard":
  - "internal/dashboard/**/*"
"area/datastore":
  - "internal/datastore/**/*"
"area/dependencies":
  - "Dockerfile"
  - "go.mod"
  - "go.sum"
"area/dispatch":
  - "internal/dispatch/**/*"
"area/docs":
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "DCO"
  - "LICENSE"
  - "README.md"
"area/schema":
  - "pkg/schemadsl/**/*"
"area/tooling":
  - "**/*_test.go"
  - ".github/**/*"
  - ".*"
  - "Dockerfile*"
