Repository authzed/spicedb, pull requests merged in 2021-10, with the labels that each got.

#157 install completions when installing via brew
  .goreleaser.yml
Labels: area/CLI, priority/2 medium, area/tooling

#162 docs: fixes minor spelling mistakes
  CONTRIBUTING.md
  README.md
  e2e/newenemy/README.md
Labels: area/docs

#165 fix TestReadBadZookieFlake
  internal/services/v0/acl_test.go
Labels: area/api v0, area/tooling

#166 Increase gc window for revision expiration test
  internal/datastore/test/tuples.go
Labels: area/datastore

#164 Ensure e2e doesn't time out when it would have succeeded
  .github/workflows/build.yaml
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

#169 k8s: init basic deployment
  .github/workflows/build.yaml
  k8s/basic.yaml
Labels: priority/2 medium, area/tooling

#175 Bump TestReadBadZookie gcWindow
  internal/services/v0/acl_test.go
Labels: area/api v0, area/tooling

#217 Add caching to Lookup dispatcher
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookup_test.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/proto/dispatch/v1/dispatch.pb.go
  internal/proto/dispatch/v1/dispatch.pb.validate.go
  internal/services/consistency_test.go
  internal/services/testconfigs/lookupsametypes.yaml
  internal/services/v1/testing.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling

#234 update builder image name to make it more unique
  Dockerfile
Labels: area/dependencies, area/tooling
