Repository authzed/spicedb, pull requests merged in 2021-12, with the labels that each got.

#316 goreleaser: fix tag in docker release notes
  .goreleaser.yml
Labels: area/tooling

#322 Fix e2e tests
  .github/workflows/build.yaml
  e2e/go.mod
  e2e/go.sum
Labels: kind/bug, area/CLI, area/tooling

#321 internal/dispatch: extract combined dispatcher
  cmd/spicedb/serve.go
  internal/dispatch/combined/combined.go
Labels: area/CLI, area/dispatch

#319 Memdb datastore MVCC improvements
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/namespace.go
  internal/datastore/memdb/query.go
  internal/datastore/memdb/reverse_query.go
  internal/datastore/memdb/tuple.go
  internal/datastore/memdb/watch.go
  internal/datastore/postgres/watch.go
  internal/datastore/test/namespace.go
  internal/datastore/test/watch.go
  internal/services/v1/watch_test.go
Labels: area/api v1, area/datastore, area/tooling

#317 Simplify datastore construction
  cmd/spicedb/serve.go
  e2e/newenemy/newenemy_test.go
  go.mod
  go.sum
  internal/datastore/datastore.go
  pkg/cmd/datastore.go
  pkg/cmd/zz_generated.datastore_options.go
  tools.go
Labels: area/CLI, area/datastore, area/dependencies, area/tooling

#325 Export CLI commands as a library
  .github/labeler.yml
  .goreleaser.yml
  cmd/spicedb/main.go
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/version.go
  pkg/cmd/defaults.go
  pkg/cmd/migrate/migrate.go
  pkg/cmd/root/root.go
  pkg/cmd/serve/devtools.go
  pkg/cmd/serve/serve.go
  pkg/cmd/serve/testing.go
  pkg/cmd/version/version.go
Labels: area/CLI, area/tooling

#328 Remove e2e timeout
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

#324 Log revision skew values
  internal/datastore/crdb/crdb.go
Labels: area/datastore

#333 internal/dispatch: return cachingRedispatch
  internal/dispatch/combined/combined.go
Labels: kind/bug, priority/0 urgent, area/dispatch

#334 fix: copy max lifetime when passing options to the datastore
  pkg/cmd/datastore.go
Labels: area/CLI

#332 Versioned namespaces
  internal/dashboard/dashboard.go
  internal/datastore/crdb/namespace.go
  internal/datastore/datastore.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/namespace.go
  internal/datastore/memdb/query.go
  internal/datastore/memdb/reverse_query.go
  internal/datastore/postgres/namespace.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/query.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/mapping.go
  internal/datastore/proxy/readonly.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/test/mock.go
  internal/datastore/test/namespace.go
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/namespace/caching.go
  internal/namespace/manager.go
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
  internal/services/consistency_test.go
  internal/services/shared/schema.go
  internal/services/v0/acl.go
  internal/services/v0/devcontext.go
  internal/services/v0/namespace.go
  internal/services/v0/validation.go
  internal/services/v0/watch.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/schema.go
  internal/testfixtures/validating.go
  pkg/cmd/serve/serve.go
Labels: area/api v0, area/CLI, area/api v1, area/datastore, area/tooling, area/dispatch, area/dashboard

#335 fix: skip comments when loading test relationships
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/loader_no_comment.yaml
  pkg/validationfile/testdata/loader_with_comment.yaml
Labels: area/tooling

#337 Add rebase squash to contributing guidelines
  CONTRIBUTING.md
Labels: area/docs

#341 Disable e2e github step
  .github/workflows/build.yaml
Labels: area/tooling

#342 optimize reading of namespaces
  cmd/spicedb/servetesting_integration_test.go
  internal/namespace/caching.go
  internal/services/v1/permissions.go
Labels: area/CLI, area/perf, area/api v1, area/tooling

#343 test v0 preconditions in parallel
  internal/services/v0/acl.go
Labels: area/api v0, area/perf

#340 Backport some datastore changes from datastore-v2
  go.mod
  go.sum
  internal/dashboard/dashboard.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/namespace.go
  internal/datastore/crdb/query.go
  internal/datastore/datastore.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/query.go
  internal/datastore/memdb/reverse_query.go
  internal/datastore/memdb/tuple.go
  internal/datastore/options/options.go
  internal/datastore/options/zz_generated.query_options.go
  internal/datastore/postgres/crdb_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/query.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/mapping.go
  internal/datastore/proxy/mapping_test.go
  internal/datastore/proxy/readonly.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/test/mock.go
  internal/datastore/test/namespace.go
  internal/datastore/test/revisions.go
  internal/datastore/test/tuples.go
  internal/datastore/test/watch.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookup.go
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/shared/schema.go
  internal/services/v0/acl.go
  internal/services/v0/namespace.go
  internal/services/v0/watch.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1alpha1/schema.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/cmd/serve/serve.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
Labels: area/api v0, area/CLI, area/api v1, area/datastore, area/dependencies, area/tooling, area/dashboard

#336 Implement support for the public proposal
  go.mod
  go.sum
  internal/datastore/common/validation.go
  internal/datastore/test/namespace.go
  internal/graph/check.go
  internal/graph/lookup.go
  internal/middleware/handwrittenvalidation/handwrittenvalidation.go
  internal/namespace/diff.go
  internal/namespace/diff_test.go
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
  internal/services/consistency_test.go
  internal/services/testconfigs/public.yaml
  internal/services/testconfigs/publicviaintersection.yaml
  internal/services/testconfigs/publicviattu.yaml
  internal/services/testconfigs/publicwithexclusion.yaml
  internal/services/testconfigs/teamwitharrow.yaml
  internal/services/v0/acl.go
  internal/services/v0/acl_test.go
  internal/services/v0/developer_test.go
  internal/services/v0/namespace_test.go
  internal/services/v0/validation.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/namespace/builder.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/lexer/tokentype_string.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/brokenwildcard.zed
  pkg/schemadsl/parser/tests/brokenwildcard.zed.expected
  pkg/schemadsl/parser/tests/wildcard.zed
  pkg/schemadsl/parser/tests/wildcard.zed.expected
  pkg/tuple/onr.go
  pkg/tuple/onr_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
Labels: area/api v0, area/schema, area/api v1, area/datastore, area/dependencies, area/tooling

#345 pkg/cmd: extract signal handling with grace period
  pkg/cmd/defaults.go
  pkg/cmd/serve/serve.go
Labels: area/CLI, priority/3 low, kind/tech debt

#330 Fix data races and enable race detector in CI
  .github/workflows/build.yaml
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/namespace.go
  internal/datastore/memdb/query.go
  internal/datastore/memdb/reverse_query.go
  internal/datastore/memdb/tuple.go
  internal/datastore/memdb/watch.go
  internal/datastore/proxy/hedging_test.go
  internal/dispatch/graph/lookup_test.go
  internal/graph/lookup.go
  internal/services/v0/devcontext.go
  pkg/schemadsl/lexer/lex.go
Labels: area/api v0, area/schema, area/datastore, area/tooling, area/dispatch

#350 goreleaser: use github for release notes
  .goreleaser.yml
Labels: area/tooling

#351 Report CLI configurations errors to `RunE`
  pkg/cmd/migrate/migrate.go
  pkg/cmd/serve/devtools.go
  pkg/cmd/serve/serve.go
  pkg/cmd/serve/testing.go
Labels: area/CLI

#354 Update to the latest branched version of ristretto
  go.mod
  go.sum
Labels: area/dependencies

#355 pkg/testutil: ensure types in RequireEqualEmptyNil
  pkg/testutil/require.go
  pkg/testutil/require_test.go
Labels: kind/bug, area/tooling

#349 e2e: fill schema with many namespaces to span ranges
  .github/workflows/build.yaml
  e2e/cockroach/cockroach.go
  e2e/generator/names.go
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  e2e/tools.go
  e2e/util.go
  internal/namespace/manager.go
Labels: area/tooling
