Repository authzed/spicedb, pull requests merged in 2021-11, with the labels that each got.

#210 Improve Docker docs
  README.md
Labels: area/docs

#220 docs: remove all
  README.md
  docs/consistency-options.md
  docs/selecting-a-datastore.md
  docs/zedtokens-and-zookies.md
Labels: area/docs

#242 proxy: use buffered channels and only let one subrequest write a result
  internal/datastore/crdb/crdb.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
Labels: kind/bug, priority/1 high, area/datastore, area/tooling

#244 Bump dependencies
  go.mod
  go.sum
Labels: area/dependencies

#249 bump dependencies
  go.mod
  go.sum
Labels: area/dependencies

#250 update cla worfklow to allow dependabot
  .github/workflows/cla.yaml
Labels: area/tooling

#251 allow dependabot
  .github/workflows/cla.yaml
Labels: kind/bug, area/tooling

#252 really allow dependabot
  .github/workflows/cla.yaml
Labels: area/tooling

#257 use the grpc_health_probe binary from the official images
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#254 cmd: consistent flags for http/grpc servers
  README.md
  cmd/spicedb/developer.go
  cmd/spicedb/main.go
  cmd/spicedb/migrate.go
  cmd/spicedb/root.go
  cmd/spicedb/serve.go
  cmd/spicedb/testserver.go
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  go.mod
  go.sum
  internal/dashboard/dashboard.go
  internal/gateway/gateway.go
  k8s/basic.yaml
Labels: area/docs, area/CLI, priority/3 low, kind/breaking change, area/dependencies, area/tooling, kind/tech debt, area/api devtools

#259 Use buffered channels for lookup results
  internal/graph/lookup.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#243 support https in download API
  cmd/spicedb/developer.go
Labels: area/CLI, area/api devtools

#260 Add github container registry release
  .goreleaser.yml
Labels: area/tooling

#262 cmd/serve: revert dispatch-cluster flags changes
  cmd/spicedb/serve.go
Labels: kind/bug, area/CLI, priority/1 high, area/dispatch

#267 support UDS listening on grpc servers
  cmd/spicedb/developer.go
  cmd/spicedb/serve.go
  cmd/spicedb/testserver.go
  go.mod
  go.sum
Labels: area/CLI, area/dependencies

#272 Request ID propagation
  cmd/spicedb/main.go
  cmd/spicedb/serve.go
  internal/dashboard/dashboard.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/namespace.go
  internal/datastore/crdb/tuple.go
  internal/datastore/crdb/tx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/hedging.go
  internal/dispatch/client/consistentbackend/client.go
  internal/dispatch/client/consistentbackend/methods.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/remote/cluster.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookup.go
  internal/middleware/consistency/consistency.go
  internal/services/dispatch/v1/acl.go
  internal/services/v0/acl.go
  internal/services/v0/devcontext.go
  internal/services/v0/developer.go
  internal/services/v0/download.go
  internal/services/v0/namespace.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/schema.go
  pkg/middleware/logging/context.go
  pkg/middleware/requestid/requestid.go
Labels: area/api v0, area/api v1, area/datastore

#277 .github: add 5m timeout to golangci-lint
  .github/workflows/lint.yaml
Labels: priority/2 medium, area/tooling, kind/tech debt

#275 Prevent memdb duplicate relationships
  internal/datastore/crdb/tuple.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/tuple.go
  internal/datastore/test/tuples.go
Labels: kind/bug, priority/2 medium, area/datastore

#281 services/v1: fix intersection tree conversion
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: kind/bug, priority/1 high, area/api v1, area/tooling

#274 Add docker login action for ghcr
  .github/workflows/release.yaml
Labels: priority/2 medium, area/tooling

#278 Move golangci-lint timeout into config
  .github/workflows/lint.yaml
  .golangci.yaml
Labels: priority/3 low, area/perf, area/tooling

#284 use consistent-hash load balancer with kubernetes resolver for dispatch
  buf.gen.yaml
  cmd/spicedb/main.go
  cmd/spicedb/serve.go
  go.mod
  go.sum
  internal/dispatch/caching/caching.go
  internal/dispatch/client/consistentbackend/client.go
  internal/dispatch/client/consistentbackend/methods.go
  internal/dispatch/client/consistentbackend/options.go
  internal/dispatch/dispatch.go
  internal/dispatch/remote/cluster.go
  internal/proto/servok/api/v1/v1.pb.go
  internal/proto/servok/api/v1/v1.pb.validate.go
  internal/proto/servok/api/v1/v1_grpc.pb.go
  pkg/balancer/hashring.go
  pkg/consistent/hashring.go
  pkg/consistent/hashring_test.go
  proto/buf-generate.sh
Labels: area/CLI, area/perf, area/dependencies, area/tooling, area/dispatch

#283 Additional expansion testing
  internal/services/consistency_test.go
  internal/services/servicetester.go
  internal/services/v0/acl.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v0, area/api v1, area/tooling

#285 Add log warning to emphasize persistence/scale issues in memdb
  cmd/spicedb/serve.go
Labels: priority/3 low, area/datastore, area/observability

#287 .github: add more automatic labeling patterns
  .github/labeler.yml
Labels: priority/3 low, area/tooling

#273 README: fix flags, links, and project description
  README.md
Labels: area/docs, priority/3 low

#263 feat: add v1 Watch API implementation
  go.mod
  go.sum
  internal/services/server.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  pkg/tuple/tuple.go
Labels: area/api v1, area/dependencies, area/tooling

#268 Multi level caching and Lookup caching fixes
  cmd/spicedb/serve.go
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/graph/check_test.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/proto/dispatch/v1/dispatch.pb.go
  internal/proto/dispatch/v1/dispatch.pb.validate.go
  internal/services/consistency_test.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/CLI, area/tooling, area/dispatch

#289 Add proper dispatch and cached dispatch tracking
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookup_test.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/proto/dispatch/v1/dispatch.pb.go
  internal/proto/dispatch/v1/dispatch.pb.validate.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/tooling, area/dispatch

#294 Properly calculate virtualnode ids for uint16 replicationFactor
  pkg/consistent/hashring.go
Labels: kind/bug, area/dispatch

#297 Add follower read delay option
  cmd/spicedb/serve.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/options.go
Labels: area/CLI, area/datastore, area/tooling

#295 Add dispatch and cached dispatch counts to response trailer metadata and prometheus
  go.mod
  go.sum
  internal/middleware/usagemetrics/usagemetrics.go
  internal/services/v0/acl.go
  internal/services/v0/acl_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  pkg/middleware/logging/context.go
  pkg/middleware/requestid/requestid.go
Labels: area/api v0, area/CLI, area/api v1, area/dependencies, area/tooling
