Repository authzed/spicedb, pull requests merged in 2022-07, with the labels that each got.

#667 examples: move k8s deployment into examples
  .github/workflows/lint.yaml
  examples/k8s/example.yaml
Labels: area/tooling

#676 Depbot updates for July 5
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#682 Depbot updates for July 5, part 2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#685 fix cert rotation test flake
  internal/services/cert_test.go
Labels: area/tooling

#674 Postgres datastore: make read tx REPEATABLE_READ
  internal/datastore/postgres/postgres.go
Labels: area/perf, area/datastore

#686 Enable Watch API in REST gateway
  cmd/spicedb/restgateway_integration_test.go
  internal/gateway/gateway.go
Labels: area/CLI, area/tooling, area/api http

#690 pkg/cmd: document use of application default credentials with spanner
  pkg/cmd/datastore/datastore.go
  pkg/cmd/migrate.go
Labels: area/CLI

#702 Increase the testing timeout to 30m
  .github/workflows/build-test.yaml
Labels: area/tooling

#701 Add a fallback into the MySQL driver for rel count
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/stats.go
Labels: kind/bug, area/datastore

#673 Garbage collect namespaces
  internal/datastore/common/gc.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/migrations/zz_migration.0003_add_ns_config_id.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/zz_migration.0008_add_ns_config_id.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

#704 Add a dispatch test that verifies delete preconditions across datastores
  internal/services/dispatch_test.go
Labels: area/tooling

#711 Add a flag for disabling stat writes
  e2e/spice/spicedb.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/datastore

#703 Add ability to trace a check request
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/caching/caching.go
  internal/dispatch/debug.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/graph/graph.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch

#691 Implement support for batch reachability
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/schema.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/dispatch/caching/caching.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/lookup.go
  internal/graph/reachableresources.go
  internal/services/benchconfigs/widegroups.yaml
  internal/services/benchmark_test.go
  internal/services/shared/schema.go
  internal/testfixtures/validating.go
  internal/testserver/cluster.go
  pkg/cache/cache.go
  pkg/cmd/server/cacheconfig.go
  pkg/datastore/datastore.go
  pkg/datastore/test/tuples.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/validationfile/loader.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/CLI, area/datastore, area/tooling, area/dispatch

#694 Add issue links to readme
  README.md
Labels: area/docs

#713 Concurrency limit
  e2e/cockroach/cockroach.go
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  e2e/util.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/remote/cluster.go
  internal/graph/check.go
  internal/graph/check_test.go
  internal/graph/graph.go
  internal/graph/lookup.go
  internal/graph/parallelchecker.go
  internal/graph/reachableresources.go
  internal/services/cert_test.go
  internal/services/consistency_test.go
  internal/services/v0/download.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/util/util.go
  pkg/development/devcontext.go
Labels: area/api v0, area/CLI, area/tooling, area/dispatch

#714 Add ability to enable the REST gateway for the test server
  cmd/spicedb/servetesting_integration_test.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/CLI, area/tooling
