Repository authzed/spicedb, pull requests merged in 2022-09, with the labels that each got.

#778 newly added lookup subject metrics weren't being unregistered
  internal/dispatch/caching/caching.go
Labels: area/dispatch

#775 Add configurable limits for write and delete relationship APIs
  internal/services/cert_test.go
  internal/services/server.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/CLI, area/api v1, area/tooling

#785 Dependabot Updates for Sept 1
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#792 Dependabot Updates for Sept 1, part 2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#795 Dependabot updates for Sept 1, part 3
  go.mod
  go.sum
Labels: area/dependencies

#796 Handle duplicate writes in a nicer way
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/validating.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/api v1, area/tooling

#799 remove dupe validation in WriteRelationships
  internal/services/v1/relationships.go
  pkg/tuple/onr.go
  pkg/tuple/relationship.go
  pkg/tuple/tuple.go
Labels: area/api v1

#798 map pgx info logging level to debug
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#805 Change v1alpha1 WriteSchema to only read namespaces it needs
  internal/namespace/util.go
  internal/namespace/util_test.go
  internal/services/v1alpha1/schema.go
Labels: area/api v1, area/tooling

#806 Update authzed-go client
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  proto/internal/buf.lock
Labels: area/dependencies

#801 Improve write constraint failures
  .github/workflows/build-test.yaml
  internal/datastore/common/helpers.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/tooling

#797 reduce differences between release and dev dockerfiles
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#808 Remove perm system limit checks and rely upon defaults
  pkg/cmd/server/server.go
Labels: area/CLI

#813 Add govulncheck to the linters
  .github/workflows/lint.yaml
Labels: area/tooling

#815 don't generate nsswitch.conf (base images have it now)
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#812 Fix fallback for MySQL stats to fix test flake
  internal/datastore/mysql/stats.go
Labels: area/datastore

#821 dispatch: use Snappy S2 compression and vtprotobuf
  buf.gen.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/caching/caching.go
  internal/dispatch/combined/combined.go
  pkg/cmd/util/util.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/01_codec.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  tools.go
Labels: area/CLI, area/perf, area/dependencies, area/dispatch

#822 gomod: bump compress to v1.15.10
  go.mod
  go.sum
Labels: area/dependencies

#811 Disable GC in datastore drivers when in read-only mode
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#817 bump kuberesolver to pick up serviceaccount token refresh
  go.mod
  go.sum
Labels: area/dependencies

#823 Ensure that internal errors are returned before dev errors
  pkg/development/development_test.go
  pkg/development/wasm/main.go
Labels: area/tooling

#824 Use MarshalVT() and UnmarshalVT() everywhere
  buf.gen.yaml
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/caching.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  pkg/caveats/compile.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/zedtoken/zedtoken.go
Labels: area/datastore

#825 internal/datastore: use proto.Marshal
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/readwrite.go
Labels: area/datastore

#829 forward cli flags GCMaxOperationTime and SplitAtUsersetCount to MySQL datastore
  internal/datastore/mysql/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#831 Change all user-visible type errors into proper wrapped error structs
  internal/namespace/aliasing.go
  internal/namespace/aliasing_test.go
  internal/namespace/diff.go
  internal/namespace/errors.go
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
  internal/services/v0/developer_test.go
Labels: area/api v0, area/tooling

#777 Batch check improvements
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/debug.go
  internal/dispatch/dispatch.go
  internal/dispatch/dispatch_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/dispatchcheckkey.go
  internal/dispatch/keys/hasher_common.go
  internal/dispatch/keys/hasher_ristretto.go
  internal/dispatch/keys/hasher_wasm.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/graph/check.go
  internal/graph/check_test.go
  internal/graph/graph.go
  internal/graph/parallelchecker.go
  internal/services/benchconfigs/checkwidegroups.yaml
  internal/services/benchmark_test.go
  internal/services/testconfigs/directgroups.yaml
  internal/services/testconfigs/groupsintersection.yaml
  internal/services/testconfigs/indirectgroups.yaml
  internal/services/testconfigs/indirectnestedgroups.yaml
  internal/services/testconfigs/linuxfoundation.yaml
  internal/services/testconfigs/quay.yaml
  internal/services/v1/permissions.go
  internal/util/multimap.go
  pkg/cache/cache_ristretto.go
  pkg/development/check.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch

#837 Fix performance for large schema writes in V1Alpha1
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/services/v1alpha1/schema.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/api v1, area/datastore

#840 Fix chunking util to never call for an empty chunk
  internal/util/chunking.go
  internal/util/chunking_test.go
Labels: area/tooling

#841 Change caching to sort order resource and subject IDs
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/hasher_common.go
Labels: area/perf, area/tooling, area/dispatch

#828 Improve the WASM developer package interface
  .github/workflows/build-test.yaml
  go.mod
  go.sum
  internal/services/consistency_test.go
  internal/services/v0/developer.go
  internal/services/v0/developer_test.go
  pkg/development/assertions.go
  pkg/development/devcontext.go
  pkg/development/development_test.go
  pkg/development/validation.go
  pkg/development/wasm/example/wasm.html
  pkg/development/wasm/example/wasm_exec.js
  pkg/development/wasm/main.go
  pkg/development/wasm/main_test.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/development/wasm/request.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/api v0, area/dependencies, area/tooling

#842 update cobrautil to latest commit
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#827 pkg/cmd: support cache sizes in percentages of free memory
  go.mod
  go.sum
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/testserver/cluster.go
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/cacheconfig_test.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/perf, area/datastore, area/dependencies, area/tooling, area/dispatch

#833 Add building of WASM developer binary to releases
  .github/workflows/wasm.yaml
Labels: area/tooling

#848 pkg/cache: implement metrics for noop cache
  pkg/cache/cache.go
Labels: area/CLI, area/perf

#838 introduce caveat support in WriteRelationships/ReadRelationships
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/caveat_test.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/tuple/tuple.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/datastore, area/dependencies, area/tooling

#854 internal: add docker build tag to transitives
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/spanner_test.go
  internal/services/benchmark_test.go
  internal/services/dispatch_test.go
  internal/services/healthcheck_test.go
  internal/services/perf_test.go
  internal/testserver/datastore/config/config.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/memory.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
Labels: area/perf, area/datastore, area/tooling, kind/tech debt

#857 docker: switch to chainguard base images
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#855 Switch check dispatch to use the new MembershipSet
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/debug.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/graph/check.go
  internal/graph/membershipset.go
  internal/graph/parallelchecker.go
  internal/services/consistency_test.go
  internal/services/v1/permissions.go
  pkg/development/assertions.go
  pkg/development/check.go
  pkg/development/wasm/operations.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch
