Repository authzed/spicedb, pull requests merged in 2022-04, with the labels that each got.

#513 update all dependencies
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  update-all-deps.sh
Labels: area/dependencies

#514 update straggler dependencies
  .github/workflows/lint.yaml
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  hack/update-all-deps.sh
  update-all-deps.sh
Labels: area/dependencies, area/tooling

#506 Datastore stats interface
  internal/datastore/crdb/migrations/zz_migration.0003_add_metadata_and_counters.go
  internal/datastore/crdb/namespace.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/tuple.go
  internal/datastore/datastore.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/stats.go
  internal/datastore/postgres/crdb_test.go
  internal/datastore/postgres/migrations/zz_migration.0001_1eaeba4b8a73_initial.go
  internal/datastore/postgres/migrations/zz_migration.0002_add_reverse_index.go
  internal/datastore/postgres/migrations/zz_migration.0003_add_unique_living_ns.go
  internal/datastore/postgres/migrations/zz_migration.0004_add_transaction_timestamp_index.go
  internal/datastore/postgres/migrations/zz_migration.0005_change_transaction_timestamp_default.go
  internal/datastore/postgres/migrations/zz_migration.0006_add_gc_index.go
  internal/datastore/postgres/migrations/zz_migration.0007_add_unique_datastore_id.go
  internal/datastore/postgres/namespace.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/mapping.go
  internal/datastore/proxy/readonly.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  internal/datastore/spanner/namespace.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/stats.go
  internal/datastore/spanner/tuple.go
  internal/datastore/stats.go
  internal/datastore/test/datastore.go
  internal/datastore/test/mock.go
  internal/datastore/test/stats.go
  internal/testfixtures/validating.go
Labels: area/datastore, area/tooling

#488 Add more detail to the max depth error and handle as a dev error
  internal/dispatch/dispatch.go
  internal/services/v0/developer_test.go
  pkg/development/devcontext.go
Labels: area/api v0, area/tooling, area/dispatch

#515 Telemetry stats
  TELEMETRY.md
  go.mod
  go.sum
  internal/middleware/usagemetrics/usagemetrics.go
  internal/telemetry/metrics.go
  internal/telemetry/reporter.go
  pkg/cmd/devtools.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/dependencies

#520 .github: grant github token package write
  .github/workflows/release.yaml
Labels: kind/bug, area/tooling

#523 crdb: coalesce relationship estimate to handle 0 relationship case
  internal/datastore/crdb/stats.go
Labels: area/datastore

#522 create spanner changelog entries client side
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/tuple.go
  internal/datastore/test/watch.go
Labels: kind/bug, priority/1 high, area/datastore

#501 Have the GC index for Postgres be created concurrently
  internal/datastore/postgres/migrations/zz_migration.0006_add_gc_index.go
Labels: area/datastore

#533 Switch MySQL tests to explicitly specify amd64
  go.mod
  go.sum
  internal/testserver/datastore/mysql.go
Labels: area/dependencies

#527 Quantize revisions for memdb, postgres datastores
  e2e/generator/names.go
  e2e/go.mod
  e2e/go.sum
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/tuple.go
  internal/datastore/postgres/migrations/zz_migration.0001_1eaeba4b8a73_initial.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/proxy/mapping_test.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/test/datastore.go
  internal/datastore/test/revisions.go
  pkg/cmd/datastore/datastore.go
  pkg/schemadsl/lexer/lex_def.go
Labels: area/CLI, area/schema, area/datastore, area/tooling

#536 mysql: refactor tests to share builders
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#535 Only run MySQL tests in CI
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#540 Have the Docker-image based test suite run solely those tests
  .github/workflows/build-test.yaml
Labels: area/tooling

#543 gomod: bump cobrautil
  .github/workflows/lint.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#537 Add support for multiple preshared keys
  .github/workflows/build-test.yaml
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  internal/auth/presharedkey.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling

#548 mysql: run ANALYZE TABLE before Statistics in tests
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/stats.go
Labels: area/datastore, area/tooling

#532 mysql: wire up the mysql datastore engine to the CLI
  internal/datastore/mysql/migrations/zz_migration.0001_initial_schema.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
Labels: area/CLI, area/datastore

#541 makes cli application return non-zero error code on errors
  cmd/spicedb/main.go
  pkg/cmd/root.go
Labels: area/CLI

#545 gomod: bump xxhash, go
  cmd/spicedb/main.go
  go.mod
  go.sum
  internal/testserver/cluster.go
  pkg/consistent/hashring_test.go
Labels: area/CLI, area/dependencies, area/tooling

#550 sets mysql manager singleton
  pkg/cmd/migrate.go
Labels: area/CLI

#539 moves seeding to the initialization of the datastore
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/query_builder.go
Labels: area/datastore, area/tooling

#551 Add integration testing for the migrate command
  cmd/spicedb/migrate_integration_test.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/services/perf_test.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/memory.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/pg_crdb.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
Labels: area/CLI, area/datastore, area/tooling

#556 Fix revive lint warnings
  .golangci.yaml
  internal/graph/lookup.go
  internal/namespace/caching.go
  internal/namespace/diff.go
  internal/namespace/manager.go
  internal/namespace/typesystem.go
  pkg/namespace/builder.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/schema, area/tooling

#555 Postgres optimized revision caching
  internal/datastore/common/revisions.go
  internal/datastore/common/revisions/optimized.go
  internal/datastore/common/revisions/optimized_test.go
  internal/datastore/common/revisions/remoteclock.go
  internal/datastore/common/revisions/remoteclock_test.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore, area/tooling

#557 update to a version of rudd that doesn't race
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#546 mysql: use a stable unique ID for stats
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/migrations/zz_migration.0002_add_unique_datastore_id.go
  internal/datastore/mysql/stats.go
  internal/datastore/test/stats.go
Labels: area/datastore, area/tooling

#559 Combine unit and integration jobs
  .github/workflows/build-test.yaml
Labels: area/tooling

#560 README: adjust feature wording and links
  README.md
Labels: area/docs

#553 internal/telemetry: report go version, git commit
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/telemetry/metrics.go
Labels: area/dependencies, area/tooling

#561 Dispatch tests and metrics flag
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/services/dispatch_test.go
  internal/services/v1/permissions_test.go
  internal/testserver/datastore/config/config.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling

#562 dispatch: fix NPE possibility from nil check response
  internal/dispatch/caching/caching.go
Labels: area/dispatch

#566 remove remaining references to revision fuzzing
  internal/middleware/pertoken/pertoken.go
  internal/testserver/server.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI

#569 Fix `datastore-engine` help text
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#568 pkg/cmd: catch nil registry initialization
  pkg/cmd/server/server.go
Labels: area/CLI

#570 postgres: handle negative relationhip count estimates
  internal/datastore/postgres/stats.go
Labels: area/datastore

#571 Switch to using Engines for the engine parameter
  internal/datastore/datastore.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/migrate.go
Labels: area/CLI, area/datastore

#573 addresses server panic when malformed authorization header is sent
  internal/auth/presharedkey.go
  internal/auth/presharedkey_test.go
Labels: area/tooling
