Repository authzed/spicedb, pull requests merged in 2022-08, with the labels that each got.

#707 remove rangefeed config from crdb migrations
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly.go
  internal/datastore/spanner/spanner.go
  internal/services/server.go
  internal/testfixtures/validating.go
  internal/testserver/datastore/crdb.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
  pkg/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#721 Depbot updates for Aug 1
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
Labels: area/dependencies, area/tooling

#727 Depbot updates for Aug 1 - part 2
  go.mod
  go.sum
Labels: area/dependencies

#732 Depbot updates for Aug 1 - part 3
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#728 Fix bounds on check test
  internal/dispatch/graph/check_test.go
Labels: area/tooling, area/dispatch

#722 switch crdb watch feature detection to only require CONTROLCHANGEFEED
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
Labels: area/datastore, area/tooling

#734 Skip checking of permissions for relationships in WriteSchema
  internal/namespace/diff.go
  internal/namespace/diff_test.go
  internal/services/v1/schema_test.go
Labels: area/perf, area/api v1, area/tooling

#737 hack: mv install-tools into hack dir
  .github/workflows/build-test.yaml
  hack/install-tools.sh
  hack/update-all-deps.sh
  install-tools.sh
Labels: area/tooling

#740 fix panic on cached optimized revisions
  internal/datastore/common/revisions/optimized.go
  internal/datastore/common/revisions/optimized_test.go
  internal/datastore/mysql/datastore.go
  internal/namespace/canonicalization.go
  internal/telemetry/reporter.go
  pkg/development/wasm/main.go
  pkg/schemadsl/input/sourcepositionmapper_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
Labels: area/schema, area/datastore, area/tooling

#742 README: add OpenSSF best practices badge
  README.md
Labels: area/docs, priority/3 low, area/community

#745 bump crdb in tests to 22.1.5
  .github/workflows/build-test.yaml
Labels: area/tooling

#746 update spanner emulator logs
  internal/datastore/spanner/spanner.go
Labels: kind/bug, area/datastore, area/observability

#744 more resilient CRDB datastore on connection draining
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#750 Use distroless.dev/static base, add debug variants
  .goreleaser.yml
  Dockerfile.release
Labels: area/tooling

#751 adds trivy security scanner to lint CI job
  .github/workflows/lint.yaml
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#736 Begin work on LookupSubjects
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/stream.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/graph.go
  internal/graph/graph_test.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/shared/preconditions.go
  internal/services/shared/schema.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  internal/util/chunking.go
  internal/util/chunking_test.go
  internal/util/set.go
  internal/util/set_test.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/tuples.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/onrbytypeset_test.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/datastore, area/tooling, area/dispatch

#762 Add a nightly build for spicedb
  .github/workflows/nightlies.yaml
  .goreleaser.yml
Labels: area/tooling

#766 fixes link to go-memdb
  internal/datastore/memdb/README.md
Labels: area/datastore

#769 Fix various error references
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/crdb/reader.go
  internal/datastore/mysql/migrations/driver.go
  internal/graph/lookupsubjects.go
  internal/services/v1/relationships.go
  pkg/development/devcontext.go
Labels: area/api v1, area/datastore

#771 removes v1.RelationshipUpdate from datastore.ReadWriteTransaction
  internal/datastore/common/helpers.go
  internal/datastore/common/sql.go
  internal/datastore/common/validation.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/readwrite.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
  pkg/development/devcontext.go
  pkg/tuple/tuple.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/datastore, area/tooling, area/dispatch

#770 Fully implement the LookupSubjects API
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/caching/caching.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/stream.go
  internal/graph/lookupsubjects.go
  internal/membership/foundsubject.go
  internal/membership/foundsubject_test.go
  internal/membership/membership.go
  internal/membership/membership_test.go
  internal/membership/trackingsubjectset.go
  internal/membership/trackingsubjectset_test.go
  internal/services/consistency_test.go
  internal/services/dispatch/v1/acl.go
  internal/services/servicetester_test.go
  internal/services/testconfigs/nestedwilcardexclusions.yaml
  internal/services/testconfigs/wildcardwithnestedexclusions.yaml
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/util/basesubjectset.go
  internal/util/set.go
  internal/util/set_test.go
  internal/util/subjectset.go
  internal/util/subjectset_test.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/tuple/onrbytypeset.go
  proto/internal/dispatch/v1/dispatch.proto
  tools/analyzers/go.mod
  tools/analyzers/go.sum
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch

#774 add datastore metrics to CockroachDB datastore
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/reader.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/common/pgxpool_collector.go
  internal/datastore/postgres/common/pgxpool_collector_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#760 Begin implementation of a library for processing caveat expressions
  buf.gen.yaml
  go.mod
  go.sum
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/customtypes/customtypes.go
  pkg/caveats/customtypes/ipaddress.go
  pkg/caveats/env.go
  pkg/caveats/env_test.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
  pkg/caveats/types.go
  pkg/caveats/types_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  proto/internal/impl/v1/impl.proto
Labels: area/dependencies, area/tooling
