Repository authzed/spicedb, pull requests merged in 2022-12, with the labels that each got.

#1036 Remove old error message from CRDB test
  internal/datastore/crdb/crdb_test.go
Labels: area/datastore, area/tooling

#1028 Add support for caveat name and context to tuple syntax
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/helpers.go
  internal/relationships/errors.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/test/watch.go
  pkg/development/assertions.go
  pkg/development/devcontext.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/tuple/relationship.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/validationfile/blocks/relationships.go
  pkg/validationfile/fileformat_test.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/basic_caveats.yaml
  pkg/validationfile/testdata/invalid_caveat.yaml
  pkg/validationfile/testdata/invalid_caveated_rel.yaml
  pkg/validationfile/testdata/invalid_caveated_rel_syntax.yaml
  pkg/validationfile/testdata/repeated_relationship.yaml
Labels: area/api v1, area/datastore, area/tooling

#1037 Dependabot updates for Dec 2022
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#1044 Link to annotated paper
  README.md
Labels: area/docs

#1049 Move to golang 1.19.4
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  e2e/go.mod
Labels: area/tooling

#1052 Add warning when PG max connection count is lower than min
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#1039 Improve the watch API performance and correctness for postgres
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/revision/decimal.go
Labels: area/CLI, area/datastore, area/tooling

#1053 Add retries to the estimated size test to remove flakiness
  internal/datastore/proxy/estimatednssize_test.go
Labels: area/datastore, area/tooling

#1041 Debug supporting caveats
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/debug.go
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch

#1047 Add support for tracking caveats in membership for development
  internal/caveats/builder.go
  internal/caveats/builder_test.go
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/datasets/basesubjectset.go
  internal/datasets/subjectset.go
  internal/datasets/subjectsetbytype.go
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/foundsubject_test.go
  internal/developmentmembership/membership.go
  internal/developmentmembership/membership_test.go
  internal/developmentmembership/trackingsubjectset.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/graph/expand.go
  internal/graph/membershipset.go
  internal/graph/membershipset_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/testutil/subjects.go
  pkg/development/development_test.go
  pkg/development/validation.go
  pkg/development/wasm/operations_test.go
  pkg/graph/tree.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/validationfile/blocks/expectedrelations.go
  pkg/validationfile/blocks/expectedrelations_test.go
  proto/internal/core/v1/core.proto
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch

#1029 Fix revision checking in memdb to allow for past `now`
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/revisions.go
Labels: area/datastore

#1056 Add another relationship parsing test
  pkg/tuple/tuple_test.go
Labels: area/tooling

#1043 Change confusing flag help output.
  pkg/cmd/serve.go
  pkg/cmd/util/util.go
Labels: area/CLI

#1058 gomod: update cobraotel to support sample ratios
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/CLI, area/perf, area/dependencies, area/observability

#1061 Fix concurrent access issue in reachable resources and add additional testing and a small perf improvement
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap_test.go
  pkg/util/multimap.go
  pkg/util/multimap_test.go
Labels: area/tooling

#1060 Fix debug tracing for batch dispatches
  internal/graph/check.go
  internal/services/v1/debug.go
  internal/services/v1/debug_test.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#1066 Add test for dispatch metadata on all endpoints
  internal/services/v1/metadata_test.go
  internal/services/v1/schema.go
Labels: area/api v1, area/tooling

#1063 redesigns middlware options for RunnableServer v2
  internal/services/integrationtesting/cert_test.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling

#1069 datastore/proxy: add prom metrics to datastore operations
  internal/datastore/proxy/observable.go
Labels: area/datastore

#1068 Add exponential backoff to the GC worker for datastores
  internal/datastore/common/gc.go
Labels: area/datastore

#1071 Add accessor in the dev package for V1 API
  pkg/development/devcontext.go
  pkg/development/development_test.go
Labels: area/tooling

#1067 Add datastore GC command to synchronously run GC
  cmd/spicedb/main.go
  internal/datastore/common/gc.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/context.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore.go
  pkg/datastore/datastore.go
Labels: area/CLI, area/datastore

#1064 Add support for caveats in development package
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/services/integrationtesting/consistency_test.go
  pkg/development/assertions.go
  pkg/development/check.go
  pkg/development/development_test.go
  pkg/development/validation.go
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/validationfile/blocks/assertions.go
  pkg/validationfile/blocks/assertions_test.go
  pkg/validationfile/blocks/expectedrelations.go
  pkg/validationfile/blocks/expectedrelations_test.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

#1076 reference libraries through awesome spicedb
  README.md
Labels: area/docs
