Repository authzed/spicedb, pull requests merged in 2022-01, with the labels that each got.

#364 bump dependencies
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/gateway/gateway.go
  internal/services/v0/acl_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/schema_test.go
  internal/services/v1/testing.go
  internal/services/v1/watch_test.go
  internal/services/v1alpha1/schema_test.go
  pkg/cmd/serve/testing.go
Labels: area/api v0, area/CLI, area/api v1, area/dependencies, area/tooling, area/dispatch, area/api http

#369 fix head command: flag named inconsistently
  pkg/cmd/migrate/migrate.go
Labels: area/CLI

#368 bump dependencies
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#357 crdb: touch overlap key on namespace write
  .github/workflows/build.yaml
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/namespace.go
Labels: area/datastore, area/tooling

#371 bump authzed-go to 0.4.1
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
  go.mod
  go.sum
  internal/datastore/test/namespace.go
  internal/services/testconfigs/3letterrbac.yaml
  internal/services/v0/developer_test.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/tuple/tuple.go
  pkg/validation/identifiers.go
  pkg/validation/identifiers_test.go
  pkg/validation/namespace_test.go
Labels: area/api v0, area/schema, area/datastore, area/dependencies, area/tooling

#374 Fix formatting
  internal/graph/lookup.go
  internal/membership/foundsubject_test.go
  internal/membership/membership.go
  internal/membership/membership_test.go
  internal/services/testconfigs/simplewildcard.yaml
  internal/services/testconfigs/wildcardnested.yaml
  internal/services/testconfigs/wildcardwithintersection.yaml
  internal/services/testconfigs/wildcardwithrightsideexclusion.yaml
Labels: area/tooling

#377 Fix deletion of empty namespaces in CRDB datastore
  internal/datastore/crdb/namespace.go
  internal/datastore/test/datastore.go
  internal/datastore/test/namespace.go
Labels: area/datastore

#378 .github: add CodeQL lint workflow
  .github/workflows/lint.yaml
  internal/services/v0/developer.go
Labels: area/api v0, area/tooling, area/security

#381 Better usage metrics on non-permissions endpoints
  internal/middleware/usagemetrics/usagemetrics.go
  internal/services/v0/acl.go
  internal/services/v0/namespace.go
  internal/services/v0/watch.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1alpha1/schema.go
Labels: area/api v0, area/api v1

#380 Attempt to avoid failed crdb range splits in e2e
  .github/workflows/build.yaml
  e2e/newenemy/newenemy_test.go
Labels: area/tooling

#382 internal/middleware: add tests for usagemetrics
  internal/middleware/usagemetrics/usagemetrics_test.go
Labels: area/api v1, area/tooling

#384 allow gateway backend to be overridden
  go.mod
  go.sum
  pkg/cmd/serve/serve.go
Labels: area/CLI, area/dependencies

#387 Fix parsing of assertions YAML to handle all errors
  internal/services/v0/developer.go
  internal/services/v0/developer_test.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/fileformat_test.go
Labels: area/api v0, area/tooling
