Repository authzed/spicedb, pull requests merged in 2022-05, with the labels that each got.

#583 Dependabot for May 3
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#585 disable renovatebot
  .github/renovate.json
Labels: area/tooling

#591 crdb: detect broken pipe as resettable error
  internal/datastore/crdb/tx.go
Labels: area/datastore

#574 Add spanner emulator env var detection
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
Labels: area/CLI, area/datastore

#563 Add a custom analyzers package for custom lint checks
  .github/workflows/lint.yaml
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/nilvaluecheck/nilvaluecheck.go
  tools/analyzers/nilvaluecheck/nilvaluecheck_test.go
  tools/analyzers/nilvaluecheck/testdata/src/nilreturn/nilreturn.go
Labels: area/tooling

#593 Dependabot changes for May 4
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#582 Implement revision quantization for MySQL
  internal/datastore/common/revisions/optimized.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/revisions.go
  internal/datastore/mysql/revisions_test.go
  internal/datastore/postgres/revisions.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#592 pg: set timezone to utc for revision selection
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore, area/tooling

#602 Upgrade CI crdb version to v21.2.10
  .github/workflows/build-test.yaml
Labels: area/tooling

#607 Update NewEnemy test for datastore v2
  .github/workflows/lint.yaml
  e2e/cockroach/cockroach.go
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
  e2e/run.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  internal/middleware/consistency/consistency.go
Labels: area/tooling

#611 prevent crdb from crashing in e2e tests
  .github/workflows/build-test.yaml
  e2e/cockroach/cockroach.go
  e2e/newenemy/newenemy_test.go
  e2e/run.go
Labels: area/CLI, area/tooling

#617 caching dispatch: unregister prometheus metrics on close
  internal/dispatch/caching/caching.go
Labels: area/dispatch

#612 support xDS as a dispatch resolver option
  cmd/spicedb/main.go
Labels: area/CLI

#596 Propagate context in migrations
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
  pkg/migrate/migrate.go
  pkg/migrate/migrate_test.go
Labels: area/CLI, area/datastore, area/tooling

#620 Some small reachable resources and lookup improvements
  internal/dispatch/graph/lookup_test.go
  internal/graph/reachableresources.go
  internal/namespace/oppath.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/namespace/typesystem.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  proto/internal/core/v1/core.proto
Labels: area/tooling, area/dispatch

#622 refactor(schemadsl): remove unused field
  pkg/schemadsl/lexer/lex.go
Labels: area/schema
