Repository authzed/spicedb, pull requests merged in 2022-03, with the labels that each got.

#444 export function to get head revision for a datastore engine
  pkg/cmd/migrate.go
Labels: area/CLI

#446 Fix support for pipes in object IDs
  .golangci.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/testconfigs/authn.yaml
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/dependencies, area/tooling

#448 Have errors raised by the type system from schema construction in the devcontext be properly contextualized
  internal/services/v0/developer_test.go
  pkg/development/devcontext.go
Labels: area/api v0, area/tooling

#450 Dependabot March 4, 2022
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#456 Dependabot March 4, 2022 part 2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#445 README updates
  README.md
Labels: area/docs

#460 Allow renovatebot
  .github/workflows/cla.yaml
Labels: area/tooling

#462 bump gofumpt to 1.3.0 and fix new formatting issues
  .github/workflows/lint.yaml
  go.mod
  go.sum
  internal/services/consistency_test.go
  pkg/consistent/hashring_test.go
Labels: area/dependencies, area/tooling

#466 Update renovate.json
  .github/renovate.json
Labels: area/tooling

#471 lookup: fall back to a slow path (list all + check) when necessary
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookup_test.go
  internal/graph/lookup.go
  internal/services/testconfigs/recursivearrowref.yaml
Labels: area/tooling, area/dispatch

#468 Remove Clone call on metadata filtering on namespaces
  internal/namespace/caching.go
  pkg/namespace/metadata.go
  pkg/namespace/metadata_test.go
Labels: priority/3 low, area/perf, area/tooling

#473 Add test for writing empty schemas
  internal/services/v1/schema_test.go
Labels: area/api v1, area/tooling

#474 Add trace log for auth interceptor used
  pkg/cmd/server/server.go
Labels: area/CLI

#438 configure dispatch for tests
  internal/datastore/common/revisions.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/datastore.go
  internal/datastore/memdb/memdb.go
  internal/datastore/postgres/crdb_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/test/datastore.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/logging/interceptor.go
  internal/services/consistency_test.go
  internal/services/dispatch/server.go
  internal/services/dispatch/v1/acl.go
  internal/services/perf_test.go
  internal/testserver/cluster.go
  internal/testserver/datastore/config/config.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/pg_crdb.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
  internal/testserver/server.go
  pkg/balancer/hashring.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/util/util.go
Labels: area/CLI, area/datastore, area/tooling, area/dispatch

#480 protect prom metric registration with a lock
  pkg/cmd/server/server.go
Labels: area/CLI

#483 Add clock skew error as resetable
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
Labels: area/datastore, area/tooling

#479 .github: push to dockerhub, use in readme
  .github/workflows/release.yaml
  .goreleaser.yml
  README.md
Labels: area/docs, area/tooling

#484 bump crdb to 21.2.7
  .github/workflows/build.yaml
  e2e/cockroach/cockroach.go
Labels: area/tooling

#493 Fix handling of REST gateway options and add an integration test
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/tooling

#496 Use non-prepared statement for revision range query
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#495 Default transaction row timestamp to UTC
  internal/datastore/postgres/migrations/change_transaction_timestamp_default.go
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

#494 Add support for `nil` in schema
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookup.go
  internal/services/consistency_test.go
  internal/services/testconfigs/mixednil.yaml
  internal/services/testconfigs/nil.yaml
  internal/services/testconfigs/nilexclusion.yaml
  internal/services/v0/developer_test.go
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/nil.zed
  pkg/schemadsl/parser/tests/nil.zed.expected
  pkg/validationfile/loader.go
  proto/internal/core/v1/core.proto
Labels: area/api v0, area/schema, area/tooling

#500 Add index and fix limit on Postgres GC
  internal/datastore/postgres/migrations/add_gc_index.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#491 pkg/cmd: use cobrautil version command
  .goreleaser.yml
  go.mod
  go.sum
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/version.go
Labels: area/CLI, area/dependencies, area/tooling

#503 Fix nil access issue in developer API when missing an expected subject
  internal/services/consistency_test.go
  internal/services/v0/developer_test.go
  pkg/development/validation.go
  pkg/validationfile/blocks/expectedrelations.go
Labels: kind/bug, area/api v0, area/tooling

#472 Consolidate crdb tx retry and reset
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/namespace.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
Labels: area/datastore, area/tooling

#492 .github: migrate to authzed/actions
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .golangci.yaml
  pkg/validationfile/testdata/loader_no_comment.yaml
  pkg/validationfile/testdata/loader_with_comment.yaml
  proto/internal/buf.yaml
Labels: area/tooling

#507 .github: fix passing of secrets to shared actions
  .github/workflows/cla.yaml
  .github/workflows/release.yaml
Labels: kind/bug, area/tooling
