Repository authzed/spicedb, pull requests merged in 2022-11, with the labels that each got.

#972 Depbot updates for Nov 1, 2022
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#974 goreleaser: revert SBOMs
  .goreleaser.yml
Labels: kind/bug, area/tooling

#975 goreleaser: fix version passed to linker
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  .goreleaser.yml
Labels: kind/bug, area/tooling

#961 prevent poisoning via build job
  .github/workflows/build-test.yaml
Labels: area/tooling

#982 datastore/cache: clear the RWT namespace cache when writing namespaces
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
Labels: area/datastore, area/tooling

#983 Dispatch goleak checking
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/expand.go
Labels: area/tooling, area/dispatch

#984 cmd/serve: fix deprecated usage of jaeger
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: kind/bug, area/CLI, area/dependencies

#932 Update BaseSubjectSet to support caveat expressions
  .golangci.yaml
  buf.gen.yaml
  internal/dispatch/graph/lookupsubjects_test.go
  internal/membership/foundsubject.go
  internal/membership/trackingsubjectset.go
  internal/membership/trackingsubjectset_test.go
  internal/services/v1/permissions.go
  internal/util/basesubjectset.go
  internal/util/subjectset.go
  internal/util/subjectset_test.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch

#938 Add support in LookupResources for caveats
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/computed/computecheck_test.go
  internal/graph/lookup.go
  internal/graph/parallelchecker.go
  internal/graph/parallelchecker_test.go
  internal/graph/reachableresources.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  internal/util/multimap.go
  internal/util/multimap_test.go
  pkg/development/check.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/tuple/tuple.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch

#976 Remove support for the v1alpha1 API
  .github/labeler.yml
  cmd/spicedb/servetesting_integration_test.go
  e2e/client.go
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  internal/services/integrationtesting/ops_test.go
  internal/services/server.go
  internal/services/shared/schema.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/errors.go
  internal/services/v1alpha1/schema.go
  internal/services/v1alpha1/schema_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/namespace/v1alpha1/v1alpha1revision_hasher.go
  pkg/namespace/v1alpha1/v1alpha1revision_hasher_test.go
  pkg/namespace/v1alpha1/v1alpha1revision_test.go
  pkg/namespace/v1alpha1/v1alpharevision.go
Labels: area/CLI, area/api v1, area/tooling

#989 Fix observable proxy to use the more efficient namespace lookup
  internal/datastore/proxy/observable.go
Labels: area/datastore

#990 Provide additional capabilities around schema writing
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
  pkg/schemautil/schemautil.go
Labels: area/tooling

#986 logging and error handling improvements
  internal/datastore/postgres/common/pgx.go
  internal/dispatch/caching/caching.go
  internal/middleware/serverversion/serverversion.go
  internal/middleware/usagemetrics/usagemetrics.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/errors.go
  internal/services/v1/errors_test.go
  pkg/cmd/server/defaults.go
  pkg/middleware/requestid/requestid.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling, area/dispatch

#987 Add support for caveats in LookupSubjects API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupsubjects.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  internal/util/basesubjectset.go
  internal/util/subjectset.go
  internal/util/subjectsetbyresourceid.go
  internal/util/subjectsetbyresourceid_test.go
  internal/util/subjectsetbytype.go
  internal/util/subjectsetbytype_test.go
  pkg/caveats/eval.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/tuple/tuple.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch

#995 address some caveat TODOs
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/api v1, area/tooling

#997 Make sure ReadSchema returns caveats as well
  internal/services/integrationtesting/ops_test.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
Labels: area/api v1, area/tooling

#996 Add testutil packages and clean up copy-pasted code
  e2e/go.mod
  e2e/go.sum
  internal/caveats/builder.go
  internal/caveats/builder_test.go
  internal/caveats/diff.go
  internal/caveats/run_test.go
  internal/datasets/basesubjectset.go
  internal/datasets/subjectset.go
  internal/datasets/subjectset_test.go
  internal/datasets/subjectsetbyresourceid.go
  internal/datasets/subjectsetbyresourceid_test.go
  internal/datasets/subjectsetbytype.go
  internal/datasets/subjectsetbytype_test.go
  internal/datastore/memdb/caveat.go
  internal/datastore/proxy/caching_test.go
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/foundsubject_test.go
  internal/developmentmembership/membership.go
  internal/developmentmembership/membership_test.go
  internal/developmentmembership/trackingsubjectset.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/keys/computed_test.go
  internal/graph/check.go
  internal/graph/lookupsubjects.go
  internal/graph/membershipset.go
  internal/graph/membershipset_test.go
  internal/graph/parallelchecker.go
  internal/graph/reachableresources.go
  internal/namespace/diff.go
  internal/namespace/typesystem.go
  internal/namespace/util.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/shared/schema.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  internal/testutil/subjects.go
  internal/testutil/subjects_test.go
  pkg/caveats/compile.go
  pkg/caveats/structure.go
  pkg/datastore/test/namespace.go
  pkg/development/validation.go
  pkg/development/wasm/operations_test.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/testutil/proto.go
  pkg/testutil/proto_test.go
  pkg/util/chunking.go
  pkg/util/chunking_test.go
  pkg/util/multimap.go
  pkg/util/multimap_test.go
  pkg/util/set.go
  pkg/util/set_test.go
Labels: area/schema, area/api v1, area/datastore, area/tooling, area/dispatch

#999 fixes broken docker compose link
  README.md
Labels: area/docs

#992 datastore/postgres: remove the compensation code for migration phases
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
Labels: area/datastore, area/tooling

#981 Add validation of relationships to file loader
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/legacy.yaml
Labels: area/api v1, area/tooling

#994 Fix for PG when schema is specified in the db url
  internal/datastore/postgres/migrations/zz_migration.0012_add_xid_constraints.go
Labels: area/datastore

#1003 Improve the error message for duplicate rels within a single WriteRel…
  internal/services/v1/errors.go
Labels: area/api v1

#1004 Return InvalidArgument if caveats are disabled in WriteRels call
  internal/services/v1/relationships.go
Labels: area/api v1

#1002 Add context and default timeout for validationfile loading
  internal/middleware/pertoken/pertoken.go
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/testserver/datastore/config/config.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/tuple/tuple.go
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
Labels: area/CLI, area/tooling

#1006 Add len checks to WriteCaveats before attempting to write nothing
  CONTRIBUTING.md
  internal/datastore/crdb/caveat.go
  internal/datastore/mysql/caveat.go
  internal/datastore/postgres/caveat.go
  pkg/datastore/caveat.go
  pkg/datastore/test/caveat.go
Labels: area/docs, area/datastore

#1008 Catch nil values for FoundSubjectsByResourceID map and return as errors
  internal/datasets/subjectsetbyresourceid.go
  internal/datasets/subjectsetbyresourceid_test.go
  internal/graph/lookupsubjects.go
Labels: area/tooling

#1012 move off ristretto fork
  go.mod
  go.sum
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/keys/hasher_ristretto.go
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
Labels: area/dependencies, area/tooling, area/dispatch

#1009 Return a more descriptive error for watch when not enabled
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/watch.go
  internal/services/v1/errors.go
  internal/testserver/datastore/postgres.go
  pkg/datastore/errors.go
Labels: area/api v1, area/datastore, area/tooling

#1015 Fix memdb to always generate unique revision IDs
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/revisions.go
  pkg/datastore/test/caveat.go
Labels: area/datastore

#1016 Early iterator closing in dispatch
  .github/workflows/lint.yaml
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/shared/schema.go
  internal/services/v1/preconditions.go
  internal/services/v1/relationships.go
  pkg/datastore/tuple.go
  tools/analyzers/closeafterusagecheck/closeafterusagecheck.go
  tools/analyzers/closeafterusagecheck/closeafterusagecheck_test.go
  tools/analyzers/closeafterusagecheck/testdata/src/notimmediatelyclosed/notimmediatelyclosed.go
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
Labels: area/api v1, area/tooling

#1010 Add configurable concurrency limits per dispatch type
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/graph_test.go
  internal/services/integrationtesting/consistency_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling, area/dispatch

#1019 Switch the namespace cache to use estimated costs and no serialization
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/estimatednssize_test.go
Labels: area/datastore, area/tooling

#1023 Fix the flake in the estimated size test for nsdefs
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/estimatednssize_test.go
Labels: area/datastore, area/tooling

#1025 Fix metadata on ErrCannotWriteToPermission
  internal/relationships/errors.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling
