Repository authzed/spicedb, pull requests merged in 2022-06, with the labels that each got.

#629 Depbot updates for June 1
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#635 Depbot Updates for June 1 - part 2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#637 Handle case where memdb is closed before a transaction completes
  internal/datastore/memdb/memdb.go
Labels: area/datastore

#641 Shorten the prefixes on cache keys to save some memory
  internal/dispatch/dispatch.go
  internal/dispatch/dispatch_test.go
Labels: area/tooling, area/dispatch

#645 Remove remaining references to v0 API (except developer API)
  e2e/client.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/consistency_test.go
  pkg/development/devcontext.go
  pkg/proto/core/v1/util.go
  pkg/testutil/require.go
  pkg/zedtoken/zedtoken_test.go
  pkg/zookie/zookie.go
  pkg/zookie/zookie_test.go
Labels: area/dependencies, area/tooling

#642 Abstract health status management into a helper package and add datastore status
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/remote/cluster.go
  internal/services/health/health.go
  internal/services/healthcheck_test.go
  internal/services/server.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
Labels: area/CLI, area/tooling, area/dispatch

#646 propagate context to migration functions
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/crdb/migrations/manager.go
  internal/datastore/crdb/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/crdb/migrations/zz_migration.0002_add_transactions.go
  internal/datastore/crdb/migrations/zz_migration.0003_add_metadata_and_counters.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/executor.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/migrations/migrations_test.go
  internal/datastore/options/options.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/migrations/manager.go
  internal/datastore/postgres/migrations/zz_migration.0001_1eaeba4b8a73_initial.go
  internal/datastore/postgres/migrations/zz_migration.0002_add_reverse_index.go
  internal/datastore/postgres/migrations/zz_migration.0003_add_unique_living_ns.go
  internal/datastore/postgres/migrations/zz_migration.0004_add_transaction_timestamp_index.go
  internal/datastore/postgres/migrations/zz_migration.0005_change_transaction_timestamp_default.go
  internal/datastore/postgres/migrations/zz_migration.0006_add_gc_index.go
  internal/datastore/postgres/migrations/zz_migration.0007_add_unique_datastore_id.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/migrations/manager.go
  internal/datastore/spanner/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/migrate.go
  pkg/migrate/migrate.go
  pkg/migrate/migrate_test.go
Labels: area/CLI, area/datastore, area/tooling

#649 Add tools for genproto to tools.go
  .github/workflows/build-test.yaml
  go.mod
  go.sum
  install-tools.sh
  pkg/proto/core/v1/core.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/impl/v1/impl.pb.go
  tools.go
Labels: area/dependencies, area/tooling

#647 Start moving from the externally-defined developer API to an internally defined set of types
  internal/services/v0/developer.go
  pkg/development/assertions.go
  pkg/development/devcontext.go
  pkg/development/development_test.go
  pkg/development/internal.go
  pkg/development/parsing.go
  pkg/development/schema.go
  pkg/development/validation.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  proto/internal/developer/v1/developer.proto
Labels: area/api v0, area/tooling

#650 Ensure the released version appears with a staring `v` prefix
  .goreleaser.yml
Labels: kind/bug, area/tooling

#655 introduce support to run migrations atomically
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/crdb/migrations/manager.go
  internal/datastore/crdb/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/crdb/migrations/zz_migration.0002_add_transactions.go
  internal/datastore/crdb/migrations/zz_migration.0003_add_metadata_and_counters.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/batch.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/executor.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/migrations/migrations_test.go
  internal/datastore/mysql/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/mysql/migrations/zz_migration.0002_add_unique_datastore_id.go
  internal/datastore/mysql/tx.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/migrations/manager.go
  internal/datastore/postgres/migrations/zz_migration.0001_1eaeba4b8a73_initial.go
  internal/datastore/postgres/migrations/zz_migration.0002_add_reverse_index.go
  internal/datastore/postgres/migrations/zz_migration.0003_add_unique_living_ns.go
  internal/datastore/postgres/migrations/zz_migration.0004_add_transaction_timestamp_index.go
  internal/datastore/postgres/migrations/zz_migration.0005_change_transaction_timestamp_default.go
  internal/datastore/postgres/migrations/zz_migration.0006_add_gc_index.go
  internal/datastore/postgres/migrations/zz_migration.0007_add_unique_datastore_id.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/migrations/manager.go
  internal/datastore/spanner/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  pkg/cmd/migrate.go
  pkg/migrate/migrate.go
  pkg/migrate/migrate_test.go
Labels: area/CLI, area/datastore, area/tooling

#661 expose /healthz endpoint when using the http gateway
  internal/gateway/gateway.go
Labels: area/api http
