Repository authzed/spicedb, pull requests merged in 2022-02, with the labels that each got.

#390 spicedb config: pluggable authentication
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI

#402 bump dependencies
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#395 Avoid logging with testing.T after test has finished
  e2e/newenemy/newenemy_test.go
  e2e/run.go
Labels: area/tooling

#391 add universal consistency middleware
  .github/workflows/build.yaml
  internal/dispatch/combined/combined.go
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/consistency_test.go
  internal/services/servicetester_test.go
  internal/services/v0/acl.go
  internal/services/v0/acl_test.go
  internal/services/v0/namespace.go
  internal/services/v0/namespace_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
  internal/services/v1/testing.go
  internal/services/v1/watch_test.go
  internal/services/v1alpha1/acl_test.go
  internal/services/v1alpha1/schema.go
  internal/services/v1alpha1/schema_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/server.go
  internal/testserver/server.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/testutil/require.go
Labels: area/api v0, area/CLI, area/api v1, area/tooling, area/dispatch

#406 Move the bulk of the dev API impl into its own package
  internal/services/v0/devcontext.go
  internal/services/v0/developer.go
  pkg/development/assertions.go
  pkg/development/check.go
  pkg/development/devcontext.go
  pkg/development/internal.go
  pkg/development/parsing.go
  pkg/development/schema.go
  pkg/development/validation.go
Labels: area/api v0

#408 Add more context to schema parse errors
  internal/services/v0/developer_test.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/lexer/lex.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/tests/brokenwildcard.zed.expected
  pkg/schemadsl/parser/tests/permission_invalid_expression.zed.expected
  pkg/schemadsl/parser/tests/permission_missing_expression.zed.expected
  pkg/schemadsl/parser/tests/relation_invalid_type.zed.expected
  pkg/schemadsl/parser/tests/relation_missing_type.zed.expected
Labels: area/api v0, area/schema, area/tooling

#409 Validation file package improvements
  internal/services/consistency_test.go
  pkg/validationfile/blocks.go
  pkg/validationfile/blocks_test.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/fileformat_test.go
  pkg/validationfile/loader.go
Labels: area/tooling

#410 Update authzed-go to bring in the API validation regex fixes
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#413 Change validationfile parsing to be YAML based
  internal/membership/foundsubject_test.go
  internal/services/consistency_test.go
  internal/services/v0/developer_test.go
  pkg/development/assertions.go
  pkg/development/parsing.go
  pkg/development/validation.go
  pkg/validationfile/blocks.go
  pkg/validationfile/blocks/assertions.go
  pkg/validationfile/blocks/assertions_test.go
  pkg/validationfile/blocks/common.go
  pkg/validationfile/blocks/expectedrelations.go
  pkg/validationfile/blocks/expectedrelations_test.go
  pkg/validationfile/blocks/relationships.go
  pkg/validationfile/blocks/relationships_test.go
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/blocks/schema_test.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/fileformat_test.go
  pkg/validationfile/loader.go
Labels: area/api v0, area/tooling

#416 Ensure development package works without context changes
  internal/services/v0/developer.go
  pkg/development/assertions.go
  pkg/development/check.go
  pkg/development/devcontext.go
  pkg/development/development_test.go
  pkg/development/validation.go
Labels: area/api v0, area/tooling

#418 Add line and column info to expected relations validation errors
  internal/services/v0/developer_test.go
  pkg/development/validation.go
  pkg/validationfile/blocks/expectedrelations.go
Labels: area/api v0, area/tooling

#420 Fix version command
  cmd/spicedb/main.go
Labels: kind/bug, area/CLI, priority/2 medium, area/tooling

#298 Add retries with a newly acquired connection
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
Labels: area/datastore, area/tooling

#426 internal/datastore: singlefight revision updates
  internal/datastore/common/revisions.go
Labels: area/datastore

#423 Add a non-caching namespace manager
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookup_test.go
  internal/namespace/caching.go
  internal/namespace/caching_test.go
  internal/namespace/manager.go
  internal/namespace/typesystem_test.go
  internal/services/consistency_test.go
  internal/services/v0/namespace.go
  internal/services/v1alpha1/schema.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/development/devcontext.go
Labels: area/api v0, area/CLI, area/api v1, area/tooling, area/dispatch

#428 Add command line flags for setting the sizes of caches
  go.mod
  internal/dispatch/caching/caching.go
  internal/dispatch/combined/combined.go
  internal/namespace/caching.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/dependencies, area/dispatch

#431 Fix handling of removing allowed wildcards on relations
  internal/namespace/diff.go
  internal/namespace/diff_test.go
  internal/services/shared/schema.go
  internal/services/v1/schema_test.go
Labels: kind/bug, priority/0 urgent, area/api v1, area/tooling

#430 don't allocate max_int length slices
  internal/datastore/common/sql.go
Labels: kind/bug, priority/0 urgent, area/datastore
