Repository authzed/spicedb, pull requests merged in 2022-10, with the labels that each got.

#867 Dependabot updates for Oct 22
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#873 Dependabot updates for Oct 2022, Part 2
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core.pb.validate.manual.go
Labels: area/dependencies

#876 Dependabot updates for Oct 2022, Part 3
  go.mod
  go.sum
Labels: area/dependencies

#866 Add caveats flag to disable writing by default on all datastores
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readonly.go
  internal/services/v1/relationships.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/api v1, area/datastore

#852 Improves Postgres write performance
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/gc.go
  internal/datastore/common/revisions/remoteclock.go
  internal/datastore/memdb/revisions.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/README.md
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/zz_migration.0009_add_xid8_columns.go
  internal/datastore/postgres/migrations/zz_migration.0010_add_xid_indices.go
  internal/datastore/postgres/migrations/zz_migration.0011_add_xid_constraints.go
  internal/datastore/postgres/migrations/zz_migration.0012_drop_bigserial_ids.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
  internal/datastore/postgres/xid8.go
  internal/testserver/datastore/postgres.go
  pkg/datastore/errors.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dependencies, area/tooling

#858 Implement structured errors for all user facing errors
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/graph/errors.go
  internal/graph/errors.go
  internal/middleware/consistency/consistency.go
  internal/namespace/errors.go
  internal/namespace/typesystem.go
  internal/services/shared/errors.go
  internal/services/v1/errors.go
  internal/services/v1/permissions.go
  internal/services/v1/preconditions.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
  internal/services/v1alpha1/errors.go
  internal/services/v1alpha1/schema.go
  internal/services/v1alpha1/schema_test.go
  pkg/datastore/caveat.go
  pkg/datastore/errors.go
  pkg/development/devcontext.go
  pkg/development/parsing.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/errors.go
  pkg/schemadsl/compiler/node.go
  pkg/schemadsl/compiler/translator.go
  pkg/spiceerrors/common.go
  pkg/spiceerrors/testutil.go
  pkg/spiceerrors/withstatus.go
  pkg/validationfile/blocks/assertions.go
  pkg/validationfile/blocks/assertions_test.go
  pkg/validationfile/blocks/errors.go
  pkg/validationfile/blocks/expectedrelations.go
  pkg/validationfile/blocks/relationships.go
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat_test.go
Labels: area/schema, area/api v1, area/dependencies, area/tooling, area/dispatch

#888 disable async logging
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  pkg/cmd/server/defaults.go
Labels: area/CLI, area/tooling

#878 adds tests to demonstrate various caveat use-cases
  internal/dispatch/graph/computecheck_test.go
  pkg/caveats/customtypes/ipaddress.go
  pkg/caveats/customtypes/now.go
  pkg/caveats/types_test.go
Labels: area/tooling, area/dispatch

#893 fix datastore integration tests not running
  .github/workflows/build-test.yaml
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#891 Incremental migrations
  internal/datastore/postgres/migrations/zz_migration.0009_add_xid8_columns.go
  internal/datastore/postgres/migrations/zz_migration.0010_add_xid_indices.go
  internal/datastore/postgres/migrations/zz_migration.0010_backfill_xid_add_indices.go
  internal/datastore/postgres/migrations/zz_migration.0011_add_xid_constraints.go
  internal/datastore/postgres/migrations/zz_migration.0012_drop_id_constraints.go
  internal/datastore/postgres/migrations/zz_migration.0013_drop_bigserial_ids.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
  pkg/migrate/context.go
Labels: area/CLI, area/datastore, area/tooling

#897 Enable goreleaser pro, push linux packages to gemfury
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: priority/3 low, area/tooling

#890 add caveat support to postgres datastore
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/caveat.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/migrations/zz_migration.0009_caveat.go
  internal/datastore/postgres/migrations/zz_migration.0010_add_xid8_columns.go
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/postgres/migrations/zz_migration.0012_add_xid_constraints.go
  internal/datastore/postgres/migrations/zz_migration.0013_drop_id_constraints.go
  internal/datastore/postgres/migrations/zz_migration.0014_drop_bigserial_ids.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/watch.go
  internal/dispatch/graph/computecheck.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
  pkg/datastore/caveat.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/migrate/migrate.go
Labels: area/CLI, area/api v1, area/datastore, area/dispatch, area/caveats

#899 refactoring of caveat datastore methods
  internal/datastore/common/sql.go
  internal/datastore/crdb/caveat.go
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/caveat.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/caveat.go
  internal/dispatch/graph/computecheck.go
  internal/dispatch/graph/computecheck_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/datastore.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/datastore, area/tooling, area/dispatch

#904 fix calls to logger that are not being sent
  internal/datastore/mysql/migrations/driver.go
  internal/middleware/consistency/consistency.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/errors.go
  pkg/development/devcontext.go
Labels: area/api v1, area/datastore

#907 Add a lint check for zerolog expression statements without Send or Msg calls
  .github/workflows/lint.yaml
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/exprstatementcheck/exprstatementcheck.go
  tools/analyzers/exprstatementcheck/exprstatementcheck_test.go
  tools/analyzers/exprstatementcheck/testdata/src/missingsend/log.go
  tools/analyzers/exprstatementcheck/testdata/src/missingsend/missingsend.go
Labels: area/tooling

#906 more follow ups to caveats in datastore
  internal/datastore/crdb/caveat.go
  internal/datastore/memdb/caveat.go
  internal/datastore/mysql/caveat.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/migrations/zz_migration.0009_caveat.go
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/caveat.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/test/caveat.go
Labels: area/datastore, area/tooling

#909 Fix stack overflow on error marshalling for zerolog
  go.mod
  go.sum
  internal/auth/presharedkey.go
  internal/auth/presharedkey_test.go
  internal/logging/interceptor.go
  internal/middleware/chain.go
  internal/middleware/consistency/consistency_test.go
  internal/middleware/pertoken/pertoken.go
  internal/middleware/usagemetrics/usagemetrics_test.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  internal/services/v1alpha1/schema.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/datastore/errors.go
  pkg/datastore/errors_test.go
Labels: area/CLI, area/api v1, area/dependencies, area/tooling

#912 Tech Debt cleanup: move LogOnError into common datastore package
  internal/datastore/common/logging.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/stats.go
  internal/datastore/mysql/watch.go
Labels: area/datastore

#900 internal: store serialized protos in caches
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/dispatch/caching/caching.go
Labels: area/datastore, area/tooling, area/dispatch

#919 Add a namespace proxy cache test suite using a real datastore
  internal/datastore/proxy/caching_test.go
Labels: area/datastore, area/tooling

#922 fix more instances of zerolog marshall recursion
  internal/dispatch/graph/errors.go
  internal/graph/errors.go
  internal/services/v1/errors.go
  pkg/caveats/parameters.go
Labels: area/api v1, area/dispatch

#924 add missing caveat test, update caveat example
  internal/dispatch/graph/computecheck_test.go
  internal/services/v1/errors.go
  internal/services/v1alpha1/errors.go
  pkg/caveats/env.go
  pkg/caveats/types/map.go
  pkg/caveats/types/map_test.go
  pkg/caveats/types/registration.go
  pkg/datastore/test/caveat.go
  pkg/spiceerrors/withstatus.go
Labels: area/api v1, area/tooling, area/dispatch

#925 Sever namespace read context
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
Labels: area/datastore, area/tooling

#929 implement caveat support for spanner
  .golangci.yaml
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/migrations/zz_migration.0003_add_caveats.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/datastore/test/caveat.go
Labels: area/datastore, area/tooling

#927 include sboms in release
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  .goreleaser.yml
Labels: area/tooling

#913 Elide updates of namespaces which have not changed at all
  internal/services/shared/schema.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
  internal/services/v1alpha1/schema.go
Labels: area/api v1, area/tooling

#942 datastore/postgres: stop casting xid in queries altogether
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/postgres/revisions.go
Labels: area/datastore

#944 Don't return the caveat key in the ObjectDefinitionNames in v1alpha1 …
  internal/services/v1alpha1/schema.go
Labels: area/api v1

#945 Mark devtools gRPC endpoint enabled by default for the serve-devtools command
  pkg/cmd/devtools.go
Labels: area/CLI

#947 Breakout the integration test suite from unit tests
  .github/workflows/build-test.yaml
  internal/services/integrationtesting/benchconfigs/checkwidegroups.yaml
  internal/services/integrationtesting/benchconfigs/lookupintersection.yaml
  internal/services/integrationtesting/benchconfigs/widegroups.yaml
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/healthcheck_test.go
  internal/services/integrationtesting/ops_test.go
  internal/services/integrationtesting/perf_test.go
  internal/services/integrationtesting/servicetester_test.go
  internal/services/integrationtesting/testconfigs/3letterrbac.yaml
  internal/services/integrationtesting/testconfigs/aliasing.yaml
  internal/services/integrationtesting/testconfigs/authn.yaml
  internal/services/integrationtesting/testconfigs/bannedintersectwildcard.yaml
  internal/services/integrationtesting/testconfigs/basicrbac.yaml
  internal/services/integrationtesting/testconfigs/directgroups.yaml
  internal/services/integrationtesting/testconfigs/document.yaml
  internal/services/integrationtesting/testconfigs/groupsintersection.yaml
  internal/services/integrationtesting/testconfigs/indirectgroups.yaml
  internal/services/integrationtesting/testconfigs/indirectnestedgroups.yaml
  internal/services/integrationtesting/testconfigs/intersectrecursivettu.yaml
  internal/services/integrationtesting/testconfigs/linuxfoundation.yaml
  internal/services/integrationtesting/testconfigs/lookupsametypes.yaml
  internal/services/integrationtesting/testconfigs/mixednil.yaml
  internal/services/integrationtesting/testconfigs/nestedrecursive.yaml
  internal/services/integrationtesting/testconfigs/nestedwilcardexclusions.yaml
  internal/services/integrationtesting/testconfigs/nil.yaml
  internal/services/integrationtesting/testconfigs/nilexclusion.yaml
  internal/services/integrationtesting/testconfigs/public.yaml
  internal/services/integrationtesting/testconfigs/publicviaintersection.yaml
  internal/services/integrationtesting/testconfigs/publicviattu.yaml
  internal/services/integrationtesting/testconfigs/publicwithexclusion.yaml
  internal/services/integrationtesting/testconfigs/quay.yaml
  internal/services/integrationtesting/testconfigs/recursivearrowref.yaml
  internal/services/integrationtesting/testconfigs/sharewith.yaml
  internal/services/integrationtesting/testconfigs/simplerecursive.yaml
  internal/services/integrationtesting/testconfigs/simplewildcard.yaml
  internal/services/integrationtesting/testconfigs/teamwitharrow.yaml
  internal/services/integrationtesting/testconfigs/token.yaml
  internal/services/integrationtesting/testconfigs/walkbackandforth.yaml
  internal/services/integrationtesting/testconfigs/wildcardnested.yaml
  internal/services/integrationtesting/testconfigs/wildcardwithintersection.yaml
  internal/services/integrationtesting/testconfigs/wildcardwithnestedexclusions.yaml
  internal/services/integrationtesting/testconfigs/wildcardwithrightsideexclusion.yaml
Labels: area/tooling

#948 refactor: add context to write methods within a datastore transaction
  internal/datastore/common/helpers.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/graph/computecheck_test.go
  internal/namespace/typesystem_test.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/schema.go
  internal/services/v1alpha1/schema_test.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/caveat.go
  pkg/datastore/datastore.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
  pkg/development/devcontext.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/datastore, area/tooling, area/dispatch

#949 parallelize consistent hashring test
  pkg/consistent/hashring_test.go
Labels: area/tooling

#950 Faster CI Feedback Loop
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  internal/datastore/postgres/postgres_test.go
  internal/testfixtures/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#936 introduce caveat support in MySQL
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/migrations/zz_migration.0004_add_caveat.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/caveat.go
Labels: area/CLI, area/datastore

#951 fixes caching of loop variable in the wrong place
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

#953 Add datastore proxy for separating context
  e2e/go.mod
  e2e/go.sum
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/revisions.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  pkg/cmd/server/server.go
  pkg/datastore/tracing.go
Labels: area/CLI, area/datastore, area/tooling

#957 Update authzed-go for the additional validation rules
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#960 specifies cache-dependency-path to prevent poisoning
  .github/workflows/build-test.yaml
Labels: area/tooling

#956 do not run CRDB migration in transaction
  internal/datastore/crdb/migrations/manager.go
  internal/datastore/crdb/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/crdb/migrations/zz_migration.0002_add_transactions.go
  internal/datastore/crdb/migrations/zz_migration.0003_add_metadata_and_counters.go
  internal/datastore/crdb/migrations/zz_migration.0004_add_caveats.go
Labels: area/datastore

#962 Change experimental caveats flag to be handled at the service level
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readonly.go
  internal/services/server.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/schema.go
  internal/testserver/server.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
Labels: area/CLI, area/api v1, area/datastore

#940 datastore: DeleteNamespace => DeleteNamespaces
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/schema.go
  internal/services/v1alpha1/schema_test.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/api v1, area/datastore, area/tooling

#965 Add shorter timeouts and better config to gRPC dialing in tests
  internal/services/integrationtesting/cert_test.go
  internal/testserver/cluster.go
Labels: area/tooling
