Repository authzed/spicedb, pull requests merged in 2023-05, with the labels that each got.

#1251 document the implications of using the `insecure` overlap strategy for cockroachdb
  internal/datastore/crdb/README.md
Labels: area/datastore

#1301 Dependabot updates for May 2023
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: area/dependencies

#1305 Move to Go 1.20.4 to fix a reported vuln in Go
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1304 Skip initializing the telemetry collector if telemetry is disabled
  pkg/cmd/server/server.go
Labels: area/CLI

#1302 Fix serialization of custom types in caveat context
  internal/services/v1/debug_test.go
  pkg/caveats/context.go
  pkg/caveats/context_test.go
  pkg/caveats/types/custom.go
  pkg/caveats/types/ipaddress.go
  pkg/caveats/types/registration.go
Labels: area/api v1, area/tooling

#1311 Add a datastore benchmark for mixtures of CREATE and TOUCH
  internal/datastore/benchmark/driver_bench_test.go
Labels: area/datastore, area/tooling

#1314 prepares for merge-queue enablement
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: area/tooling

#1315 reduces flakiness of servetesting integration test
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/CLI, area/dependencies, area/tooling

#1281 Bulk load experimental API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/tx_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/revisions_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/middleware/streamtimeout/streamtimeout.go
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/server.go
  internal/services/shared/errors.go
  internal/services/shared/errors_test.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/testfixtures/generator.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/transactions.go
  pkg/development/assertions.go
  pkg/development/devcontext.go
  pkg/tuple/proto_interface.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  pkg/validationfile/loader.go
Labels: area/CLI, area/api v1, area/datastore, area/dependencies, area/tooling

#1325 Skip logging of serialization errors in pgx
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

#1318 add magefiles for running project commands
  .gitattributes
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/wasm.yaml
  .gitignore
  .golangci.yaml
  Dockerfile
  README.md
  buf.gen.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  hack/install-tools.sh
  hack/update-all-deps.sh
  internal/services/integrationtesting/testconfigs/basiccaveat.yaml
  mage.go
  magefiles/alias.go
  magefiles/build.go
  magefiles/deps.go
  magefiles/gen.go
  magefiles/lint.go
  magefiles/test.go
  magefiles/util.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  tools.go
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/docs, area/dependencies, area/tooling

#1310 balancer: rewrite the consistent hashring balancer to avoid recomputations
  cmd/spicedb/main.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/balancer/hashring_test.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/tooling

#1328 Add require.Eventually to remove flakiness on image tests
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
Labels: area/CLI, area/tooling

#1330 Add retries around spawning images in servetesting
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#1267 Preloaded task runner for check dispatch
  internal/graph/check.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/preloadedtaskrunner_test.go
Labels: area/tooling

#1332 Add additional eventually to integrate test to try to reduce flakiness
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#1306 Add support for limited deletion of relationships
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

#1334 README: add Netflix <> Caveats shoutout
  README.md
Labels: area/docs

#1336 Change namespace+relation validation to use a single DB lookup
  internal/namespace/util.go
  internal/namespace/util_test.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/tooling

#1335 Add unit tests for all type system operations
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
Labels: area/tooling

#1294 crdb: add a connection-balancing retry-aware connection pool
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/datastore/crdb/pool/fake_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/pool/health_test.go
  internal/datastore/crdb/pool/node_id.go
  internal/datastore/crdb/pool/pgx.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/pool/slqerrors.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/tx.go
  internal/datastore/crdb/version.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/stats.go
  internal/services/integrationtesting/healthcheck_test.go
  magefiles/test.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/context.go
  pkg/datastore/test/transactions.go
Labels: area/CLI, area/datastore, area/dependencies, area/tooling

#1296 Add support for cursors and limits on LookupResources API calls
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/graph/zz_generated.options.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/hasher_common.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/graph.go
  internal/graph/limits.go
  internal/graph/limits_test.go
  internal/graph/lookup.go
  internal/graph/lookupresources.go
  internal/graph/parallelchecker.go
  internal/graph/parallelchecker_test.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap_test.go
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/namespace/reachabilitygraph.go
  internal/services/dispatch/v1/acl.go
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/lrordering.yaml
  internal/services/integrationtesting/testconfigs/lroverrelation.yaml
  internal/services/integrationtesting/testconfigs/sharewith.yaml
  internal/services/shared/errors.go
  internal/services/v1/hash.go
  internal/services/v1/hash_nonwasm.go
  internal/services/v1/hash_test.go
  internal/services/v1/hash_wasm.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/caveats/context_hash.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/testutil/proto.go
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling, area/dispatch

#1341 Remove parallel and log to see why test is flaky
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#1331 Force custom plans in Postgres
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#1337 MySQL: nullable information_schema.tables columns and add test-suite for MySQL8
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/stats.go
  internal/testserver/datastore/mysql.go
Labels: area/datastore, area/tooling

#1343 healthcheck test: don't share testing.T with subtests and speed up test
  internal/services/integrationtesting/healthcheck_test.go
Labels: area/tooling

#1326 internal/services/v1: add bulk export to the experimental service
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/api v1, area/dependencies, area/tooling

#1346 Update CONTRIBUTING with info on mage
  CONTRIBUTING.md
Labels: area/docs

#1309 Add ability to query relationships, sorted by subject
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/readonly.go
  internal/testfixtures/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/test/pagination.go
Labels: area/datastore, area/tooling

#1349 fix typo in StreamReadTimeout option
  internal/services/v1/experimental.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
Labels: area/api v1

#1351 Additional SQL tests for order BySubject
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

#1352 Remove the panic on combineCursor
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/reachableresources.go
Labels: area/tooling

#1360 Add a test to ensure LookupResource cursors are stable across calls
  internal/dispatch/graph/lookupresources_test.go
Labels: area/tooling, area/dispatch

#1353 Fix CRDB pool readiness startup log
  internal/datastore/crdb/crdb.go
Labels: kind/bug, area/datastore

#1354 allow connpool flags to be written as conn-pool
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#1362 Schema ZedTokens
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/gateway/gateway.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch, area/api http
