Repository authzed/spicedb, pull requests merged in 2023-01, with the labels that each got.

#1084 Dependabot updates for Jan 2023
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/spanner/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  internal/datastore/spanner/migrations/zz_migration.0003_add_caveats.go
  internal/testserver/datastore/spanner.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/tuple/tuple_test.go
Labels: area/datastore, area/dependencies, area/tooling

#839 Direct check performance improvements
  .github/workflows/build-test.yaml
  e2e/go.mod
  e2e/go.sum
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/reader.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/observable.go
  internal/datastore/spanner/reader.go
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/graph/membershipset.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/benchconfigs/checkwidedirect.yaml
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/shared/schema.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/relationshipquerytree.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/validationfile/loader.go
Labels: area/perf, area/datastore, area/tooling, area/dispatch

#1086 Add additional goroutine leak testing to Lookup* and fix possible deadlock in ReachableResources
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookup_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/reachableresources.go
  internal/graph/taskrunner.go
  internal/graph/taskrunner_test.go
  pkg/testutil/require.go
Labels: area/tooling, area/dispatch

#1091 README: rephrase project description
  README.md
Labels: area/docs

#1089 refactor datastore flags to make them reusable
  pkg/cmd/datastore.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#1093 Update reported min version for Postgres
  internal/datastore/postgres/README.md
  internal/datastore/postgres/version/version.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore

#1092 align datastore defaults
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/healthcheck_test.go
  internal/services/integrationtesting/perf_test.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/datastore_test.go
Labels: area/CLI, area/tooling

#1094 adds log.Ctx(ctx) calls (almost) everywhere
  internal/datastore/common/gc.go
  internal/datastore/common/revisions/optimized.go
  internal/datastore/common/revisions/remoteclock.go
  internal/datastore/crdb/crdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/migrations/zz_migration.0011_backfill_xid_add_indices.go
  internal/datastore/spanner/gc.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/stats.go
  internal/dispatch/caching/caching.go
  internal/middleware/pertoken/pertoken.go
  internal/services/dispatch/v1/acl.go
  internal/services/health/health.go
  internal/telemetry/reporter.go
  pkg/cmd/datastore.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/devtools.go
  pkg/cmd/migrate.go
  pkg/cmd/server/server.go
  pkg/cmd/signals.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/util/util.go
  pkg/migrate/migrate.go
  pkg/releases/cli.go
  pkg/validationfile/loader.go
Labels: area/CLI, area/datastore, area/dispatch

#1095 Add an API test for deleting a relationship that does not exist
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

#1087 Consistency test reimplementation
  go.mod
  go.sum
  internal/developmentmembership/foundsubject.go
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/integrationtesting/consistencytestutil/configs.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/basiccaveat.yaml
  internal/services/integrationtesting/testconfigs/basicrbac.yaml
  internal/services/integrationtesting/testconfigs/caveatarrow.yaml
  internal/testserver/cluster.go
  pkg/util/multimap.go
Labels: area/dependencies, area/tooling

#1097 Add consistency test for reading relationships
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
Labels: area/tooling

#1099 Add additional consistency test cases and enable chunk size changing
  internal/datastore/common/sql.go
  internal/graph/check.go
  internal/graph/graph.go
  internal/graph/parallelchecker.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/testconfigs/arrowtosamesubject.yaml
  internal/services/integrationtesting/testconfigs/widearrow.yaml
  pkg/datastore/datastore.go
  pkg/util/chunking.go
  pkg/util/chunking_test.go
Labels: area/datastore, area/tooling

#1104 Fix flake in debug tests
  internal/services/v1/debug_test.go
Labels: area/api v1, area/tooling

#1098 Optimize allocations by removing sprintf, using strings.Cut
  internal/datasets/subjectsetbytype.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/keys.go
  internal/datastore/memdb/schema.go
  internal/datastore/mysql/connection.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/stats.go
  internal/datastore/spanner/spanner.go
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/trackingsubjectset.go
  internal/dispatch/graph/graph.go
  internal/dispatch/keys/hasher_common.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/namespace/typesystem.go
  internal/services/v1/debug.go
  internal/telemetry/metrics.go
  pkg/caveats/types/types.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
  pkg/development/validation.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/schemadsl/parser/parser.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/onrbytypeset_test.go
  pkg/tuple/relationship.go
  pkg/tuple/relationship_test.go
  pkg/validationfile/blocks/errors.go
  pkg/validationfile/blocks/expectedrelations.go
Labels: area/CLI, priority/3 low, area/perf, area/schema, area/api v1, area/datastore, area/tooling, kind/tech debt, area/dispatch

#1107 Expose the V1 API debug information in dev package
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
  pkg/development/check.go
  pkg/development/wasm/operations.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/buf.lock
  proto/internal/buf.yaml
  proto/internal/developer/v1/developer.proto
Labels: area/api v1

#1111 Make sure to catch error tokens in caveat parsing
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/invalidcaveatexpr.zed
  pkg/schemadsl/parser/tests/invalidcaveatexpr.zed.expected
Labels: area/schema, area/tooling

#1113 .github: explicit github token for buf-generate
  .github/workflows/build-test.yaml
Labels: area/tooling

#1112 Add additional option to CEL to compile caveat macro expressions
  internal/services/integrationtesting/testconfigs/caveatlist.yaml
  pkg/caveats/compile_test.go
  pkg/caveats/env.go
Labels: area/tooling

#1106 Part 2 of consistency tests using caveats
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/allopscaveat.yaml
  internal/services/integrationtesting/testconfigs/publiccaveat.yaml
  internal/services/integrationtesting/testconfigs/publiccaveatexclusion.yaml
Labels: area/tooling

#1101 fixes positional argument errors failing silently
  cmd/spicedb/main.go
Labels: area/CLI

#1115 Add consistency test for maps in caveats and better typed errors on caveat evaluation
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/caveats/errors.go
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/services/integrationtesting/testconfigs/caveatmap.yaml
  internal/services/v1/permissions_test.go
  pkg/caveats/errors.go
  pkg/caveats/eval.go
  pkg/spiceerrors/util.go
Labels: area/api v1, area/dependencies, area/tooling

#1110 pkg/cache: default TTL of 2x quantization window
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/server.go
Labels: area/CLI, priority/3 low, area/perf

#1120 Only write caveats that have been possibly updated
  internal/caveats/diff.go
  internal/caveats/diff_test.go
  internal/services/shared/schema.go
Labels: area/tooling

#1127 Add some additional MySQL GC tests
  internal/datastore/common/gc.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#1128 Remove return left in previous PR
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#1125 More caveat consistency tests
  internal/caveats/run.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/testconfigs/expiration.yaml
  internal/services/integrationtesting/testconfigs/quay.yaml
  internal/services/v1/debug.go
  pkg/caveats/context.go
  pkg/caveats/context_test.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
Labels: area/api v1, area/tooling

#1129 Add an explicit error if parseTime is missing from MySQL URIs
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling
