Repository authzed/spicedb, pull requests merged in 2023-09, with the labels that each got.

#1517 README: swap to our DNS for rpm/debian packages
  README.md
Labels: area/docs

#1519 Fixes for the watching schema cache
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
Labels: area/datastore, area/tooling

#1531 Update gRPC and Go versions
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#1532 *: go 1.21 API changes
  cmd/spicedb/migrate_integration_test.go
  internal/caveats/run.go
  internal/datasets/basesubjectset.go
  internal/datasets/subjectsetbyresourceid_test.go
  internal/datastore/common/gc.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/memdb/readonly.go
  internal/datastore/postgres/snapshot.go
  internal/datastore/proxy/schemacaching/intervaltracker.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/dispatch/caching/caching.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/namespace/resolver.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  internal/testutil/subjects.go
  pkg/caveats/context.go
  pkg/caveats/context_hash.go
  pkg/caveats/structure_test.go
  pkg/caveats/types/types.go
  pkg/spiceerrors/util.go
  pkg/testutil/proto.go
  pkg/testutil/proto_test.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
  pkg/validationfile/blocks/expectedrelations.go
  tools/analyzers/closeafterusagecheck/closeafterusagecheck.go
  tools/analyzers/exprstatementcheck/exprstatementcheck.go
  tools/analyzers/nilvaluecheck/nilvaluecheck.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling, area/dispatch

#1536 Inform Docker of the port that spicedb listens on
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1537 crdb: better max retry errors (especially with retries disabled)
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/pool/slqerrors.go
Labels: area/datastore

#1540 Fix a panic in Postgres revision parsing for incompatible ZedTokens
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  pkg/zedtoken/zedtoken_test.go
Labels: kind/bug, area/datastore, area/tooling

#1547 Add better error messaging and tests for memdb serialization error
  internal/datastore/memdb/errors.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/datastore, area/tooling

#1549 runs Postgres tests with all 4 latest versions
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling
