Repository authzed/spicedb, pull requests merged in 2023-12, with the labels that each got.

#1669 make datastore metrics more representative of the actual underlying datastore
  pkg/cmd/server/server.go
Labels: area/CLI

#1677 Move the diff library into pkg for use by external tooling
  internal/services/shared/schema.go
  pkg/diff/caveats/diff.go
  pkg/diff/caveats/diff_test.go
  pkg/diff/namespace/diff.go
  pkg/diff/namespace/diff_test.go
Labels: area/tooling

#1679 schemadsl/compiler: optionally skip validation
  internal/graph/computed/computecheck_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/namespace.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/blocks/schema.go
Labels: priority/2 medium, area/schema, area/api v1, area/tooling

#1678 decorate check dispatch spans with caching and singleflight attributes
  go.mod
  go.sum
  internal/dispatch/caching/caching.go
  internal/dispatch/singleflight/singleflight.go
Labels: area/dependencies, area/dispatch

#1682 fixes datastore command not using the `spicedb` prefix for ENV
  pkg/cmd/datastore.go
Labels: kind/bug, area/CLI

#1684 fixes regression in Schema Watch led schema caching
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/schemacaching/caching.go
  pkg/cmd/datastore.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
Labels: area/CLI, area/datastore, area/tooling

#1683 fixes regression in compiler.Compile() contract
  internal/graph/computed/computecheck_test.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/namespace.go
  pkg/development/schema.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator_test.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/blocks/schema.go
  tools/analyzers/go.work.sum
Labels: area/schema, area/api v1, area/tooling

#1685 Add an integration test for schema watch
  cmd/spicedb/schemawatch_integration_test.go
  cmd/spicedb/serve_integration_test.go
  internal/datastore/proxy/schemacaching/caching.go
Labels: area/CLI, area/datastore, area/tooling

#1686 Use logger from context in RedactAndLogSensitiveConnString
  internal/datastore/common/errors.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/errors_test.go
Labels: area/CLI, area/datastore, area/tooling

#1681 Watch improvements in datastore
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/migrations/zz_migration.0007_register_combined_change_stream.go
  internal/datastore/spanner/migrations/zz_migration.0008_delete_older_changestreams.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  internal/services/server.go
  internal/services/v1/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testserver/testserver.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/errors.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling

#1690 Move to Go 1.21.5 for external vuln fixed in crypto lib
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#1689 Ignore the source position when diffing permission expressions
  pkg/diff/namespace/diff.go
  pkg/diff/namespace/diff_test.go
  pkg/namespace/builder.go
Labels: area/tooling

#1688 fixes WriteRelationships/BulkImport GRPC error codes on conflicts and retryable errors
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool/slqerrors.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

#1694 .github: use public-read-only docker account
  .github/workflows/build-test.yaml
Labels: kind/bug, area/tooling

#1693 pkg/proto: upgrade vtprotobuf to support WKTs
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tools.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
Labels: area/dependencies
