Repository authzed/spicedb, pull requests merged in 2023-06, with the labels that each got.

#1367 Use correct error type for duplicate relationships
  internal/services/v1/errors.go
Labels: area/api v1

#1364 add support for termination log and custom exit codes
  cmd/spicedb/main.go
  e2e/cockroach/cockroach.go
  go.mod
  go.sum
  pkg/cmd/datastore.go
  pkg/cmd/devtools.go
  pkg/cmd/migrate.go
  pkg/cmd/root.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/termination/termination.go
  pkg/cmd/termination/termination_test.go
  pkg/cmd/testing.go
  pkg/spiceerrors/termination.go
Labels: area/CLI, area/dependencies, area/tooling

#1356 introduces a flag to define the maximum relationship context size
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/combined/combined.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
Labels: area/CLI, area/api v1, area/dependencies, area/tooling, area/dispatch

#1365 Parallelize the entrypoint computation in ReachableResources
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/stream.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/limits.go
  internal/graph/limits_test.go
  internal/graph/lookupresources.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/reachableresources.go
  internal/graph/taskrunner.go
  internal/namespace/reachabilitygraph.go
Labels: area/tooling, area/dispatch

#1370 more robust server defaults using optgen defaults
  cmd/spicedb/main.go
  internal/services/integrationtesting/cert_test.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/api v1, area/tooling

#1380 Re-parallelize the checking of resources in LookupResources
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupresources.go
  pkg/util/chunking.go
Labels: area/tooling, area/dispatch

#1382 Switch ReachableResources to use BySubject ordering
  internal/datastore/memdb/readonly.go
  internal/graph/reachableresources.go
Labels: area/datastore

#1383 correctly chunks large bootstrap files
  pkg/cmd/datastore/datastore.go
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/requires_chunking.yaml
Labels: area/CLI, area/tooling

#1385 Fix a deadlock in preloaded task runner
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/graph/preloadedtaskrunner.go
  internal/graph/preloadedtaskrunner_test.go
  internal/graph/reachableresources.go
Labels: area/tooling, area/dispatch

#1387 crdb: report readiness as soon as min connections are available
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#1197 add request-scoped overlap key option for crdb
  e2e/go.mod
  e2e/go.sum
  e2e/newenemy/newenemy_test.go
  go.mod
  go.sum
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/keys.go
  internal/datastore/crdb/keys_test.go
  internal/datastore/crdb/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/dependencies, area/tooling

#1390 document request overlap in crdb/README.md
  internal/datastore/crdb/README.md
Labels: area/datastore

#1392 Move to go 1.20.5 to fix a reported vuln in Go libs
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1389 Properly handle context cancelation in LookupResources processing
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
  internal/middleware/streamtimeout/streamtimeout.go
  internal/services/shared/errors.go
  internal/services/v1/relationships_test.go
  pkg/spiceerrors/withstatus.go
Labels: area/api v1, area/tooling, area/dispatch

#1393 default termination-log to disabled to make sure SpiceDB does not fail to start
  pkg/cmd/termination/termination.go
  pkg/cmd/termination/termination_test.go
Labels: area/CLI, area/tooling

#1394 Change CREATE error into a well-typed error with details
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/errors.go
  internal/datastore/common/helpers.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/common/errors.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/dependencies

#1396 correct SetGlobalLogger in main.go
  cmd/spicedb/main.go
Labels: area/CLI

#1399 Fix generated membership for the development package when using indir…
  internal/developmentmembership/membership.go
  internal/dispatch/graph/expand_test.go
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
Labels: area/tooling, area/dispatch

#1395 grpc middleware order assertion
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
  pkg/cmd/server/testdata/test_schema.yaml
  pkg/spiceerrors/bug.go
  pkg/spiceerrors/bug_test.go
Labels: area/CLI, area/tooling

#1397 Further fixes to context handling in LookupResources and performance improvements
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/context.go
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/limits.go
  internal/graph/limits_test.go
  internal/graph/lookupresources.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/services/v1/permissions.go
  pkg/util/multimap.go
Labels: area/api v1, area/tooling, area/dispatch

#1391 decouples middleware modifications
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/integrationtesting/cert_test.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/testdata/test_schema.yaml
  pkg/cmd/server/zz_generated.options.go
  pkg/spiceerrors/bug.go
  pkg/spiceerrors/bug_test.go
  pkg/util/set.go
  pkg/util/set_test.go
  tools/analyzers/go.work.sum
Labels: area/CLI, area/dependencies, area/tooling

#1402 disambiguate middleware dependency assertion in streaming APIs
  pkg/cmd/server/defaults.go
  pkg/cmd/server/middleware.go
  pkg/cmd/server/middleware_test.go
Labels: area/CLI, area/tooling

#1401 Add durations to check debug tracing
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/graph/check_test.go
  internal/graph/check.go
  internal/services/v1/debug.go
  internal/services/v1/permissions_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/dependencies, area/tooling, area/dispatch

#1403 Cursor memory usage improvements
  internal/graph/cursors.go
  internal/graph/cursors_test.go
  internal/graph/errors.go
  internal/graph/reachableresources.go
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

#1413 more robust nil caveat context handling for Spanner
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/caveat_test.go
Labels: area/datastore, area/tooling

#1409 update to grpc-middleware/v2 rc5
  go.mod
  go.sum
  internal/datastore/crdb/pool/pool.go
  internal/middleware/usagemetrics/usagemetrics.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/services/v1/watch.go
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/middleware/logging/context.go
Labels: area/CLI, area/api v1, area/datastore, area/dependencies

#1412 Deduplicate resources in Check dispatch
  internal/graph/check.go
  internal/services/integrationtesting/testconfigs/arrowtosameresource.yaml
  pkg/tuple/onrbytypeset.go
  pkg/util/unique.go
  pkg/util/unique_test.go
Labels: area/tooling

#1415 restores the streaming OTel middleware
  go.mod
  go.sum
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server_test.go
Labels: area/CLI, area/dependencies, area/tooling
