Repository authzed/spicedb, pull requests merged in 2023-04, with the labels that each got.

#1246 Hashring test perf fix
  cmd/spicedb/main.go
  internal/services/integrationtesting/benchmark_test.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling

#1245 gomod: bump cobrautil
  go.mod
  go.sum
Labels: area/CLI, area/perf, area/dependencies, area/observability

#1250 Fix flakiness of graceful termination test
  pkg/cmd/server/server_test.go
Labels: area/CLI, area/tooling

#1249 Move to v4 of kuberesolver
  cmd/spicedb/main.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/gateway/gateway.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/CLI, area/dependencies, area/tooling, area/api http

#1231 datastore/benchmark: add a datastore driver benchmark
  internal/datastore/benchmark/README.md
  internal/datastore/benchmark/driver_bench_test.go
  internal/testfixtures/generator.go
Labels: area/datastore, area/tooling

#1252 Move to Go version 1.20.3 to fix reported vulns in Go 1.20.2
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1253 Set a subdictionary key for pgx logs adaptor
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

#1226 Fix deduplication bug in reachable resources
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap_test.go
  internal/services/integrationtesting/testconfigs/multiplepathssamelookupresult.yaml
Labels: area/tooling, area/dispatch

#1255 Make sure to bind vars in table driven tests
  cmd/spicedb/serve_integration_test.go
  internal/services/integrationtesting/consistency_test.go
Labels: area/CLI, area/tooling

#1259 Allow for reuse and replace of the serverversion middleware
  pkg/cmd/server/defaults.go
  pkg/middleware/serverversion/serverversion.go
  pkg/releases/releases.go
Labels: area/CLI

#1254 Add support for extended object ids
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/mysql/migrations/zz_migration.0005_extend_object_id.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/integrationtesting/testconfigs/extendedids.yaml
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/development/wasm/main_test.go
  pkg/development/wasm/operations_test.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/tuple/onr_test.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  proto/internal/core/v1/core.proto
Labels: area/api v1, area/datastore, area/dependencies, area/tooling

#1257 goreleaser: publish PRs to brew and not commits
  .goreleaser.yml
Labels: area/tooling, platform/linux, platform/macOS

#1263 Fix flakiness of bootstrap file in serve-testing by squashing all memdb revisions
  cmd/spicedb/restgateway_integration_test.go
  cmd/spicedb/serve_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
  cmd/spicedb/servetesting_race_test.go
  cmd/spicedb/testdata/bootstrap.yaml
  internal/datastore/memdb/revisions.go
  internal/middleware/pertoken/pertoken.go
Labels: area/CLI, area/datastore, area/tooling

#1270 Check the defaults for hashring construction
  pkg/balancer/hashring.go
  pkg/cmd/server/server.go
Labels: area/CLI

#1268 Add a prometheus counter over the different kinds of write operations
  internal/services/v1/relationships.go
Labels: area/api v1

#1271 some follow ups to paginated datastore
  internal/services/v1/relationships.go
  pkg/tuple/tuple.go
Labels: area/api v1

#1273 Revert "goreleaser: publish PRs to brew and not commits"
  .goreleaser.yml
Labels: area/tooling

#1274 Fix goreleaser
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: area/tooling

#1275 fix CRDB ReadRelationships throughput regression with new paginated approach
  internal/datastore/common/sql.go
  internal/datastore/crdb/reader.go
  internal/datastore/spanner/reader.go
Labels: area/perf, area/datastore

#1276 Improve MySQL ReadRelationships paginated throughput
  internal/datastore/mysql/reader.go
Labels: area/datastore

#1279 Fix typo in comment
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#1282 pkg/cmd/server: enable gzip server compression
  pkg/cmd/server/server.go
Labels: area/CLI

#1287 dockerfile: fix path to include /usr/local/bin
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1278 Fix issue where Watch in Postgres was looping endlessly
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

#1288 Fix flake in the proxy test
  internal/datastore/proxy/hedging_test.go
Labels: area/datastore, area/tooling
