Repository authzed/spicedb, pull requests merged in 2023-02, with the labels that each got.

#1132 introduce BootstrapFileContents
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/datastore_test.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/tooling

#1138 Dependabot updates for Feb 2023
  .github/workflows/lint.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#1140 Fix flakiness of cert test
  internal/services/integrationtesting/cert_test.go
Labels: area/tooling

#1144 .github: add missing env to nightly workflow
  .github/workflows/nightly.yaml
Labels: area/tooling

#1145 Split into two goreleaser files
  .github/workflows/nightly.yaml
  nightly.goreleaser.yml
Labels: area/tooling

#1143 Add Postgres integration tests when commit_timestamp is not enabled
  internal/datastore/postgres/postgres_test.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

#1124 Add caching of caveats in caching proxy for datastore
  internal/dashboard/dashboard.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/stats.go
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/stats.go
  internal/datastore/mysql/caveat.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/stats.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/stats.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/datastore/proxy/context.go
  internal/datastore/proxy/estimatedsize_test.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/stats.go
  internal/dispatch/graph/graph.go
  internal/namespace/resolver.go
  internal/namespace/util.go
  internal/relationships/validation.go
  internal/services/shared/schema.go
  internal/services/v1/debug.go
  internal/services/v1/schema.go
  internal/services/v1/schema_test.go
  internal/testfixtures/validating.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/datastore_test.go
  pkg/datastore/caveat.go
  pkg/datastore/datastore.go
  pkg/datastore/errors.go
  pkg/datastore/stats.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/util.go
  pkg/validationfile/loader.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling, area/dispatch, area/dashboard

#1119 Add various timeouts and small fixes to hopefully address the LookupResources memory leak
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  internal/graph/parallelchecker.go
  internal/middleware/streamtimeout/streamtimeout.go
  internal/middleware/streamtimeout/streamtimeout_test.go
  internal/services/dispatch/v1/acl.go
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/CLI, area/api v1, area/tooling, area/dispatch

#1147 .github: use 8 cores for codeql
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1149 pkg/cache: implement a central collector
  internal/dispatch/caching/caching.go
  pkg/cache/cache.go
  pkg/cache/cache_ristretto.go
  pkg/cache/metrics.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
Labels: kind/bug, area/CLI, area/observability, area/dispatch

#1151 makes dispatch metrics toggleable
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling, area/dispatch

#1150 Change release notes update mode
  .goreleaser.yml
Labels: area/tooling

#1154 Mark caveats as a production-ready feature
  internal/caveats/run.go
  internal/services/server.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/testserver/testserver.go
  pkg/development/devcontext.go
Labels: area/CLI, area/api v1

#1155 Remove now-unused caveats flag
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI

#1159 Fix MySQL parseTime check to use the DSN lib
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#1166 improve CRDB GC error message
  internal/datastore/crdb/crdb.go
Labels: area/datastore

#1167 adds caveats to AppliedSchemaChanges
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

#1156 Fix spanner telemetry
  internal/datastore/spanner/stats.go
Labels: area/datastore

#1169 does not return an error if GC windows aren't aligned
  internal/datastore/crdb/crdb.go
Labels: area/datastore

#1172 Move to Golang 1.19.6 to bring some security fixes
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1171 Use the shared relationships validation in dev package
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/relationships/validation.go
  pkg/consistent/hashring_test.go
  pkg/development/devcontext.go
  pkg/development/internal.go
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/dependencies, area/tooling

#1176 Skip loading of head revision on write calls
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/middleware/consistency/consistency.go
Labels: area/api v1, area/tooling

#1177 Add prometheus metric for GC failure in datastore
  internal/datastore/common/gc.go
Labels: area/datastore
