Repository authzed/spicedb, pull requests merged in 2023-07, with the labels that each got.

#1417 CRDB: don't use the init context for pool initialization
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/crdb/crdb.go
Labels: area/datastore, area/dependencies

#1418 rm -rf pkg/util
  cmd/spicedb/migrate_integration_test.go
  internal/caveats/diff.go
  internal/caveats/run.go
  internal/datastore/memdb/caveat.go
  internal/datastore/memdb/readonly.go
  internal/datastore/proxy/caching.go
  internal/datastore/proxy/caching_test.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed_test.go
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupsubjects.go
  internal/graph/resourcesubjectsmap.go
  internal/namespace/diff.go
  internal/namespace/typesystem.go
  internal/namespace/typesystem_test.go
  internal/namespace/util.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/dispatch_test.go
  internal/services/integrationtesting/perf_test.go
  internal/services/shared/schema.go
  internal/services/v1/debug_test.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  internal/testutil/subjects.go
  pkg/caveats/compile.go
  pkg/caveats/structure.go
  pkg/cmd/server/middleware.go
  pkg/genutil/mapz/multimap.go
  pkg/genutil/mapz/multimap_test.go
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
  pkg/genutil/slicez/chunking.go
  pkg/genutil/slicez/chunking_test.go
  pkg/genutil/slicez/unique.go
  pkg/genutil/slicez/unique_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/tuple/onr.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/tuple.go
  pkg/validationfile/blocks/expectedrelations.go
  pkg/validationfile/loader.go
  tools/analyzers/exprstatementcheck/exprstatementcheck.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/nilvaluecheck/nilvaluecheck.go
Labels: area/CLI, area/schema, area/api v1, area/datastore, area/tooling, area/dispatch

#1424 Deduplicate entrypoints for reachable resources
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling, area/dispatch

#1425 Update to latest grpc and grpcutil
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: area/dependencies

#1429 crdb: use follower reads for statistics
  internal/datastore/crdb/stats.go
  pkg/datastore/test/stats.go
Labels: area/datastore

#1428 Reenable support of deleting caveats relationships without specifying the caveat
  internal/relationships/validation.go
  internal/relationships/validation_test.go
  internal/services/v1/experimental.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  pkg/development/devcontext.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

#1430 Fix pgx leak in 5.4.x
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/watch.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies

#1433 updates to pgx 5.4.2
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#1435 bump grpc health probe to v0.4.19
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1439 Fixing a bug in the comment
  cmd/spicedb/main.go
Labels: area/CLI

#1440 Have remote dispatches be counted in the dispatch count
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch

#1441 Fix flakiness in hedging test
  internal/datastore/proxy/hedging_test.go
Labels: area/datastore, area/tooling

#1445 fixes incorrect usage of backoff in GC
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/services/health/health.go
  internal/telemetry/reporter.go
Labels: area/datastore, area/tooling

#1434 scan release images with trivy
  .github/workflows/lint.yaml
  .goreleaser.yml
  Dockerfile
Labels: area/dependencies, area/tooling

#1442 Remove unused usersets splitting from datastore interface
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/reader.go
  internal/datastore/memdb/readonly.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/reader.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  internal/testfixtures/validating.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/CLI, area/datastore, area/tooling

#1452 Remove the old "dashboard" from SpiceDB
  e2e/newenemy/newenemy_test.go
  e2e/spice/spicedb.go
  e2e/spice/spicedb_options.go
  internal/dashboard/dashboard.go
  internal/services/integrationtesting/cert_test.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/util/util.go
Labels: area/CLI, area/tooling, area/dashboard

#1455 move as many tools as possible into the mage module
  go.mod
  go.sum
  magefiles/deps.go
  magefiles/gen.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/lint.go
  magefiles/test.go
  magefiles/tools.go
  magefiles/util.go
  tools.go
  tools/analyzers/go.work.sum
Labels: area/dependencies

#1451 Implement CEL best practices
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/caveats/run.go
  internal/datastore/postgres/tracer.go
  internal/graph/computed/computecheck_test.go
  internal/namespace/caveats.go
  internal/services/v1/experimental.go
  magefiles/go.mod
  magefiles/go.sum
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/env.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
  pkg/caveats/types/basic.go
  pkg/caveats/types/encoding.go
  pkg/caveats/types/ipaddress.go
  pkg/caveats/types/map.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/parser/tests/complexcaveat.zed
  pkg/schemadsl/parser/tests/complexcaveat.zed.expected
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: area/schema, area/api v1, area/datastore, area/dependencies, area/tooling

#1462 update prometheuspb module to new upstream domain
  go.mod
  go.sum
  internal/telemetry/reporter.go
Labels: area/dependencies

#1458 removes Spanner phased migrations
  internal/datastore/postgres/postgres_test.go
  internal/datastore/spanner/gc.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/watch.go
  internal/datastore/spanner/watch_changelog.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/test/datastore.go
Labels: area/CLI, area/datastore, area/tooling, kind/tech debt

#1459 goreleaser: cut individual brew versions
  .goreleaser.yml
Labels: area/tooling

#1465 internal/datastore/proxy: record zero relationships read
  internal/datastore/proxy/observable.go
Labels: area/datastore
