Repository authzed/spicedb, pull requests merged in 2023-08, with the labels that each got.

#1467 actually disable gateway server when disabled
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/CLI, area/tooling, area/api http

#1481 Move to Go 1.20.7 to fix vuln in go stdlib
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1484 Remove trivy scanning of debug images
  .github/workflows/lint.yaml
Labels: area/tooling

#1483 Clarify that development error positions are 1-indexed
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

#1463 Change how dispatches are counted in LookupResources
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/computed/computecheck_test.go
  internal/graph/graph.go
  internal/graph/reachableresources.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling, area/dispatch

#1479 Add integration tests for graceful shutdown of SpiceDB
  cmd/spicedb/serve_integration_test.go
  internal/datastore/common/gc.go
Labels: area/CLI, area/datastore, area/tooling

#1480 Change MySQL definition columns to LONGBLOB in prep for supporting larger definitions
  internal/datastore/mysql/migrations/zz_migration.0006_convert_definitions_to_longblob.go
Labels: area/datastore

#1478 Fix MySQL WriteRelationships query
  internal/datastore/mysql/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

#1489 all: support multiple slashes in object and caveat names
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/integrationtesting/testconfigs/multipleslashes.yaml
  pkg/development/wasm/operations_test.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/compiler/translator_test.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/multipleslashes.zed
  pkg/schemadsl/parser/tests/multipleslashes.zed.expected
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  proto/internal/core/v1/core.proto
Labels: area/schema, area/dependencies, area/tooling

#1482 .github: use 4-core runners for more jobs
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
Labels: area/tooling

#1469 *: extract gRPC balancer into external library
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/remote/cluster.go
  internal/services/v1/hash.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/balancer/hashring_test.go
  pkg/cmd/server/server.go
  pkg/consistent/hashring.go
  pkg/consistent/hashring_test.go
  pkg/consistent/node.go
  tools/analyzers/go.work.sum
Labels: area/CLI, area/api v1, area/dependencies, area/tooling, area/dispatch

#1491 disable datastore hedging by default
  internal/testserver/datastore/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#1492 Fix flaky LR dispatch count test
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#1453 introduce Bulk Check API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/cursors.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/server.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
  internal/services/v1/options/options.go
  internal/services/v1/options/zz_generated.query_options.go
  internal/services/v1/permissions.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/preloadedtaskrunner_test.go
  internal/taskrunner/taskrunner.go
  internal/taskrunner/taskrunner_test.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling

#1499 *: refresh README/CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: area/docs

#1501 switch to authzed/cel-go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/deps.go
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/caveats/errors.go
  pkg/caveats/eval.go
  pkg/caveats/eval_test.go
  pkg/caveats/source.go
  pkg/caveats/types/basic.go
  pkg/caveats/types/ipaddress.go
  pkg/caveats/types/map.go
  pkg/caveats/types/registration.go
  pkg/caveats/types/types.go
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#1426 Load config from spicedb.env
  go.mod
  go.sum
  pkg/cmd/serve_test.go
  pkg/cmd/server/defaults.go
Labels: area/CLI, area/dependencies, area/tooling

#1506 Update authzed-go to increase allowed schema size
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/cmd/serve.go
Labels: area/CLI, area/dependencies

#1508 changes logging level for logger used during startup
  cmd/spicedb/main.go
Labels: area/CLI

#1509 README: update fury instructions to add GPG
  README.md
Labels: area/docs

#1504 chore: add github issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  tools/analyzers/go.work.sum
Labels: area/tooling

#1510 introduces fix for dotenv log messages in cobrautil
  go.mod
  go.sum
Labels: area/dependencies

#1460 Implement a schema cache which updates using a SchemaWatch API
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/hedging.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/proxy/schemacaching/intervaltracker.go
  internal/datastore/proxy/schemacaching/intervaltracker_test.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/proxy/schemacaching/types.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  pkg/cache/cache_ristretto.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#1514 makes paginatedIterator.Close() idempotent
  pkg/datastore/pagination/iterator.go
  pkg/datastore/pagination/iterator_test.go
Labels: area/tooling

#1512 Have invalid cursors return a proper error
  internal/services/v1/relationships_test.go
  pkg/cursor/cursor.go
  pkg/cursor/errors.go
Labels: area/api v1, area/tooling

#1511 Add support for `self` keyword in schema for referencing a resource as a subject
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
  internal/services/integrationtesting/testconfigs/self.yaml
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/self.zed
  pkg/schemadsl/parser/tests/self.zed.expected
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

#1515 Revert "Add support for `self` keyword in schema for referencing a resource as a subject"
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/reachabilitygraph.go
  internal/namespace/reachabilitygraph_test.go
  internal/namespace/reachabilitygraphbuilder.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/integrationtesting/testconfigs/caveatindirectarrow.yaml
  internal/services/integrationtesting/testconfigs/self.yaml
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/self.zed
  pkg/schemadsl/parser/tests/self.zed.expected
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

#1516 removes streaming bulk check API, which is not implemented
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#1518 Invert the flag for the new schema watching cache
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI
