Repository authzed/spicedb, pull requests merged in 2023-11, with the labels that each got.

#1631 Fix flake in Postgres GC revision test by ensuring GC is run
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  pkg/datastore/test/revisions.go
Labels: area/datastore, area/tooling

#1638 Fix the caveat expr limit to be processed by our code
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/superlarge.zed
  pkg/schemadsl/parser/tests/superlarge.zed.expected
Labels: area/schema, area/tooling

#1640 Fix handling of recursive calls via singleflight dispatch
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/permissions.go
  pkg/development/validation.go
  pkg/genutil/mapz/countingmap.go
  pkg/genutil/mapz/countingmap_test.go
  pkg/middleware/requestid/requestid.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/api v1, area/tooling, area/dispatch

#1643 fix dispatch deduplication regression
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/hasher_ristretto.go
  internal/dispatch/keys/hasher_wasm.go
  internal/dispatch/keys/keys.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/gateway/gateway.go
  internal/graph/computed/computecheck.go
  internal/graph/graph.go
  internal/graph/lookupsubjects.go
  internal/graph/reachableresources.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/accessibilityset.go
  internal/services/v1/permissions.go
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/datastore/test/revisions.go
  pkg/development/validation.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/02_resolvermeta.go
  pkg/proto/dispatch/v1/02_resolvermeta_test.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
  tools/analyzers/go.work.sum
Labels: area/CLI, area/api v1, area/dependencies, area/tooling, area/dispatch, area/api http

#1647 use internal/logging instead of zerolog global logger
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental.go
Labels: area/api v1, area/datastore

#1648 singleflight dispatch: adds a fallback in case the traversal bloom is not present
  internal/datastore/proxy/singleflight.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
Labels: area/datastore, area/tooling, area/dispatch

#1645 Add missing combined recursive test case
  internal/dispatch/combined/combined_test.go
Labels: area/tooling, area/dispatch

#1649 Add additional expand canonical key tests
  internal/dispatch/keys/computed_test.go
Labels: area/tooling, area/dispatch

#1650 singleflight dispatcher: do not double-singleflight on remote cluster dispatch
  internal/dispatch/cluster/cluster.go
  internal/dispatch/singleflight/singleflight.go
  internal/services/v1/permissions.go
  pkg/proto/dispatch/v1/02_resolvermeta.go
Labels: area/api v1, area/dispatch

#1654 Disable the default GC process in PG GC tests
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

#1642 Add a `datastore repair` command for revisions from Postgres backups
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  pkg/cmd/datastore.go
  pkg/datastore/datastore.go
  tools/analyzers/go.work.sum
Labels: area/CLI, area/datastore, area/dependencies, area/tooling

#1660 crdb: fix watch error: %!s(<nil>)
  Dockerfile
  Dockerfile.release
  internal/datastore/crdb/watch.go
Labels: area/datastore, area/dependencies, area/tooling

#1666 Don't call ObserveDuration more than one in the observable proxy
  internal/datastore/proxy/observable.go
Labels: area/datastore

#1663 Fix garbage collector interval and backoff resets
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
Labels: area/datastore, area/tooling

#1657 crdb: don't allow relationship counters to go negative
  internal/datastore/crdb/stats.go
Labels: area/datastore
