Repository authzed/spicedb, pull requests merged in 2023-03, with the labels that each got.

#1188 Dependabot updates for March 2023
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies, area/tooling

#1153 datastore/postgres: switch to DB snapshots as primary component of revisions
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
  internal/datastore/postgres/watch.go
  internal/datastore/postgres/xid8.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision.pb.validate.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
  proto/internal/dispatch/v1/dispatch.proto
  proto/internal/impl/v1/pgrevision.proto
Labels: area/datastore, area/tooling

#1190 makes the request caveat context size configurable
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/testserver/server.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/CLI, area/api v1, area/tooling

#1191 README: refresh with more dev instructions
  .markdownlint.yaml
  README.md
Labels: area/docs, area/tooling

#1194 README: add debug containers
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
  README.md
Labels: area/docs, area/tooling

#1179 internal/datastore/crdb: split read/write connpools
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/datastore, area/tooling

#1192 propagate option to disable stats in spanner datastore
  internal/datastore/spanner/options.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#1200 fixes behaviour of various datastores when HeadRevision is outside GC window
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/revisions_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/spanner_test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/stats.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

#1204 Txid join fix
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/reader.go
  pkg/datastore/test/revisions.go
Labels: area/datastore

#1207 fixes regression of revision precision problem in MacOS for MemDB
  internal/datastore/memdb/revisions.go
Labels: area/datastore

#1212 spanner: close row iterators when done
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

#1219 port: datastore/postgres: fix invalid slice appends in snapshots
  internal/datastore/postgres/snapshot.go
Labels: area/datastore

#1220 use cgr.dev/chainguard/busybox as base instead of distroless.dev/busybox
  .goreleaser.yml
  nightly.goreleaser.yml
Labels: area/tooling

#1180 mysql: prevents misleading log messages by avoiding Rollback if committed
  cmd/spicedb/main.go
  go.mod
  internal/datastore/crdb/stats.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/spanner/stats.go
  pkg/migrate/migrate.go
Labels: area/CLI, area/datastore, area/dependencies

#1222 reverts caveat covering index for postgres datastore
  internal/datastore/postgres/migrations/zz_migration.0015_add_caveat_covering_index.go
  internal/datastore/postgres/migrations/zz_migration.0015_add_gc_covering_index.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

#1230 use implicit transactions for reads on crdb and postgres
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
Labels: area/datastore

#1227 introduces configurable dispatch hashring replication factor
  cmd/spicedb/main.go
  internal/testserver/cluster.go
  pkg/balancer/hashring.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling

#1235 Add flags for maxlifetime jitter
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore
