Repository authzed/spicedb, pull requests merged in 2023-10, with the labels that each got.

#1561 Increase allowable timeout on memdb panic test
  internal/datastore/memdb/memdb_test.go
Labels: area/datastore, area/tooling

#1550 Add new index to postgres datastore
  internal/datastore/postgres/migrations/zz_migration.0016_add_tuned_gc_index.go
Labels: area/perf, area/datastore

#1552 Improve experience on pg serialization errors
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/errors.go
  internal/datastore/common/gc.go
  internal/datastore/crdb/pool/pool.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/zz_migration.0017_add_index_tuple_alive_by_resource_rel_subject.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies, area/tooling

#1562 Compare tuples without stringifying
  internal/datastore/mysql/readwrite.go
  internal/graph/check.go
  pkg/tuple/onr.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/datastore, area/tooling

#1565 Use lo.Uniq function
  e2e/go.mod
  e2e/go.sum
  internal/graph/check.go
  pkg/genutil/slicez/unique.go
  pkg/genutil/slicez/unique_test.go
  pkg/tuple/onrbytypeset.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
Labels: area/tooling

#1546 include SpiceDB version in issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: area/tooling

#1564 Change BulkCheckPermission response to match order of the request
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
Labels: area/api v1, area/tooling

#1567 Extract the type system and reachability graph into pkg
  internal/graph/reachableresources.go
  internal/namespace/aliasing.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/caveats.go
  internal/namespace/diff.go
  internal/namespace/errors.go
  internal/namespace/util.go
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  internal/services/v1/experimental.go
  internal/testfixtures/datastore.go
  pkg/development/devcontext.go
  pkg/typesystem/errors.go
  pkg/typesystem/reachabilitygraph.go
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/reachabilitygraphbuilder.go
  pkg/typesystem/resolver.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/tooling

#1571 Enable the experimental apis in the http gateway
  internal/gateway/gateway.go
  internal/gateway/gateway_test.go
Labels: area/tooling, area/api http

#1568 Update groupItems to use less memory
  internal/services/v1/experimental.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
Labels: area/api v1, area/tooling

#1570 Fix benchmark test errors
  internal/services/integrationtesting/benchmark_test.go
Labels: area/tooling

#1577 Move to Go 1.21.3 to fix a reported Go vuln
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1575 Reenable -race on unit tests and fix tests
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/memdb/memdb_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/cursors.go
  magefiles/test.go
Labels: area/datastore, area/tooling, area/dispatch

#1576 fix list formatting in crdb overlap doc
  internal/datastore/crdb/README.md
Labels: area/datastore

#1581 Update go x/net library for Go http2 vuln
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/dependencies, area/tooling

#1580 Add a test for inclusion of the @ sign in tuple strings
  pkg/tuple/tuple_test.go
Labels: area/tooling

#1582 Switch health probe to v0.4.21
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1586 Configurable Spanner connection pool size, enable gzip
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#1584 spanner: split read/write, add connpool config
  internal/datastore/spanner/options.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/perf, area/datastore

#1587 middleware: add metric for tracking consistency
  internal/middleware/consistency/consistency.go
Labels: area/observability

#1590 Optimistic locking on Spanner read/write transactions
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/migrations/zz_migration.0002_add_metadata_and_counters.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
Labels: area/perf, area/datastore

#1591 .github: move to buildjet
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#1592 spanner: add missing calls to RowIterator.Stop
  internal/datastore/spanner/caveat.go
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/stats.go
Labels: area/datastore

#1595 Some improvements to tracing UX
  internal/datastore/common/helpers.go
  internal/datastore/common/revisions/optimized.go
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/readonly_test.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/stats.go
  internal/dispatch/graph/graph.go
  internal/graph/computed/computecheck_test.go
  internal/services/shared/schema_test.go
  internal/services/v1/experimental.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/revisions.go
  pkg/datastore/test/transactions.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
  pkg/development/devcontext.go
  pkg/typesystem/typesystem_test.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/datastore, area/tooling, area/dispatch

#1597 middleware/consistency: fix source of atLeast
  internal/middleware/consistency/consistency.go
Labels: kind/bug, priority/3 low, area/observability

#1599 Revert Optimistic Locking in Spanner
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
Labels: area/datastore

#1598 propagates gRPC errors in graph package
  internal/datastore/spanner/spanner.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/graph_test.go
  internal/graph/check.go
  internal/graph/errors.go
  internal/services/dispatch/v1/acl.go
  internal/testserver/datastore/spanner.go
Labels: area/datastore, area/tooling, area/dispatch

#1601 Disable spanner gzip compression
  internal/datastore/spanner/spanner.go
Labels: area/datastore

#1604 Add a map of revision parsing functions by engine kind
  internal/datastore/memdb/memdb.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  pkg/datastore/revision/decimal.go
  pkg/datastore/revisionparsing/revisionparsing.go
Labels: area/datastore, area/tooling

#1603 Add support for experimental secondary dispatching
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  internal/dispatch/remote/expr.go
  internal/dispatch/remote/expr_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling, area/dispatch

#1605 Add a golden unit test for parser associativity
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/associativity.zed
  pkg/schemadsl/parser/tests/associativity.zed.expected
Labels: area/schema, area/tooling

#1606 Have diff of namespaces and caveats report changes to comments
  internal/caveats/diff.go
  internal/caveats/diff_test.go
  internal/namespace/diff.go
  internal/namespace/diff_test.go
  pkg/namespace/builder.go
Labels: area/tooling

#1607 add singleflight check dispatch
  go.mod
  go.sum
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singlegflight_test.go
  internal/services/dispatch/v1/acl.go
Labels: area/dependencies, area/tooling, area/dispatch

#1609 More spanner observability / Go Scheduler metrics
  cmd/spicedb/main.go
  go.mod
  go.sum
  internal/datastore/common/revisions/remoteclock.go
  internal/datastore/spanner/spanner.go
  pkg/runtime/metrics.go
  tools/analyzers/go.work.sum
Labels: area/CLI, area/datastore, area/dependencies

#1613 fix grpc-health-probe flagged by trivy
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1617 dispatch: singleflight expand
  internal/dispatch/singleflight/singleflight.go
Labels: area/dispatch

#1610 datastore/proxy: add singleflight proxy
  internal/datastore/crdb/crdb.go
  internal/datastore/proxy/singleflight.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/perf, area/datastore

#1616 do not open a new Spanner client for version checks
  internal/datastore/spanner/migrations/driver.go
  internal/datastore/spanner/spanner.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/migrate.go
Labels: area/CLI, area/datastore

#1588 Add schema watch support in Spanner datastore driver
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/spanner/migrations/zz_migration.0006_register_schema_change_stream.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/datastore

#1615 log payloads, and add grpc duration as an integer
  pkg/cmd/serve.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling

#1594 Run postgres datastore tests with pgbouncer
  .github/workflows/build-test.yaml
  internal/datastore/postgres/pgbouncer_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
  magefiles/test.go
Labels: area/datastore, area/tooling

#1566 introduces an index to speed up Watch API calls
  internal/datastore/mysql/migrations/zz_migration.0007_watch_api_rel_tuple_index.go
Labels: area/datastore

#1623 Fix benchmark test for changes in ReadWriteTx
  internal/datastore/benchmark/driver_bench_test.go
Labels: area/datastore, area/tooling

#1622 derive Spanner default gRPC connection count from GOMAXPROCS
  internal/datastore/spanner/options.go
Labels: area/datastore

#1624 Ensure all datastores return an error if accessed after Close
  internal/datastore/memdb/revisions.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
Labels: area/datastore

#1625 Remove support for MySQL v5
  internal/datastore/mysql/datastore_test.go
  internal/testserver/datastore/mysql.go
Labels: area/datastore, area/tooling

#1627 introduces flags to set min/max Spanner sessions
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/datastore

#1628 Fix error redaction in MySQL driver
  internal/datastore/common/errors.go
  internal/datastore/mysql/datastore.go
Labels: area/datastore

#1621 adds flags to enable block and mutex profiles
  Dockerfile
  Dockerfile.release
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/cmd/root.go
  pkg/cmd/server/defaults.go
  pkg/runtime/profiling.go
Labels: area/CLI, area/dependencies, area/tooling
