Repository authzed/spicedb, pull requests merged in 2024-05, with the labels that each got.

#1883 Improvements around usage of CEL
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/namespace/caveats.go
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/caveats/eval.go
  pkg/caveats/source.go
  pkg/caveats/structure_test.go
  pkg/namespace/builder.go
  pkg/schemadsl/compiler/translator.go
  tools/analyzers/go.work.sum
Labels: area/schema, area/dependencies, area/tooling

#1886 refactor bulk export relationships logic
  .github/workflows/security.yaml
  internal/services/shared/errors.go
  internal/services/v1/experimental.go
Labels: area/api v1, area/tooling

#1887 fetch git tags so that trivy sees the right binary version
  .github/workflows/security.yaml
Labels: area/tooling

#1889 .github: pass snap store creds to goreleaser
  .github/workflows/release.yaml
Labels: area/tooling

#1885 Start on experimental reflection apis
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/expreflection.go
  internal/services/v1/expreflection_test.go
  internal/services/v1/reflection.go
  internal/services/v1/relationships.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Labels: area/api v1, area/dependencies, area/tooling

#1890 pkg/cmd: auto complete otel, log flags
  cmd/spicedb/main.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/cmd/root.go
  pkg/cmd/serve_test.go
Labels: area/CLI, area/dependencies, area/tooling

#1893 Update grpc health probe for reported vuln in Go
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1891 Add ExperimentalDependentRelations reflection API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  pkg/typesystem/reachabilitygraph.go
  pkg/typesystem/reachabilitygraph_test.go
Labels: area/api v1, area/dependencies, area/tooling

#1894 Add ExperimentalComputablePermissions API
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  pkg/typesystem/reachabilitygraph.go
  pkg/typesystem/reachabilitygraph_test.go
Labels: area/api v1, area/tooling

#1892 Switch spanner datastore to use the built-in stats table for estimating rel count
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/revisions.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/spanner_test.go
  internal/datastore/spanner/stats.go
  internal/datastore/spanner/watch.go
  internal/testserver/datastore/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/test/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#1898 Remove unused datastore config
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI

#1907 makes it possible to compare datastore-specific revisions with datastore.NoRevision
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/timestamprevision_test.go
  internal/datastore/revisions/txidrevision.go
  internal/datastore/revisions/txidrevision_test.go
Labels: area/datastore, area/tooling

#1901 Add Experimental Relationship Counter API
  e2e/go.mod
  e2e/go.sum
  e2e/spice/spicedb.go
  go.mod
  go.sum
  internal/datastore/common/sql.go
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/keys_test.go
  internal/datastore/crdb/migrations/zz_migration.0006_add_relationship_counters_table.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/migrations/tables.go
  internal/datastore/mysql/migrations/zz_migration.0008_add_relationship_counters_table.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/migrations/zz_migration.0018_add_relationship_counters_table.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
  internal/datastore/spanner/migrations/zz_migration.0009_add_relationship_counters_table.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster_test.go
  internal/gateway/gateway.go
  internal/grpchelpers/grpchelpers.go
  internal/services/shared/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  internal/testserver/cluster.go
  internal/testserver/server.go
  pkg/cmd/util/util.go
  pkg/datastore/counters.go
  pkg/datastore/datastore.go
  pkg/datastore/errors.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/counters.go
  pkg/datastore/test/datastore.go
  pkg/development/devcontext.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  proto/internal/core/v1/core.proto
Labels: area/CLI, area/api v1, area/datastore, area/dependencies, area/tooling, area/dispatch, area/api http

#1912 goreleaser: refactor brew formula
  .goreleaser.yml
Labels: area/tooling

#1911 Make sure to escape underscores in resource ID prefix matches in filters
  internal/datastore/common/sql.go
  pkg/datastore/test/tuples.go
Labels: area/datastore

#1913 goreleaser: use build.head? in install
  .goreleaser.yml
Labels: area/tooling

#1916 Ensure stability of exclusions in validation package
  pkg/development/validation.go
  pkg/development/wasm/operations_test.go
Labels: area/tooling
