Repository authzed/spicedb, pull requests merged in 2024-03, with the labels that each got.

#1771 Delete performance improvements
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.delete_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/datastore/test/watch.go
Labels: area/api v1, area/datastore, area/tooling

#1781 Ensure that invalid versions do not cause a nil panic
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/releases/cli.go
  pkg/releases/versions.go
  pkg/releases/versions_test.go
Labels: area/dependencies, area/tooling

#1780 Follow up changes for recent fixes: remove len downcasts and ensure all other downcasts are validated
  internal/datasets/subjectset_test.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/services/shared/schema.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/relationships.go
  internal/services/v1/schema.go
  pkg/caveats/types/registration.go
  pkg/genutil/ensure.go
  pkg/genutil/ensure_test.go
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/lendowncastcheck/lendowncastcheck.go
  tools/analyzers/lendowncastcheck/lendowncastcheck_test.go
  tools/analyzers/lendowncastcheck/testdata/src/lenexamples/lenexamples.go
Labels: area/api v1, area/datastore, area/tooling

#1772 adds OpenTelemetry TraceID to logs
  pkg/cmd/server/defaults.go
Labels: area/CLI

#1788 Have caveat diffs properly check if an expression has changed
  pkg/caveats/compile.go
  pkg/diff/caveats/diff.go
  pkg/diff/caveats/diff_test.go
Labels: area/tooling

#1739 Extend support for relationship filtering and add relationship filtering to other APIs
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/benchmark/driver_bench_test.go
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readonly.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/hedging_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/spanner/readwrite.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/services/shared/schema.go
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/preconditions.go
  internal/services/v1/preconditions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/testfixtures/datastore.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/tuples.go
Labels: area/api v1, area/datastore, area/dependencies, area/tooling

#1793 Small increase in test coverage for subjects testutil
  internal/testutil/subjects.go
  internal/testutil/subjects_test.go
Labels: area/tooling

#1792 CheckBulkPermissions
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/servicetester.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/experimental.go
  internal/services/v1/grouping.go
  internal/services/v1/grouping_test.go
  internal/services/v1/hash.go
  internal/services/v1/hash_test.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
Labels: area/api v1, area/dependencies, area/tooling

#1773 Move health check logs to debug level
  pkg/cmd/server/defaults.go
Labels: area/CLI

#1797 dependency updates
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  .gitignore
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/postgres_shared_test.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/lint.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/dependencies, area/tooling

#1798 fix codeql
  .github/workflows/security.yaml
Labels: area/tooling

#1799 use the most recent Go version with CodeQL
  .github/workflows/security.yaml
Labels: area/tooling

#1800 fixes merge queue not supporting CodeQL
  .github/workflows/security.yaml
Labels: area/tooling

#1795 Move debug traces for CheckPermission into the response
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/debug_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/dependencies, area/tooling

#1803 make registration of gRPC prom metrics not fail if already registered
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
Labels: area/CLI

#1805 turns gRPC latency histogram into a toggleable option
  go.mod
  go.sum
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/dependencies, area/tooling

#1807 do not return backward incompatible `--explain` debug info in trailer
  internal/services/v1/debug_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#1808 adds dependabot configuration to update GitHub Actions
  .github/dependabot.yml
  .github/workflows/security.yaml
Labels: area/tooling

#1821 add github action grouping
  .github/dependabot.yml
Labels: area/tooling

#1831 Use type information to optimize TOUCH operations in the PG datastore
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/datastore, area/tooling

#1839 Add some additional unit tests for expected behavior and fix BulkLoad errors
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/postgres.go
  internal/taskrunner/preloadedtaskrunner_test.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
Labels: area/datastore, area/tooling

#1836 Update OpenTelemetry middlewares
  internal/gateway/gateway.go
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/api http

#1838 Small mem improvements on BulkImport
  internal/services/v1/experimental.go
  pkg/typesystem/typesystem.go
Labels: area/api v1

#1843 Fix re-creating deleted relationships
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/tuples.go
Labels: area/datastore
