Repository authzed/spicedb, pull requests merged in 2024-01, with the labels that each got.

#1701 Fix flakiness of HLC changes test
  internal/datastore/common/changes_test.go
Labels: area/datastore, area/tooling

#1702 Small micro-optimizations around set performance
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/graph/resourcesubjectsmap.go
  internal/namespace/util.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/shared/schema.go
  internal/services/v1/debug_test.go
  internal/testutil/subjects.go
  pkg/cmd/server/middleware.go
  pkg/datastore/test/watch.go
  pkg/diff/namespace/diff.go
  pkg/genutil/mapz/countingmap.go
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
Labels: area/CLI, area/api v1, area/datastore, area/tooling, area/dispatch

#1704 Add Union and Merge to Set
  pkg/genutil/mapz/set.go
  pkg/genutil/mapz/set_test.go
Labels: area/tooling

#1706 Watch revision checkpoints using memdb datastore
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

#1707 Add timeout to watch buffers
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/datastore.go
  pkg/datastore/test/watch.go
Labels: area/CLI, area/datastore

#1709 Switch HLC timestamps to be stored as an array of two int64s
  internal/datastore/common/changes_test.go
  internal/datastore/proxy/schemacaching/intervaltracker_test.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/revisions/commonrevision.go
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
  pkg/zedtoken/zedtoken_test.go
Labels: area/datastore, area/tooling

#1708 makes less verbose CRDB connection balacer
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/pool.go
Labels: area/datastore

#1710 compiler: adds a helper method to require any object type prefix
  pkg/schemadsl/compiler/compiler.go
Labels: area/schema

#1711 Have spiceerrors.MustBugf contain the full stack trace of the bug
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/spiceerrors/bug.go
Labels: area/dependencies

#1713 Add some invalid schema tests as per a recently reported error
  internal/services/v1/schema_test.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/invalid_perm_name.zed
  pkg/schemadsl/parser/tests/invalid_perm_name.zed.expected
Labels: area/schema, area/api v1, area/tooling

#1714 Add invalid permission tests onto the various permissions APIs
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#1720 implements schema watch support for MemDB
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/watch.go
  internal/datastore/revisions/commonrevision.go
Labels: area/datastore, area/tooling

#1724 HLC Parsing fixes
  e2e/newenemy/newenemy_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/stats.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
  pkg/zedtoken/zedtoken_test.go
Labels: kind/bug, area/datastore, area/tooling

#1655 Fix flaky Postgres GC tests
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling
