Repository authzed/spicedb, pull requests merged in 2024-04, with the labels that each got.

#1844 fixes prometheus bug where count metrics had incorrect suffixes
  go.mod
  go.sum
Labels: area/dependencies

#1845 Improve request-id propagation
  internal/datastore/postgres/common/pgx.go
  internal/graph/context.go
  pkg/cmd/server/server.go
  pkg/middleware/requestid/requestid.go
Labels: area/CLI, area/datastore

#1849 Correct version requirement for datastore repair
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#1852 Update README with playground repo link
  README.md
Labels: area/docs

#1850 LookupResources Postgres query optimization
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
Labels: area/datastore, area/tooling

#1851 Use a specific relation for arrow lookups in LR when applicable
  internal/graph/reachableresources.go
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/tooling

#1854 Initial implementation of a Language Server for SpiceDB schema
  .github/workflows/lint.yaml
  cmd/spicedb/main.go
  e2e/go.mod
  go.mod
  go.sum
  internal/lsp/handlers.go
  internal/lsp/lsp.go
  internal/lsp/lsp_test.go
  internal/lsp/lspdefs.go
  internal/lsp/testutil.go
  internal/lsp/util.go
  pkg/cmd/lsp.go
  tools/analyzers/go.work
Labels: area/CLI, area/dependencies, area/tooling

#1857 Disable the repair tests on PG versions that do not support it
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

#1856 LSP improvements
  internal/lsp/handlers.go
  internal/lsp/lsp.go
  internal/lsp/lsp_test.go
  internal/lsp/lspdefs.go
  pkg/cmd/lsp.go
  pkg/development/resolver.go
  pkg/development/resolver_test.go
  pkg/schemadsl/compiler/development.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/arrow.zed.expected
  pkg/schemadsl/parser/tests/associativity.zed.expected
  pkg/schemadsl/parser/tests/multidef.zed.expected
  pkg/schemadsl/parser/tests/multiparen.zed.expected
  pkg/schemadsl/parser/tests/nil.zed.expected
  pkg/schemadsl/parser/tests/unionpos.zed
  pkg/schemadsl/parser/tests/unionpos.zed.expected
Labels: area/CLI, area/schema, area/tooling

#1859 introduces a faster query to tuple GC
  internal/datastore/postgres/gc.go
Labels: area/datastore

#1864 cmd/server: log dispatching at debug level
  internal/datastore/crdb/crdb_test.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/server/defaults.go
Labels: area/CLI, area/datastore, area/tooling, kind/tech debt, area/observability

#1858 add support for AWS IAM authentication for postgres
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
  pkg/datastore/credentials.go
  pkg/datastore/credentials_test.go
Labels: area/CLI, area/datastore, area/dependencies, area/tooling

#1869 Ignore AST nodes without rune positioning information (such as comments)
  pkg/development/resolver_test.go
  pkg/schemadsl/compiler/development.go
  pkg/schemadsl/compiler/development_test.go
Labels: area/schema, area/tooling

#1870 Include doc comments in resolver generated source
  pkg/development/resolver.go
  pkg/development/resolver_test.go
Labels: area/tooling

#1871 Add configurable limits for all APIs
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/errors.go
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  magefiles/go.mod
  magefiles/go.sum
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: area/CLI, area/api v1, area/dependencies, area/tooling

#1880 Begin support for warnings and linting in schema
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/development/warnings_test.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  pkg/typesystem/reachabilitygraphbuilder.go
  pkg/typesystem/typesystem.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

#1881 Add warnings to the LSP
  internal/lsp/handlers.go
  internal/lsp/lsp_test.go
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/development/warnings_test.go
Labels: area/tooling

#1779 generate manpages for releases
  cmd/spicedb/main.go
  go.mod
  go.sum
Labels: area/CLI, area/dependencies
