Repository authzed/spicedb, pull requests merged in 2024-12, with the labels that each got.

#2153 Remove duplicate clause from namespace deletion in PG driver
  internal/datastore/postgres/readwrite.go
Labels: area/datastore

#2154 Changes to address flaky DB tests
  internal/datastore/mysql/datastore_test.go
  internal/datastore/postgres/postgres_test.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/mysql.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

#2155 Remove t.Parallel from pgbouncer tests to fix flakes
  internal/datastore/postgres/pgbouncer_test.go
Labels: area/datastore, area/tooling

#2156 Add missing service label in metrics for consistency
  pkg/cmd/server/defaults.go
  pkg/cmd/server/defaults_test.go
  pkg/middleware/consistency/consistency.go
Labels: area/CLI, area/tooling

#2158 Remove now-unused windows workflow
  .github/workflows/release.yaml
Labels: area/tooling

#2162 Update Go crypto to v0.31.0 due to a reported vuln in that lib
  Dockerfile
  Dockerfile.release
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#2163 Fix bulk export of relationships with caveats
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
Labels: area/api v1, area/tooling

#2164 Backport changes from #2163 into 1.39.0
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/services/v1/relationships_test.go
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling

#2165 Change GC test to always call GC directly
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/revisions.go
Labels: area/datastore, area/tooling

#2167 Add steelthread tests to CI and to `mage test:all`
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

#2168 Add additional tests to the datastore consistency test suite
  .github/workflows/build-test.yaml
  internal/services/integrationtesting/consistency_datastore_test.go
Labels: area/tooling

#2169 Deparallelize the steelthread tests to hopefully remove the flakiness
  internal/services/steelthreadtesting/steelthread_test.go
Labels: area/tooling

#2172 Improve test coverage of memdb datastore with some new rel tests
  internal/datastore/memdb/errors_test.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

#2175 Update net lib for reported Go library vulnerability
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#2177 Add option to enable query parameters to appear in traces
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/driver.go
  internal/datastore/crdb/options.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/testserver/datastore/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/migrate.go
Labels: area/CLI, area/datastore

#2180 Additional datastore tests
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/pool/sqlerrors.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/spanner/readwrite.go
  pkg/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/namespace.go
Labels: area/datastore, area/tooling

#2179 Move caveat loading into a shared runner to reduce overhead in dispatch
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/graph/computed/computecheck.go
  internal/graph/lookupresources2.go
  internal/services/v1/debug.go
  internal/services/v1/permissions.go
Labels: area/api v1, area/tooling

#2182 Switch datastore tests to use a larger runner
  .github/workflows/build-test.yaml
Labels: area/tooling

#2183 Add slightly more information to the LR2 dispatch traces
  internal/dispatch/graph/graph.go
Labels: area/dispatch
