Repository authzed/spicedb, pull requests merged in 2024-09, with the labels that each got.

#2037 Check data structure improvements
  internal/datasets/subjectsetbytype.go
  internal/developmentmembership/foundsubject.go
  internal/developmentmembership/foundsubject_test.go
  internal/developmentmembership/onrset.go
  internal/developmentmembership/onrset_test.go
  internal/developmentmembership/trackingsubjectset.go
  internal/developmentmembership/trackingsubjectset_test.go
  internal/graph/check.go
  internal/graph/checkdispatchset.go
  internal/graph/checkdispatchset_test.go
  internal/graph/membershipset.go
  pkg/tuple/onrbytypeset.go
  pkg/tuple/onrbytypeset_test.go
  pkg/tuple/onrset.go
  pkg/tuple/onrset_test.go
Labels: area/tooling

#1980 Relationship integrity
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/migrations/zz_migration.0007_add_integrity_relationtuple_table.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/stats.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/memdb/schema.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/relationshipintegrity_test.go
  internal/datastore/proxy/replicated_test.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/spanner/spanner.go
  internal/services/v1/experimental.go
  internal/testfixtures/generator.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/datastore/zz_generated.relintegritykey.options.go
  pkg/cmd/server/server.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/transactions.go
  pkg/datastore/test/tuples.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
  proto/internal/core/v1/core.proto
Labels: area/CLI, area/api v1, area/datastore, area/tooling

#1879 Add goreleaser configuration to push Windows package to Chocolatey
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .goreleaser.windows.yml
  .goreleaser.yml
Labels: area/tooling

#2062 Remove warning for an arrow referencing a relation in its own namespace
  pkg/development/warningdefs.go
  pkg/development/warnings_test.go
Labels: area/tooling

#2064 add continuous checkpointing to Datastore Features
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/datastore.go
Labels: area/datastore

#2065 Implement non-experimental bulk import and export
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/bulkcheck.go
  internal/services/v1/experimental.go
  internal/services/v1/metadata_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  magefiles/go.sum
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling

#2067 Bump to most recent version of goreleaser
  .github/workflows/release.yaml
  .github/workflows/security.yaml
Labels: area/tooling

#2060 README: rework sections: zanzibar, contrib, users
  README.md
Labels: area/docs

#2071 Stop using yaml anchors in release action configuration
  .github/workflows/release.yaml
Labels: area/tooling

#2072 make bulk export service functions use read-only datastore
  internal/services/v1/experimental.go
  pkg/services/v1/services.go
Labels: area/api v1

#2074 Register common flags with helper
  pkg/cmd/datastore.go
  pkg/cmd/devtools.go
  pkg/cmd/migrate.go
  pkg/cmd/testing.go
  pkg/cmd/util/util.go
Labels: area/CLI

#2075 fixes memory leak via HTTP Gateway
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  tools/analyzers/go.mod
  tools/analyzers/go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

#2079 Enable LRv2 by default and update the steelthread tests
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-100-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-16-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-5-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-53-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-cursored-lookup-resources-for-fred-page-size-54-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-indirect-without-other-permission-page-size-16-results.yaml
  internal/services/steelthreadtesting/steelresults/indirect-lookup-resources-indirect-without-other-permission-page-size-5-results.yaml
  internal/testserver/server.go
  pkg/cmd/serve.go
Labels: area/CLI

#1914 Implement support for metadata associated with read-write transactions
  go.mod
  go.sum
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/migrations/zz_migration.0008_add_transaction_metadata_table.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/zz_migration.0009_add_metadata_to_transaction_table.go
  internal/datastore/mysql/query_builder.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/revisions.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/migrations/zz_migration.0019_add_metadata_to_transaction_table.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/migrations/zz_migration.0010_add_transaction_metadata_table.go
  internal/datastore/spanner/schema.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/dependencies, area/tooling
