Repository authzed/spicedb, pull requests merged in 2024-06, with the labels that each got.

#1921 adds automaxprocs and automemlimit
  cmd/spicedb/main.go
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/CLI, area/dependencies

#1918 Update CLA link in `CONTRIBUTING.md` to point to v2
  CONTRIBUTING.md
Labels: area/docs

#1936 README: fix discord badge
  README.md
Labels: area/docs

#1930 Add the debug trace to the details of the recursion error
  internal/dispatch/singleflight/singleflight.go
  internal/graph/check.go
  internal/services/shared/errors.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  pkg/spiceerrors/common.go
  pkg/spiceerrors/withstatus.go
Labels: area/api v1, area/tooling, area/dispatch

#1940 Ensure the object type prefix is used for caveat refs as well
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
Labels: area/schema, area/tooling

#1942 Support credential JSON for Spanner
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
Labels: area/datastore

#1944 Add a custom linter to find any recursive error marshaling for zerolog
  magefiles/lint.go
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/zerologmarshalcheck/testdata/src/disallowedmarshal/disallowedmarshal.go
  tools/analyzers/zerologmarshalcheck/testdata/src/validmarshal/validmarshal.go
  tools/analyzers/zerologmarshalcheck/zerologmarshalcheck.go
  tools/analyzers/zerologmarshalcheck/zerologmarshalcheck_test.go
Labels: area/tooling

#1943 Add better subject error messages on write/delete validation
  go.mod
  go.sum
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/relationships/validation_test.go
  pkg/development/wasm/operations_test.go
Labels: area/dependencies, area/tooling

#1946 Export Spanner credential JSON for datastore
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI

#1945 Fix/bulk loader nullstring
  internal/datastore/postgres/common/bulk.go
  internal/datastore/postgres/readwrite.go
  pkg/datastore/test/bulk.go
  pkg/datastore/test/datastore.go
Labels: area/datastore

#1947 Small optimized revision handling improvements
  internal/datastore/proxy/singleflight.go
  internal/datastore/revisions/optimized.go
Labels: area/datastore

#1950 Move to go 1.22.4 for a reported go vuln
  Dockerfile
  Dockerfile.release
  e2e/go.mod
  go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
Labels: area/dependencies, area/tooling

#1948 Fix empty value on optional credentialsJSON for Spanner
  internal/datastore/spanner/spanner.go
Labels: area/datastore

#1952 .github: bump to snapcraft 8.x
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
Labels: area/tooling

#1949 Start on a steel thread test framework
  go.mod
  go.sum
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/operations.go
  internal/services/steelthreadtesting/steelresults/basic-lookup-subjects-uncursored-lookup-subjects-for-public-doc-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-subjects-uncursored-lookup-subjects-for-somedoc-results.yaml
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/steelthreadtesting/testdata/basic-document.yaml
  magefiles/test.go
Labels: area/dependencies, area/tooling

#1951 enriches postgres revisions with txID and timestamp
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  internal/datastore/postgres/watch.go
  pkg/datastore/test/counters.go
  pkg/proto/impl/v1/pgrevision.pb.go
  pkg/proto/impl/v1/pgrevision.pb.validate.go
  pkg/proto/impl/v1/pgrevision_vtproto.pb.go
  proto/internal/impl/v1/pgrevision.proto
Labels: area/datastore, area/tooling

#1956 Add additional steelthread tests and fix a memdb bug
  internal/datastore/memdb/readonly.go
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/operations.go
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-100-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-16-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-5-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-53-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-cursored-lookup-resources-for-fred-page-size-54-results.yaml
  internal/services/steelthreadtesting/steelresults/basic-lookup-resources-uncursored-lookup-resources-for-fred-results.yaml
  internal/services/steelthreadtesting/steelresults/lookup-subjects-intersection-uncursored-lookup-subjects-for-somedoc-results.yaml
  internal/services/steelthreadtesting/testdata/document-with-intersect.yaml
  internal/services/steelthreadtesting/testdata/document-with-many-resources.yaml
  pkg/datastore/test/datastore.go
  pkg/datastore/test/pagination.go
Labels: area/datastore

#1957 Have steelthread tests run in parallel and against all datastores
  internal/services/steelthreadtesting/steelthread_test.go
  internal/testserver/server.go
  magefiles/test.go
Labels: area/tooling

#1958 Workaround to snapcraft regression
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
Labels: area/tooling

#1937 Initial support for Intersection arrow
  internal/caveats/builder.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/graph.go
  internal/graph/lookupsubjects.go
  internal/graph/membershipset.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/services/integrationtesting/testconfigs/caveatedintersectionarrow.yaml
  internal/services/integrationtesting/testconfigs/intersectionarrow.yaml
  internal/testutil/subjects.go
  pkg/graph/walker.go
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_test.go
  pkg/schemadsl/lexer/lex_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/arrowillegalfunc.zed
  pkg/schemadsl/parser/tests/arrowillegalfunc.zed.expected
  pkg/schemadsl/parser/tests/arrowillegalops.zed
  pkg/schemadsl/parser/tests/arrowillegalops.zed.expected
  pkg/schemadsl/parser/tests/arrowops.zed
  pkg/schemadsl/parser/tests/arrowops.zed.expected
  pkg/schemadsl/parser/tests/caveatwithkeywordparam.zed
  pkg/schemadsl/parser/tests/caveatwithkeywordparam.zed.expected
  pkg/typesystem/reachabilitygraph_test.go
  pkg/typesystem/reachabilitygraphbuilder.go
  pkg/typesystem/typesystem.go
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling, area/dispatch
