Repository authzed/spicedb, pull requests merged in 2024-08, with the labels that each got.

#2006 Add server version middleware to serve-testing
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/testserver/testserver.go
Labels: area/CLI, area/tooling

#2005 Fix experimental LookupResources2 to shear the tree earlier on indirect permissions
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/graph/resourcesubjectsmap2.go
  pkg/cmd/testing.go
  pkg/cmd/testserver/testserver.go
  pkg/cmd/testserver/zz_generated.options.go
  pkg/genutil/mapz/multimap.go
Labels: area/CLI, area/tooling, area/dispatch

#2017 Ensure debug information is returned for recursive checks that dispatch
  internal/dispatch/errors.go
  internal/graph/check.go
  internal/services/shared/errors.go
  internal/services/shared/errors_test.go
  internal/services/v1/debug.go
  internal/services/v1/debug_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  pkg/development/check.go
  pkg/development/devcontext.go
  pkg/development/wasm/operations_test.go
  pkg/spiceerrors/details_metadata.go
  pkg/spiceerrors/withstatus.go
Labels: area/api v1, area/tooling, area/dispatch

#2016 Add expression diffing library for schema
  pkg/diff/namespace/diffexpr.go
  pkg/diff/namespace/diffexpr_test.go
Labels: area/tooling

#2014 Change the filter count check to a debug assertions
  internal/datastore/common/sql.go
  pkg/spiceerrors/assert_off.go
  pkg/spiceerrors/assert_on.go
Labels: area/datastore

#2018 Fix logging behavior around setting goproc limits
  cmd/spicedb/main.go
  go.mod
  go.sum
  pkg/cmd/server/defaults.go
Labels: area/CLI, area/dependencies

#2025 Add nicer error if the Postgres primary node has gone readonly
  internal/datastore/common/errors.go
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#2027 Ensure all resources are returned for relation check when caveats are specified
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/graph/check.go
  internal/services/integrationtesting/testconfigs/caveatmultiplebranchessamerel.yaml
  pkg/tuple/tuple.go
Labels: area/tooling, area/dispatch

#2028 bump cobrautil for automaxprocs fix
  go.mod
  go.sum
  tools/analyzers/go.work.sum
Labels: area/dependencies

#2031 Integrate updates to cobrautil
  go.mod
  go.sum
  pkg/cmd/server/defaults.go
Labels: area/CLI, area/dependencies

#2034 Only add the finalizer on iterators when CI testing
  internal/datastore/common/tuple.go
  internal/datastore/memdb/readonly.go
  pkg/spiceerrors/assert_off.go
  pkg/spiceerrors/assert_on.go
Labels: area/datastore

#2041 Add a default connect timeout for watch in CRDB driver
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/watch.go
  internal/datastore/postgres/common/pgx.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/datastore/datastore.go
Labels: area/CLI, area/datastore

#2023 Reorganize serve flags into flagsets
  pkg/cmd/datastore/datastore.go
  pkg/cmd/migrate.go
  pkg/cmd/root.go
  pkg/cmd/serve.go
  pkg/cmd/testing.go
Labels: area/CLI

#2042 Ensure the validationfile loader passes the full caveats to the typesystem
  pkg/validationfile/loader.go
  pkg/validationfile/loader_test.go
  pkg/validationfile/testdata/caveat_order.yaml
Labels: area/tooling

#2046 Fix data type for pg_class relcount
  internal/datastore/postgres/stats.go
Labels: area/datastore

#2038 Have diffexpr handle the case of adding to a single child expression
  pkg/diff/namespace/diffexpr.go
  pkg/diff/namespace/diffexpr_test.go
Labels: area/tooling

#2044 Add configurable max buffer size for watch change tracker
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
  internal/datastore/common/errors.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

#2040 Ensure cursored LRv2 calls are dispatched to LRv2
  internal/middleware/consistency/consistency_test.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  pkg/cursor/cursor.go
  pkg/cursor/cursor_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  proto/internal/impl/v1/impl.proto
Labels: area/api v1, area/tooling

#2049 Make the max size exceeded error public
  internal/datastore/common/changes.go
  internal/datastore/common/errors.go
  pkg/datastore/errors.go
Labels: area/datastore
