Repository authzed/spicedb, pull requests merged in 2024-10, with the labels that each got.

#2085 reduce build times in CI
  internal/datastore/crdb/crdb_test.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/proxy/observable_test.go
  internal/datastore/proxy/schemacaching/estimatedsize_test.go
  internal/datastore/spanner/spanner_test.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/graph_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/package_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/remote/cluster_test.go
  internal/relationships/validation_test.go
  internal/services/integrationtesting/cert_test.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/ops_test.go
  internal/services/v1/experimental_test.go
  internal/taskrunner/preloadedtaskrunner_test.go
  internal/testutil/subjects_test.go
  magefiles/test.go
  pkg/cmd/migrate.go
  pkg/datastore/pagination/iterator_test.go
  pkg/datastore/test/datastore.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/parser/parser_test.go
Labels: area/CLI, area/schema, area/api v1, area/datastore, area/tooling, area/dispatch

#2084 Add API support for transaction metadata on WriteRels and DeleteRels
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/errors.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  internal/services/v1/watch.go
Labels: area/api v1, area/dependencies, area/tooling

#2092 fix CI errors on recent merge
  internal/services/integrationtesting/benchmark_test.go
  internal/services/integrationtesting/testconfigs/caveatlr.yaml
Labels: area/tooling

#2093 metrics: spicedb_environment_info from telemetry
  internal/telemetry/metrics.go
  pkg/cmd/server/server.go
  pkg/promutil/promutil.go
Labels: area/CLI, area/observability

#2087 Add currently-enabled workflow to release windows
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .goreleaser.windows.yml
Labels: area/tooling

#2104 Change the trivy database to work around rate limits
  .github/workflows/security.yaml
Labels: area/tooling

#2103 Implement parsing of local imports
  .github/workflows/security.yaml
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/localimport.zed
  pkg/composableschemadsl/parser/tests/localimport.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_import_path_with_keyword.zed
  pkg/composableschemadsl/parser/tests/localimport_import_path_with_keyword.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_keyword_in_identifiers.zed
  pkg/composableschemadsl/parser/tests/localimport_keyword_in_identifiers.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_malformed_identifier_set.zed
  pkg/composableschemadsl/parser/tests/localimport_malformed_identifier_set.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_malformed_import_path.zed
  pkg/composableschemadsl/parser/tests/localimport_malformed_import_path.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_path_missing_leading_period.zed
  pkg/composableschemadsl/parser/tests/localimport_path_missing_leading_period.zed.expected
  pkg/composableschemadsl/parser/tests/localimport_typo_in_import_separator.zed
  pkg/composableschemadsl/parser/tests/localimport_typo_in_import_separator.zed.expected
Labels: area/tooling

#2105 Make all and any into keywords
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/tests/arrowillegalfunc.zed.expected
Labels: area/tooling

#2109 Add a new consistency middleware for full-consistency-only callers
  internal/middleware/consistency/consistency.go
  internal/middleware/consistency/consistency_test.go
  internal/middleware/consistency/forcefull.go
  internal/services/integrationtesting/cert_test.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.middlewareoption.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/CLI, area/tooling

#2110 Move consistency middleware into pkg so embedded uses can override
  internal/middleware/consistency/consistency.go
  internal/services/integrationtesting/cert_test.go
  internal/services/v1/experimental.go
  internal/testserver/server.go
  pkg/cmd/server/defaults.go
  pkg/development/devcontext.go
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
Labels: area/CLI, area/api v1, area/tooling

#2111 Remove internal label from consistency middleware to allow it to be replaced
  pkg/cmd/server/defaults.go
Labels: area/CLI

#2112 Add relationtuple stringifying function
  pkg/tuple/core.go
  pkg/tuple/core_test.go
Labels: area/tooling

#2070 pkg/proto: adopt CodecV2 and gRPC buffer pooling
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/proto/dispatch/v1/01_codec.go
Labels: area/dependencies
