Repository authzed/spicedb, pull requests merged in 2024-02, with the labels that each got.

#1736 Update runc dependency for reported vuln in runc
  go.mod
  go.sum
Labels: area/dependencies

#1738 Add missing datastore READMEs
  internal/datastore/mysql/README.md
  internal/datastore/mysql/version/version.go
  internal/datastore/spanner/README.md
  internal/testserver/datastore/mysql.go
Labels: area/datastore

#1740 Clarify that the datastore-revision-quantization-max-staleness-percent is a float value
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#1741 Prevent the staleness of an optimized revision from exceeding the GC window
  internal/datastore/revisions/remoteclock.go
  internal/datastore/revisions/remoteclock_test.go
Labels: area/datastore, area/tooling

#1743 Reduce memory usage of WriteSchema
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

#1747 fixes pgx min connection count always being set to max count
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

#1745 README: htmlify, update links
  README.md
  magefiles/lint.go
Labels: area/docs, area/CLI

#1752 spanner: allow spicedb to run with head or head-1 migration
  internal/datastore/spanner/spanner.go
  tools/analyzers/go.work.sum
Labels: area/datastore

#1746 cmd: deprecate root-level head and migrate
  cmd/spicedb/main.go
  pkg/cmd/datastore.go
  pkg/cmd/root.go
Labels: area/CLI

#1757 re-enable gosec/G404
  .golangci.yaml
  e2e/go.mod
  go.mod
  go.sum
  internal/datastore/common/jitter.go
  internal/datastore/crdb/pool/balancer.go
  internal/datastore/crdb/pool/balancer_test.go
  internal/datastore/crdb/pool/health.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/stats.go
  internal/datastore/postgres/postgres.go
  internal/datastore/revisions/optimized.go
  internal/datastore/spanner/stats.go
  internal/datastore/spanner/watch.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/telemetry/reporter.go
  internal/testfixtures/generator.go
  pkg/middleware/requestid/requestid.go
Labels: area/api v1, area/datastore, area/dependencies, area/tooling

#1753 Fix small TODO in type system with a small code move
  internal/graph/reachableresources.go
  internal/namespace/util.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  pkg/typesystem/typesystem.go
Labels: area/tooling

#1761 Hide a previously deprecated flag
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#1754 Small improvement in tuple package to remove TODO
  pkg/tuple/tuple.go
  pkg/tuple/tuple_test.go
Labels: area/tooling

#1760 skip all steps for matrix jobs when the whole job should be skipped
  .github/workflows/build-test.yaml
Labels: area/tooling

#1762 Remove duplicate testing code
  internal/datastore/postgres/postgres_shared_test.go
  pkg/datastore/test/watch.go
Labels: area/datastore, area/tooling

#1756 VSCode launch config
  .gitignore
  .vscode/launch.json
Labels: area/tooling

#1751 reduces chunking allocations for wide relations
  internal/graph/check.go
  pkg/tuple/onrbytypeset.go
Labels: area/perf

#1758 refactor Security related actions and add Snyk
  .github/workflows/build-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1749 Use the same default port for the HTTP API across serve and serve-testing
  pkg/cmd/testing.go
Labels: area/CLI

#1763 Close the parent context in serve_test when complete
  pkg/cmd/serve_test.go
Labels: area/CLI, area/tooling

#1766 disables Snyk checks
  .github/workflows/security.yaml
Labels: area/tooling

#1764 Remove stale TODOs
  internal/datasets/subjectsetbytype.go
  internal/datastore/common/sql.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/gc.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/mysql/revisions.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/revisions.go
  internal/datastore/spanner/migrations/zz_migration.0001_initial_schema.go
  internal/datastore/spanner/options.go
  internal/dispatch/keys/keys.go
  internal/graph/context.go
  pkg/datastore/test/tuples.go
Labels: area/datastore, area/dispatch

#1767 Fix flake in singleflight test by increasing the run time slightly
  internal/datastore/proxy/schemacaching/standardcaching_test.go
Labels: area/datastore, area/tooling

#1768 enables prometheus exemplars support
  go.mod
  go.sum
  pkg/cmd/devtools.go
  pkg/cmd/server/defaults.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/dependencies

#1770 Change CRDB driver to use new method for getting transaction timestamp
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/migrations/zz_migration.0005_remove_stats_table.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/stats.go
  internal/testserver/datastore/crdb.go
  pkg/cmd/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/stats.go
  pkg/datastore/test/tuples.go
Labels: area/CLI, area/datastore, area/tooling
