Repository authzed/spicedb, pull requests merged in 2024-11, with the labels that each got.

#2102 Enable native histograms in server latency metrics
  pkg/cmd/server/defaults.go
Labels: area/CLI

#2117 Fix MySQL test breakage caused by daylight savings change
  internal/datastore/mysql/datastore_test.go
Labels: area/datastore, area/tooling

#2118 Use complete sentence in error
  pkg/development/validation.go
  pkg/development/wasm/operations_test.go
Labels: area/tooling

#2115 Small improvements for transaction metadata
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner.go
  pkg/tuple/core_test.go
  pkg/tuple/strings.go
Labels: area/datastore, area/tooling

#2116 Update compiler to consume local imports
  .github/workflows/lint.yaml
  .github/workflows/security.yaml
  internal/services/integrationtesting/testconfigs/caveatmultiplebranchessamerel.yaml
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/importer-test/README.md
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/root.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/transitive/transitive.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local-with-hop/transitive/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/nested-local/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/definitions/user/user.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/nested-two-layer-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/expected.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/indirection.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local-with-hop/user.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/expected.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/root.zed
  pkg/composableschemadsl/compiler/importer-test/simple-local/user.zed
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/importer_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

#2122 fix HCLRevision mismatch on zero logical clock
  .github/workflows/security.yaml
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/hlcrevision_test.go
Labels: area/datastore, area/tooling

#2120 introduce emission strategy into CockroachDB Watch API
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/watch.go
Labels: area/datastore

#2123 Handle circular and duplicate imports
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/importer-test/circular-import/expected.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/root.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/subjects.zed
  pkg/composableschemadsl/compiler/importer-test/circular-import/user.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/expected.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/left.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/right.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/root.zed
  pkg/composableschemadsl/compiler/importer-test/diamond-shaped/subjects.zed
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/importer_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

#2126 Improve PG serialization error on writes
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/readwrite.go
Labels: area/datastore, area/tooling

#2125 introduces ByteSortable method in Revision
  internal/datastore/postgres/revisions.go
  internal/datastore/revisions/commonrevision_test.go
  internal/datastore/revisions/hlcrevision.go
  internal/datastore/revisions/timestamprevision.go
  internal/datastore/revisions/txidrevision.go
  pkg/datastore/datastore.go
Labels: area/datastore, area/tooling

#2131 Add subject filters in schema relation delete to force use of the index
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

#2132 backport: Add subject filters in schema relation delete to force use of the index
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
Labels: area/tooling

#2137 add a flag to allow spicedb to run against non-head migrations
  internal/datastore/common/migrations.go
  internal/datastore/common/migrations_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  tools/analyzers/go.work.sum
Labels: area/CLI, area/datastore, area/tooling

#2139 issue a checkpoint when head revision moved outside an application transaction
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/watch.go
  internal/testserver/datastore/postgres.go
Labels: area/datastore, area/tooling

#2140 postgres watch: checkpoints should move the high watermark revision
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

#2141 Parser changes for supporting relationship expiration
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/lexer/flaggablelexer.go
  pkg/schemadsl/lexer/flaggablelexer_test.go
  pkg/schemadsl/lexer/flags.go
  pkg/schemadsl/lexer/peekable_lex.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/caveatstype.zed.expected
  pkg/schemadsl/parser/tests/expirationnonkeyword.zed
  pkg/schemadsl/parser/tests/expirationnonkeyword.zed.expected
  pkg/schemadsl/parser/tests/invaliduse.zed
  pkg/schemadsl/parser/tests/invaliduse.zed.expected
  pkg/schemadsl/parser/tests/invaliduseexpiration.zed
  pkg/schemadsl/parser/tests/invaliduseexpiration.zed.expected
  pkg/schemadsl/parser/tests/multipleslashes.zed.expected
  pkg/schemadsl/parser/tests/superlarge.zed.expected
  pkg/schemadsl/parser/tests/useafterdef.zed
  pkg/schemadsl/parser/tests/useafterdef.zed.expected
  pkg/schemadsl/parser/tests/useexpiration.zed
  pkg/schemadsl/parser/tests/useexpiration.zed.expected
  pkg/schemadsl/parser/tests/useexpirationkeyword.zed
  pkg/schemadsl/parser/tests/useexpirationkeyword.zed.expected
Labels: area/schema, area/tooling

#2142 Schema compiler support for relationship expiration trait
  pkg/namespace/builder.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/core/v1/core.pb.validate.go
  pkg/proto/core/v1/core_vtproto.pb.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator.go
  pkg/schemadsl/generator/generator_impl.go
  pkg/schemadsl/generator/generator_test.go
  proto/internal/core/v1/core.proto
Labels: area/schema, area/tooling

#2144 Add explicit option to enable expiration in schema
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/schema, area/tooling

#2145 Type system changes for first-class expiration support
  pkg/typesystem/typesystem.go
  pkg/typesystem/typesystem_test.go
Labels: area/tooling

#2147 Ensure caveats are read in bulk import
  internal/services/v1/experimental.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#2148 Fix cache inconsistency segfault
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
Labels: area/datastore, area/tooling

#2149 fix: schema watch causes incorrect delete event for schema changes
  internal/datastore/postgres/watch.go
  pkg/datastore/test/watch.go
Labels: area/datastore
