Repository authzed/spicedb, pull requests merged in 2024-07, with the labels that each got.

#1960 Add a steelthread test for an indirect permission for LR
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/steelthreadtesting/testdata/document-with-many-resources.yaml
Labels: area/tooling

#1968 Move to go 1.22.5 for a reporting go lang vuln
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#1972 adjust pg revision timestamps
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/revisions_test.go
  internal/datastore/postgres/watch.go
Labels: area/datastore, area/tooling

#1971 fixed lsp panicing on formatting malformed content
  internal/lsp/handlers.go
  internal/lsp/lsp_test.go
Labels: area/tooling

#1978 Update gRPC to v1.65.0 to fix reported gRPC vuln
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#1984 Add ability to toggle off specific warnings via magic comments
  internal/lsp/lsp_test.go
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/development/warnings_test.go
Labels: area/tooling

#1983 Ensure that the bootstrap overwrite flag actually fully overwrites
  pkg/cmd/datastore/datastore.go
  pkg/datastore/test/basic.go
  pkg/datastore/test/datastore.go
  pkg/datastore/util.go
Labels: area/CLI

#1991 Remove apparently unneeded COALESCE call
  internal/datastore/postgres/revisions.go
Labels: area/datastore

#1997 additional dispatch chunk safeguards
  internal/datastore/common/sql.go
  internal/datastore/crdb/options.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/spanner/options.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/graph.go
  internal/services/v1/experimental.go
  pkg/genutil/slicez/chunking.go
Labels: area/api v1, area/datastore, area/dispatch

#1987 Fix debug traces when caveats use the same param name
  internal/caveats/debug.go
  internal/caveats/debug_test.go
  internal/caveats/run.go
  internal/caveats/run_test.go
  internal/graph/computed/computecheck_test.go
  internal/services/v1/debug.go
  internal/services/v1/debug_test.go
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/eval.go
  pkg/caveats/replacer/inlining.go
  pkg/caveats/replacer/replacer.go
  pkg/genutil/mapz/multimap.go
Labels: area/api v1, area/tooling

#1990 Switch caching package's interface to be generic and add experimental flag to try different caches
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/proxy/schemacaching/caching.go
  internal/datastore/proxy/schemacaching/standardcache.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/cluster/cluster.go
  internal/dispatch/combined/combined.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/expand_test.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/lookupsubjects_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/dispatchcheckkey.go
  internal/gateway/gateway_test.go
  internal/services/v1/experimental_test.go
  internal/services/v1/permissions_test.go
  pkg/cache/cache.go
  pkg/cache/cache_otter.go
  pkg/cache/cache_ristretto.go
  pkg/cache/cache_theine.go
  pkg/cache/cache_wasm.go
  pkg/cache/metrics.go
  pkg/cache/standard.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/server/zz_generated.cacheconfig.options.go
  pkg/testutil/leakdetection.go
Labels: area/CLI, area/api v1, area/datastore, area/dependencies, area/tooling, area/dispatch, area/api http

#2000 Fix conversion of caveat debug context
  internal/caveats/debug.go
  internal/caveats/debug_test.go
Labels: area/tooling

#2004 bump Docker to address security scanners surfacing CVE
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/lint.go
  pkg/proto/core/v1/core.pb.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/pgrevision.pb.go
Labels: area/dependencies

#2007 Add an extra `source_code` field to developer warnings
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/development/warnings_test.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling

#2008 Add ability to get warnings from the WASM dev interface
  pkg/development/wasm/operations.go
  pkg/development/wasm/operations_test.go
  pkg/proto/developer/v1/developer.pb.go
  pkg/proto/developer/v1/developer.pb.validate.go
  pkg/proto/developer/v1/developer_vtproto.pb.go
  proto/internal/developer/v1/developer.proto
Labels: area/tooling
