Repository authzed/spicedb, pull requests merged in 2025-09, with the labels that each got.

#2540 LookupResources 3 improvements
  go.mod
  go.sum
  internal/cursorediterator/blocks.go
  internal/cursorediterator/blocks_test.go
  internal/cursorediterator/integration_test.go
  internal/cursorediterator/primitives.go
  internal/cursorediterator/primitives_test.go
  internal/digests/digestmap.go
  internal/digests/digestmap_test.go
  internal/graph/lookupresources3.go
  internal/graph/lookupresources3_test.go
  internal/graph/lr3stats.go
  internal/graph/lr3stats_test.go
  internal/telemetry/otelconv/otelconv.go
  pkg/schema/reachabilitygraph.go
Labels: area/dependencies, area/tooling

#2546 query: Implement an executor pattern for the iterators
  pkg/query/arrow.go
  pkg/query/arrow_test.go
  pkg/query/build_tree.go
  pkg/query/build_tree_test.go
  pkg/query/context.go
  pkg/query/datastore.go
  pkg/query/executor_local.go
  pkg/query/fixed.go
  pkg/query/fixed_test.go
  pkg/query/intersection.go
  pkg/query/intersection_test.go
  pkg/query/quick_e2e_test.go
  pkg/query/testutil.go
  pkg/query/types.go
  pkg/query/union.go
  pkg/query/union_test.go
  pkg/schema/v2/convert.go
  pkg/schema/v2/convert_test.go
Labels: area/tooling

#2547 test: Hook up the conformance tests to the new query package
  internal/services/integrationtesting/query_plan_consistency_test.go
Labels: area/tooling

#2548 feat: add exclusion iterator
  pkg/query/build_tree.go
  pkg/query/build_tree_test.go
  pkg/query/exclusion.go
  pkg/query/exclusion_test.go
  pkg/query/union.go
Labels: area/tooling

#2550 refactor: Query iterators now operate in Objects and ObjectRelations instead of strings
  internal/services/integrationtesting/query_plan_consistency_test.go
  pkg/query/arrow.go
  pkg/query/arrow_test.go
  pkg/query/build_tree_test.go
  pkg/query/context.go
  pkg/query/datastore.go
  pkg/query/exclusion.go
  pkg/query/exclusion_test.go
  pkg/query/executor_local.go
  pkg/query/fixed.go
  pkg/query/fixed_test.go
  pkg/query/intersection.go
  pkg/query/intersection_test.go
  pkg/query/objects.go
  pkg/query/quick_e2e_test.go
  pkg/query/testutil.go
  pkg/query/types.go
  pkg/query/union.go
  pkg/query/union_test.go
  pkg/tuple/structs.go
Labels: area/tooling

#2567 fix: update telemetry guide
  README.md
Labels: area/docs

#2553 feat: add wildcard support to the plan
  internal/services/integrationtesting/query_plan_consistency_test.go
  pkg/query/build_tree.go
  pkg/query/build_tree_test.go
  pkg/query/datastore.go
  pkg/query/datastore_test.go
  pkg/query/union.go
  pkg/query/union_test.go
Labels: area/tooling

#2574 fix: span handling in LR3
  internal/cursorediterator/primitives.go
  internal/cursorediterator/primitives_test.go
  internal/graph/lookupresources3.go
  internal/telemetry/otelconv/otelconv.go
Labels: area/tooling
