Repository authzed/spicedb, pull requests merged in 2025-06, with the labels that each got.

#2424 remove serve-devtools command
  .github/labeler.yml
  cmd/spicedb/main.go
  cmd/spicedb/main_test.go
  go.mod
  go.sum
  internal/services/v0/developer.go
  internal/services/v0/developer_test.go
  internal/services/v0/download.go
  internal/services/v0/download_test.go
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/CLI, area/dependencies, area/tooling

#2370 improvements to context severing
  internal/datastore/context.go
  internal/datastore/proxy/schemacaching/standardcache.go
Labels: area/datastore

#2389 Secondary dispatch improvements
  internal/dispatch/combined/combined.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_benchmark_test.go
  internal/dispatch/remote/cluster_test.go
  internal/dispatch/remote/primarysleeper_test.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/tooling, area/dispatch

#2428 Fix flaky cluster test
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch

#2425 Quick test fixes for typechecking
  pkg/schema/type_check.go
  pkg/schema/type_check_test.go
Labels: area/tooling

#2419 Add additional unit tests to the indexcheck package
  internal/datastore/proxy/indexcheck/fakedatastore_test.go
  internal/datastore/proxy/indexcheck/indexcheck.go
  internal/datastore/proxy/indexcheck/indexcheck_test.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/datastore/proxy/indexcheck/queryshapevalidators_test.go
Labels: area/datastore, area/tooling

#2432 Add unit tests for the dispatcher middleware
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/middleware/dispatcher/dispatcher.go
  pkg/middleware/dispatcher/dispatcher_test.go
Labels: area/dependencies, area/tooling

#2447 Add unit tests for the readonly middleware
  internal/middleware/readonly/readonly_test.go
Labels: area/tooling

#2452 Add unit tests for the nodeid middleware
  pkg/middleware/nodeid/nodeid_test.go
Labels: area/tooling

#2453 Add unit tests for serverversion middleware
  pkg/middleware/serverversion/serverversion_test.go
Labels: area/tooling

#2462 Postgres: configure migration driver to support PgBouncer
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/migrations/driver.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_test.go
Labels: area/datastore, area/tooling

#2449 trim binary by removing dep to github.com/google/go-github/v43
  .golangci.yaml
  go.mod
  go.sum
  magefiles/build.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/releases/releases.go
  pkg/schemadsl/compiler/compiler.go
Labels: area/schema, area/dependencies, area/tooling

#2467 default cockroachdb connection jitter to 30m
  internal/datastore/crdb/options.go
  internal/datastore/crdb/options_test.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling
