Repository authzed/spicedb, pull requests merged in 2025-03, with the labels that each got.

#2253 Create a new schema package and port typesystem to it
  pkg/schema/arrows.go
  pkg/schema/arrows_test.go
  pkg/schema/compiled_schema_resolver.go
  pkg/schema/definition.go
  pkg/schema/definition_test.go
  pkg/schema/errors.go
  pkg/schema/full_reachability.go
  pkg/schema/full_reachability_test.go
  pkg/schema/reachabilitygraph.go
  pkg/schema/reachabilitygraph_test.go
  pkg/schema/reachabilitygraphbuilder.go
  pkg/schema/resolver.go
  pkg/schema/typesystem.go
  pkg/schema/typesystem_validation.go
Labels: area/tooling

#2263 OS-222: Require definitions and partials to have distinct names
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling

#2265 Update the datastore interface to return the number of deleted relationships
  internal/datastore/crdb/readwrite.go
  internal/datastore/memdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/spanner/readwrite.go
  internal/services/v1/relationships.go
  internal/testfixtures/validating.go
  pkg/datastore/datastore.go
  pkg/datastore/test/relationships.go
  pkg/datastore/test/watch.go
  pkg/datastore/util.go
Labels: area/api v1, area/datastore

#2266 Fix default concurrency limit for bulk check API
  internal/services/v1/bulkcheck.go
  internal/services/v1/relationships.go
Labels: area/api v1

#2269 Update DeleteRelationships API to return the number of relationships deleted
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/relationships.go
  internal/services/v1/relationships_test.go
  tools/analyzers/go.work.sum
Labels: area/api v1, area/dependencies, area/tooling

#2276 bug-fix: fix typo in flag prefix
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#2272 Secondary dispatch improvements: Add LookupSubjects support and dynamic hedging
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch

#2278 do not log at warn level when setting datastore in read-only
  pkg/cmd/datastore/datastore.go
Labels: area/CLI

#2262 Convert packages to use the new schema package
  internal/datastore/postgres/readwrite.go
  internal/graph/hints/checkhints.go
  internal/graph/hints/checkhints_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/namespace/aliasing.go
  internal/namespace/aliasing_test.go
  internal/namespace/annotate.go
  internal/namespace/annotate_test.go
  internal/namespace/canonicalization.go
  internal/namespace/canonicalization_test.go
  internal/namespace/caveats.go
  internal/relationships/errors.go
  internal/relationships/validation.go
  internal/services/integrationtesting/consistency_test.go
  internal/services/integrationtesting/consistencytestutil/clusteranddata.go
  internal/services/shared/errors.go
  internal/services/shared/schema.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/schema.go
  internal/testfixtures/datastore.go
  pkg/development/devcontext.go
  pkg/development/resolver.go
  pkg/development/warningdefs.go
  pkg/development/warnings.go
  pkg/diff/namespace/diff.go
  pkg/schema/typesystem_validation.go
  pkg/validationfile/loader.go
Labels: area/api v1, area/datastore, area/tooling

#2279 [schema] fix automatic validation if the source is pre-validated
  pkg/schema/definition_test.go
  pkg/schema/typesystem.go
  pkg/schema/typesystem_test.go
  pkg/schema/typesystem_validation.go
Labels: area/tooling

#2231 Add a metric tracking the selected replica
  internal/datastore/common/url.go
  internal/datastore/common/url_test.go
  internal/datastore/context.go
  internal/datastore/crdb/crdb.go
  internal/datastore/memdb/memdb.go
  internal/datastore/mysql/datastore.go
  internal/datastore/postgres/postgres.go
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/observable.go
  internal/datastore/proxy/proxy_test/mock.go
  internal/datastore/proxy/relationshipintegrity.go
  internal/datastore/proxy/schemacaching/watchingcache_test.go
  internal/datastore/proxy/singleflight.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
Labels: area/datastore, area/tooling

#2286 upload coverage to codecov
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

#2288 remove deprecated tenv linter
  .golangci.yaml
  internal/services/integrationtesting/cert_test.go
  pkg/cmd/datastore/datastore_test.go
  pkg/cmd/termination/termination_test.go
Labels: area/CLI, area/tooling

#2290 Have dispatch skip hedging delays when dispatching to unsupported relations
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
  pkg/tuple/structs.go
Labels: area/tooling, area/dispatch

#2223 Start on better indexing support
  internal/datastore/common/index.go
  internal/datastore/common/index_test.go
  internal/datastore/common/relationships.go
  internal/datastore/common/relationships_test.go
  internal/datastore/common/schema.go
  internal/datastore/common/schema_test.go
  internal/datastore/common/sql.go
  internal/datastore/common/zz_generated.schema_options.go
  internal/datastore/crdb/caveat.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/debug.go
  internal/datastore/crdb/debug_test.go
  internal/datastore/crdb/reader.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/schema.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/debug.go
  internal/datastore/mysql/debug_test.go
  internal/datastore/mysql/indexes.go
  internal/datastore/mysql/reader.go
  internal/datastore/mysql/version/version.go
  internal/datastore/postgres/caveat.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/debug.go
  internal/datastore/postgres/debug_test.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_expiration_index.go
  internal/datastore/postgres/migrations/zz_migration.0023_add_index_for_transaction_gc.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/indexutil.go
  internal/datastore/postgres/schema/schema.go
  internal/datastore/postgres/stats.go
  internal/datastore/postgres/watch.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/indexcheck.go
  internal/datastore/proxy/indexcheck_test.go
  internal/datastore/proxy/strictreplicated_test.go
  internal/datastore/spanner/reader.go
  internal/graph/check.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/services/steelthreadtesting/steelthread_test.go
  magefiles/test.go
  pkg/datastore/datastore.go
  pkg/datastore/options/options.go
  pkg/datastore/options/zz_generated.query_options.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/stats.go
Labels: area/datastore, area/tooling

#2284 Schema Change Events via Watch API
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/services/v1/watch.go
  internal/services/v1/watch_test.go
  internal/services/v1/watchutil.go
  internal/services/v1/watchutil_test.go
  internal/testserver/server.go
Labels: area/api v1, area/dependencies, area/tooling

#2293 update mysql docs
  internal/datastore/mysql/README.md
Labels: area/datastore

#2295 fix leader election retry interval for revision heartbeat
  internal/datastore/postgres/postgres.go
  internal/graph/lookupresources2.go
Labels: area/datastore
