Repository authzed/spicedb, pull requests merged in 2025-07, with the labels that each got.

#2457 Implement the "use typechecking" directive, annotating the source, and checking against the schema if the types are present
  pkg/namespace/metadata.go
  pkg/namespace/metadata_test.go
  pkg/proto/impl/v1/impl.pb.go
  pkg/proto/impl/v1/impl.pb.validate.go
  pkg/proto/impl/v1/impl_vtproto.pb.go
  pkg/schema/errors.go
  pkg/schema/type_check_test.go
  pkg/schema/typesystem_validation.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/compiler/type_annotations_integration_test.go
  pkg/schemadsl/dslshape/dslshape.go
  pkg/schemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/schemadsl/lexer/flags.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_test.go
  pkg/schemadsl/parser/tests/invaliduse.zed.expected
  pkg/schemadsl/parser/tests/permission_edge_cases.zed
  pkg/schemadsl/parser/tests/permission_edge_cases.zed.expected
  pkg/schemadsl/parser/tests/permission_mixed_annotations.zed
  pkg/schemadsl/parser/tests/permission_mixed_annotations.zed.expected
  pkg/schemadsl/parser/tests/permission_mixed_single_multiple.zed
  pkg/schemadsl/parser/tests/permission_mixed_single_multiple.zed.expected
  pkg/schemadsl/parser/tests/permission_multiple_types.zed
  pkg/schemadsl/parser/tests/permission_multiple_types.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation.zed
  pkg/schemadsl/parser/tests/permission_type_annotation.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_double_colon.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_double_colon.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_empty_after_colon.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_empty_after_colon.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_just_pipe.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_just_pipe.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_newline_after_colon.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_newline_after_colon.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_pipe_no_type_before.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_pipe_no_type_before.zed.expected
  pkg/schemadsl/parser/tests/permission_type_annotation_trailing_pipe_no_type_after.zed
  pkg/schemadsl/parser/tests/permission_type_annotation_trailing_pipe_no_type_after.zed.expected
  pkg/schemadsl/parser/tests/use_typechecking.zed
  pkg/schemadsl/parser/tests/use_typechecking.zed.expected
  proto/internal/impl/v1/impl.proto
Labels: area/schema, area/tooling

#2485 pin fsnotify to prevent panics
  go.mod
  go.sum
Labels: area/dependencies

#2486 pkg/cache: update to otter v2
  go.mod
  go.sum
  pkg/cache/cache_otter.go
  pkg/cmd/server/cacheconfig.go
Labels: area/cli, area/dependencies

#2498 add test for releases.go
  pkg/releases/releases_test.go
Labels: area/tooling

#2490 docs: improve docs of flags
  pkg/cmd/datastore.go
  pkg/cmd/migrate.go
  pkg/cmd/root.go
  pkg/cmd/serve.go
  pkg/cmd/server/cacheconfig.go
  pkg/cmd/server/defaults.go
  pkg/cmd/termination/termination.go
  pkg/runtime/profiling.go
Labels: area/cli

#2495 Fix flaky test for telemetry reporting
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling
