Repository authzed/spicedb, pull requests merged in 2025-05, with the labels that each got.

#2376 Improve CRDB index forcing logic to be more fine-grain
  internal/datastore/crdb/readwrite.go
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/indexes_test.go
Labels: area/datastore, area/tooling

#2381 pin github action and dockerfile.release base image
  .github/workflows/build-test.yaml
  Dockerfile.release
Labels: area/tooling

#2385 Add additional forced CRDB index in special case of no object IDs
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/indexes_test.go
Labels: area/datastore, area/tooling

#2380 Cache Features call in CRDB and skip outputting the check error
  internal/datastore/crdb/crdb.go
  internal/datastore/postgres/common/pgx.go
Labels: area/datastore

#2382 remove direct dependency to aws sdk v1
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/CLI, area/dependencies, area/tooling

#2387 add more default linters
  .golangci.yaml
  internal/datastore/proxy/observable.go
  internal/services/v0/sharestore.go
  pkg/cmd/datastore/datastore.go
Labels: area/api v0, area/CLI, area/datastore, area/tooling

#2390 Handle both kinds of cancelation errors in test
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch

#2383 Add perfinsights middleware which writes the latency of API calls
  go.mod
  go.sum
  internal/middleware/perfinsights/doc.go
  internal/middleware/perfinsights/perfinsights.go
  internal/middleware/perfinsights/perfinsights_test.go
  internal/services/server.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/relationships.go
  internal/services/v1/relationships_unit_test.go
  internal/services/v1/schema.go
  internal/testserver/cluster.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
  pkg/development/devcontext.go
Labels: area/CLI, area/api v1, area/dependencies, area/tooling

#2393 Make sure to escape underscores in delete by object ID prefix
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/crdb/readwrite.go
  internal/datastore/mysql/readwrite.go
  internal/datastore/postgres/readwrite.go
  internal/datastore/spanner/readwrite.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

#2394 fix(CI): CLA GitHub Action permissions
  .github/workflows/cla.yaml
Labels: area/tooling

#2395 Remove subject check for deleted definitions in schema
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/datastore/spanner/indexes.go
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
  pkg/datastore/queryshape/queryshape.go
  pkg/datastore/test/pagination.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

#2397 revert PR #2382
  go.mod
  go.sum
  internal/services/v0/sharestore.go
  internal/services/v0/sharestore_test.go
  pkg/cmd/devtools.go
Labels: area/api v0, area/CLI, area/dependencies, area/tooling

#2402 Handle both kinds of cancelation errors in test, part 2
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch

#2401 collect unit test coverage for codecov to work
  .github/workflows/build-test.yaml
  magefiles/test.go
Labels: area/tooling

#2406 Add additional unit tests to preshared key package
  internal/auth/presharedkey_test.go
Labels: area/tooling

#2379 Add development containers support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create-command.sh
  README.md
Labels: area/docs

#2409 Add additional unit tests for the caveat replacer package
  pkg/caveats/replacer/replacer.go
  pkg/caveats/replacer/replacer_test.go
Labels: area/tooling
