Repository authzed/spicedb, pull requests merged in 2025-01, with the labels that each got.

#2186 Remove parallel running on datastore consistency tests to reduce flakiness
  internal/services/integrationtesting/consistency_datastore_test.go
Labels: area/tooling

#2188 Fix the strict read proxy
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
Labels: area/datastore, area/tooling

#2193 Add support for debug traces in Check Bulk Permission
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/graph/checkingresourcestream.go
  internal/graph/computed/computecheck.go
  internal/graph/computed/computecheck_test.go
  internal/graph/lookupresources2.go
  internal/graph/lr2streams.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/debug.go
  internal/services/v1/debug_test.go
  internal/services/v1/grouping.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  pkg/cmd/server/defaults.go
  pkg/middleware/nodeid/nodeid.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/CLI, area/api v1, area/dependencies, area/tooling, area/dispatch

#2196 Ensure source is returned for all check debug traces
  internal/dispatch/caching/caching.go
  internal/dispatch/graph/graph.go
  internal/graph/check.go
  internal/graph/expand.go
  internal/graph/lookupsubjects.go
  internal/graph/lr2streams.go
  internal/services/v1/bulkcheck.go
  internal/services/v1/permissions_test.go
  pkg/middleware/nodeid/nodeid.go
Labels: area/api v1, area/tooling, area/dispatch

#2198 Move unlock call to a background context in GC
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/gc.go
Labels: area/datastore, area/tooling

#2200 Disable retries on the serialization test for PG
  internal/datastore/postgres/postgres_shared_test.go
Labels: area/datastore, area/tooling

#2199 Switch postgres to use a set and return an error if a duplicate caveat name is given
  internal/datastore/postgres/caveat.go
Labels: area/datastore

#2203 Delete LookupResources v1, ReachableResources and all helper code
  internal/dispatch/caching/caching.go
  internal/dispatch/caching/cachingdispatch_test.go
  internal/dispatch/caching/delegate.go
  internal/dispatch/dispatch.go
  internal/dispatch/graph/check_test.go
  internal/dispatch/graph/dispatch_test.go
  internal/dispatch/graph/graph.go
  internal/dispatch/graph/lookupresources2_test.go
  internal/dispatch/graph/lookupresources_test.go
  internal/dispatch/graph/reachableresources_test.go
  internal/dispatch/keys/computed.go
  internal/dispatch/keys/computed_test.go
  internal/dispatch/keys/keys.go
  internal/dispatch/remote/cluster.go
  internal/dispatch/singleflight/singleflight.go
  internal/dispatch/singleflight/singleflight_test.go
  internal/graph/checkingresourcestream.go
  internal/graph/lookupresources.go
  internal/graph/lookupresources2.go
  internal/graph/reachableresources.go
  internal/graph/resourcesubjectsmap.go
  internal/graph/resourcesubjectsmap2.go
  internal/graph/resourcesubjectsmap_test.go
  internal/services/dispatch/v1/acl.go
  pkg/proto/dispatch/v1/00_zerolog.go
  pkg/proto/dispatch/v1/dispatch.pb.go
  pkg/proto/dispatch/v1/dispatch.pb.validate.go
  pkg/proto/dispatch/v1/dispatch_grpc.pb.go
  pkg/proto/dispatch/v1/dispatch_vtproto.pb.go
  proto/internal/dispatch/v1/dispatch.proto
Labels: area/tooling, area/dispatch

#2195 Switch postgres tests to run in a matrix of versions
  .github/workflows/build-test.yaml
  internal/datastore/postgres/pgbouncer_test.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  internal/datastore/postgres/version/version.go
  internal/services/integrationtesting/consistency_datastore_test.go
  internal/testserver/datastore/datastore.go
  internal/testserver/datastore/postgres.go
  magefiles/test.go
  magefiles/util.go
Labels: area/datastore, area/tooling

#2205 Change feature detection for CRDB watch to not require waiting
  internal/datastore/crdb/crdb.go
Labels: area/datastore

#2197 make index creation idempotent
  internal/datastore/postgres/common/errors.go
  internal/datastore/postgres/migrations/index.go
  internal/datastore/postgres/migrations/zz_migration.0020_add_watch_api_index.go
  internal/datastore/postgres/migrations/zz_migration.0021_add_expiration_column.go
  internal/datastore/postgres/migrations/zz_migration.0022_add_expiration_index.go
  internal/datastore/postgres/migrations/zz_migration.0023_add_index_for_transaction_gc.go
Labels: area/datastore

#2206 add schemaFile to ValidationFile
  pkg/validationfile/fileformat.go
  pkg/validationfile/fileformat_test.go
Labels: area/tooling

#2210 bug fix: implement flag for spanner
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#2213 security-fix: upgrade go base image to fix new CVE published
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#2211 Implement partials syntax parsing
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/nonsense_top_level_block.zed
  pkg/composableschemadsl/parser/tests/nonsense_top_level_block.zed.expected
  pkg/composableschemadsl/parser/tests/partials.zed
  pkg/composableschemadsl/parser/tests/partials.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_block.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_block.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_reference.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_partial_reference.zed.expected
  pkg/composableschemadsl/parser/tests/partials_with_malformed_reference_splat.zed
  pkg/composableschemadsl/parser/tests/partials_with_malformed_reference_splat.zed.expected
Labels: area/tooling

#2216 Have LookupSubjects return Unimplemented if a cursor is used
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
Labels: area/api v1, area/tooling

#2217 [mysql] pipe logger into mysql for debug printing (#1055)
  internal/datastore/mysql/datastore.go
  internal/logging/logger.go
Labels: area/datastore

#2219 Change strict reading PG to only return rows when valid
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/strictreader.go
  internal/datastore/proxy/checkingreplicated_test.go
  internal/datastore/proxy/strictreplicated.go
  internal/datastore/proxy/strictreplicated_test.go
Labels: area/datastore, area/tooling

#2222 Remove parallel test to reduce flakiness
  cmd/spicedb/migrate_integration_test.go
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#2212 Implement partials compilation
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/importer.go
  pkg/composableschemadsl/compiler/node.go
  pkg/composableschemadsl/compiler/translator.go
Labels: area/tooling
