Repository authzed/spicedb, pull requests merged in 2025-02, with the labels that each got.

#2229 Add metrics for usage of the replication proxies in the datastore
  internal/datastore/proxy/checkingreplicated.go
  internal/datastore/proxy/strictreplicated.go
Labels: area/datastore

#2233 fixes pg replica error: "canceling statement due to conflict with recovery
  go.mod
  internal/datastore/postgres/strictreader.go
  internal/datastore/postgres/strictreader_test.go
Labels: area/datastore, area/dependencies, area/tooling

#2226 Change default version for CRDB testing to latest
  e2e/go.mod
  e2e/go.sum
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/pool_test.go
  internal/datastore/crdb/version/version.go
  internal/testserver/datastore/crdb.go
  internal/testserver/datastore/datastore.go
  magefiles/test.go
  pkg/datastore/test/watch.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/tooling

#2237 Move to Go 1.23.6 for a reported Go vuln
  Dockerfile
  Dockerfile.release
  tools/analyzers/go.work.sum
Labels: area/dependencies, area/tooling

#2238 crdb pool: handle cases with nil errors
  internal/datastore/crdb/pool/sqlerrors.go
  internal/datastore/crdb/pool/sqlerrors_test.go
  tools/analyzers/go.work.sum
Labels: area/datastore, area/tooling

#2239 Port in expiration parsing into composable schema DSL
  pkg/composableschemadsl/dslshape/dslshape.go
  pkg/composableschemadsl/dslshape/zz_generated.nodetype_string.go
  pkg/composableschemadsl/lexer/flaggablelexer.go
  pkg/composableschemadsl/lexer/flaggablelexer_test.go
  pkg/composableschemadsl/lexer/flags.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/lexer/lex_test.go
  pkg/composableschemadsl/lexer/peekable_lex.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/caveatstype.zed.expected
  pkg/composableschemadsl/parser/tests/expirationnonkeyword.zed
  pkg/composableschemadsl/parser/tests/expirationnonkeyword.zed.expected
  pkg/composableschemadsl/parser/tests/invaliduse.zed
  pkg/composableschemadsl/parser/tests/invaliduse.zed.expected
  pkg/composableschemadsl/parser/tests/invaliduseexpiration.zed
  pkg/composableschemadsl/parser/tests/invaliduseexpiration.zed.expected
  pkg/composableschemadsl/parser/tests/multipleslashes.zed.expected
  pkg/composableschemadsl/parser/tests/superlarge.zed.expected
  pkg/composableschemadsl/parser/tests/useafterdef.zed
  pkg/composableschemadsl/parser/tests/useafterdef.zed.expected
  pkg/composableschemadsl/parser/tests/useexpiration.zed
  pkg/composableschemadsl/parser/tests/useexpiration.zed.expected
  pkg/composableschemadsl/parser/tests/useexpirationkeyword.zed
  pkg/composableschemadsl/parser/tests/useexpirationkeyword.zed.expected
Labels: area/tooling

#2240 Port expiration compiler changes into composableschemadsl
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator.go
  pkg/composableschemadsl/generator/generator_impl.go
  pkg/composableschemadsl/generator/generator_test.go
  pkg/composableschemadsl/lexer/flaggablelexer.go
  pkg/composableschemadsl/lexer/flaggablelexer_test.go
  pkg/composableschemadsl/parser/parser.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/composableschemadsl/parser/parser_test.go
  pkg/composableschemadsl/parser/tests/duplicate_use_statement.zed
  pkg/composableschemadsl/parser/tests/duplicate_use_statement.zed.expected
  pkg/composableschemadsl/parser/tests/useafterdef.zed.expected
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/lexer/flaggablelexer.go
  pkg/schemadsl/lexer/flaggablelexer_test.go
  pkg/schemadsl/parser/parser.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/schemadsl/parser/tests/duplicate_use_statement.zed
  pkg/schemadsl/parser/tests/duplicate_use_statement.zed.expected
  pkg/schemadsl/parser/tests/useafterdef.zed.expected
Labels: area/schema, area/tooling

#2244 Improve handling of watch errors
  internal/datastore/common/sqlerrors.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/postgres/watch.go
  internal/datastore/spanner/watch.go
  pkg/datastore/datastore.go
Labels: area/datastore

#2245 Support follower read delay flag with Postgres and MySQL datastores
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/revisions.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore, area/tooling

#2248 Change Spanner default metrics to go to OTEL
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/datastore

#2251 Update go.mod for vulns in Go libs
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#2252 make pg datastore continuously checkpoint using a revision heartbeat
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/revisions.go
  internal/datastore/postgres/snapshot.go
  internal/datastore/postgres/snapshot_test.go
  internal/datastore/postgres/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/datastore, area/tooling

#2254 follow ups to #2252
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/postgres_test.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/serve.go
  pkg/cmd/server/server.go
  pkg/cmd/server/zz_generated.options.go
Labels: area/CLI, area/datastore, area/tooling

#2235 magefile: added combined test coverage support for `mage test:all`
  .gitignore
  magefiles/go.mod
  magefiles/go.sum
  magefiles/test.go
  magefiles/util.go
Labels: area/tooling

#2258 feat: add goreleaser job Slack notifications
  .github/workflows/release.yaml
Labels: area/tooling
