Repository authzed/spicedb, pull requests merged in 2025-04, with the labels that each got.

#2300 support both old and new read replica flag prefixes
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: area/CLI, area/tooling

#2297 introduces depot runners
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/tooling

#2305 fixes incorrect handling of definition deltas via Postgres Watch API
  internal/datastore/common/changes.go
  internal/datastore/common/changes_test.go
Labels: area/datastore, area/tooling

#2309 Add improved caveat filtering to the datastore relationship filter
  internal/datastore/common/sql.go
  internal/datastore/common/sql_test.go
  internal/datastore/memdb/readonly.go
  internal/datastore/proxy/observable.go
  internal/services/shared/schema.go
  internal/services/v1/schema_test.go
  pkg/datastore/datastore.go
  pkg/datastore/datastore_test.go
  pkg/datastore/test/caveat.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/api v1, area/datastore, area/tooling

#2307 fix(memdb): check if closed
  internal/datastore/memdb/memdb.go
  internal/datastore/memdb/memdb_test.go
  internal/datastore/memdb/revisions.go
  internal/datastore/memdb/watch.go
Labels: area/datastore, area/tooling

#2319 Fix handling of no columns in Spanner
  internal/datastore/common/sql.go
  internal/datastore/mysql/indexes.go
  internal/datastore/postgres/schema/indexes.go
  internal/services/steelthreadtesting/steelthread_test.go
  magefiles/test.go
Labels: area/datastore, area/tooling

#2318 Update Go to 1.23.8 to fix a reported vuln in Go
  e2e/go.mod
  go.mod
  magefiles/go.mod
  tools/analyzers/go.mod
  tools/analyzers/go.work
  tools/analyzers/go.work.sum
Labels: area/dependencies

#2317 put error checks before accessing return values
  internal/dispatch/dispatch.go
  internal/dispatch/graph/check_test.go
  pkg/datastore/test/namespace.go
Labels: area/tooling, area/dispatch

#2321 Ensure the Postgres read-write tx uses the TX for the reader
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/spanner_test.go
  pkg/datastore/test/datastore.go
  pkg/datastore/test/relationships.go
Labels: area/datastore, area/tooling

#2323 Add option to disable watch
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/options.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/datastore.go
  internal/datastore/mysql/options.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  internal/datastore/spanner/options.go
  internal/datastore/spanner/spanner.go
  internal/datastore/spanner/watch.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
Labels: area/CLI, area/datastore

#2327 Force indexes on Postgres and change subject sort order to match index
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/reader.go
  internal/datastore/postgres/schema/indexes.go
  internal/datastore/postgres/schema/schema.go
Labels: area/datastore

#2324 introduces a flag to relax postgres isolation level
  internal/datastore/postgres/options.go
  internal/datastore/postgres/postgres.go
  pkg/cmd/datastore/datastore.go
  pkg/cmd/datastore/zz_generated.options.go
  pkg/cmd/server/server.go
Labels: area/CLI, area/datastore

#2322 internal/datastore/pg: server-side loop for repair
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#2326 Force indexes on Spanner and change subject sort order to match index
  internal/datastore/spanner/indexes.go
  internal/datastore/spanner/reader.go
  internal/datastore/spanner/spanner.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore

#2330 Further optimize the cases when transaction metadata is written in CRDB
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/crdb_test.go
  internal/datastore/crdb/readwrite.go
Labels: area/datastore, area/tooling

#2325 Add logical checks telemetry
  internal/services/v1/bulkcheck.go
  internal/services/v1/permissions.go
  internal/telemetry/logicalchecks.go
  internal/telemetry/metrics.go
Labels: area/api v1

#2331 Switch to larger depot instances for datastore consistency tests
  .github/workflows/build-test.yaml
Labels: area/tooling

#2336 Add accessors for deserialization of a caveat using a custom typeset
  internal/caveats/run.go
  internal/namespace/caveats.go
  internal/services/v1/expreflection.go
  internal/services/v1/reflectionapi.go
  pkg/caveats/compile.go
  pkg/caveats/env.go
  pkg/composableschemadsl/generator/generator.go
  pkg/schemadsl/generator/generator.go
Labels: area/schema, area/api v1

#2294 Change PG and CRDB datastore drivers to use PGX cancelation
  internal/datastore/common/gc.go
  internal/datastore/common/gc_test.go
  internal/datastore/crdb/crdb.go
  internal/datastore/mysql/datastore_test.go
  internal/datastore/mysql/gc.go
  internal/datastore/postgres/common/cancelation.go
  internal/datastore/postgres/common/interceptor.go
  internal/datastore/postgres/gc.go
  internal/datastore/postgres/locks.go
  internal/datastore/postgres/postgres.go
  internal/datastore/postgres/postgres_shared_test.go
  pkg/cmd/datastore.go
  pkg/datastore/test/revisions.go
Labels: area/CLI, area/datastore, area/tooling

#2342 Minimal decoupling of validation file parsing and schema compilation
  pkg/validationfile/blocks/schema.go
  pkg/validationfile/fileformat.go
  pkg/validationfile/loader.go
  pkg/validationfile/schema_test.go
Labels: area/tooling

#2346 Add missing type set pass, add test and rename all defaults
  internal/caveats/debug_test.go
  internal/caveats/run.go
  internal/datastore/proxy/schemacaching/standardcaching_test.go
  internal/namespace/caveats_test.go
  internal/testfixtures/datastore.go
  pkg/caveats/compile.go
  pkg/caveats/compile_test.go
  pkg/caveats/env.go
  pkg/caveats/env_test.go
  pkg/caveats/eval_test.go
  pkg/caveats/structure_test.go
  pkg/caveats/types_test.go
  pkg/composableschemadsl/compiler/compiler_test.go
  pkg/composableschemadsl/compiler/translator.go
  pkg/composableschemadsl/generator/generator_test.go
  pkg/datastore/test/caveat.go
  pkg/diff/caveats/diff_test.go
  pkg/schema/definition_test.go
  pkg/schema/typesystem_test.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/compiler/translator.go
  pkg/schemadsl/generator/generator_test.go
Labels: area/schema, area/datastore, area/tooling

#2345 remove dependency on github.com/hashicorp/go-multierror
  go.mod
  go.sum
  pkg/cmd/server/server.go
Labels: area/CLI, area/dependencies

#2348 Fix labels on telemetry metric
  internal/telemetry/metrics.go
  internal/telemetry/metrics_test.go
Labels: area/tooling

#2349 Switch experimental column optimizations to be enabled by default
  internal/datastore/crdb/options.go
  internal/datastore/mysql/options.go
  internal/datastore/postgres/options.go
  internal/datastore/spanner/options.go
  pkg/cmd/datastore/datastore.go
Labels: area/CLI, area/datastore

#2350 Disable test of readonly serve-test, as it is making the test server …
  cmd/spicedb/servetesting_integration_test.go
Labels: area/CLI, area/tooling

#2301 Use golangci-lint v2 for linting
  .github/workflows/build-test.yaml
  .golangci.yaml
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  internal/datastore/common/sql.go
  internal/datastore/crdb/crdb.go
  internal/datastore/crdb/watch.go
  internal/datastore/mysql/migrations/driver.go
  internal/datastore/mysql/migrations/manager.go
  internal/datastore/mysql/stats.go
  internal/datastore/proxy/schemacaching/watchingcache.go
  internal/datastore/spanner/spanner.go
  internal/dispatch/keys/hasher_common.go
  internal/graph/check.go
  internal/graph/computed/computecheck.go
  internal/graph/expand.go
  internal/services/health/health.go
  internal/services/v1/debug.go
  internal/services/v1/experimental.go
  internal/services/v1/permissions.go
  internal/services/v1/permissions_test.go
  internal/taskrunner/preloadedtaskrunner.go
  internal/taskrunner/taskrunner.go
  magefiles/lint.go
  pkg/caveats/context_hash.go
  pkg/cmd/migrate.go
  pkg/composableschemadsl/compiler/compiler.go
  pkg/composableschemadsl/lexer/lex_def.go
  pkg/composableschemadsl/parser/parser_impl.go
  pkg/datastore/test/watch.go
  pkg/development/schema.go
  pkg/schema/reachabilitygraph.go
  pkg/schemadsl/compiler/compiler.go
  pkg/schemadsl/compiler/compiler_test.go
  pkg/schemadsl/lexer/lex_def.go
  pkg/schemadsl/parser/parser_impl.go
  pkg/tuple/hashing.go
  pkg/tuple/parsing_test.go
  pkg/tuple/structs.go
  tools.go
Labels: area/CLI, area/schema, area/api v1, area/datastore, area/dependencies, area/tooling, area/dispatch

#2353 tighten github workflow scopes
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#2356 pin github actions
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#2357 pin dockerfile images
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#2359 add ssf badge
  README.md
Labels: area/docs

#2361 fix typo in goreleaser.windows.yml
  .goreleaser.windows.yml
Labels: area/tooling

#2362 Logging and metrics improvements after recent datastore changes
  internal/datastore/crdb/pool/pool.go
  internal/datastore/postgres/common/pgx.go
  internal/datastore/proxy/observable.go
Labels: area/datastore

#2364 wires query shape into the datastore QueryRels latency metric
  internal/datastore/proxy/observable.go
Labels: area/datastore

#2365 Allow schema watch in CRDB driver when watch is otherwise disabled
  internal/datastore/crdb/watch.go
Labels: area/datastore

#2366 make consistency middleware return invalid revision error as gRPC `InvalidArgument`
  pkg/middleware/consistency/consistency.go
  pkg/middleware/consistency/consistency_test.go
  pkg/middleware/consistency/forcefull.go
Labels: area/tooling

#2368 postgres datastore: do not warn on context cancelation
  internal/datastore/postgres/postgres.go
Labels: area/datastore

#2369 Set pgx CancelRequestContextWatcherHandler.CancelRequestDelay to fixcancelation delay
  internal/datastore/postgres/common/cancelation.go
Labels: area/datastore
