Repository authzed/spicedb, pull requests merged in 2025-08, with the labels that each got.

#2519 fix: description of Stream Timeout flag
  pkg/cmd/serve.go
Labels: area/cli

#2524 chore: update actions/setup-go
  .github/workflows/build-test.yaml
  .github/workflows/cla.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-windows.yaml
  .github/workflows/release.yaml
  .github/workflows/security.yaml
  .github/workflows/wasm.yaml
Labels: area/tooling

#2520 Ensure that the proper indexes are used for schema diff operations
  internal/datastore/crdb/schema/indexes.go
  internal/datastore/crdb/schema/indexes_test.go
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/datastore/proxy/indexcheck/queryshapevalidators_test.go
  internal/services/shared/schema.go
  internal/services/shared/schema_test.go
  internal/services/steelthreadtesting/definitions.go
  internal/services/steelthreadtesting/operations.go
  internal/services/steelthreadtesting/steelresults/write-schema-removal-attempt-to-remove-the-user-relation-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-attempt-to-remove-the-user-type-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-attempt-to-remove-the-wildcard-on-the-editor-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-removes-the-group-relation-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-removes-the-group-type-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-removes-the-wildcard-on-viewer-results.yaml
  internal/services/steelthreadtesting/steelresults/write-schema-removal-removes-the-wildcard-results.yaml
  internal/services/steelthreadtesting/steelthread_test.go
  internal/services/steelthreadtesting/testdata/basic-schema-and-data.yaml
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore, area/tooling

#2521 docs: update discord link
  README.md
  ROADMAP.md
Labels: area/docs

#2522 fix: error message in validateIndirectSubjectsSelectors
  internal/datastore/proxy/indexcheck/queryshapevalidators.go
  internal/datastore/proxy/indexcheck/queryshapevalidators_test.go
  pkg/datastore/queryshape/queryshape.go
Labels: area/datastore, area/tooling

#2526 Fix missing rows.Err check that could cause too-large writes to silently fail in PG
  internal/datastore/common/errors.go
  internal/datastore/mysql/watch.go
  internal/datastore/postgres/postgres_shared_test.go
  internal/datastore/postgres/readwrite.go
  magefiles/lint.go
  tools/analyzers/cmd/analyzers/main.go
  tools/analyzers/iferrafterrowclosecheck/iferrafterrowclosecheck.go
  tools/analyzers/iferrafterrowclosecheck/iferrafterrowclosecheck_test.go
  tools/analyzers/iferrafterrowclosecheck/testdata/src/rowsclose/rowsclose.go
Labels: area/datastore, area/tooling

#2533 Move Dockerfile builds to Go 1.24.6
  Dockerfile
  Dockerfile.release
Labels: area/dependencies, area/tooling

#2541 Move github.com/go-viper/mapstructure/v2 to v2.4.0 to fix a vuln in that lib
  go.mod
  go.sum
Labels: area/dependencies

#2543 fix: improve the cluster error message when errors from all dispatchers
  internal/dispatch/remote/cluster.go
  internal/dispatch/remote/cluster_test.go
Labels: area/tooling, area/dispatch
