Repository authzed/spicedb, pull requests merged in 2025-10, with the labels that each got.

#2577 fixes breakage of Proposal A6: Retry policies
  pkg/cmd/server/server_test.go
  pkg/middleware/requestid/requestid.go
  pkg/middleware/requestid/requestid_test.go
  pkg/middleware/serverversion/serverversion.go
  pkg/middleware/serverversion/serverversion_test.go
Labels: area/cli, area/tooling

#2589 test: mitigate flaky TestOTelReporting
  pkg/cmd/server/server_test.go
Labels: area/cli, area/tooling

#2592 feat: Add visitor pattern for easy walking of schema v2
  pkg/schema/v2/walk.go
  pkg/schema/v2/walk_test.go
Labels: area/tooling

#2593 Update link to SpiceDB Kubernetes Operator guide
  README.md
Labels: area/docs

#2594 chore: change accessors in schema v2 into methods
  pkg/query/build_tree.go
  pkg/query/build_tree_test.go
  pkg/query/datastore.go
  pkg/query/datastore_test.go
  pkg/query/quick_e2e_test.go
  pkg/schema/v2/convert.go
  pkg/schema/v2/convert_test.go
  pkg/schema/v2/operations.go
  pkg/schema/v2/schema.go
  pkg/schema/v2/schema_conversion_test.go
  pkg/schema/v2/test_helpers.go
  pkg/schema/v2/walk.go
  pkg/schema/v2/walk_test.go
Labels: area/tooling
